flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/857383a6-8694-4dae-a603-647dc9797d7d/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "id" : "57f8f7ac-bf50-3957-b263-a7babedc2534",
            "instanceIdentifier" : "cebd32aa-0886-1f98-dd16-378243bb62bf",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "a44da0a9-0339-37f8-91c7-974044d45e9a",
          "instanceIdentifier" : "cebd32fb-0886-1f98-38f8-00d146c2ac41",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
            "id" : "044cd76e-9237-3053-869f-a2cd7af17845",
            "instanceIdentifier" : "cebd32a5-0886-1f98-b793-eb26a1ca358d",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
            "id" : "57e86441-2c41-380a-9c20-5cb061a6d40c",
            "instanceIdentifier" : "cebd32a6-0886-1f98-f25f-32b41fd16d5f",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "fea42250-4ccc-341e-b80c-e92c23dfd691",
          "instanceIdentifier" : "cebd32fa-0886-1f98-a7ec-dac42b528d6b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "id" : "8df4b518-ec79-320a-820d-ed1c12087649",
            "instanceIdentifier" : "cebd32ab-0886-1f98-ae7e-3c421aaab54b",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "64d0d43d-04ca-3d6f-8ce5-6d36acb9bb8c",
          "instanceIdentifier" : "cebd32a2-0886-1f98-9473-99b51e69792d",
          "name" : "Json Record Set Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "9a391407-d8a1-3087-b64f-1c8203b1ed51",
          "instanceIdentifier" : "cebd32a3-0886-1f98-c55f-5c5b5fc57871",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "f278b779-8cb7-34c5-9e2c-370a8a60eb02",
          "instanceIdentifier" : "cebd32a1-0886-1f98-23c0-6df3c66d225c",
          "name" : "Database Connection Pool",
          "properties" : {
            "CURSOR_HOLDABILITY" : "1",
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "#{JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "AUTO_CASE_SCHEMA" : "true",
            "Max Total Connections" : "8",
            "IFX_ISOLATION_LEVEL" : "5U",
            "METADATA_UPPERCASE_VALUES" : "true",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8",
            "FET_BUF_SIZE" : "256000",
            "Password" : "#{JDBC_USER_PASSWORD}",
            "IFX_LOCK_MODE_WAIT" : "15"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "CURSOR_HOLDABILITY" : {
              "displayName" : "CURSOR_HOLDABILITY",
              "identifiesControllerService" : false,
              "name" : "CURSOR_HOLDABILITY",
              "sensitive" : false
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "AUTO_CASE_SCHEMA" : {
              "displayName" : "AUTO_CASE_SCHEMA",
              "identifiesControllerService" : false,
              "name" : "AUTO_CASE_SCHEMA",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "IFX_ISOLATION_LEVEL" : {
              "displayName" : "IFX_ISOLATION_LEVEL",
              "identifiesControllerService" : false,
              "name" : "IFX_ISOLATION_LEVEL",
              "sensitive" : false
            },
            "METADATA_UPPERCASE_VALUES" : {
              "displayName" : "METADATA_UPPERCASE_VALUES",
              "identifiesControllerService" : false,
              "name" : "METADATA_UPPERCASE_VALUES",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "FET_BUF_SIZE" : {
              "displayName" : "FET_BUF_SIZE",
              "identifiesControllerService" : false,
              "name" : "FET_BUF_SIZE",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "IFX_LOCK_MODE_WAIT" : {
              "displayName" : "IFX_LOCK_MODE_WAIT",
              "identifiesControllerService" : false,
              "name" : "IFX_LOCK_MODE_WAIT",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "044cd76e-9237-3053-869f-a2cd7af17845",
          "instanceIdentifier" : "cebd32a5-0886-1f98-b793-eb26a1ca358d",
          "name" : "INPUT",
          "position" : {
            "x" : 2528.0,
            "y" : 48.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "cebd32a0-0886-1f98-ed66-2d71809ce9c4",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "height" : 312.0,
          "identifier" : "0cd35444-6432-3dcb-916a-b125ffe0a5ef",
          "instanceIdentifier" : "cebd32a4-0886-1f98-b8df-c86fa8c8705d",
          "label" : "Catalog - Stage 1b (Database)",
          "position" : {
            "x" : 2384.0,
            "y" : 248.0
          },
          "style" : {
            "background-color" : "#d4ffe7",
            "font-size" : "24px"
          },
          "width" : 528.0,
          "zIndex" : 0
        } ],
        "name" : "Catalog Stage 1b (Find Filters)",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "57e86441-2c41-380a-9c20-5cb061a6d40c",
          "instanceIdentifier" : "cebd32a6-0886-1f98-f25f-32b41fd16d5f",
          "name" : "OUTPUT",
          "position" : {
            "x" : 2528.0,
            "y" : 720.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "AUTH_JDBC_CONTEXT",
        "position" : {
          "x" : 10480.0,
          "y" : 4544.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "id" : "1c2122eb-276c-32ed-a706-137835e1df72",
              "instanceIdentifier" : "cebd32ec-0886-1f98-e198-e468aa955590",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "c827b9fb-4436-3f80-962f-6a185663b153",
            "instanceIdentifier" : "cebd32f6-0886-1f98-e2a8-4d3adee9565c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "id" : "f0e9ebb6-4bac-3fb5-915b-0f02dfdb179f",
              "instanceIdentifier" : "cebd32c5-0886-1f98-595a-2a076fb06842",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "id" : "f3122556-3ec4-368a-900c-1576289afaa4",
              "instanceIdentifier" : "cebd32c4-0886-1f98-0bbb-2eed31bcea22",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "bf3ca16b-7da0-3eda-ab23-0c32f1f927f4",
            "instanceIdentifier" : "cebd32f4-0886-1f98-11d2-8db886c68ff8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "id" : "a92e92e9-273e-3a03-a5e0-b63e9d3ed0c2",
              "instanceIdentifier" : "cebd32af-0886-1f98-a439-34047bcbe174",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
              "id" : "466dd6bb-1674-39cc-8ed3-614850098000",
              "instanceIdentifier" : "cebd32a9-0886-1f98-55a8-8d1fb2d75107",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "0c2fbb87-ef59-32f3-8b93-873aa90858d1",
            "instanceIdentifier" : "cebd32f7-0886-1f98-c388-213b48d7bdb9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "id" : "9a00a5a8-5194-3e74-b001-bedd2e28daca",
              "instanceIdentifier" : "cebd32bb-0886-1f98-77e8-a874f95a8e2e",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "id" : "b607aff0-7b44-33f3-bd15-55ff42b65507",
              "instanceIdentifier" : "cebd32e8-0886-1f98-f7ac-62169dbdaa21",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "351444c2-9267-3d3f-9963-c781039df423",
            "instanceIdentifier" : "cebd32f2-0886-1f98-98ca-de6a390ff763",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "id" : "4af0a6dd-8a21-37ac-85df-2b440bb81c2e",
              "instanceIdentifier" : "cebd32ba-0886-1f98-2bcd-f769bc832ed4",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "id" : "d802f6e8-856a-3e4b-a022-a0d017614123",
              "instanceIdentifier" : "cebd32e6-0886-1f98-7aa6-afe78c26d2ef",
              "name" : "Bulk Catalog INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "0696721b-fe75-363d-8828-7bb6a1d66462",
            "instanceIdentifier" : "cebd32f8-0886-1f98-f286-18abc4e5109a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
              "id" : "466dd6bb-1674-39cc-8ed3-614850098000",
              "instanceIdentifier" : "cebd32a9-0886-1f98-55a8-8d1fb2d75107",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2376.0,
              "y" : 136.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "id" : "1c2122eb-276c-32ed-a706-137835e1df72",
              "instanceIdentifier" : "cebd32ec-0886-1f98-e198-e468aa955590",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "1edaffc8-ce81-3bce-a79e-988b74338772",
            "instanceIdentifier" : "cebd32f1-0886-1f98-f7f4-2863de934226",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "id" : "9e7055e9-9155-3e9f-98f6-a7ae7b4916bd",
              "instanceIdentifier" : "cebd32c7-0886-1f98-a5dd-825268b2b9bc",
              "name" : "EMPTY",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "id" : "4d924c33-7371-35c0-ab9f-469a1d7bd52d",
              "instanceIdentifier" : "cebd32ae-0886-1f98-edb7-bb1462cccf2e",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "00325b98-e62e-30ee-a8b8-38061d655bdd",
            "instanceIdentifier" : "cebd32f3-0886-1f98-9439-48a19fcfefdf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
              "id" : "57f8f7ac-bf50-3957-b263-a7babedc2534",
              "instanceIdentifier" : "cebd32aa-0886-1f98-dd16-378243bb62bf",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "id" : "8b345334-52b3-3e67-aabb-8981c4316d53",
              "instanceIdentifier" : "cebd32b9-0886-1f98-9afb-818cae396a26",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "2b881a3f-eb80-3587-8e8c-e82736649a30",
            "instanceIdentifier" : "cebd32f9-0886-1f98-1752-95abb7d33cce",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "id" : "9e68edf3-db23-344d-9c37-8b878a6d264a",
              "instanceIdentifier" : "cebd32c6-0886-1f98-6671-0b8411060ea9",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
              "id" : "8df4b518-ec79-320a-820d-ed1c12087649",
              "instanceIdentifier" : "cebd32ab-0886-1f98-ae7e-3c421aaab54b",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "a2351e70-dea6-32a4-938f-ddd9750c63c8",
            "instanceIdentifier" : "cebd32f5-0886-1f98-e544-f452409f9eb7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "id" : "bf603c7e-94e7-3648-856a-a128f7291e7f",
              "instanceIdentifier" : "cebd32b0-0886-1f98-40c6-09992937e91a",
              "name" : "NEXT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "466dd6bb-1674-39cc-8ed3-614850098000",
            "instanceIdentifier" : "cebd32a9-0886-1f98-55a8-8d1fb2d75107",
            "position" : {
              "x" : 1992.0,
              "y" : 400.0
            }
          } ],
          "groupIdentifier" : "e2d5a885-bed7-372c-91a7-7ba8b84e527d",
          "identifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "57f8f7ac-bf50-3957-b263-a7babedc2534",
            "instanceIdentifier" : "cebd32aa-0886-1f98-dd16-378243bb62bf",
            "name" : "INPUT",
            "position" : {
              "x" : 3312.0,
              "y" : -224.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "cebd32a7-0886-1f98-71f8-d59728b6da2e",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "height" : 728.0,
            "identifier" : "1af1f3ee-3f7d-3f0a-90d5-7b197fbacf30",
            "instanceIdentifier" : "cebd32a8-0886-1f98-a988-b1039ccd65f1",
            "label" : "Find Filters",
            "position" : {
              "x" : 1720.0,
              "y" : -120.0
            },
            "style" : {
              "background-color" : "#d4ffe7",
              "font-size" : "24px"
            },
            "width" : 2008.0,
            "zIndex" : 0
          } ],
          "name" : "Find Filters",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "8df4b518-ec79-320a-820d-ed1c12087649",
            "instanceIdentifier" : "cebd32ab-0886-1f98-ae7e-3c421aaab54b",
            "name" : "OUTPUT",
            "position" : {
              "x" : 3312.0,
              "y" : 664.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2456.0,
            "y" : 320.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "44026530-0be0-3360-a21b-6db3e4c3388e",
                "instanceIdentifier" : "cebd32b2-0886-1f98-8c8c-b1174622b199",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "236d3fe1-baa3-3c6a-bf20-27e0623eda84",
              "instanceIdentifier" : "cebd32b4-0886-1f98-48b1-c0061bc7d844",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "4d924c33-7371-35c0-ab9f-469a1d7bd52d",
                "instanceIdentifier" : "cebd32ae-0886-1f98-edb7-bb1462cccf2e",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "6722d20c-9303-3a78-b1e9-baa8168f9d4a",
                "instanceIdentifier" : "cebd32b1-0886-1f98-e7b5-c6b58cabe376",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "80badfda-250e-3b7f-a761-48afa95a7791",
              "instanceIdentifier" : "cebd32b6-0886-1f98-022f-09d12c0d9dc7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "44026530-0be0-3360-a21b-6db3e4c3388e",
                "instanceIdentifier" : "cebd32b2-0886-1f98-8c8c-b1174622b199",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "bf603c7e-94e7-3648-856a-a128f7291e7f",
                "instanceIdentifier" : "cebd32b0-0886-1f98-40c6-09992937e91a",
                "name" : "NEXT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "8a87ceb1-d5f1-3f94-8fd2-71b444352b2d",
              "instanceIdentifier" : "cebd32b5-0886-1f98-8691-e6b3fc390321",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "44026530-0be0-3360-a21b-6db3e4c3388e",
                "instanceIdentifier" : "cebd32b2-0886-1f98-8c8c-b1174622b199",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "a92e92e9-273e-3a03-a5e0-b63e9d3ed0c2",
                "instanceIdentifier" : "cebd32af-0886-1f98-a439-34047bcbe174",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "d45af7f2-751d-35da-bc9a-1abe1c9358e4",
              "instanceIdentifier" : "cebd32b3-0886-1f98-e9ae-31314541d04c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
                "id" : "6722d20c-9303-3a78-b1e9-baa8168f9d4a",
                "instanceIdentifier" : "cebd32b1-0886-1f98-e7b5-c6b58cabe376",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "4d924c33-7371-35c0-ab9f-469a1d7bd52d",
              "instanceIdentifier" : "cebd32ae-0886-1f98-edb7-bb1462cccf2e",
              "name" : "INPUT",
              "position" : {
                "x" : -384.0,
                "y" : 208.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "cebd32ac-0886-1f98-96b3-82916304c8dc",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "height" : 520.0,
              "identifier" : "74db2809-d92e-3acc-ac5a-61e4390a972f",
              "instanceIdentifier" : "cebd32ad-0886-1f98-de05-f69d8f0fb56f",
              "label" : "Route To Side Flow",
              "position" : {
                "x" : -264.0,
                "y" : 96.0
              },
              "style" : {
                "background-color" : "#d4ffe7",
                "font-size" : "24px"
              },
              "width" : 1296.0,
              "zIndex" : 0
            } ],
            "name" : "Route To Side Flow",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "bf603c7e-94e7-3648-856a-a128f7291e7f",
              "instanceIdentifier" : "cebd32b0-0886-1f98-40c6-09992937e91a",
              "name" : "NEXT",
              "position" : {
                "x" : 912.0,
                "y" : 208.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "a92e92e9-273e-3a03-a5e0-b63e9d3ed0c2",
              "instanceIdentifier" : "cebd32af-0886-1f98-a439-34047bcbe174",
              "name" : "OUTPUT",
              "position" : {
                "x" : -384.0,
                "y" : 456.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 3240.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "44026530-0be0-3360-a21b-6db3e4c3388e",
              "instanceIdentifier" : "cebd32b2-0886-1f98-8c8c-b1174622b199",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set stage.name and stage.start.time",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 168.0
              },
              "properties" : {
                "stage.start.time" : "${now():toNumber()}",
                "stage.name" : "Catalog Stage 1b (Filters), Find Filters",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "flow.name" : "${pipe.name}"
              },
              "propertyDescriptors" : {
                "stage.start.time" : {
                  "displayName" : "stage.start.time",
                  "identifiesControllerService" : false,
                  "name" : "stage.start.time",
                  "sensitive" : false
                },
                "stage.name" : {
                  "displayName" : "stage.name",
                  "identifiesControllerService" : false,
                  "name" : "stage.name",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "flow.name" : {
                  "displayName" : "flow.name",
                  "identifiesControllerService" : false,
                  "name" : "flow.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "55a82720-09cb-3029-8118-84d2f8df9bdb",
              "identifier" : "6722d20c-9303-3a78-b1e9-baa8168f9d4a",
              "instanceIdentifier" : "cebd32b1-0886-1f98-e7b5-c6b58cabe376",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Track Document",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 416.0
              },
              "properties" : {
                "Cache TTL" : "3600"
              },
              "propertyDescriptors" : {
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.TrackDocument",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "e7de0f84-8735-3e2a-8f31-dfe52a3e88cb",
                "instanceIdentifier" : "cebd32c8-0886-1f98-911a-859fa0aa363a",
                "name" : "Set LISTAGG",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "fc98aeda-432a-3953-a61b-b7ad8dd7ce3c",
              "instanceIdentifier" : "cebd32d7-0886-1f98-72e6-36be8699de0b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "f3122556-3ec4-368a-900c-1576289afaa4",
                "instanceIdentifier" : "cebd32c4-0886-1f98-0bbb-2eed31bcea22",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "8c90a0d4-1820-316a-be27-b64f0dc2b0a5",
                "instanceIdentifier" : "cebd32c3-0886-1f98-5c23-0a0070f75e3c",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "edc9eea3-5f62-3c7b-adce-d3dde99244d6",
              "instanceIdentifier" : "cebd32d4-0886-1f98-2a43-e9b26bc6f98c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "ef48ad78-3a2b-3c5d-9fca-233980973164",
                "instanceIdentifier" : "cebd32cd-0886-1f98-9613-ab5a7763934d",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "84ce2538-b3c7-3250-b13c-3f0bb2725835",
                "instanceIdentifier" : "cebd32cb-0886-1f98-d8e9-4ddd62e3ffae",
                "name" : "Execute SQL - Find Filters",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "27e320be-5b00-3cf2-8a74-5e31728f1505",
              "instanceIdentifier" : "cebd32d9-0886-1f98-239a-4aa2294e9700",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "ef48ad78-3a2b-3c5d-9fca-233980973164",
                "instanceIdentifier" : "cebd32cd-0886-1f98-9613-ab5a7763934d",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "8c90a0d4-1820-316a-be27-b64f0dc2b0a5",
                "instanceIdentifier" : "cebd32c3-0886-1f98-5c23-0a0070f75e3c",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "9bd7751e-98f1-3fd2-bc30-1ed07c76b96e",
              "instanceIdentifier" : "cebd32e1-0886-1f98-f6fd-3a1d6ca6ed69",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "3b84132c-4864-3d36-88d2-da036b799793",
                "instanceIdentifier" : "cebd32ca-0886-1f98-61e4-3af952c71181",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "f0e9ebb6-4bac-3fb5-915b-0f02dfdb179f",
                "instanceIdentifier" : "cebd32c5-0886-1f98-595a-2a076fb06842",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "8e801fe2-351e-3912-beeb-e19abf779ae3",
              "instanceIdentifier" : "cebd32d8-0886-1f98-bfe8-4f413e409cfd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "4083fa55-4262-305a-8818-d72c7c9d1faa",
                "instanceIdentifier" : "cebd32c2-0886-1f98-f40b-5a30fe987642",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "7007955c-4db3-332b-be74-4070926f6245",
                "instanceIdentifier" : "cebd32cf-0886-1f98-3287-fd18d5b4c24e",
                "name" : "Analyze Successful SQL Response",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "349b5db3-75e1-30ae-b935-b6e716e891d4",
              "instanceIdentifier" : "cebd32d6-0886-1f98-eb3e-497d8e507b21",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "84ce2538-b3c7-3250-b13c-3f0bb2725835",
                "instanceIdentifier" : "cebd32cb-0886-1f98-d8e9-4ddd62e3ffae",
                "name" : "Execute SQL - Find Filters",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "3b84132c-4864-3d36-88d2-da036b799793",
                "instanceIdentifier" : "cebd32ca-0886-1f98-61e4-3af952c71181",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "5d3cb7d0-2d15-3407-8073-22fd9ba13614",
              "instanceIdentifier" : "cebd32d1-0886-1f98-b089-2d007534069d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "LISTAGG" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9ca29e2f-adad-3e73-bfc6-3746211f7d78",
                "instanceIdentifier" : "cebd32ce-0886-1f98-fffe-9683c357a1f3",
                "name" : "Route on LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9ca29e2f-adad-3e73-bfc6-3746211f7d78",
                "instanceIdentifier" : "cebd32ce-0886-1f98-fffe-9683c357a1f3",
                "name" : "Route on LISTAGG",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "8d69113f-7dfc-3007-99de-2d7dc4fef202",
              "instanceIdentifier" : "cebd32d5-0886-1f98-56c4-6aa00e26ef67",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "e7de0f84-8735-3e2a-8f31-dfe52a3e88cb",
                "instanceIdentifier" : "cebd32c8-0886-1f98-911a-859fa0aa363a",
                "name" : "Set LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "ef48ad78-3a2b-3c5d-9fca-233980973164",
                "instanceIdentifier" : "cebd32cd-0886-1f98-9613-ab5a7763934d",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "ff2b60fb-3d3a-3ba8-b1fb-1b8e33a44d14",
              "instanceIdentifier" : "cebd32db-0886-1f98-a1f5-0591c41a5986",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9ca29e2f-adad-3e73-bfc6-3746211f7d78",
                "instanceIdentifier" : "cebd32ce-0886-1f98-fffe-9683c357a1f3",
                "name" : "Route on LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "84ce2538-b3c7-3250-b13c-3f0bb2725835",
                "instanceIdentifier" : "cebd32cb-0886-1f98-d8e9-4ddd62e3ffae",
                "name" : "Execute SQL - Find Filters",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "0a482fe4-ba85-38bb-98a6-7ab5caf51ebf",
              "instanceIdentifier" : "cebd32d0-0886-1f98-3bc1-295588f7cc54",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "3b84132c-4864-3d36-88d2-da036b799793",
                "instanceIdentifier" : "cebd32ca-0886-1f98-61e4-3af952c71181",
                "name" : "Find Filters SQL - LISTAGG",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9e68edf3-db23-344d-9c37-8b878a6d264a",
                "instanceIdentifier" : "cebd32c6-0886-1f98-6671-0b8411060ea9",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "55ccfbd9-00ca-349d-b670-acb3dd10073e",
              "instanceIdentifier" : "cebd32dd-0886-1f98-f5fe-703876eb7079",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "861c0f40-773b-333b-a8c3-ab5dcbc786c3",
                "instanceIdentifier" : "cebd32cc-0886-1f98-76e5-eae61d417903",
                "name" : "Clear Obsolete Attributes",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9e7055e9-9155-3e9f-98f6-a7ae7b4916bd",
                "instanceIdentifier" : "cebd32c7-0886-1f98-a5dd-825268b2b9bc",
                "name" : "EMPTY",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "979320d1-6c60-3a91-9fa3-d47bd88be02e",
              "instanceIdentifier" : "cebd32df-0886-1f98-fdb9-f6e89290b344",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "empty" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "7007955c-4db3-332b-be74-4070926f6245",
                "instanceIdentifier" : "cebd32cf-0886-1f98-3287-fd18d5b4c24e",
                "name" : "Analyze Successful SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "9e7055e9-9155-3e9f-98f6-a7ae7b4916bd",
                "instanceIdentifier" : "cebd32c7-0886-1f98-a5dd-825268b2b9bc",
                "name" : "EMPTY",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "3c7ac5f3-3201-3987-b45d-cba652275f99",
              "instanceIdentifier" : "cebd32dc-0886-1f98-984c-0589611fe942",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "empty" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "775f47f4-1844-3fc1-9805-8d5618a9defe",
                "instanceIdentifier" : "cebd32c9-0886-1f98-1b41-f0d977a20227",
                "name" : "Analyze Failed SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "861c0f40-773b-333b-a8c3-ab5dcbc786c3",
                "instanceIdentifier" : "cebd32cc-0886-1f98-76e5-eae61d417903",
                "name" : "Clear Obsolete Attributes",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "68470a09-d089-3915-a2e8-f004a456e9aa",
              "instanceIdentifier" : "cebd32d2-0886-1f98-e3e4-854c03135d37",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "7007955c-4db3-332b-be74-4070926f6245",
                "instanceIdentifier" : "cebd32cf-0886-1f98-3287-fd18d5b4c24e",
                "name" : "Analyze Successful SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "f0e9ebb6-4bac-3fb5-915b-0f02dfdb179f",
                "instanceIdentifier" : "cebd32c5-0886-1f98-595a-2a076fb06842",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "c964f7d1-d15b-3e8c-9436-2b02d3c6c8bc",
              "instanceIdentifier" : "cebd32da-0886-1f98-f2bb-b9daa879d987",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "7007955c-4db3-332b-be74-4070926f6245",
                "instanceIdentifier" : "cebd32cf-0886-1f98-3287-fd18d5b4c24e",
                "name" : "Analyze Successful SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "4083fa55-4262-305a-8818-d72c7c9d1faa",
                "instanceIdentifier" : "cebd32c2-0886-1f98-f40b-5a30fe987642",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "889a20ff-93df-365d-894c-538333a8e5a8",
              "instanceIdentifier" : "cebd32e0-0886-1f98-3e73-8a6461f6869c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "775f47f4-1844-3fc1-9805-8d5618a9defe",
                "instanceIdentifier" : "cebd32c9-0886-1f98-1b41-f0d977a20227",
                "name" : "Analyze Failed SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "4083fa55-4262-305a-8818-d72c7c9d1faa",
                "instanceIdentifier" : "cebd32c2-0886-1f98-f40b-5a30fe987642",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "100eb63f-6412-36ec-aac0-9d841e21f856",
              "instanceIdentifier" : "cebd32d3-0886-1f98-1b53-068f82b44358",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "8c90a0d4-1820-316a-be27-b64f0dc2b0a5",
                "instanceIdentifier" : "cebd32c3-0886-1f98-5c23-0a0070f75e3c",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "775f47f4-1844-3fc1-9805-8d5618a9defe",
                "instanceIdentifier" : "cebd32c9-0886-1f98-1b41-f0d977a20227",
                "name" : "Analyze Failed SQL Response",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "c22fd7a5-8199-3fe2-8b82-cca4c6b16c8a",
              "instanceIdentifier" : "cebd32de-0886-1f98-c53f-6c8dd5f1a00a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
                "id" : "84ce2538-b3c7-3250-b13c-3f0bb2725835",
                "instanceIdentifier" : "cebd32cb-0886-1f98-d8e9-4ddd62e3ffae",
                "name" : "Execute SQL - Find Filters",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "4083fa55-4262-305a-8818-d72c7c9d1faa",
              "instanceIdentifier" : "cebd32c2-0886-1f98-f40b-5a30fe987642",
              "position" : {
                "x" : 3064.0,
                "y" : 128.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "8c90a0d4-1820-316a-be27-b64f0dc2b0a5",
              "instanceIdentifier" : "cebd32c3-0886-1f98-5c23-0a0070f75e3c",
              "position" : {
                "x" : 2272.0,
                "y" : 120.0
              }
            } ],
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "f3122556-3ec4-368a-900c-1576289afaa4",
              "instanceIdentifier" : "cebd32c4-0886-1f98-0bbb-2eed31bcea22",
              "name" : "INPUT",
              "position" : {
                "x" : -392.0,
                "y" : -160.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "cebd32c0-0886-1f98-e317-1c33df5cb80e",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "height" : 760.0,
              "identifier" : "8662235a-dbb2-330b-84d2-1c9c3fe34395",
              "instanceIdentifier" : "cebd32c1-0886-1f98-3700-0d11fdc350c8",
              "label" : "Execute SQL",
              "position" : {
                "x" : -272.0,
                "y" : -480.0
              },
              "style" : {
                "background-color" : "#d4ffe7",
                "font-size" : "20px"
              },
              "width" : 4656.0,
              "zIndex" : 0
            } ],
            "name" : "Execute SQL",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "f0e9ebb6-4bac-3fb5-915b-0f02dfdb179f",
              "instanceIdentifier" : "cebd32c5-0886-1f98-595a-2a076fb06842",
              "name" : "ERROR",
              "position" : {
                "x" : 4256.0,
                "y" : 128.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "9e68edf3-db23-344d-9c37-8b878a6d264a",
              "instanceIdentifier" : "cebd32c6-0886-1f98-6671-0b8411060ea9",
              "name" : "SUCCESS",
              "position" : {
                "x" : 4248.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "9e7055e9-9155-3e9f-98f6-a7ae7b4916bd",
              "instanceIdentifier" : "cebd32c7-0886-1f98-a5dd-825268b2b9bc",
              "name" : "EMPTY",
              "position" : {
                "x" : 4248.0,
                "y" : -168.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "ef48ad78-3a2b-3c5d-9fca-233980973164",
              "instanceIdentifier" : "cebd32cd-0886-1f98-9613-ab5a7763934d",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Filters SQL - LISTAGG",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1472.0,
                "y" : 72.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "9a391407-d8a1-3087-b64f-1c8203b1ed51",
                "SQL Location" : "sql/DatabaseCASCatalogStage1b.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "e7de0f84-8735-3e2a-8f31-dfe52a3e88cb",
              "instanceIdentifier" : "cebd32c8-0886-1f98-911a-859fa0aa363a",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set LISTAGG",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 160.0,
                "y" : -200.0
              },
              "properties" : {
                "param.bucketSize" : "${scroll.bucket.size}",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "listagg" : "${flow.database.listagg}"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "param.bucketSize" : {
                  "displayName" : "param.bucketSize",
                  "identifiesControllerService" : false,
                  "name" : "param.bucketSize",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "listagg" : {
                  "displayName" : "listagg",
                  "identifiesControllerService" : false,
                  "name" : "listagg",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 25,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "\t\tSELECT F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND F.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -32 AND STORE_ID IN (${param.esiteStoreIds} ))\t\n\t\t GROUP BY F.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID\n\t\tUNION \n\t\tSELECT MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID,\n\t           ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix} QUERY, X.TRADING_ID, ${function.listagg} (${function.clob.cast.prefix} T.TRADING_ID ${function.clob.cast.32k.suffix}, ',') TRADING_IDS\n\t\t  FROM EXPRESSION X, CATFILTER F\n\t\t  \t\tLEFT OUTER JOIN TERMCOND T ON (T.TCSUBTYPE_ID = 'CatalogFilterTC' AND T.BIGINTFIELD1 = F.CATFILTER_ID)\n\t\t\t  , MPSELLER MS\n\t\t WHERE X.CATFILTER_ID = F.CATFILTER_ID\n\t\t   AND F.CATALOG_ID IN (${master.catalog})\n\t\t   AND MS.STOREENT_ID IN (${param.esiteStoreIds})\n\t\t   AND F.STOREENT_ID IN (SELECT STOREENT_ID FROM STOREENT SE WHERE SE.MEMBER_ID = MS.ORGENTITY_ID)\t\n\t\t GROUP BY MS.STOREENT_ID, F.USAGE, F.CATFILTER_ID, F.IDENTIFIER, X.EXPRESSION_ID, X.MEMBER_ID, ${function.clob.cast.prefix}${function.lob.cast.prefix} X.QUERY ${function.lob.cast}${function.clob.cast.suffix}, X.TRADING_ID  ",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "3b84132c-4864-3d36-88d2-da036b799793",
              "instanceIdentifier" : "cebd32ca-0886-1f98-61e4-3af952c71181",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Filters SQL - LISTAGG",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1480.0,
                "y" : -408.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "9a391407-d8a1-3087-b64f-1c8203b1ed51",
                "SQL Location" : "sql/DatabaseCASCatalogStage1b-listagg.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "9ca29e2f-adad-3e73-bfc6-3746211f7d78",
              "instanceIdentifier" : "cebd32ce-0886-1f98-fffe-9683c357a1f3",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on LISTAGG",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 808.0,
                "y" : -200.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "LISTAGG" : "${listagg:equalsIgnoreCase('true')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "LISTAGG" : {
                  "displayName" : "LISTAGG",
                  "identifiesControllerService" : false,
                  "name" : "LISTAGG",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 2,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "84ce2538-b3c7-3250-b13c-3f0bb2725835",
              "instanceIdentifier" : "cebd32cb-0886-1f98-d8e9-4ddd62e3ffae",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Execute SQL - Find Filters",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2208.0,
                "y" : -240.0
              },
              "properties" : {
                "esql-max-rows" : "${scroll.bucket.size}",
                "esqlrecord-record-writer" : "64d0d43d-04ca-3d6f-8ce5-6d36acb9bb8c",
                "dbf-default-precision" : "10",
                "Max Wait Time" : "0 seconds",
                "Database Connection Pooling Service" : "f278b779-8cb7-34c5-9e2c-370a8a60eb02",
                "esql-auto-commit" : "true",
                "dbf-user-logical-types" : "false",
                "dbf-default-scale" : "0",
                "sql-pre-query" : "${ingest.database.schema.sql}",
                "esql-output-batch-size" : "0",
                "esql-fetch-size" : "0",
                "SQL select query" : "${ingest.database.sql}",
                "esqlrecord-normalize" : "false"
              },
              "propertyDescriptors" : {
                "esql-max-rows" : {
                  "displayName" : "Max Rows Per Flow File",
                  "identifiesControllerService" : false,
                  "name" : "esql-max-rows",
                  "sensitive" : false
                },
                "esqlrecord-record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "esqlrecord-record-writer",
                  "sensitive" : false
                },
                "dbf-default-precision" : {
                  "displayName" : "Default Decimal Precision",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-precision",
                  "sensitive" : false
                },
                "Max Wait Time" : {
                  "displayName" : "Max Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "Max Wait Time",
                  "sensitive" : false
                },
                "Database Connection Pooling Service" : {
                  "displayName" : "Database Connection Pooling Service",
                  "identifiesControllerService" : true,
                  "name" : "Database Connection Pooling Service",
                  "sensitive" : false
                },
                "sql-post-query" : {
                  "displayName" : "SQL Post-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-post-query",
                  "sensitive" : false
                },
                "esql-auto-commit" : {
                  "displayName" : "Set Auto Commit",
                  "identifiesControllerService" : false,
                  "name" : "esql-auto-commit",
                  "sensitive" : false
                },
                "dbf-user-logical-types" : {
                  "displayName" : "Use Avro Logical Types",
                  "identifiesControllerService" : false,
                  "name" : "dbf-user-logical-types",
                  "sensitive" : false
                },
                "dbf-default-scale" : {
                  "displayName" : "Default Decimal Scale",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-scale",
                  "sensitive" : false
                },
                "sql-pre-query" : {
                  "displayName" : "SQL Pre-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-pre-query",
                  "sensitive" : false
                },
                "esql-output-batch-size" : {
                  "displayName" : "Output Batch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-output-batch-size",
                  "sensitive" : false
                },
                "esql-fetch-size" : {
                  "displayName" : "Fetch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-fetch-size",
                  "sensitive" : false
                },
                "SQL select query" : {
                  "displayName" : "SQL select query",
                  "identifiesControllerService" : false,
                  "name" : "SQL select query",
                  "sensitive" : false
                },
                "esqlrecord-normalize" : {
                  "displayName" : "Normalize Table/Column Names",
                  "identifiesControllerService" : false,
                  "name" : "esqlrecord-normalize",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffff00"
              },
              "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "next", "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "7007955c-4db3-332b-be74-4070926f6245",
              "instanceIdentifier" : "cebd32cf-0886-1f98-3287-fd18d5b4c24e",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Analyze Successful SQL Response",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2912.0,
                "y" : -408.0
              },
              "properties" : {
                "Relationship Type" : "success",
                "Auto Refresh Index" : "${scroll.refresh.index}"
              },
              "propertyDescriptors" : {
                "Relationship Type" : {
                  "displayName" : "Relationship Type",
                  "identifiesControllerService" : false,
                  "name" : "Relationship Type",
                  "sensitive" : false
                },
                "Auto Refresh Index" : {
                  "displayName" : "Auto Refresh Index",
                  "identifiesControllerService" : false,
                  "name" : "Auto Refresh Index",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "next", "original", "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "775f47f4-1844-3fc1-9805-8d5618a9defe",
              "instanceIdentifier" : "cebd32c9-0886-1f98-1b41-f0d977a20227",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Analyze Failed SQL Response",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2912.0,
                "y" : -144.0
              },
              "properties" : {
                "Relationship Type" : "failure",
                "Auto Refresh Index" : "${scroll.refresh.index}"
              },
              "propertyDescriptors" : {
                "Relationship Type" : {
                  "displayName" : "Relationship Type",
                  "identifiesControllerService" : false,
                  "name" : "Relationship Type",
                  "sensitive" : false
                },
                "Auto Refresh Index" : {
                  "displayName" : "Auto Refresh Index",
                  "identifiesControllerService" : false,
                  "name" : "Auto Refresh Index",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "246a8362-6ae0-330d-80c6-2a96dd404bcd",
              "identifier" : "861c0f40-773b-333b-a8c3-ab5dcbc786c3",
              "instanceIdentifier" : "cebd32cc-0886-1f98-76e5-eae61d417903",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Clear Obsolete Attributes",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 3592.0,
                "y" : -408.0
              },
              "properties" : {
                "Delete Attributes Expression" : "executesql.*|fragment.*|DatabaseSQL|ingest.database.sql|Warning",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "4af0a6dd-8a21-37ac-85df-2b440bb81c2e",
                "instanceIdentifier" : "cebd32ba-0886-1f98-2bcd-f769bc832ed4",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "5a5399c8-0644-3c1b-8e4f-157883784ea1",
              "instanceIdentifier" : "cebd32bd-0886-1f98-ce29-bbc137718567",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "29b5ef30-05b5-38e8-b666-1f8cfd536547",
                "instanceIdentifier" : "cebd32bc-0886-1f98-e5fd-7aa0734ce2bd",
                "name" : "Transform Document - Find Filters From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "29b5ef30-05b5-38e8-b666-1f8cfd536547",
                "instanceIdentifier" : "cebd32bc-0886-1f98-e5fd-7aa0734ce2bd",
                "name" : "Transform Document - Find Filters From Database",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "e4ebc0b8-a0ad-3d38-a20c-f959fcdf6010",
              "instanceIdentifier" : "cebd32bf-0886-1f98-1819-149bba84bd9a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "8b345334-52b3-3e67-aabb-8981c4316d53",
                "instanceIdentifier" : "cebd32b9-0886-1f98-9afb-818cae396a26",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "9a00a5a8-5194-3e74-b001-bedd2e28daca",
                "instanceIdentifier" : "cebd32bb-0886-1f98-77e8-a874f95a8e2e",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "9a80b2dc-e67e-3db7-80d4-1ac548d27541",
              "instanceIdentifier" : "cebd32be-0886-1f98-3a53-c537f5e376dc",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
                "id" : "29b5ef30-05b5-38e8-b666-1f8cfd536547",
                "instanceIdentifier" : "cebd32bc-0886-1f98-e5fd-7aa0734ce2bd",
                "name" : "Transform Document - Find Filters From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "8b345334-52b3-3e67-aabb-8981c4316d53",
              "instanceIdentifier" : "cebd32b9-0886-1f98-9afb-818cae396a26",
              "name" : "INPUT",
              "position" : {
                "x" : -1320.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "cebd32b7-0886-1f98-0e8b-bfe4d803b3e9",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "height" : 368.0,
              "identifier" : "cb0ac282-27d5-36ac-a186-feccbfd70849",
              "instanceIdentifier" : "cebd32b8-0886-1f98-3fa9-1ac843324641",
              "label" : "Find Filters from Database",
              "position" : {
                "x" : -1200.0,
                "y" : 208.0
              },
              "style" : {
                "background-color" : "#d4ffe7",
                "font-size" : "20px"
              },
              "width" : 1400.0,
              "zIndex" : 0
            } ],
            "name" : "Find Filters from Database",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "9a00a5a8-5194-3e74-b001-bedd2e28daca",
              "instanceIdentifier" : "cebd32bb-0886-1f98-77e8-a874f95a8e2e",
              "name" : "SUCCESS",
              "position" : {
                "x" : 88.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "4af0a6dd-8a21-37ac-85df-2b440bb81c2e",
              "instanceIdentifier" : "cebd32ba-0886-1f98-2bcd-f769bc832ed4",
              "name" : "ERROR",
              "position" : {
                "x" : -624.0,
                "y" : 552.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : 336.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "4a9c16d2-400f-3cd3-b784-6e2d9704ff7c",
              "identifier" : "29b5ef30-05b5-38e8-b666-1f8cfd536547",
              "instanceIdentifier" : "cebd32bc-0886-1f98-e5fd-7aa0734ce2bd",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Transform Document - Find Filters From Database",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -680.0,
                "y" : 280.0
              },
              "properties" : { },
              "propertyDescriptors" : { },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.catalog.processors.FindFiltersByAssetStoreFromDatabase",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "11d1a437-1ffd-365b-a6ee-fa81c1c53f33",
            "identifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "463ce9c0-0edb-3747-92ef-d6dd84b54b96",
              "instanceIdentifier" : "cebd32e3-0886-1f98-a9b4-e0bbdac2418a",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bcbcd-018b-1000-ec4c-8296d67e8cd2",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "edec2eef-5e0a-3823-93dc-a8abe0a30bfe",
              "instanceIdentifier" : "cebd32e4-0886-1f98-955f-5d20b5e4b0c5",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bcce6-018b-1000-fc8e-895eb01bfbe4",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "3b44a3fd-5349-353a-85e7-184eabdfb759",
              "instanceIdentifier" : "cebd32e5-0886-1f98-8803-9d0066ae5856",
              "name" : "Routing INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "cd5fe638-76b3-33b6-f916-eba4ff414f30",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "d802f6e8-856a-3e4b-a022-a0d017614123",
              "instanceIdentifier" : "cebd32e6-0886-1f98-7aa6-afe78c26d2ef",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bc982-018b-1000-07e7-56ff82d23b16",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "9debaf43-80d5-3ab9-90dc-7378bfc50a30",
              "instanceIdentifier" : "cebd32e7-0886-1f98-63a5-ef702e80885a",
              "name" : "Run INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bc794-018b-1000-07c4-1c2690e2ce99",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "b607aff0-7b44-33f3-bd15-55ff42b65507",
              "instanceIdentifier" : "cebd32e8-0886-1f98-f7ac-62169dbdaa21",
              "name" : "Logger INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bc6ce-018b-1000-3a42-f6d3a46c4c74",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "e34102dd-0925-31a8-9bf3-c46b7a12249e",
              "instanceIdentifier" : "cebd32e9-0886-1f98-839d-58ca5d3f180c",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bcc63-018b-1000-7bcc-f027f4fef6a3",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "0ab7e53b-72dd-32a6-9ff6-aa2e96303184",
              "instanceIdentifier" : "cebd32ea-0886-1f98-d85b-d51abee55a9f",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bca9a-018b-1000-ff72-cfa38bfb40bb",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "1e4a2b3d-b269-3f38-b843-610bafff4c93",
              "instanceIdentifier" : "cebd32eb-0886-1f98-fa62-5fee13275ec8",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bcb37-018b-1000-9702-ef4c33761a19",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "1c2122eb-276c-32ed-a706-137835e1df72",
              "instanceIdentifier" : "cebd32ec-0886-1f98-e198-e468aa955590",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bc83c-018b-1000-3c36-f2e8a23918c1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "7f23bfe5-81d1-3c50-af30-92c0f4043710",
              "instanceIdentifier" : "cebd32ed-0886-1f98-4932-98ac95327f8b",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bca03-018b-1000-46a0-ea763478e5fc",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "c20ee0a7-f6b3-391f-abed-8d148f3105aa",
              "instanceIdentifier" : "cebd32ee-0886-1f98-1079-f5466f846b87",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bce1f-018b-1000-26b5-f0b556522275",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "f5d08d35-5cd6-3dbb-bb61-88f4c9ea4438",
              "instanceIdentifier" : "cebd32ef-0886-1f98-e49c-d4cf89aaa07a",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bc8ec-018b-1000-8c5e-4a340b641284",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "identifier" : "00532de6-d78f-3a7e-bdb9-31ef1c757238",
              "instanceIdentifier" : "cebd32f0-0886-1f98-2e67-8ecb0ca72017",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "01df85d9-0b95-3f15-8f4f-02af1f6d8c44",
              "scheduledState" : "ENABLED",
              "targetId" : "714bcd79-018b-1000-0b52-a13382f4ce09",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "cebd32e2-0886-1f98-061a-6a95182a1f04",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : -16.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : {
            "scroll.bucket.size" : "1500",
            "scroll.refresh.index" : "false"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "AUTH_JDBC_CONTEXT" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "AUTH_JDBC_CONTEXT",
          "parameters" : [ {
            "description" : "JDBC URL",
            "name" : "JDBC_URL",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_URL}"
          }, {
            "description" : "JDBC USER PASSWORD",
            "name" : "JDBC_USER_PASSWORD",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "JDBC DRIVER LOCATION",
            "name" : "JDBC_DRIVER_LOCATION",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_LOCATION}"
          }, {
            "description" : "JDBC DRIVER CLASSNAME",
            "name" : "JDBC_DRIVER_CLASSNAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_CLASSNAME}"
          }, {
            "description" : "JDBC USER NAME",
            "name" : "JDBC_USER_NAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_USER_NAME}"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}