flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/b8bd38f9-6732-4c0f-99e7-701f6c01e4d2/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "id" : "ee3777aa-e507-3d4b-a013-573503741db4",
            "instanceIdentifier" : "ee3d3f95-0c3a-1c92-e3d0-c71d704daa1b",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "eaab86af-6042-3565-9dc1-8fd40ba4cfaa",
          "instanceIdentifier" : "a12c3f30-77b2-1efa-a50a-476b01cf538b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "60547b3b-ebd3-37f9-807c-428f8659d904",
            "id" : "a7151e52-3edf-3f28-8da2-e0a71693478b",
            "instanceIdentifier" : "b6d93388-26cb-1a19-92c5-def860a9fab9",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "id" : "0b0dc14e-4ea2-33f0-9775-d5c98bd40d6b",
            "instanceIdentifier" : "a12c3f27-77b2-1efa-73e2-0c5b133df00e",
            "name" : "Logger INPUT",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "af56302a-84c7-38d5-8279-402881297116",
          "instanceIdentifier" : "a12c3f31-77b2-1efa-7ef4-c7f6f071c526",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "id" : "1b7a9908-7aaa-3f88-bb35-0bc74aa3cecb",
            "instanceIdentifier" : "ee3d3f96-0c3a-1c92-6ec0-5fe8a3c6f02e",
            "name" : "ERROR",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "60547b3b-ebd3-37f9-807c-428f8659d904",
            "id" : "f33af385-5493-34ae-901a-87ca4deb9137",
            "instanceIdentifier" : "b6d93389-26cb-1a19-8518-b3982a304e60",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "8f1e333a-5d94-3c0d-a74c-48d0c0c48e6f",
          "instanceIdentifier" : "a12c3f2f-77b2-1efa-8315-1b656010330a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "id" : "960d5cdf-af05-3990-864c-9f3964f6d990",
            "instanceIdentifier" : "ee3d3f97-0c3a-1c92-c235-7b057b13aa9c",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "44443ebd-b34e-3627-b52d-6535ad50ba24",
          "instanceIdentifier" : "b6d93384-26cb-1a19-ee83-0b1004a8844f",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "82a68d58-b939-3e5f-8745-308ae14a5ca6",
          "instanceIdentifier" : "fe6e3bee-018b-1000-9075-1d91fbf8d6c5",
          "name" : "Database Connection Pool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "#{JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8",
            "Password" : "#{JDBC_USER_PASSWORD}"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "ef8c2518-5abd-3118-ae2f-879b8d871d8e",
          "instanceIdentifier" : "b6d93383-26cb-1a19-6219-9b2bc97d46a5",
          "name" : "Json Record Set Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.StoreService"
          } ],
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "d02bfc15-0204-35ee-9dd0-0819869f114c",
          "instanceIdentifier" : "b6d93385-26cb-1a19-fa5f-f2b109b684b6",
          "name" : "Store Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.StoreControllerService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "a7151e52-3edf-3f28-8da2-e0a71693478b",
          "instanceIdentifier" : "b6d93388-26cb-1a19-92c5-def860a9fab9",
          "name" : "INPUT",
          "position" : {
            "x" : 2936.0,
            "y" : 456.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "fe6e3bed-018b-1000-9959-6c041c11cfbb",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "height" : 816.0,
          "identifier" : "73bd400d-97b6-36b2-8458-8518ab8c20b7",
          "instanceIdentifier" : "b6d93386-26cb-1a19-c38a-811b01660de2",
          "label" : "HCL Commerce Query and Nifi servers use several HCL caches.  Much of the data stored in the caches is obtained by\nquerying Elastic Search indices.  When indexed data are changed, the cache entries that used that data need to be\ninvalidated, so they can be refreshed with the changed index data the next time they are used.\n\nThe \"baseCache\" is different from the other caches.  It is a \"servlet\" cache that contains cache entries as defined in the\n\"cachespec.xml\" files for the CRS, ts-app, and ES query application servers.  To help decide which cache entries need\nto be invalidated when index data changes, cache entries are tagged with dependency ids:\n\n- Cache entries in the \"baseCache\" that contain data specific to a category, product, or item can be defined in the\n  \"cachespec.xml\" file to be tagged with dependency ids that include the category, product, or item id.  The format of\n  these dependency ids is defined as invalidation template configurations.  Cache entries tagged in this way should be\n  invalidated when index data for those categories, products, and items are changed and corresponding fine grained\n  invalidations are issued.  These cache entries should also be tagged with the \"WCT+FULL_ESINDEX\" dependency id,\n  which will be issued when fine grained invalidations cannot be issued.\n \n- Cache entries in the \"baseCache\" tagged with the \"WCT+FULL_ESINDEX\" dependency id should be invalidated when\n  a full index rebuild occurs, or changes are made to the indexed data for which fine grain invalidations are not issued.\n \n- Cache entries in any of the caches used by the Query and Nifi application servers tagged with the \"WCT+ESINDEX\"\n  dependency id should be invalidated when any change is made to any indexed data.\n \nNote: When this pipe is used with Dual Elasticsearch Nodegroup and the current dataflow belongs to either\n           Push-To-Live or Update-Live, this stage will queue up the requested cache invalidation events via the\n           Cache Service instead of sending them off immediately.\n\nFor example,\n\n- When performing full reindex in Authoring (typically through a scheduled job):\n  \"WCT+ESINDEX\" and \"WCT+FULL_ESINDEX\" will be sent to the \"baseCache\" in Auth, and only \"WCT+ESINDEX\"\n  will be sent to other caches used by the Query and Nifi application servers in Auth.\n \n- When performing incremental updates through Management Center in Authoring:\n  \"WCT+ESINDEX\" and fine grained invalidations (based on the product level invalidations identified in this stage)\n  will be sent to the \"baseCache\" in Auth, and only \"WCT+ESINDEX\" will be sent to other caches used by the Query and Nifi\n  application servers in Auth.\n \n- When performing Push-To-Live and Index a data feed into Live through offline dataload\n  \"WCT+ESINDEX\" and fine grained invalidations (based on the change history read from the workspace index)\n  will be sent to the \"baseCache\" in Live, and only \"WCT+ESINDEX\" will be sent to other caches used by the Query and Nifi\n  application servers in Live.  In the event that fine grained invalidations are not issued for all the changes,\n  the \"WCT+FULL_ESINDEX\" invalidation will also be sent to the \"baseCache \"in Live.\n",
          "position" : {
            "x" : 1032.0,
            "y" : 544.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "16px"
          },
          "width" : 888.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "height" : 336.0,
          "identifier" : "90dde751-f4bf-3c04-829b-f130ee10caa5",
          "instanceIdentifier" : "b6d93387-26cb-1a19-4f92-d806f07f71c7",
          "label" : "Product - Invalidation",
          "position" : {
            "x" : 1964.0885277272828,
            "y" : 541.2006599716519
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 1376.0,
          "zIndex" : 0
        } ],
        "name" : "Cache Invalidation - Product",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "f33af385-5493-34ae-901a-87ca4deb9137",
          "instanceIdentifier" : "b6d93389-26cb-1a19-8518-b3982a304e60",
          "name" : "OUTPUT",
          "position" : {
            "x" : 2936.0,
            "y" : 904.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "AUTH_JDBC_CONTEXT",
        "position" : {
          "x" : 14360.0,
          "y" : 4576.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "960d5cdf-af05-3990-864c-9f3964f6d990",
              "instanceIdentifier" : "ee3d3f97-0c3a-1c92-c235-7b057b13aa9c",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "6c18120b-279a-3d22-b824-d1b54905d596",
            "instanceIdentifier" : "a31e3cd5-8f81-1196-2527-bacf4fbdb368",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "7c0f1791-8277-3dd2-9fc3-d45927f7b188",
              "instanceIdentifier" : "b6d9338e-26cb-1a19-f793-b4e4c05c7a9f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "1b7a9908-7aaa-3f88-bb35-0bc74aa3cecb",
              "instanceIdentifier" : "ee3d3f96-0c3a-1c92-6ec0-5fe8a3c6f02e",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "7811ad86-91d7-3107-a14f-a254e28ccb32",
            "instanceIdentifier" : "a31e3cdf-8f81-1196-49aa-7f3dc25c53e1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "62fa5076-24fd-3c3a-8c0f-9ad0290137d5",
              "instanceIdentifier" : "b6d93390-26cb-1a19-73d1-22deef8a4edc",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ea6c97f0-3733-3ec6-85e7-bbdb9c2ef543",
              "instanceIdentifier" : "b6d93391-26cb-1a19-e37a-5e62ee4f2fcb",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "63266b27-a3aa-3f46-b590-3f8e59cdd6d6",
            "instanceIdentifier" : "a31e3cdc-8f81-1196-8830-47d0b2258d9e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "6501e579-d74c-3bf9-bcdc-c9e3b8b3f3e2",
              "instanceIdentifier" : "b6d93392-26cb-1a19-2e8f-7e9522ff533d",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "7c0f1791-8277-3dd2-9fc3-d45927f7b188",
              "instanceIdentifier" : "b6d9338e-26cb-1a19-f793-b4e4c05c7a9f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "89d53060-f06f-380d-927e-b8f87d5b1288",
            "instanceIdentifier" : "a31e3ccb-8f81-1196-ab82-78ff7b69aacb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "60e4d7f8-efd2-359d-b34e-10597f15a731",
              "instanceIdentifier" : "ee3d3f9d-0c3a-1c92-c414-a94567ad48be",
              "name" : "Fine-grained Cache Invalidation - Product",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ead546ea-e678-3227-984a-c50858d5bcbb",
              "instanceIdentifier" : "ee3d3f99-0c3a-1c92-10fa-ac4deca1f59d",
              "name" : "Transform Document - GET Elasticsearch Product",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "296ad1bc-2fa5-3302-adbe-eac9e5ee0427",
            "instanceIdentifier" : "a31e3cd0-8f81-1196-2c03-9c82b9a36632",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "97161298-5919-332a-91e0-3fe8da7f99f9",
              "instanceIdentifier" : "ee3d3f9a-0c3a-1c92-c34a-2948d294fbe5",
              "name" : "Generate Product Query",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "381e3e84-5dd5-3b18-9467-c526c100b2e9",
              "instanceIdentifier" : "b6d9338d-26cb-1a19-1f59-e0b9eec345ba",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "e23528aa-a2c1-34aa-91e9-263c0df4131e",
            "instanceIdentifier" : "a31e3cd2-8f81-1196-7f60-911dcba27489",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "a5a536a0-5fa7-3c2a-8268-123256dd2654",
              "instanceIdentifier" : "ee3d3f9b-0c3a-1c92-a4b6-deb723346621",
              "name" : "Define Product SQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "97161298-5919-332a-91e0-3fe8da7f99f9",
              "instanceIdentifier" : "ee3d3f9a-0c3a-1c92-c34a-2948d294fbe5",
              "name" : "Generate Product Query",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "5232533f-1daf-321c-aa4c-a55ca2f55ff3",
            "instanceIdentifier" : "a31e3cc8-8f81-1196-9662-9d0b6ca59819",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "75fe3982-3562-3502-aad1-c7de3629eb05",
              "instanceIdentifier" : "a31e3cbe-8f81-1196-88fe-b87f9808ae71",
              "name" : "Set scroll page size",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "54731b30-8ac6-3858-a6c5-70c9f4233852",
              "instanceIdentifier" : "ee3d3f93-0c3a-1c92-4a9e-2ba5d167329f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "77a94062-2305-3220-8a3f-d8fea3b55cf6",
            "instanceIdentifier" : "a31e3cc9-8f81-1196-b457-00e38d009376",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "2a3777ba-8a58-3f57-811b-5ff8e8acbadb",
              "instanceIdentifier" : "ee3d3f9e-0c3a-1c92-0ce7-3b6e6ea78ea5",
              "name" : "Is Update or Create ?",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "381e3e84-5dd5-3b18-9467-c526c100b2e9",
              "instanceIdentifier" : "b6d9338d-26cb-1a19-1f59-e0b9eec345ba",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "c7434678-f701-3771-abb7-0a25dfc21812",
            "instanceIdentifier" : "a31e3cbf-8f81-1196-2d29-7bd5698cba96",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "e38c14d7-c94f-3abc-b5a3-a70f0bddb047",
              "instanceIdentifier" : "b6d9338c-26cb-1a19-9aef-175a513ed99a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f89c5f8c-0faf-3214-9900-9649fbf56c9d",
              "instanceIdentifier" : "b6d9338f-26cb-1a19-6a92-d741a169cbe1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "52223976-c10f-31c9-a761-565353996eec",
            "instanceIdentifier" : "a31e3cc1-8f81-1196-307d-c565504ffc66",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
              "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
              "name" : "Analyze SQL Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "902e983f-28d7-3f57-86d5-302283deaaa9",
              "instanceIdentifier" : "a31e3cbd-8f81-1196-eaf2-05436ef7ccb7",
              "name" : "Define Product SQL CAS",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "d410c8b1-d388-3562-b054-f4adba0453a4",
            "instanceIdentifier" : "a31e3cd4-8f81-1196-3d37-5fccf6b87383",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "cas.index.model" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f064ad8e-c61e-3462-a0ee-5d51a6ed4a0f",
              "instanceIdentifier" : "7d39356b-9c96-1112-f1af-8127f6510ed7",
              "name" : "Route On CAS Index Model",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b81b9a6a-7fc8-3cf9-8878-ffc8728ec99a",
              "instanceIdentifier" : "a31e3cbc-8f81-1196-a5c7-e437564fb24d",
              "name" : "Execute SQL - Find TI_DELTA_CATENTRY",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "566bfb36-ee41-3e2a-b43f-0e6f5085fcb6",
            "instanceIdentifier" : "a31e3cc0-8f81-1196-53ee-158bd061310e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "a5a536a0-5fa7-3c2a-8268-123256dd2654",
              "instanceIdentifier" : "ee3d3f9b-0c3a-1c92-a4b6-deb723346621",
              "name" : "Define Product SQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f064ad8e-c61e-3462-a0ee-5d51a6ed4a0f",
              "instanceIdentifier" : "7d39356b-9c96-1112-f1af-8127f6510ed7",
              "name" : "Route On CAS Index Model",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "5560ab30-0695-3eed-b6ab-553c671b118d",
            "instanceIdentifier" : "a31e3cd9-8f81-1196-cab6-dfeac792acc8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b2659148-3029-3246-b5da-d8cd1d9585cc",
              "instanceIdentifier" : "7d39356a-9c96-1112-20dc-0eb29060f7cd",
              "name" : "Update offset for next iteration",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "89d3667a-3315-3db3-8ed4-cbd7af86906d",
              "instanceIdentifier" : "a31e3cbb-8f81-1196-ee30-63dcaf5ea04b",
              "name" : "Clear payload",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "a777b8d2-2425-3f16-a503-fbd3e954ff9b",
            "instanceIdentifier" : "a31e3cc4-8f81-1196-3225-1b1b854b2aa5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "next" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
              "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
              "name" : "Analyze SQL Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "60e4d7f8-efd2-359d-b34e-10597f15a731",
              "instanceIdentifier" : "ee3d3f9d-0c3a-1c92-c414-a94567ad48be",
              "name" : "Fine-grained Cache Invalidation - Product",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "f7c787b8-93dc-344e-887a-f3bf0e8667ca",
            "instanceIdentifier" : "a31e3cca-8f81-1196-f697-ae7b4a2bddf7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ead546ea-e678-3227-984a-c50858d5bcbb",
              "instanceIdentifier" : "ee3d3f99-0c3a-1c92-10fa-ac4deca1f59d",
              "name" : "Transform Document - GET Elasticsearch Product",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
              "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
              "name" : "Analyze SQL Response",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "7b553a3a-cf28-3768-a729-5c79feca7a43",
            "instanceIdentifier" : "a31e3ccf-8f81-1196-825d-1042cb787e29",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b81b9a6a-7fc8-3cf9-8878-ffc8728ec99a",
              "instanceIdentifier" : "a31e3cbc-8f81-1196-a5c7-e437564fb24d",
              "name" : "Execute SQL - Find TI_DELTA_CATENTRY",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "7c0f1791-8277-3dd2-9fc3-d45927f7b188",
              "instanceIdentifier" : "b6d9338e-26cb-1a19-f793-b4e4c05c7a9f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "8a0f2a37-8a31-3797-8f83-2acae6cd37f7",
            "instanceIdentifier" : "a12c3f1e-77b2-1efa-3325-3e5b52207207",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ea6c97f0-3733-3ec6-85e7-bbdb9c2ef543",
              "instanceIdentifier" : "b6d93391-26cb-1a19-e37a-5e62ee4f2fcb",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "988d8cf6-e9c0-3317-aa13-e057a46320ea",
              "instanceIdentifier" : "ee3d3f94-0c3a-1c92-de20-b0eaaec62b2f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "db73baed-bac8-35d1-9162-2bb4dbe84bcc",
            "instanceIdentifier" : "a31e3cd1-8f81-1196-e450-358f01be408d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f89c5f8c-0faf-3214-9900-9649fbf56c9d",
              "instanceIdentifier" : "b6d9338f-26cb-1a19-6a92-d741a169cbe1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ea6c97f0-3733-3ec6-85e7-bbdb9c2ef543",
              "instanceIdentifier" : "b6d93391-26cb-1a19-e37a-5e62ee4f2fcb",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "bb2d2cf6-dd51-3ce0-a02e-2328c0902ed1",
            "instanceIdentifier" : "a31e3cda-8f81-1196-8d5a-2cac259b744b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "54731b30-8ac6-3858-a6c5-70c9f4233852",
              "instanceIdentifier" : "ee3d3f93-0c3a-1c92-4a9e-2ba5d167329f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "62fa5076-24fd-3c3a-8c0f-9ad0290137d5",
              "instanceIdentifier" : "b6d93390-26cb-1a19-73d1-22deef8a4edc",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "7c30487a-72f9-3004-af61-a9aa311aeedb",
            "instanceIdentifier" : "a31e3cde-8f81-1196-7a4f-30ccad74dc87",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "988d8cf6-e9c0-3317-aa13-e057a46320ea",
              "instanceIdentifier" : "ee3d3f94-0c3a-1c92-de20-b0eaaec62b2f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0be0ecd9-4ffd-3e96-9f7d-042f83fbd07c",
              "instanceIdentifier" : "ee3d3f9f-0c3a-1c92-fe82-7e55c2ca7ec7",
              "name" : "Is Dataload ?",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "0cae5ae8-8e1f-386d-9cc1-9227ca803802",
            "instanceIdentifier" : "a31e3cc6-8f81-1196-db4c-3f6b5b7876cf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ee3777aa-e507-3d4b-a013-573503741db4",
              "instanceIdentifier" : "ee3d3f95-0c3a-1c92-e3d0-c71d704daa1b",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "a5a536a0-5fa7-3c2a-8268-123256dd2654",
              "instanceIdentifier" : "ee3d3f9b-0c3a-1c92-a4b6-deb723346621",
              "name" : "Define Product SQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "9166a54b-5c51-3b48-a971-4a3ea6cabe42",
            "instanceIdentifier" : "a31e3ccd-8f81-1196-a250-0b3ad23edc67",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f064ad8e-c61e-3462-a0ee-5d51a6ed4a0f",
              "instanceIdentifier" : "7d39356b-9c96-1112-f1af-8127f6510ed7",
              "name" : "Route On CAS Index Model",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b81b9a6a-7fc8-3cf9-8878-ffc8728ec99a",
              "instanceIdentifier" : "a31e3cbc-8f81-1196-a5c7-e437564fb24d",
              "name" : "Execute SQL - Find TI_DELTA_CATENTRY",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "fa8fa882-b2a5-37a6-9892-8adc2f482c00",
            "instanceIdentifier" : "a31e3cdb-8f81-1196-edcb-4196def77dc8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "902e983f-28d7-3f57-86d5-302283deaaa9",
              "instanceIdentifier" : "a31e3cbd-8f81-1196-eaf2-05436ef7ccb7",
              "name" : "Define Product SQL CAS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "62fa5076-24fd-3c3a-8c0f-9ad0290137d5",
              "instanceIdentifier" : "b6d93390-26cb-1a19-73d1-22deef8a4edc",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "d2201f91-1bbe-3afc-8049-20153a4f2f89",
            "instanceIdentifier" : "a31e3cc5-8f81-1196-ca05-f55e8a65d43f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "60e4d7f8-efd2-359d-b34e-10597f15a731",
              "instanceIdentifier" : "ee3d3f9d-0c3a-1c92-c414-a94567ad48be",
              "name" : "Fine-grained Cache Invalidation - Product",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "988d8cf6-e9c0-3317-aa13-e057a46320ea",
              "instanceIdentifier" : "ee3d3f94-0c3a-1c92-de20-b0eaaec62b2f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "fc111758-9b59-3405-9b26-d1c83ef0aa9f",
            "instanceIdentifier" : "a12c3f1f-77b2-1efa-14ec-b85ebb7d9da7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "ead546ea-e678-3227-984a-c50858d5bcbb",
              "instanceIdentifier" : "ee3d3f99-0c3a-1c92-10fa-ac4deca1f59d",
              "name" : "Transform Document - GET Elasticsearch Product",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "e38c14d7-c94f-3abc-b5a3-a70f0bddb047",
              "instanceIdentifier" : "b6d9338c-26cb-1a19-9aef-175a513ed99a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "74a6fe47-994b-3073-9002-b2cbbaa1403d",
            "instanceIdentifier" : "a31e3ccc-8f81-1196-81a1-a9cb4c0499a4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "902e983f-28d7-3f57-86d5-302283deaaa9",
              "instanceIdentifier" : "a31e3cbd-8f81-1196-eaf2-05436ef7ccb7",
              "name" : "Define Product SQL CAS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b2659148-3029-3246-b5da-d8cd1d9585cc",
              "instanceIdentifier" : "7d39356a-9c96-1112-20dc-0eb29060f7cd",
              "name" : "Update offset for next iteration",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "41f36859-e013-3529-a833-20e08c41ab55",
            "instanceIdentifier" : "a31e3cc2-8f81-1196-90a9-448f81eae42e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "89d3667a-3315-3db3-8ed4-cbd7af86906d",
              "instanceIdentifier" : "a31e3cbb-8f81-1196-ee30-63dcaf5ea04b",
              "name" : "Clear payload",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "60e4d7f8-efd2-359d-b34e-10597f15a731",
              "instanceIdentifier" : "ee3d3f9d-0c3a-1c92-c414-a94567ad48be",
              "name" : "Fine-grained Cache Invalidation - Product",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "6c60ac83-b868-39cf-8ccf-ed688bc4790e",
            "instanceIdentifier" : "a31e3cd6-8f81-1196-11ac-71aa813df4dd",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
              "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
              "name" : "Analyze SQL Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "6501e579-d74c-3bf9-bcdc-c9e3b8b3f3e2",
              "instanceIdentifier" : "b6d93392-26cb-1a19-2e8f-7e9522ff533d",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "982880b9-74ef-37a0-9fe6-f779c65d7d5e",
            "instanceIdentifier" : "a31e3cdd-8f81-1196-306c-e0920e6df7d8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "empty" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
              "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
              "name" : "Analyze SQL Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "2a3777ba-8a58-3f57-811b-5ff8e8acbadb",
              "instanceIdentifier" : "ee3d3f9e-0c3a-1c92-0ce7-3b6e6ea78ea5",
              "name" : "Is Update or Create ?",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "27f15f43-ff63-3316-85a5-cc0adf21e473",
            "instanceIdentifier" : "a31e3cd8-8f81-1196-4b94-027beb4d4146",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0be0ecd9-4ffd-3e96-9f7d-042f83fbd07c",
              "instanceIdentifier" : "ee3d3f9f-0c3a-1c92-fe82-7e55c2ca7ec7",
              "name" : "Is Dataload ?",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "3ce2082d-59e9-3435-b834-9611d2db3a80",
              "instanceIdentifier" : "ee3d3f9c-0c3a-1c92-aa91-c4426c7e72ed",
              "name" : "Define scroll offset and page size",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "3b136f55-4438-3584-9c5f-f8568cfe9f84",
            "instanceIdentifier" : "a31e3cd7-8f81-1196-7db0-3d8724e3eabc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "dataload" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "0be0ecd9-4ffd-3e96-9f7d-042f83fbd07c",
              "instanceIdentifier" : "ee3d3f9f-0c3a-1c92-fe82-7e55c2ca7ec7",
              "name" : "Is Dataload ?",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "75fe3982-3562-3502-aad1-c7de3629eb05",
              "instanceIdentifier" : "a31e3cbe-8f81-1196-88fe-b87f9808ae71",
              "name" : "Set scroll page size",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "4bed8252-99bf-3d4c-9c93-cbc5c15a815a",
            "instanceIdentifier" : "a31e3cce-8f81-1196-88db-c5a575a08f3b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "update" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "2a3777ba-8a58-3f57-811b-5ff8e8acbadb",
              "instanceIdentifier" : "ee3d3f9e-0c3a-1c92-0ce7-3b6e6ea78ea5",
              "name" : "Is Update or Create ?",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f89c5f8c-0faf-3214-9900-9649fbf56c9d",
              "instanceIdentifier" : "b6d9338f-26cb-1a19-6a92-d741a169cbe1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "76dfe476-3b1b-399c-9e51-f0787130e239",
            "instanceIdentifier" : "a31e3cc3-8f81-1196-eee8-9504d5f1321c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "381e3e84-5dd5-3b18-9467-c526c100b2e9",
              "instanceIdentifier" : "b6d9338d-26cb-1a19-1f59-e0b9eec345ba",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "f064ad8e-c61e-3462-a0ee-5d51a6ed4a0f",
              "instanceIdentifier" : "7d39356b-9c96-1112-f1af-8127f6510ed7",
              "name" : "Route On CAS Index Model",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "71cb38f5-21c1-3033-aab2-066c1a178858",
            "instanceIdentifier" : "a31e3cc7-8f81-1196-0b5e-ee9b5018466b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "3ce2082d-59e9-3435-b834-9611d2db3a80",
              "instanceIdentifier" : "ee3d3f9c-0c3a-1c92-aa91-c4426c7e72ed",
              "name" : "Define scroll offset and page size",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "381e3e84-5dd5-3b18-9467-c526c100b2e9",
              "instanceIdentifier" : "b6d9338d-26cb-1a19-1f59-e0b9eec345ba",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "90f3a344-0c65-3231-92f7-631841b0b49c",
            "instanceIdentifier" : "a31e3cd3-8f81-1196-2930-1f8448c1ecde",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
              "id" : "b81b9a6a-7fc8-3cf9-8878-ffc8728ec99a",
              "instanceIdentifier" : "a31e3cbc-8f81-1196-a5c7-e437564fb24d",
              "name" : "Execute SQL - Find TI_DELTA_CATENTRY",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "988d8cf6-e9c0-3317-aa13-e057a46320ea",
            "instanceIdentifier" : "ee3d3f94-0c3a-1c92-de20-b0eaaec62b2f",
            "position" : {
              "x" : 256.0,
              "y" : 904.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "6501e579-d74c-3bf9-bcdc-c9e3b8b3f3e2",
            "instanceIdentifier" : "b6d93392-26cb-1a19-2e8f-7e9522ff533d",
            "position" : {
              "x" : -80.0,
              "y" : 768.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "54731b30-8ac6-3858-a6c5-70c9f4233852",
            "instanceIdentifier" : "ee3d3f93-0c3a-1c92-4a9e-2ba5d167329f",
            "position" : {
              "x" : -1784.0,
              "y" : 376.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "381e3e84-5dd5-3b18-9467-c526c100b2e9",
            "instanceIdentifier" : "b6d9338d-26cb-1a19-1f59-e0b9eec345ba",
            "position" : {
              "x" : -1072.0,
              "y" : 904.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "62fa5076-24fd-3c3a-8c0f-9ad0290137d5",
            "instanceIdentifier" : "b6d93390-26cb-1a19-73d1-22deef8a4edc",
            "position" : {
              "x" : 936.0,
              "y" : 904.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "e38c14d7-c94f-3abc-b5a3-a70f0bddb047",
            "instanceIdentifier" : "b6d9338c-26cb-1a19-9aef-175a513ed99a",
            "position" : {
              "x" : -1784.0,
              "y" : 904.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "ea6c97f0-3733-3ec6-85e7-bbdb9c2ef543",
            "instanceIdentifier" : "b6d93391-26cb-1a19-e37a-5e62ee4f2fcb",
            "position" : {
              "x" : -80.0,
              "y" : 376.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "f89c5f8c-0faf-3214-9900-9649fbf56c9d",
            "instanceIdentifier" : "b6d9338f-26cb-1a19-6a92-d741a169cbe1",
            "position" : {
              "x" : -416.0,
              "y" : 904.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "7c0f1791-8277-3dd2-9fc3-d45927f7b188",
            "instanceIdentifier" : "b6d9338e-26cb-1a19-f793-b4e4c05c7a9f",
            "position" : {
              "x" : 936.0,
              "y" : 376.0
            }
          } ],
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "ee3777aa-e507-3d4b-a013-573503741db4",
            "instanceIdentifier" : "ee3d3f95-0c3a-1c92-e3d0-c71d704daa1b",
            "name" : "INPUT",
            "position" : {
              "x" : -3808.0,
              "y" : 576.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "b6d9338a-26cb-1a19-8764-4cdb13ac191c",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "height" : 1672.0,
            "identifier" : "8d412816-9b3d-3223-bc3c-4aaabd92b17d",
            "instanceIdentifier" : "b6d9338b-26cb-1a19-8410-a35bb1e4a244",
            "label" : "Invalidate Product",
            "position" : {
              "x" : -3680.0,
              "y" : 304.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "20px"
            },
            "width" : 5272.0,
            "zIndex" : 0
          } ],
          "name" : "Invalidate Product",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "960d5cdf-af05-3990-864c-9f3964f6d990",
            "instanceIdentifier" : "ee3d3f97-0c3a-1c92-c235-7b057b13aa9c",
            "name" : "OUTPUT",
            "position" : {
              "x" : 1464.0,
              "y" : 376.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "1b7a9908-7aaa-3f88-bb35-0bc74aa3cecb",
            "instanceIdentifier" : "ee3d3f96-0c3a-1c92-6ec0-5fe8a3c6f02e",
            "name" : "ERROR",
            "position" : {
              "x" : 1464.0,
              "y" : 904.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2856.0,
            "y" : 624.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "97161298-5919-332a-91e0-3fe8da7f99f9",
            "instanceIdentifier" : "ee3d3f9a-0c3a-1c92-c34a-2948d294fbe5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Generate Product Query",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -576.0,
              "y" : 544.0
            },
            "properties" : {
              "Regular Expression" : "(?s)(^.*$)",
              "Replacement Value" : "{\n    \"size\" : ${es.pageSize},\n\t\"_source\" : false,\n    \"stored_fields\": [ \"id*\",\"category.*.id\" ],\n    \"query\": {\n        \"bool\": {\n            \"must\": {\n                \"terms\": {\n                    \"id.catentry\":[${data.catentryId:isEmpty():ifElse(${data.catentryId.2}, ${data.catentryId})}]\n                }\n            },\n            \"filter\": [\n                {\n                    \"term\": {\n                        \"id.store\": ${param.storeId}\n                    }\n                },\n                {\n                    \"term\": {\n                        \"id.catalog\": ${param.catalogId}\n                    }\n                },\n                {\n                    \"term\": {\n                        \"id.language\": ${param.langId}\n                    }\n                }\n            ]\n        }\n    }\n}",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Always Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ffcc00"
            },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "b81b9a6a-7fc8-3cf9-8878-ffc8728ec99a",
            "instanceIdentifier" : "a31e3cbc-8f81-1196-a5c7-e437564fb24d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Execute SQL - Find TI_DELTA_CATENTRY",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -1224.0,
              "y" : 1256.0
            },
            "properties" : {
              "esql-max-rows" : "${scroll.bucket.size}",
              "esqlrecord-record-writer" : "ef8c2518-5abd-3118-ae2f-879b8d871d8e",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "82a68d58-b939-3e5f-8745-308ae14a5ca6",
              "esql-auto-commit" : "true",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "sql-pre-query" : "${ingest.database.schema.sql}",
              "esql-output-batch-size" : "10",
              "esql-fetch-size" : "0",
              "SQL select query" : "${ingest.database.sql}",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "esql-auto-commit" : {
                "displayName" : "Set Auto Commit",
                "identifiesControllerService" : false,
                "name" : "esql-auto-commit",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ffff00"
            },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "b2659148-3029-3246-b5da-d8cd1d9585cc",
            "instanceIdentifier" : "7d39356a-9c96-1112-20dc-0eb29060f7cd",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Update offset for next iteration",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -2600.0,
              "y" : 1760.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "param.offset" : "${param.offset:plus(${param.pageSize})}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "param.offset" : {
                "displayName" : "param.offset",
                "identifiesControllerService" : false,
                "name" : "param.offset",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "ead546ea-e678-3227-984a-c50858d5bcbb",
            "instanceIdentifier" : "ee3d3f99-0c3a-1c92-10fa-ac4deca1f59d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Transform Document - GET Elasticsearch Product",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 104.0,
              "y" : 544.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/${productIndexName}/_search",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "0be0ecd9-4ffd-3e96-9f7d-042f83fbd07c",
            "instanceIdentifier" : "ee3d3f9f-0c3a-1c92-fe82-7e55c2ca7ec7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Is Dataload ?",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -3248.0,
              "y" : 536.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "dataload" : "${cache.invalidation.mode:startsWith(\"dataload.\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "dataload" : {
                "displayName" : "dataload",
                "identifiesControllerService" : false,
                "name" : "dataload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "89d3667a-3315-3db3-8ed4-cbd7af86906d",
            "instanceIdentifier" : "a31e3cbb-8f81-1196-ee30-63dcaf5ea04b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Clear payload",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -560.0,
              "y" : 1768.0
            },
            "properties" : {
              "Regular Expression" : "(?s)(^.*$)",
              "Replacement Value" : "{}",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Always Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "a5a536a0-5fa7-3c2a-8268-123256dd2654",
            "instanceIdentifier" : "ee3d3f9b-0c3a-1c92-a4b6-deb723346621",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Define Product SQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1936.0,
              "y" : 1384.0
            },
            "properties" : {
              "Ingest Profile" : "${ingest.profile.name}",
              "Use Custom SQL" : "use_default_sql",
              "Profile Service" : "44443ebd-b34e-3627-b52d-6535ad50ba24",
              "Custom SQL" : "",
              "SQL Location" : "sql/InvalidateProduct.sql"
            },
            "propertyDescriptors" : {
              "Ingest Profile" : {
                "displayName" : "Ingest Profile",
                "identifiesControllerService" : false,
                "name" : "Ingest Profile",
                "sensitive" : false
              },
              "Use Custom SQL" : {
                "displayName" : "Use Custom SQL",
                "identifiesControllerService" : false,
                "name" : "Use Custom SQL",
                "sensitive" : false
              },
              "Profile Service" : {
                "displayName" : "Profile Service",
                "identifiesControllerService" : true,
                "name" : "Profile Service",
                "sensitive" : false
              },
              "Custom SQL" : {
                "displayName" : "Custom SQL",
                "identifiesControllerService" : false,
                "name" : "Custom SQL",
                "sensitive" : false
              },
              "SQL Location" : {
                "displayName" : "SQL Location",
                "identifiesControllerService" : false,
                "name" : "SQL Location",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#5500ff"
            },
            "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "f064ad8e-c61e-3462-a0ee-5d51a6ed4a0f",
            "instanceIdentifier" : "7d39356b-9c96-1112-f1af-8127f6510ed7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Route On CAS Index Model",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2600.0,
              "y" : 1272.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "cas.index.model" : "${cas.index.model:equalsIgnoreCase('true')}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "cas.index.model" : {
                "displayName" : "cas.index.model",
                "identifiesControllerService" : false,
                "name" : "cas.index.model",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "0b9fc070-dad9-3d55-bb7b-c351b0d929fc",
            "instanceIdentifier" : "ee3d3f98-0c3a-1c92-61d9-072a2c8b66e0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Analyze SQL Response",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : -560.0,
              "y" : 1256.0
            },
            "properties" : {
              "Relationship Type" : "success",
              "Auto Refresh Index" : "${scroll.refresh.index}"
            },
            "propertyDescriptors" : {
              "Relationship Type" : {
                "displayName" : "Relationship Type",
                "identifiesControllerService" : false,
                "name" : "Relationship Type",
                "sensitive" : false
              },
              "Auto Refresh Index" : {
                "displayName" : "Auto Refresh Index",
                "identifiesControllerService" : false,
                "name" : "Auto Refresh Index",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "75fe3982-3562-3502-aad1-c7de3629eb05",
            "instanceIdentifier" : "a31e3cbe-8f81-1196-88fe-b87f9808ae71",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Set scroll page size",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -1248.0,
              "y" : 544.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "es.bucketSize" : "${scroll.bucket.size}",
              "productIndexName" : "${param.assetStoreId:isEmpty():ifElse('${environment.name}.${param.storeId}.product', '${environment.name}.${param.assetStoreId}.product')}",
              "es.pageSize" : "${scroll.page.size}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "es.bucketSize" : {
                "displayName" : "es.bucketSize",
                "identifiesControllerService" : false,
                "name" : "es.bucketSize",
                "sensitive" : false
              },
              "productIndexName" : {
                "displayName" : "productIndexName",
                "identifiesControllerService" : false,
                "name" : "productIndexName",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "es.pageSize" : {
                "displayName" : "es.pageSize",
                "identifiesControllerService" : false,
                "name" : "es.pageSize",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "3ce2082d-59e9-3435-b834-9611d2db3a80",
            "instanceIdentifier" : "ee3d3f9c-0c3a-1c92-aa91-c4426c7e72ed",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Define scroll offset and page size",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -3248.0,
              "y" : 1272.0
            },
            "properties" : {
              "param.bucketSize" : "${scroll.bucket.size}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "param.pageSize" : "${scroll.page.size}",
              "param.offset" : "0"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "param.bucketSize" : {
                "displayName" : "param.bucketSize",
                "identifiesControllerService" : false,
                "name" : "param.bucketSize",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "param.pageSize" : {
                "displayName" : "param.pageSize",
                "identifiesControllerService" : false,
                "name" : "param.pageSize",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "param.offset" : {
                "displayName" : "param.offset",
                "identifiesControllerService" : false,
                "name" : "param.offset",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "60e4d7f8-efd2-359d-b34e-10597f15a731",
            "instanceIdentifier" : "ee3d3f9d-0c3a-1c92-c414-a94567ad48be",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Fine-grained Cache Invalidation - Product",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 784.0,
              "y" : 544.0
            },
            "properties" : {
              "Fine Grain Invalidation Mode" : "${cache.invalidation.mode}",
              "Store Service" : "d02bfc15-0204-35ee-9dd0-0819869f114c"
            },
            "propertyDescriptors" : {
              "Fine Grain Invalidation Mode" : {
                "displayName" : "Fine Grain Invalidation Mode",
                "identifiesControllerService" : false,
                "name" : "Fine Grain Invalidation Mode",
                "sensitive" : false
              },
              "Store Service" : {
                "displayName" : "Store Service",
                "identifiesControllerService" : true,
                "name" : "Store Service",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.event.processors.SendFineGrainInvalidation",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "902e983f-28d7-3f57-86d5-302283deaaa9",
            "instanceIdentifier" : "a31e3cbd-8f81-1196-eaf2-05436ef7ccb7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Define Product SQL CAS",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1936.0,
              "y" : 1136.0
            },
            "properties" : {
              "Ingest Profile" : "${ingest.profile.name}",
              "Use Custom SQL" : "use_default_sql",
              "Profile Service" : "44443ebd-b34e-3627-b52d-6535ad50ba24",
              "Custom SQL" : "",
              "SQL Location" : "sql/InvalidateProductCAS.sql"
            },
            "propertyDescriptors" : {
              "Ingest Profile" : {
                "displayName" : "Ingest Profile",
                "identifiesControllerService" : false,
                "name" : "Ingest Profile",
                "sensitive" : false
              },
              "Use Custom SQL" : {
                "displayName" : "Use Custom SQL",
                "identifiesControllerService" : false,
                "name" : "Use Custom SQL",
                "sensitive" : false
              },
              "Profile Service" : {
                "displayName" : "Profile Service",
                "identifiesControllerService" : true,
                "name" : "Profile Service",
                "sensitive" : false
              },
              "Custom SQL" : {
                "displayName" : "Custom SQL",
                "identifiesControllerService" : false,
                "name" : "Custom SQL",
                "sensitive" : false
              },
              "SQL Location" : {
                "displayName" : "SQL Location",
                "identifiesControllerService" : false,
                "name" : "SQL Location",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#5500ff"
            },
            "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "164f51d2-61a0-3f60-8396-3091bf68f87c",
            "identifier" : "2a3777ba-8a58-3f57-811b-5ff8e8acbadb",
            "instanceIdentifier" : "ee3d3f9e-0c3a-1c92-0ce7-3b6e6ea78ea5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Is Update or Create ?",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -1936.0,
              "y" : 544.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "update" : "${param.action:equals('U'):or(${param.action:equals('N')})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "update" : {
                "displayName" : "update",
                "identifiesControllerService" : false,
                "name" : "update",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : {
            "scroll.page.size" : "20000",
            "cache.invalidation.mode" : "dataload.product",
            "scroll.bucket.size" : "1500"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ {
          "comments" : "",
          "communicationsTimeout" : "1800 sec",
          "componentType" : "REMOTE_PROCESS_GROUP",
          "groupIdentifier" : "60547b3b-ebd3-37f9-807c-428f8659d904",
          "identifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
          "inputPorts" : [ {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "b51fafc7-5c6f-360e-8dbd-5257d07f10ba",
            "instanceIdentifier" : "a12c3f21-77b2-1efa-47f6-b2cf09b76baa",
            "name" : "Bulk Description INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca5d7-018b-1000-8090-03eec5281b2b",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "f728e7ba-965d-3bca-8428-f0f3ea9b62b2",
            "instanceIdentifier" : "a12c3f22-77b2-1efa-6c32-1f6e386e5b48",
            "name" : "Bulk Inventory INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca6b5-018b-1000-29e3-efac11967b97",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "comments" : "",
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "b7b5de16-38d6-3c9a-81e7-5bf765e41171",
            "instanceIdentifier" : "a12c3f23-77b2-1efa-3e23-d9eb23178816",
            "name" : "Routing INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "eca16d50-6f02-3189-349f-6889a006b6ef",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "7577d34e-2916-34cd-9b0f-00556f151c0a",
            "instanceIdentifier" : "a12c3f24-77b2-1efa-34b1-473b7a568af6",
            "name" : "Bulk Catalog INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca3d5-018b-1000-bd5c-1cab5a8a24f8",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "675c870e-c38d-312e-83d1-53a5b5be6ecc",
            "instanceIdentifier" : "a12c3f25-77b2-1efa-b028-03497b802404",
            "name" : "Run INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca236-018b-1000-70a0-71dbc33aafd3",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "0b0dc14e-4ea2-33f0-9775-d5c98bd40d6b",
            "instanceIdentifier" : "a12c3f27-77b2-1efa-73e2-0c5b133df00e",
            "name" : "Logger INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca177-018b-1000-0712-b5418094d495",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "c084c15c-b2b3-33fd-aeb7-a4455238fef7",
            "instanceIdentifier" : "a12c3f26-77b2-1efa-d36c-9bd2f510c508",
            "name" : "Bulk Price INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca651-018b-1000-a2b9-036f996486e9",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "0ee3d10f-5ea8-3cef-b982-565c7388d563",
            "instanceIdentifier" : "a12c3f28-77b2-1efa-621f-85d38097d931",
            "name" : "Bulk Category INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca4d7-018b-1000-e347-ad11fe0cc140",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "21e69357-07ef-3886-b87f-a3ebf832a26e",
            "instanceIdentifier" : "a12c3f29-77b2-1efa-3b18-94fdf0fa07f5",
            "name" : "Bulk Product INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca557-018b-1000-4093-aa85aa7c0ce8",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "2a7b23c1-ed85-36d7-98ee-55864c91a5fc",
            "instanceIdentifier" : "a12c3f2a-77b2-1efa-f640-64f7dbfcf15a",
            "name" : "Terminal INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca2bc-018b-1000-47ec-30156ea7d149",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "81347776-0e9c-3747-b6e3-470c8dde4aa5",
            "instanceIdentifier" : "a12c3f2b-77b2-1efa-6f03-eb3191df7cdf",
            "name" : "Bulk Attribute INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca452-018b-1000-2d24-5c1d4795c5fc",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "39b6b73c-312e-38d3-ad9d-f81d549ad8d1",
            "instanceIdentifier" : "a12c3f2c-77b2-1efa-4dcf-1b33aa7a6c90",
            "name" : "Bulk Dataload INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca789-018b-1000-0cb3-aeebc96c1b75",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "cdf904cf-6e0a-3795-b478-910eb5f6608f",
            "instanceIdentifier" : "a12c3f2d-77b2-1efa-59e5-0ba502b7dbd6",
            "name" : "Bulk Store INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca35a-018b-1000-9b89-619569ffb276",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "identifier" : "3446f168-f5fe-3e7a-906c-a8586bfbf711",
            "instanceIdentifier" : "a12c3f2e-77b2-1efa-5d9b-c5c4fab00f17",
            "name" : "Bulk URL INPUT",
            "remoteGroupId" : "0601310e-b42f-3893-a008-318cd8fc15d6",
            "scheduledState" : "ENABLED",
            "targetId" : "f8eca720-018b-1000-f897-eb1110670b84",
            "useCompression" : false
          } ],
          "instanceIdentifier" : "a12c3f20-77b2-1efa-729e-c377c21a2ac1",
          "name" : "NiFi Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : 2056.0,
            "y" : 624.0
          },
          "proxyHost" : "",
          "proxyUser" : "",
          "targetUri" : "http://localhost:30600/nifi",
          "targetUris" : "http://localhost:30600/nifi",
          "transportProtocol" : "RAW",
          "yieldDuration" : "10 sec"
        } ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "AUTH_JDBC_CONTEXT" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "AUTH_JDBC_CONTEXT",
          "parameters" : [ {
            "description" : "JDBC URL",
            "name" : "JDBC_URL",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_URL}"
          }, {
            "description" : "JDBC USER PASSWORD",
            "name" : "JDBC_USER_PASSWORD",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "JDBC DRIVER LOCATION",
            "name" : "JDBC_DRIVER_LOCATION",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_LOCATION}"
          }, {
            "description" : "JDBC DRIVER CLASSNAME",
            "name" : "JDBC_DRIVER_CLASSNAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_CLASSNAME}"
          }, {
            "description" : "JDBC USER NAME",
            "name" : "JDBC_USER_NAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_USER_NAME}"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}