flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/bec9c234-1fab-4757-8395-458c23c1bb28/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
            "id" : "3cd8863e-acb3-31ba-bd64-b50a644390d6",
            "instanceIdentifier" : "149ac4f1-9fd7-382d-45b6-c368a8833f5d",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "cf633573-936b-34d2-9ec0-70393f6ab94f",
          "instanceIdentifier" : "c2edc5be-df6a-345b-8fd7-0c2c59c1cef5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "2de6226f-d468-3993-8a67-efd99587e347",
            "id" : "3a2c9ce9-4283-3334-896e-ed64759e4466",
            "instanceIdentifier" : "65232e39-d194-3432-63e3-52ff04b6ae23",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2de6226f-d468-3993-8a67-efd99587e347",
            "id" : "e76463c0-853c-321b-8809-aa4c11afec32",
            "instanceIdentifier" : "0a950e68-4c65-3978-25bf-538e242d1ece",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "77add88e-eb73-325e-b5c9-44550f383e24",
          "instanceIdentifier" : "0e122f6d-1d39-34c5-19a9-5c13b08d8f39",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
            "id" : "37f2f666-28d5-3969-b9a1-78a6086f768e",
            "instanceIdentifier" : "285722dc-bffb-36e6-272b-ceb46734aea7",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "dcc7d750-6c9a-32be-96a8-65f09c0eaf49",
          "instanceIdentifier" : "e1eb890c-688d-3c72-57ba-95ee04ec61aa",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "d754d684-2c14-3d88-af1a-582c42b6a262",
          "instanceIdentifier" : "02e4daf8-4b8b-3022-fc42-fa5f7c597001",
          "name" : "Database Connection Pool",
          "properties" : {
            "CURSOR_HOLDABILITY" : "1",
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "#{JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "AUTO_CASE_SCHEMA" : "true",
            "Max Total Connections" : "8",
            "IFX_ISOLATION_LEVEL" : "5U",
            "METADATA_UPPERCASE_VALUES" : "true",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8",
            "FET_BUF_SIZE" : "256000",
            "Password" : "#{JDBC_USER_PASSWORD}",
            "IFX_LOCK_MODE_WAIT" : "15"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "CURSOR_HOLDABILITY" : {
              "displayName" : "CURSOR_HOLDABILITY",
              "identifiesControllerService" : false,
              "name" : "CURSOR_HOLDABILITY",
              "sensitive" : false
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "AUTO_CASE_SCHEMA" : {
              "displayName" : "AUTO_CASE_SCHEMA",
              "identifiesControllerService" : false,
              "name" : "AUTO_CASE_SCHEMA",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "IFX_ISOLATION_LEVEL" : {
              "displayName" : "IFX_ISOLATION_LEVEL",
              "identifiesControllerService" : false,
              "name" : "IFX_ISOLATION_LEVEL",
              "sensitive" : false
            },
            "METADATA_UPPERCASE_VALUES" : {
              "displayName" : "METADATA_UPPERCASE_VALUES",
              "identifiesControllerService" : false,
              "name" : "METADATA_UPPERCASE_VALUES",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "FET_BUF_SIZE" : {
              "displayName" : "FET_BUF_SIZE",
              "identifiesControllerService" : false,
              "name" : "FET_BUF_SIZE",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "IFX_LOCK_MODE_WAIT" : {
              "displayName" : "IFX_LOCK_MODE_WAIT",
              "identifiesControllerService" : false,
              "name" : "IFX_LOCK_MODE_WAIT",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "b7344938-394a-32eb-a4c2-c15df10696ef",
          "instanceIdentifier" : "da842e90-1d18-3fe9-c306-918d7e14ba82",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "37f2f666-28d5-3969-b9a1-78a6086f768e",
          "instanceIdentifier" : "285722dc-bffb-36e6-272b-ceb46734aea7",
          "name" : "INPUT",
          "position" : {
            "x" : 928.0,
            "y" : 104.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "a82acaa7-018b-1000-c710-720222a78dec",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "height" : 312.0,
          "identifier" : "62b94f7b-60b6-396e-8161-587d62ef9487",
          "instanceIdentifier" : "b381a027-1fcb-3b33-1726-58f3bedecc39",
          "label" : "Attribute - Stage 1c (Database)",
          "position" : {
            "x" : 792.0,
            "y" : 320.0
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 512.0,
          "zIndex" : 0
        } ],
        "name" : "Attribute - Stage 1c (Database)",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "3cd8863e-acb3-31ba-bd64-b50a644390d6",
          "instanceIdentifier" : "149ac4f1-9fd7-382d-45b6-c368a8833f5d",
          "name" : "OUTPUT",
          "position" : {
            "x" : 928.0,
            "y" : 792.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : -544.0,
          "y" : 1568.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "id" : "ed2799fa-192f-31d7-8940-9e3e690276c3",
              "instanceIdentifier" : "d3ab8310-a0af-39c4-8c37-c1b8c35b1774",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "a9f1c295-3629-3721-9fcb-ac2db5a75b43",
            "instanceIdentifier" : "939498d1-3114-393e-dc7e-39f9c472ccdb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "id" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
              "instanceIdentifier" : "8a0a0efc-aaed-3299-df6e-683da0fef5c2",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "id" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
              "instanceIdentifier" : "1f39c9bc-ea0a-3265-7cb3-6001d1c9bfeb",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "f4fcff67-ddc2-3375-bcbe-d4091cdb1651",
            "instanceIdentifier" : "f122d2a7-95a9-3c82-f24b-0cb828db4715",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "id" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
              "instanceIdentifier" : "bbd2ee1f-d0ed-34fe-f5a4-d542aa18ec4a",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2de6226f-d468-3993-8a67-efd99587e347",
              "id" : "3a2c9ce9-4283-3334-896e-ed64759e4466",
              "instanceIdentifier" : "65232e39-d194-3432-63e3-52ff04b6ae23",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "e9da31e7-4fe6-3236-b724-0958705b168b",
            "instanceIdentifier" : "ad907cd4-82c0-3015-b057-ad8cd94d1905",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "id" : "15343f0b-4820-3001-a4da-ff81418f4359",
              "instanceIdentifier" : "7254d8e9-b7c9-34c9-3add-e4e949555f4e",
              "name" : "NEXT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "id" : "fd44f508-e009-3eba-a2ac-e7f400d00ab0",
              "instanceIdentifier" : "19794a5e-4743-3997-fa64-69b1b005c172",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "b6d41ece-a16b-3c84-b149-4fe331014dcb",
            "instanceIdentifier" : "42f6efb0-80b1-3d0b-1756-b9815ae6b46e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "id" : "7444bf8d-ddd8-341f-902c-c0e99ebfa152",
              "instanceIdentifier" : "1476dbda-0984-3cab-ebe9-cbaa90d4bf17",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "id" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
              "instanceIdentifier" : "4beebdfa-c924-32e2-51a5-3e17298bad84",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "745dadf6-cd93-3df8-a37e-4e974fd54db8",
            "instanceIdentifier" : "c4f7826c-15f0-375a-a800-b2916ff499f1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "2de6226f-d468-3993-8a67-efd99587e347",
              "id" : "e76463c0-853c-321b-8809-aa4c11afec32",
              "instanceIdentifier" : "0a950e68-4c65-3978-25bf-538e242d1ece",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "id" : "369dc3f7-52ec-32ef-a8d9-3ee293750ec1",
              "instanceIdentifier" : "5b9af9a9-11f2-3036-513a-bfbadcab7304",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "a85345e2-c66c-3b13-b541-3d35f4c5fbf9",
            "instanceIdentifier" : "995fb6f0-108e-3860-66dc-a9c24b5af1e3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "id" : "5d316736-cf34-3b00-9f38-f98aca3c8a63",
              "instanceIdentifier" : "17979a71-fc7b-3224-1037-64ba3626e4cd",
              "name" : "UPDATE",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "id" : "fd44f508-e009-3eba-a2ac-e7f400d00ab0",
              "instanceIdentifier" : "19794a5e-4743-3997-fa64-69b1b005c172",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "d4d58007-29b0-3c94-8361-e6c11502597a",
            "instanceIdentifier" : "98beaaf4-3476-3b30-713f-d64c432e814c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "id" : "8d2ed28a-2df8-3452-bfe3-167c57e7bec9",
              "instanceIdentifier" : "3dd4d5df-e031-33d6-c879-c469088b0ccb",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "id" : "5b815fd2-889a-35fa-a561-e38422f13e0e",
              "instanceIdentifier" : "71d2c089-ae4f-32f1-3d25-0aa6763c7136",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "ca52688d-9a1f-32a6-9e6f-5746ff978fc3",
            "instanceIdentifier" : "fe791f11-8da7-30f3-d3a0-095bbcbde989",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "id" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
              "instanceIdentifier" : "947c50b2-71ae-3fc5-5efc-59cceabe52a3",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2376.0,
              "y" : 136.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "id" : "ed2799fa-192f-31d7-8940-9e3e690276c3",
              "instanceIdentifier" : "d3ab8310-a0af-39c4-8c37-c1b8c35b1774",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "089a4dc7-bd96-3bf1-9807-9fad77f62f19",
            "instanceIdentifier" : "032f682c-9091-3f3e-bc8a-47db98d8028d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "id" : "b06da840-d784-3761-a08b-cf0c6b98cc2f",
              "instanceIdentifier" : "5599adbe-964b-3ad0-ed81-bd9512430be3",
              "name" : "EMPTY",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "f9fa90b4-4339-35df-b1a3-02486d39af8d",
          "identifier" : "2de6226f-d468-3993-8a67-efd99587e347",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "e76463c0-853c-321b-8809-aa4c11afec32",
            "instanceIdentifier" : "0a950e68-4c65-3978-25bf-538e242d1ece",
            "name" : "INPUT",
            "position" : {
              "x" : 3312.0,
              "y" : -200.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "1e0e11e5-01c4-3fb4-85be-d6423965b601",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "height" : 696.0,
            "identifier" : "0bd13bb5-3166-321a-bbd4-56cb6cfd7330",
            "instanceIdentifier" : "1e2ce451-3cf3-39ac-1446-4794c2d5956a",
            "label" : "Find Categories To Update",
            "position" : {
              "x" : 1736.0,
              "y" : -104.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "24px"
            },
            "width" : 1984.0,
            "zIndex" : 0
          } ],
          "name" : "Find Categories to Update",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "3a2c9ce9-4283-3334-896e-ed64759e4466",
            "instanceIdentifier" : "65232e39-d194-3432-63e3-52ff04b6ae23",
            "name" : "OUTPUT",
            "position" : {
              "x" : 3312.0,
              "y" : 640.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 856.0,
            "y" : 392.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 500,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "eef3bf43-a222-37a6-a1ec-c088b302c7ba",
                "instanceIdentifier" : "1126b6da-d801-31ce-f9f7-45f972aabaee",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "19eae7db-f89c-3aa6-9fef-1e17ac0ae29c",
              "instanceIdentifier" : "b5d8ab55-2841-390b-f07f-6edddffc01dd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "369dc3f7-52ec-32ef-a8d9-3ee293750ec1",
                "instanceIdentifier" : "5b9af9a9-11f2-3036-513a-bfbadcab7304",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "1b28ba57-d339-3e77-b030-106b57e2f41e",
                "instanceIdentifier" : "31fce74e-de4b-3bd1-89df-0a10ce876af3",
                "name" : "Publish Redis (Live)",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "36c7aa0b-d24c-38e5-bc19-fa6ba9626121",
              "instanceIdentifier" : "d1649bab-c16a-375c-5e89-992a7d0c557c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "live" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "eef3bf43-a222-37a6-a1ec-c088b302c7ba",
                "instanceIdentifier" : "1126b6da-d801-31ce-f9f7-45f972aabaee",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "38b2c198-b4c5-368f-8658-078062354b75",
                "instanceIdentifier" : "1a654b95-b515-3282-22e5-34d6a18bd0d9",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "c5aca30e-4bce-3294-a650-e9338b007b02",
              "instanceIdentifier" : "a04fa4ce-8df2-31dc-79bb-cba40ca8848f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "5623fe2b-bab5-3eca-8af7-75e36a93bcc3",
                "instanceIdentifier" : "a757b277-b8b9-3e51-1ab9-1d78d7f9e09c",
                "name" : "Publish Redis (Auth)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "a30331a9-9bd2-3573-9cd1-80763b37d9fc",
                "instanceIdentifier" : "0e9a9349-b34d-3632-029f-08838fb26348",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "0cef2e46-aa2c-3849-83fd-2720c9e91d98",
              "instanceIdentifier" : "4b8f3299-0365-346c-467a-3cd8075ddd32",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "38b2c198-b4c5-368f-8658-078062354b75",
                "instanceIdentifier" : "1a654b95-b515-3282-22e5-34d6a18bd0d9",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "0e2e543d-9708-3ef0-b713-edfbb8f2203e",
                "instanceIdentifier" : "e3921398-3400-3e1f-a752-2fc4cceaeb7e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "7fd34c44-1996-35e0-9adb-b254dceaad70",
              "instanceIdentifier" : "ab71d4ce-876e-3ff8-15de-5418e4796077",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "be426169-3cc9-3b9b-93ec-6fa43657fcf5",
                "instanceIdentifier" : "22e10736-ffc1-38a1-fd73-5f04dfb322b4",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "be426169-3cc9-3b9b-93ec-6fa43657fcf5",
                "instanceIdentifier" : "22e10736-ffc1-38a1-fd73-5f04dfb322b4",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "bd5bb088-dad8-385e-9d4f-f7938a196482",
              "instanceIdentifier" : "bd073ca2-1aeb-3e52-d2a1-2f7015087fdd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "1b28ba57-d339-3e77-b030-106b57e2f41e",
                "instanceIdentifier" : "31fce74e-de4b-3bd1-89df-0a10ce876af3",
                "name" : "Publish Redis (Live)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "8d2ed28a-2df8-3452-bfe3-167c57e7bec9",
                "instanceIdentifier" : "3dd4d5df-e031-33d6-c879-c469088b0ccb",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "2a02de17-a50f-318e-ba94-56eccea83320",
              "instanceIdentifier" : "81d22479-1f62-32ee-7ab5-775d9d5cb6c8",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "0e2e543d-9708-3ef0-b713-edfbb8f2203e",
                "instanceIdentifier" : "e3921398-3400-3e1f-a752-2fc4cceaeb7e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "5623fe2b-bab5-3eca-8af7-75e36a93bcc3",
                "instanceIdentifier" : "a757b277-b8b9-3e51-1ab9-1d78d7f9e09c",
                "name" : "Publish Redis (Auth)",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "c949ff3d-8dcc-3ddc-afd5-4eafa3dbe53e",
              "instanceIdentifier" : "452dc5e1-5dec-334f-881c-2cd8be144d97",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "eef3bf43-a222-37a6-a1ec-c088b302c7ba",
                "instanceIdentifier" : "1126b6da-d801-31ce-f9f7-45f972aabaee",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "0e2e543d-9708-3ef0-b713-edfbb8f2203e",
                "instanceIdentifier" : "e3921398-3400-3e1f-a752-2fc4cceaeb7e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "f35d7675-cdc1-3b2c-b63d-5d5517d1bdac",
              "instanceIdentifier" : "2776a20f-cd6d-30b6-fa60-76f487eba1aa",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
                "id" : "a30331a9-9bd2-3573-9cd1-80763b37d9fc",
                "instanceIdentifier" : "0e9a9349-b34d-3632-029f-08838fb26348",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "0e2e543d-9708-3ef0-b713-edfbb8f2203e",
              "instanceIdentifier" : "e3921398-3400-3e1f-a752-2fc4cceaeb7e",
              "position" : {
                "x" : 2504.0,
                "y" : 728.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "a30331a9-9bd2-3573-9cd1-80763b37d9fc",
              "instanceIdentifier" : "0e9a9349-b34d-3632-029f-08838fb26348",
              "position" : {
                "x" : 1856.0,
                "y" : 728.0
              }
            } ],
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "369dc3f7-52ec-32ef-a8d9-3ee293750ec1",
              "instanceIdentifier" : "5b9af9a9-11f2-3036-513a-bfbadcab7304",
              "name" : "INPUT",
              "position" : {
                "x" : 1128.0,
                "y" : 16.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "1ce3c1ad-3663-39b2-84e0-987b6e682300",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "height" : 960.0,
              "identifier" : "92c12031-df74-3998-9ae0-ae4b0ccf3cfb",
              "instanceIdentifier" : "e3e950ce-8012-3aea-67b1-cbefd2f3f563",
              "label" : "Publish Redis",
              "position" : {
                "x" : 1240.0,
                "y" : -104.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 1704.0,
              "zIndex" : 0
            } ],
            "name" : "Publish Redis",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "8d2ed28a-2df8-3452-bfe3-167c57e7bec9",
              "instanceIdentifier" : "3dd4d5df-e031-33d6-c879-c469088b0ccb",
              "name" : "ERROR",
              "position" : {
                "x" : 2816.0,
                "y" : 720.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1824.0,
              "y" : 336.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "be426169-3cc9-3b9b-93ec-6fa43657fcf5",
              "instanceIdentifier" : "22e10736-ffc1-38a1-fd73-5f04dfb322b4",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2352.0,
                "y" : 480.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Live Redis in ${stage.name} cannot be completed.",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "eef3bf43-a222-37a6-a1ec-c088b302c7ba",
              "instanceIdentifier" : "1126b6da-d801-31ce-f9f7-45f972aabaee",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on Environment",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 1704.0,
                "y" : -24.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "live" : "${environment.name:equals('live')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "live" : {
                  "displayName" : "live",
                  "identifiesControllerService" : false,
                  "name" : "live",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "5623fe2b-bab5-3eca-8af7-75e36a93bcc3",
              "instanceIdentifier" : "a757b277-b8b9-3e51-1ab9-1d78d7f9e09c",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Publish Redis (Auth)",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 1704.0,
                "y" : 232.0
              },
              "properties" : {
                "Channel Name" : "services/cache/WCNifiDistributedMapCache",
                "Environment Type" : "auth"
              },
              "propertyDescriptors" : {
                "Channel Name" : {
                  "displayName" : "Channel Name",
                  "identifiesControllerService" : false,
                  "name" : "Channel Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#000000"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.PublishEvent",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "38b2c198-b4c5-368f-8658-078062354b75",
              "instanceIdentifier" : "1a654b95-b515-3282-22e5-34d6a18bd0d9",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 1704.0,
                "y" : 480.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Auth Redis in ${stage.name} cannot be completed.",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "fac453ad-922c-3eb9-8bdf-279d99db8579",
              "identifier" : "1b28ba57-d339-3e77-b030-106b57e2f41e",
              "instanceIdentifier" : "31fce74e-de4b-3bd1-89df-0a10ce876af3",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Publish Redis (Live)",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2352.0,
                "y" : 232.0
              },
              "properties" : {
                "Channel Name" : "services/cache/WCNifiDistributedMapCache",
                "Environment Type" : "live"
              },
              "propertyDescriptors" : {
                "Channel Name" : {
                  "displayName" : "Channel Name",
                  "identifiesControllerService" : false,
                  "name" : "Channel Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#000000"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.PublishEvent",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "5800863f-47db-390d-b53d-7f24370fcb76",
                "instanceIdentifier" : "26213760-c9c4-3ef4-0991-28b56d3cb209",
                "name" : "Find Category Id for Facetable Attribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "1e1c1f1b-ea6c-34ef-9fcf-ef1beb797357",
              "instanceIdentifier" : "cee1553c-625a-3a6f-75c1-d89d7fb4b1e4",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
                "instanceIdentifier" : "1f39c9bc-ea0a-3265-7cb3-6001d1c9bfeb",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
                "instanceIdentifier" : "947c50b2-71ae-3fc5-5efc-59cceabe52a3",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "b0b629ed-6880-3e1d-a2d1-5da139a59511",
              "instanceIdentifier" : "c33666fd-cade-334b-fe10-e75f79495ce0",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "cd442c25-ba79-304f-97c7-4b884c366ee2",
                "instanceIdentifier" : "a778a108-7c3d-3da6-96cc-bda788c73beb",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "2c58aeac-ae44-33a1-9342-1236b5d82bad",
                "instanceIdentifier" : "7cbfd9b3-dc54-3df3-c48c-3241fe645cb2",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "966c9a8a-9789-3477-94f6-6c0db9a18f7e",
              "instanceIdentifier" : "d0f62b11-cf06-399d-6d8b-ef1c3e9a336d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "empty" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "cd442c25-ba79-304f-97c7-4b884c366ee2",
                "instanceIdentifier" : "a778a108-7c3d-3da6-96cc-bda788c73beb",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "cd442c25-ba79-304f-97c7-4b884c366ee2",
                "instanceIdentifier" : "a778a108-7c3d-3da6-96cc-bda788c73beb",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "3d1bdb69-fe33-3e75-bcc4-0ff89d6777ca",
              "instanceIdentifier" : "a712fc5d-b3f6-35da-69e8-65216e2297bd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success", "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
                "instanceIdentifier" : "22824421-fac2-3b35-eab6-e33d8b9b042d",
                "name" : "Execute SQL - Find Category Ids",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "8ad4c1f5-d605-39bc-aa5a-4999460ebf60",
                "instanceIdentifier" : "a8ee5001-5db3-3283-f622-a71377741f37",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "888ab254-9e8d-34c2-b9ab-42fa8e70b9c8",
              "instanceIdentifier" : "9f0c117b-c39e-375e-bd93-98652cb11a66",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "cd442c25-ba79-304f-97c7-4b884c366ee2",
                "instanceIdentifier" : "a778a108-7c3d-3da6-96cc-bda788c73beb",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
                "instanceIdentifier" : "22824421-fac2-3b35-eab6-e33d8b9b042d",
                "name" : "Execute SQL - Find Category Ids",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "f6602ddb-9b80-332e-bf82-34c43a35e6c3",
              "instanceIdentifier" : "39f16992-73c3-3053-c8c5-4d025c84f610",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "5800863f-47db-390d-b53d-7f24370fcb76",
                "instanceIdentifier" : "26213760-c9c4-3ef4-0991-28b56d3cb209",
                "name" : "Find Category Id for Facetable Attribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
                "instanceIdentifier" : "8a0a0efc-aaed-3299-df6e-683da0fef5c2",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "c910ffd6-a9d8-3ca8-be06-90e0a3b5cb76",
              "instanceIdentifier" : "62b6ccd2-52c6-3693-01a1-94ae4e3c9030",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "8ad4c1f5-d605-39bc-aa5a-4999460ebf60",
                "instanceIdentifier" : "a8ee5001-5db3-3283-f622-a71377741f37",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "b06da840-d784-3761-a08b-cf0c6b98cc2f",
                "instanceIdentifier" : "5599adbe-964b-3ad0-ed81-bd9512430be3",
                "name" : "EMPTY",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "155aebca-a9bc-3282-91a5-879e54658651",
              "instanceIdentifier" : "d934665b-1600-3312-d12b-fbab2bb6bd5d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "2c58aeac-ae44-33a1-9342-1236b5d82bad",
                "instanceIdentifier" : "7cbfd9b3-dc54-3df3-c48c-3241fe645cb2",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "8ad4c1f5-d605-39bc-aa5a-4999460ebf60",
                "instanceIdentifier" : "a8ee5001-5db3-3283-f622-a71377741f37",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "772e3c69-6afc-35ec-8c78-e461979b8cd2",
              "instanceIdentifier" : "fc3141d3-bf7e-3937-b854-1ff614681a8e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "306aeca4-c982-320b-a7ed-65dd4d51610b",
                "instanceIdentifier" : "0815d747-3356-3136-af43-7a6eebd35e9d",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "306aeca4-c982-320b-a7ed-65dd4d51610b",
                "instanceIdentifier" : "0815d747-3356-3136-af43-7a6eebd35e9d",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "73de48b2-9bb2-3857-ad21-9c9b66d1a523",
              "instanceIdentifier" : "e8b7df97-47f4-3c4c-1f5d-94d894c26e25",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
                "id" : "5800863f-47db-390d-b53d-7f24370fcb76",
                "instanceIdentifier" : "26213760-c9c4-3ef4-0991-28b56d3cb209",
                "name" : "Find Category Id for Facetable Attribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "8ad4c1f5-d605-39bc-aa5a-4999460ebf60",
              "instanceIdentifier" : "a8ee5001-5db3-3283-f622-a71377741f37",
              "position" : {
                "x" : 3056.0,
                "y" : -72.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "306aeca4-c982-320b-a7ed-65dd4d51610b",
              "instanceIdentifier" : "0815d747-3356-3136-af43-7a6eebd35e9d",
              "position" : {
                "x" : 1640.0,
                "y" : -72.0
              }
            } ],
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
              "instanceIdentifier" : "1f39c9bc-ea0a-3265-7cb3-6001d1c9bfeb",
              "name" : "INPUT",
              "position" : {
                "x" : 888.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "7d494bcd-eb5d-38de-0963-97fcbaa5b579",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "height" : 536.0,
              "identifier" : "64d03cad-d9ea-3794-9a93-246d85188771",
              "instanceIdentifier" : "4cdc7d32-8637-336d-3a58-e659ebb800b1",
              "label" : "Execute SQL",
              "position" : {
                "x" : 1008.0,
                "y" : -488.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 3464.0,
              "zIndex" : 0
            } ],
            "name" : "Execute SQL",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
              "instanceIdentifier" : "8a0a0efc-aaed-3299-df6e-683da0fef5c2",
              "name" : "ERROR",
              "position" : {
                "x" : 4352.0,
                "y" : -72.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "b06da840-d784-3761-a08b-cf0c6b98cc2f",
              "instanceIdentifier" : "5599adbe-964b-3ad0-ed81-bd9512430be3",
              "name" : "EMPTY",
              "position" : {
                "x" : 4352.0,
                "y" : -216.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
              "instanceIdentifier" : "947c50b2-71ae-3fc5-5efc-59cceabe52a3",
              "name" : "SUCCESS",
              "position" : {
                "x" : 4352.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "5800863f-47db-390d-b53d-7f24370fcb76",
              "instanceIdentifier" : "26213760-c9c4-3ef4-0991-28b56d3cb209",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Category Id for Facetable Attribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1488.0,
                "y" : -408.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "b7344938-394a-32eb-a4c2-c15df10696ef",
                "SQL Location" : "sql/DatabaseAttributeStage1c.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
              "instanceIdentifier" : "22824421-fac2-3b35-eab6-e33d8b9b042d",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Execute SQL - Find Category Ids",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2200.0,
                "y" : -408.0
              },
              "properties" : {
                "esql-max-rows" : "${scroll.bucket.size}",
                "esqlrecord-record-writer" : "dcc7d750-6c9a-32be-96a8-65f09c0eaf49",
                "dbf-default-precision" : "10",
                "Max Wait Time" : "0 seconds",
                "Database Connection Pooling Service" : "d754d684-2c14-3d88-af1a-582c42b6a262",
                "esql-auto-commit" : "true",
                "dbf-user-logical-types" : "false",
                "dbf-default-scale" : "0",
                "sql-pre-query" : "${ingest.database.schema.sql}",
                "esql-output-batch-size" : "0",
                "esql-fetch-size" : "0",
                "SQL select query" : "${ingest.database.sql}",
                "esqlrecord-normalize" : "false"
              },
              "propertyDescriptors" : {
                "esql-max-rows" : {
                  "displayName" : "Max Rows Per Flow File",
                  "identifiesControllerService" : false,
                  "name" : "esql-max-rows",
                  "sensitive" : false
                },
                "esqlrecord-record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "esqlrecord-record-writer",
                  "sensitive" : false
                },
                "dbf-default-precision" : {
                  "displayName" : "Default Decimal Precision",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-precision",
                  "sensitive" : false
                },
                "Max Wait Time" : {
                  "displayName" : "Max Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "Max Wait Time",
                  "sensitive" : false
                },
                "Database Connection Pooling Service" : {
                  "displayName" : "Database Connection Pooling Service",
                  "identifiesControllerService" : true,
                  "name" : "Database Connection Pooling Service",
                  "sensitive" : false
                },
                "sql-post-query" : {
                  "displayName" : "SQL Post-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-post-query",
                  "sensitive" : false
                },
                "esql-auto-commit" : {
                  "displayName" : "Set Auto Commit",
                  "identifiesControllerService" : false,
                  "name" : "esql-auto-commit",
                  "sensitive" : false
                },
                "dbf-user-logical-types" : {
                  "displayName" : "Use Avro Logical Types",
                  "identifiesControllerService" : false,
                  "name" : "dbf-user-logical-types",
                  "sensitive" : false
                },
                "dbf-default-scale" : {
                  "displayName" : "Default Decimal Scale",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-scale",
                  "sensitive" : false
                },
                "sql-pre-query" : {
                  "displayName" : "SQL Pre-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-pre-query",
                  "sensitive" : false
                },
                "esql-output-batch-size" : {
                  "displayName" : "Output Batch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-output-batch-size",
                  "sensitive" : false
                },
                "esql-fetch-size" : {
                  "displayName" : "Fetch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-fetch-size",
                  "sensitive" : false
                },
                "SQL select query" : {
                  "displayName" : "SQL select query",
                  "identifiesControllerService" : false,
                  "name" : "SQL select query",
                  "sensitive" : false
                },
                "esqlrecord-normalize" : {
                  "displayName" : "Normalize Table/Column Names",
                  "identifiesControllerService" : false,
                  "name" : "esqlrecord-normalize",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffff00"
              },
              "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "next", "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "cd442c25-ba79-304f-97c7-4b884c366ee2",
              "instanceIdentifier" : "a778a108-7c3d-3da6-96cc-bda788c73beb",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Analyze SQL Response",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2904.0,
                "y" : -408.0
              },
              "properties" : {
                "Relationship Type" : "success",
                "Auto Refresh Index" : "${scroll.refresh.index}"
              },
              "propertyDescriptors" : {
                "Relationship Type" : {
                  "displayName" : "Relationship Type",
                  "identifiesControllerService" : false,
                  "name" : "Relationship Type",
                  "sensitive" : false
                },
                "Auto Refresh Index" : {
                  "displayName" : "Auto Refresh Index",
                  "identifiesControllerService" : false,
                  "name" : "Auto Refresh Index",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "74393858-5bbd-39c6-8969-b2052a5aedfb",
              "identifier" : "2c58aeac-ae44-33a1-9342-1236b5d82bad",
              "instanceIdentifier" : "7cbfd9b3-dc54-3df3-c48c-3241fe645cb2",
              "maxBackoffPeriod" : "10 mins",
              "name" : "UpdateAttribute",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 3632.0,
                "y" : -256.0
              },
              "properties" : {
                "Delete Attributes Expression" : "terminal.method",
                "connector.name" : "${environment.name}.category",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "connector.name" : {
                  "displayName" : "connector.name",
                  "identifiesControllerService" : false,
                  "name" : "connector.name",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "2ba17e49-628b-3b42-2485-193dab8820aa",
                "name" : "Route On Any Catalog",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "c565ceb1-c4b0-3e0a-ae2b-4ddb3fff13cc",
              "instanceIdentifier" : "524ca3bc-3151-3a4b-dcee-c8bd69fa11ec",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
                "instanceIdentifier" : "a8b25c80-85b6-380f-601a-6c38e96a4496",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "c20bca1f-1e0f-3bc2-9bf7-1fcda24c07e8",
                "instanceIdentifier" : "1290c9fe-1e5c-32d0-48cd-11206b466007",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "9a5fdea5-df44-3e22-aad2-04d59665a2ba",
              "instanceIdentifier" : "7491f144-2e51-3888-ff35-79586a0c8a99",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "2ba17e49-628b-3b42-2485-193dab8820aa",
                "name" : "Route On Any Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
                "instanceIdentifier" : "bbd2ee1f-d0ed-34fe-f5a4-d542aa18ec4a",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "407e9899-3e34-33bb-b936-c76dbe30a620",
              "instanceIdentifier" : "6801134b-85c3-399a-5ff7-16b2685f237f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "c20bca1f-1e0f-3bc2-9bf7-1fcda24c07e8",
                "instanceIdentifier" : "1290c9fe-1e5c-32d0-48cd-11206b466007",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "15343f0b-4820-3001-a4da-ff81418f4359",
                "instanceIdentifier" : "7254d8e9-b7c9-34c9-3add-e4e949555f4e",
                "name" : "NEXT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "deb13664-4a41-3d05-aeb1-06070d6d191e",
              "instanceIdentifier" : "9e6f0991-170b-34b2-5f9e-39cbf22119f7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "next" ],
              "source" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "2ba17e49-628b-3b42-2485-193dab8820aa",
                "name" : "Route On Any Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
                "instanceIdentifier" : "a8b25c80-85b6-380f-601a-6c38e96a4496",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "b12879b6-71c7-35de-96d2-93b99cf9a45a",
              "instanceIdentifier" : "fd7e1de9-87af-345d-8cc8-85387e7363d7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
                "id" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
                "instanceIdentifier" : "4beebdfa-c924-32e2-51a5-3e17298bad84",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
              "instanceIdentifier" : "4beebdfa-c924-32e2-51a5-3e17298bad84",
              "name" : "INPUT",
              "position" : {
                "x" : -376.0,
                "y" : -40.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "cf4c3347-acdc-35bf-8b42-122c0003ffe9",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "height" : 776.0,
              "identifier" : "d3d270d2-c8ab-3cbd-bbc5-6a1ca3d4f5db",
              "instanceIdentifier" : "41cc3e68-2bcb-324d-bd0b-75aebfe64dad",
              "label" : "Route on Any Catalog",
              "position" : {
                "x" : -264.0,
                "y" : -176.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "24px"
              },
              "width" : 1312.0,
              "zIndex" : 0
            } ],
            "name" : "Route on Any Catalog",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
              "instanceIdentifier" : "bbd2ee1f-d0ed-34fe-f5a4-d542aa18ec4a",
              "name" : "OUTPUT",
              "position" : {
                "x" : -376.0,
                "y" : 440.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "15343f0b-4820-3001-a4da-ff81418f4359",
              "instanceIdentifier" : "7254d8e9-b7c9-34c9-3add-e4e949555f4e",
              "name" : "NEXT",
              "position" : {
                "x" : 928.0,
                "y" : 208.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 3240.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
              "instanceIdentifier" : "a8b25c80-85b6-380f-601a-6c38e96a4496",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set stage.name and stage.start.time",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : -80.0
              },
              "properties" : {
                "stage.start.time" : "${now():toNumber()}",
                "stage.name" : "Attribute Stage 1c (Database), Find Categories to Update",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "flow.name" : "${pipe.name}"
              },
              "propertyDescriptors" : {
                "stage.start.time" : {
                  "displayName" : "stage.start.time",
                  "identifiesControllerService" : false,
                  "name" : "stage.start.time",
                  "sensitive" : false
                },
                "stage.name" : {
                  "displayName" : "stage.name",
                  "identifiesControllerService" : false,
                  "name" : "stage.name",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "flow.name" : {
                  "displayName" : "flow.name",
                  "identifiesControllerService" : false,
                  "name" : "flow.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
              "instanceIdentifier" : "2ba17e49-628b-3b42-2485-193dab8820aa",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route On Any Catalog",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 168.0
              },
              "properties" : {
                "Route on other Sales Catalogs" : "block",
                "Route on Master Catalog" : "allow",
                "Route on Default Catalog" : "block"
              },
              "propertyDescriptors" : {
                "Route on other Sales Catalogs" : {
                  "displayName" : "Route on other Sales Catalogs",
                  "identifiesControllerService" : false,
                  "name" : "Route on other Sales Catalogs",
                  "sensitive" : false
                },
                "Route on Master Catalog" : {
                  "displayName" : "Route on Master Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Master Catalog",
                  "sensitive" : false
                },
                "Route on Default Catalog" : {
                  "displayName" : "Route on Default Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Default Catalog",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.RouteOnCatalog",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0c445381-5d5f-3344-a1a2-ca4a1e507892",
              "identifier" : "c20bca1f-1e0f-3bc2-9bf7-1fcda24c07e8",
              "instanceIdentifier" : "1290c9fe-1e5c-32d0-48cd-11206b466007",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Track Document",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 400.0
              },
              "properties" : {
                "Cache TTL" : "3600"
              },
              "propertyDescriptors" : {
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.TrackDocument",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "e68b6e1a-d545-3a97-a76c-8bf16989662b",
                "instanceIdentifier" : "557f91f5-a89d-399a-c4e7-a9881a32cfe3",
                "name" : "FindCategoriesForUpdate",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "ce1cbd03-4776-3626-a299-91ac98c16fe3",
              "instanceIdentifier" : "87d06eb0-7294-3017-33f0-7075a68f1094",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "5b815fd2-889a-35fa-a561-e38422f13e0e",
                "instanceIdentifier" : "71d2c089-ae4f-32f1-3d25-0aa6763c7136",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "5d316736-cf34-3b00-9f38-f98aca3c8a63",
                "instanceIdentifier" : "17979a71-fc7b-3224-1037-64ba3626e4cd",
                "name" : "UPDATE",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "334ad255-798c-3a0e-9f6e-6a2cbc4397bc",
              "instanceIdentifier" : "54bd0723-1f70-3f69-4e59-31f1944f53b3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "update" ],
              "source" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "e68b6e1a-d545-3a97-a76c-8bf16989662b",
                "instanceIdentifier" : "557f91f5-a89d-399a-c4e7-a9881a32cfe3",
                "name" : "FindCategoriesForUpdate",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "7444bf8d-ddd8-341f-902c-c0e99ebfa152",
                "instanceIdentifier" : "1476dbda-0984-3cab-ebe9-cbaa90d4bf17",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "7f880c05-22ff-3db9-b396-6f25d7ae1ec7",
              "instanceIdentifier" : "495279a7-8dff-36fc-ebaf-1cf442a70abd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "d3d57020-3cc5-3964-b237-637b6a45da14",
                "id" : "e68b6e1a-d545-3a97-a76c-8bf16989662b",
                "instanceIdentifier" : "557f91f5-a89d-399a-c4e7-a9881a32cfe3",
                "name" : "FindCategoriesForUpdate",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "5b815fd2-889a-35fa-a561-e38422f13e0e",
              "instanceIdentifier" : "71d2c089-ae4f-32f1-3d25-0aa6763c7136",
              "name" : "INPUT",
              "position" : {
                "x" : -1320.0,
                "y" : 328.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "dcb923ef-83d6-3265-157a-5b190e00fefb",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "height" : 376.0,
              "identifier" : "1ea1e7c2-7fb0-3aee-8fe4-119e8396ca39",
              "instanceIdentifier" : "e1208068-506e-3d60-aaa1-8ebd7dfcfef7",
              "label" : "Find Categories To Update from Database",
              "position" : {
                "x" : -1232.0,
                "y" : 192.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 1432.0,
              "zIndex" : 0
            } ],
            "name" : "Find Categories To Update",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "7444bf8d-ddd8-341f-902c-c0e99ebfa152",
              "instanceIdentifier" : "1476dbda-0984-3cab-ebe9-cbaa90d4bf17",
              "name" : "ERROR",
              "position" : {
                "x" : -640.0,
                "y" : 544.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "5d316736-cf34-3b00-9f38-f98aca3c8a63",
              "instanceIdentifier" : "17979a71-fc7b-3224-1037-64ba3626e4cd",
              "name" : "UPDATE",
              "position" : {
                "x" : 104.0,
                "y" : 328.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : 336.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d3d57020-3cc5-3964-b237-637b6a45da14",
              "identifier" : "e68b6e1a-d545-3a97-a76c-8bf16989662b",
              "instanceIdentifier" : "557f91f5-a89d-399a-c4e7-a9881a32cfe3",
              "maxBackoffPeriod" : "10 mins",
              "name" : "FindCategoriesForUpdate",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : -696.0,
                "y" : 296.0
              },
              "properties" : { },
              "propertyDescriptors" : { },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "com.hcl.software.data.ingest.attribute.processors.FindCategoriesForUpdate",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "2de6226f-d468-3993-8a67-efd99587e347",
            "identifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "48e7acb0-1aeb-30ea-9e33-33b46d553e5d",
              "instanceIdentifier" : "a8d813e1-65ef-3960-860f-f2c3621a9646",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5608-018b-1000-f7e5-e431d54c0581",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "1b375c4c-8b0e-3a51-a1f7-118fb0a319e3",
              "instanceIdentifier" : "c4117eaa-25c2-3785-c23d-68a9e48635f8",
              "name" : "Routing INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "70c06b04-1292-3b0c-f8e9-0673d5574a7c",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "8c62f2aa-31ed-362d-a36c-59b920b5c719",
              "instanceIdentifier" : "2276aae0-5bfa-3c71-c990-b77665fcbcad",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5720-018b-1000-38bd-0e1f1b6e860c",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "07963600-0d51-3406-8138-fba95a30b590",
              "instanceIdentifier" : "8d5e8100-d8d1-3c06-29fb-232672571b16",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d53b6-018b-1000-6eef-6ae6d7259521",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "ddf6391a-91c3-3add-906b-97dddbac503a",
              "instanceIdentifier" : "c1f6617c-2cb4-36ea-43af-3e7bbd05efd2",
              "name" : "Run INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d51d3-018b-1000-f923-99ba24807a96",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "fd44f508-e009-3eba-a2ac-e7f400d00ab0",
              "instanceIdentifier" : "19794a5e-4743-3997-fa64-69b1b005c172",
              "name" : "Logger INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d50e4-018b-1000-3f5a-d3c064e473d9",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "1378929c-5999-3a2d-a14b-b2d00e0e189f",
              "instanceIdentifier" : "ce9b499f-8553-3022-4ec5-334b47180a4d",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5694-018b-1000-a6fb-b90af97ffe8b",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "4a5f7b61-ba7c-3614-8f71-2d631570d15d",
              "instanceIdentifier" : "5aebf74e-8b28-323c-f92f-8ddd409ef70f",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d54d4-018b-1000-d33a-0108b91b0a3b",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "26d3f1ab-6a44-3fb1-927b-f2a16b2fb2f7",
              "instanceIdentifier" : "38b53585-bdfb-3b60-acff-5dc58966dd12",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5576-018b-1000-8e70-820e15c8a718",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "ed2799fa-192f-31d7-8940-9e3e690276c3",
              "instanceIdentifier" : "d3ab8310-a0af-39c4-8c37-c1b8c35b1774",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5265-018b-1000-1e63-07b80890fb9f",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "95a5513f-ad20-311a-b76d-122fd42c0ec7",
              "instanceIdentifier" : "3ba399cc-a38f-34a0-5c08-e8662ac6f766",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d544c-018b-1000-c04a-7ceeff067582",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "ee77c904-9d47-36f3-807e-c5162f615268",
              "instanceIdentifier" : "9bfef5dc-b66a-3a16-9981-c92c1732ef0a",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5868-018b-1000-f3d6-622cf135d5af",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "9e954bfb-177c-3de7-bfcf-09a186fcf93a",
              "instanceIdentifier" : "4d4c523f-30d1-3634-1297-de0724c8e464",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d5321-018b-1000-487c-9bd1936b2ab5",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "identifier" : "fce579a9-3f3a-3606-bb6d-0a82d5854487",
              "instanceIdentifier" : "63306a93-c08a-3556-7926-1a2fc0af3095",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "31063f90-4738-377a-86fe-e62c1638c4ba",
              "scheduledState" : "ENABLED",
              "targetId" : "959d57d3-018b-1000-4c22-c70bf282da82",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "ab4912bf-a2b7-3ae8-429f-5a08492bbb2e",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : -16.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : {
            "scroll.bucket.size" : "15000",
            "scroll.refresh.index" : "false"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}