flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/9832e099-aa6f-4a33-87f9-b33f37db888a/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "id" : "c6f68ead-8ba9-3df9-b5ad-58e78799e835",
            "instanceIdentifier" : "34965ef4-66ed-3987-808c-c9717606df90",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "identifier" : "6783f4cc-315e-3a61-bc26-d232e12403ca",
          "instanceIdentifier" : "dd4d83a3-6283-3d8e-4ffe-82e99f158274",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
            "id" : "e9e6b3dc-b95f-3497-b880-20ad6f72f0f9",
            "instanceIdentifier" : "07bb13aa-63c5-376b-499b-f8275d813b34",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
            "id" : "86b76f07-87a5-3bbc-b204-8a2c32397a85",
            "instanceIdentifier" : "933afe62-5d44-3b4f-f225-16ee4553c60d",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "identifier" : "b130812a-cb2b-3818-a6b3-f9521ecc2a37",
          "instanceIdentifier" : "def8c34d-db47-3313-3d2e-eb9ef762d814",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "id" : "286116a1-869d-3555-8e9a-be09f22be720",
            "instanceIdentifier" : "46315bf2-9d43-377d-803d-e33800466f92",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "identifier" : "e9e6b3dc-b95f-3497-b880-20ad6f72f0f9",
          "instanceIdentifier" : "07bb13aa-63c5-376b-499b-f8275d813b34",
          "name" : "INPUT",
          "position" : {
            "x" : 2528.0,
            "y" : -664.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "91fb18f9-34d6-14e3-188d-f1576e0fb7f1",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "height" : 312.0,
          "identifier" : "36dd6d51-e341-3bd3-a356-dbb9a66b1c0c",
          "instanceIdentifier" : "ee945dc4-a801-3476-5c11-9ccb4c5a077d",
          "label" : "Price Schema",
          "position" : {
            "x" : 2384.0,
            "y" : -456.0
          },
          "style" : {
            "background-color" : "#d4ffe7",
            "font-size" : "24px"
          },
          "width" : 528.0,
          "zIndex" : 0
        } ],
        "name" : "Price Schema",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "identifier" : "86b76f07-87a5-3bbc-b204-8a2c32397a85",
          "instanceIdentifier" : "933afe62-5d44-3b4f-f225-16ee4553c60d",
          "name" : "OUTPUT",
          "position" : {
            "x" : 2528.0,
            "y" : 8.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "AUTH_JDBC_CONTEXT",
        "position" : {
          "x" : 1872.0,
          "y" : -704.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "id" : "47208ecf-ed34-31ee-beb1-8d34b9c97776",
              "instanceIdentifier" : "060057a0-46d8-345f-7bdd-987b8bf5f7b7",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "bf0b3c0c-c601-3f9e-9828-b58ed804de98",
            "instanceIdentifier" : "67c1174a-277d-305b-d180-71f534724e6b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
              "id" : "c6f68ead-8ba9-3df9-b5ad-58e78799e835",
              "instanceIdentifier" : "34965ef4-66ed-3987-808c-c9717606df90",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
              "id" : "286116a1-869d-3555-8e9a-be09f22be720",
              "instanceIdentifier" : "46315bf2-9d43-377d-803d-e33800466f92",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "ba0e657b-52d7-39d4-a3e8-e842560050b8",
            "instanceIdentifier" : "1611d65e-f270-375c-8035-746f5cd80faa",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "id" : "b792016e-c9e0-3711-8503-2a5956ebbbd5",
              "instanceIdentifier" : "6e896f92-c98e-37bb-e221-290299f1f95e",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "id" : "a21a683c-05ad-3520-97a9-67da24bec050",
              "instanceIdentifier" : "8ea2ede4-8130-360d-1032-4939afa9c7b9",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "12a4ca16-67a9-3cb0-a83e-14b06c4ec256",
            "instanceIdentifier" : "07abd646-e039-3a67-cbc1-4431e5bcdf62",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "id" : "5daccdb2-e794-3838-9425-125e18a77703",
              "instanceIdentifier" : "e386599e-0a0f-36cf-b58f-baccf97768be",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "0df953f0-e2d6-3eed-aae7-73696d76a58f",
          "identifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "c6f68ead-8ba9-3df9-b5ad-58e78799e835",
            "instanceIdentifier" : "34965ef4-66ed-3987-808c-c9717606df90",
            "name" : "INPUT",
            "position" : {
              "x" : 1224.0,
              "y" : -968.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "b0779508-af30-39fe-99e7-392c1f1ead80",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "height" : 320.0,
            "identifier" : "a968bd1a-795f-31fe-96dc-eeded3997203",
            "instanceIdentifier" : "7a416c23-0300-3e66-bd2b-b39ecefc076a",
            "label" : "Price Schema",
            "position" : {
              "x" : 360.0,
              "y" : -896.0
            },
            "style" : {
              "background-color" : "#d4ffe7",
              "font-size" : "24px"
            },
            "width" : 1256.0,
            "zIndex" : 0
          } ],
          "name" : "Price Schema",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "286116a1-869d-3555-8e9a-be09f22be720",
            "instanceIdentifier" : "46315bf2-9d43-377d-803d-e33800466f92",
            "name" : "OUTPUT",
            "position" : {
              "x" : 1224.0,
              "y" : -552.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2456.0,
            "y" : -384.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "d5710c59-d368-3e2c-a4cc-95df53d0f591",
                "instanceIdentifier" : "ba42df8e-ce5f-36ff-ce09-6491059038a6",
                "name" : "Route on auth.create",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "902b485c-b061-386d-9784-aefead6afab1",
              "instanceIdentifier" : "62c453d5-77bd-3057-a6d7-de82f01d90ef",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "ba1f76e9-f50d-38a8-b040-564ab697e988",
                "instanceIdentifier" : "38a4b8fc-0657-3a39-eff5-77edc750149e",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "0119de70-5650-3e79-b349-a1625063968d",
                "instanceIdentifier" : "00cb6d4f-21fa-336e-1760-194ddfae7850",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "2c978d55-059b-3b78-81a8-8f1bf6bb8a11",
              "instanceIdentifier" : "14ad0fc5-99bc-35f1-3576-41c3dca9c5c7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "056e2fc3-6b20-306d-b032-021567527e3c",
                "instanceIdentifier" : "7f50a8b6-35e2-3778-bc42-e1f454395ca7",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "b792016e-c9e0-3711-8503-2a5956ebbbd5",
                "instanceIdentifier" : "6e896f92-c98e-37bb-e221-290299f1f95e",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "f3fae6c0-a095-3f98-9bb4-69eae2551f55",
              "instanceIdentifier" : "1677d177-d2b3-3422-1fe1-bdc61c0bbd90",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "d5710c59-d368-3e2c-a4cc-95df53d0f591",
                "instanceIdentifier" : "ba42df8e-ce5f-36ff-ce09-6491059038a6",
                "name" : "Route on auth.create",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "18088c9e-da21-3640-832c-e134223e5fb1",
                "instanceIdentifier" : "753d8aa0-54d5-345e-70d1-835c8eb46bf7",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "a50fd72e-2d75-3fa5-8851-0390d397950c",
              "instanceIdentifier" : "c2eb8fac-cdd4-3b34-510b-053dd5289cf4",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "ba1f76e9-f50d-38a8-b040-564ab697e988",
                "instanceIdentifier" : "38a4b8fc-0657-3a39-eff5-77edc750149e",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "13a1e31b-9f75-3b99-8e8f-31879d9fa793",
                "instanceIdentifier" : "91fb1907-34d6-14e3-08d8-eba577d3d8b6",
                "name" : "Get cluster.index.shard.allocation",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "77683730-2e0a-3352-8f3d-c5395f9f50b9",
              "instanceIdentifier" : "91fb190a-34d6-14e3-3f9b-43941c31b463",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9307e35b-ebd1-3d99-8024-a1d3066cd380",
                "instanceIdentifier" : "aeda3e7c-60fc-3ad2-cebf-ea7fcdc9cf4e",
                "name" : "Set auto.create",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "c512ea99-02ef-3329-a6f3-b51dcf809186",
                "instanceIdentifier" : "30133a32-2e77-3ca7-d569-1af3b3ccd464",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "8733045a-33da-36ce-a2f3-c9cd165c9224",
              "instanceIdentifier" : "01800c1a-87c3-350d-1c42-89bd59e5e94f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "8aff4949-1c37-3705-9fe7-20a49e3547db",
                "instanceIdentifier" : "845e0adc-daaa-34d6-33de-60b695feeb96",
                "name" : "Define Price index dynamic settings",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "25abb613-e711-3a02-9852-005364d90b87",
                "instanceIdentifier" : "db0fcda9-7494-3da4-a742-0eee5177eaaa",
                "name" : "Define Price index dynamic mappings",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "bafd16e2-bea3-3d06-96f8-43eeafe49c61",
              "instanceIdentifier" : "aac94f9d-8954-367d-55c2-5ed69a1e1488",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "c512ea99-02ef-3329-a6f3-b51dcf809186",
                "instanceIdentifier" : "30133a32-2e77-3ca7-d569-1af3b3ccd464",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "5daccdb2-e794-3838-9425-125e18a77703",
                "instanceIdentifier" : "e386599e-0a0f-36cf-b58f-baccf97768be",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "423d5093-c3cc-365a-8ddd-0971c1b023cd",
              "instanceIdentifier" : "113cc156-44d9-311a-2960-32de8114beb7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "60ae9b3d-1256-3b48-9256-ffe1d5e9e0c3",
                "instanceIdentifier" : "82aa7d39-65f4-3422-ed78-db90a3a3c08d",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : -40.0,
                "y" : 1088.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "0119de70-5650-3e79-b349-a1625063968d",
                "instanceIdentifier" : "00cb6d4f-21fa-336e-1760-194ddfae7850",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "b150a16e-0315-3b3b-aabf-9aeb6a7f6b4a",
              "instanceIdentifier" : "17d27aea-11ea-3ad6-05c5-235cbb006c37",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "82994604-476a-3257-8327-9226ee1a41c9",
                "instanceIdentifier" : "215f4062-67da-3023-f35c-74f99953e5a1",
                "name" : "Check index existence",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "60ae9b3d-1256-3b48-9256-ffe1d5e9e0c3",
                "instanceIdentifier" : "82aa7d39-65f4-3422-ed78-db90a3a3c08d",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "29241c9f-8e60-3f14-99b6-76b69b69f2ce",
              "instanceIdentifier" : "3f16f6fe-1c49-3f2a-b909-2037883ccede",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "21802782-86e7-3e3d-ba40-8edcfa6cd29d",
                "instanceIdentifier" : "eadc02c7-a421-30af-b023-5d7cdbe62e2b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "da587e9c-13c0-36fb-b477-f8095531fcbe",
                "instanceIdentifier" : "749071f1-0400-3b9e-3c53-92735373a21d",
                "name" : "Penalize Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "0be51e69-6224-3652-bc72-777f0a3cdc36",
              "instanceIdentifier" : "44a63897-de80-3744-715d-29037acdb5c0",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "c02c0be8-6e5a-3cc7-8c0a-c87fcf5d1971",
                "instanceIdentifier" : "c7faea7f-8f6e-32e6-714d-6f2243aa8eb7",
                "name" : "Run once on startup",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "3855aaec-9804-3987-a956-6efc51c6cb23",
                "instanceIdentifier" : "bc5c94f0-99d3-30ef-f9fe-2e1f40852251",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "111dcb41-fc5d-3e2f-9b8e-5b0848551fa2",
              "instanceIdentifier" : "54648230-2c07-3a7c-8201-7891e3264b22",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "c512ea99-02ef-3329-a6f3-b51dcf809186",
                "instanceIdentifier" : "30133a32-2e77-3ca7-d569-1af3b3ccd464",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9519a85e-ac18-35be-bc9e-f3c5279c07fb",
                "instanceIdentifier" : "66d6d95b-26e8-3dc4-bfa3-e778bf34600e",
                "name" : "Set index name and shard size",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "697fe0ca-d6f2-32b0-b64b-f27f090f418d",
              "instanceIdentifier" : "91fb190f-34d6-14e3-7e4c-1b7a9e6a9686",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "wait", "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "cd999c25-7101-307f-88ed-862417be3b6e",
                "instanceIdentifier" : "91fb1906-34d6-14e3-6c6a-2e11b552aa84",
                "name" : "Get cluster.index.shard.size",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : -1792.0,
                "y" : 1360.0
              }, {
                "x" : -1792.0,
                "y" : 1296.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "da587e9c-13c0-36fb-b477-f8095531fcbe",
                "instanceIdentifier" : "749071f1-0400-3b9e-3c53-92735373a21d",
                "name" : "Penalize Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "c5b17a9c-84d9-3522-9ce5-efe6d6df55dc",
              "instanceIdentifier" : "331ef7a5-04e6-3906-2ccc-9a286b91b06e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "wait" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "da587e9c-13c0-36fb-b477-f8095531fcbe",
                "instanceIdentifier" : "749071f1-0400-3b9e-3c53-92735373a21d",
                "name" : "Penalize Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "8aff4949-1c37-3705-9fe7-20a49e3547db",
                "instanceIdentifier" : "845e0adc-daaa-34d6-33de-60b695feeb96",
                "name" : "Define Price index dynamic settings",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "1027804b-2ada-3a0d-8ed8-b1525f8280b4",
              "instanceIdentifier" : "32ca42ad-1342-3b0f-7301-beb66cad5a39",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response", "No Retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "056e2fc3-6b20-306d-b032-021567527e3c",
                "instanceIdentifier" : "7f50a8b6-35e2-3778-bc42-e1f454395ca7",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "ba1f76e9-f50d-38a8-b040-564ab697e988",
                "instanceIdentifier" : "38a4b8fc-0657-3a39-eff5-77edc750149e",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "2c0a903b-ffea-3124-8e46-9b55e8d6cb1e",
              "instanceIdentifier" : "797eb0dd-302e-3d0c-2f46-8f8e7c1c8672",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "25abb613-e711-3a02-9852-005364d90b87",
                "instanceIdentifier" : "db0fcda9-7494-3da4-a742-0eee5177eaaa",
                "name" : "Define Price index dynamic mappings",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "60ae9b3d-1256-3b48-9256-ffe1d5e9e0c3",
                "instanceIdentifier" : "82aa7d39-65f4-3422-ed78-db90a3a3c08d",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "dac43639-c4b1-303e-acd1-8068948bee7a",
              "instanceIdentifier" : "f0d1b152-799b-3274-54f0-b437df168e04",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "18088c9e-da21-3640-832c-e134223e5fb1",
                "instanceIdentifier" : "753d8aa0-54d5-345e-70d1-835c8eb46bf7",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "19f30d2a-23c1-3a0a-8436-6de3af82c2df",
                "instanceIdentifier" : "e819fe9c-789a-31f8-5d62-6f08c9ed0722",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "e1141eb4-18ca-3d12-8569-5cdb7d51cbfe",
              "instanceIdentifier" : "aa33232a-e4a7-3802-78c4-311fd70701c4",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "0119de70-5650-3e79-b349-a1625063968d",
                "instanceIdentifier" : "00cb6d4f-21fa-336e-1760-194ddfae7850",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "13a1e31b-9f75-3b99-8e8f-31879d9fa793",
                "instanceIdentifier" : "91fb1907-34d6-14e3-08d8-eba577d3d8b6",
                "name" : "Get cluster.index.shard.allocation",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "350cf275-3308-3600-bd8d-583100a3e1a7",
              "instanceIdentifier" : "e9e7be1b-5fac-351e-3a72-19c2a391601a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "47208ecf-ed34-31ee-beb1-8d34b9c97776",
                "instanceIdentifier" : "060057a0-46d8-345f-7bdd-987b8bf5f7b7",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "2c8a3272-fb6e-3313-b611-1136f032576f",
                "instanceIdentifier" : "91fb1905-34d6-14e3-63dd-9e7eeaf7a666",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "1644239d-3937-3d51-b6d4-e3700a2377ea",
              "instanceIdentifier" : "91fb190c-34d6-14e3-e528-100ca5e7b3b4",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "13a1e31b-9f75-3b99-8e8f-31879d9fa793",
                "instanceIdentifier" : "91fb1907-34d6-14e3-08d8-eba577d3d8b6",
                "name" : "Get cluster.index.shard.allocation",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "21802782-86e7-3e3d-ba40-8edcfa6cd29d",
                "instanceIdentifier" : "eadc02c7-a421-30af-b023-5d7cdbe62e2b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "ab299e44-2b5c-33b9-9079-0e413ce774ff",
              "instanceIdentifier" : "503aa6a1-40f8-3eb1-c8ac-cd24160e0f5f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "19f30d2a-23c1-3a0a-8436-6de3af82c2df",
                "instanceIdentifier" : "e819fe9c-789a-31f8-5d62-6f08c9ed0722",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "21802782-86e7-3e3d-ba40-8edcfa6cd29d",
                "instanceIdentifier" : "eadc02c7-a421-30af-b023-5d7cdbe62e2b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "67245ae0-c33c-3fbb-9f5a-e727bff37410",
              "instanceIdentifier" : "0f47d963-082e-3728-ed13-81054a676b8c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "3855aaec-9804-3987-a956-6efc51c6cb23",
                "instanceIdentifier" : "bc5c94f0-99d3-30ef-f9fe-2e1f40852251",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9307e35b-ebd1-3d99-8024-a1d3066cd380",
                "instanceIdentifier" : "aeda3e7c-60fc-3ad2-cebf-ea7fcdc9cf4e",
                "name" : "Set auto.create",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "63878045-9d01-3045-bb3d-50914d7f8f9f",
              "instanceIdentifier" : "58cba021-ba81-3450-deb1-bc784961d01f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "next" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "da587e9c-13c0-36fb-b477-f8095531fcbe",
                "instanceIdentifier" : "749071f1-0400-3b9e-3c53-92735373a21d",
                "name" : "Penalize Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "cd999c25-7101-307f-88ed-862417be3b6e",
                "instanceIdentifier" : "91fb1906-34d6-14e3-6c6a-2e11b552aa84",
                "name" : "Get cluster.index.shard.size",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "d7b1ebd9-2f62-3072-ac6c-84f7dfdd44f3",
              "instanceIdentifier" : "91fb190b-34d6-14e3-bc10-f18087c98d3e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "wait", "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "13a1e31b-9f75-3b99-8e8f-31879d9fa793",
                "instanceIdentifier" : "91fb1907-34d6-14e3-08d8-eba577d3d8b6",
                "name" : "Get cluster.index.shard.allocation",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "82994604-476a-3257-8327-9226ee1a41c9",
                "instanceIdentifier" : "215f4062-67da-3023-f35c-74f99953e5a1",
                "name" : "Check index existence",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "e2b44d7c-fdf7-3928-8226-cd9c656ec220",
              "instanceIdentifier" : "b3d081dc-01be-37bb-58f3-537cca33d4ef",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9519a85e-ac18-35be-bc9e-f3c5279c07fb",
                "instanceIdentifier" : "66d6d95b-26e8-3dc4-bfa3-e778bf34600e",
                "name" : "Set index name and shard size",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "7bdb917f-caf9-3c55-87da-8bc43c047808",
                "instanceIdentifier" : "4f047231-d974-3ab6-9aeb-5953232a8559",
                "name" : "Create Price index",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "cb0b52d9-2523-36cb-a58e-fdf072b69805",
              "instanceIdentifier" : "ad98a137-2276-35d8-442b-6a02f9d9cc30",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "82994604-476a-3257-8327-9226ee1a41c9",
                "instanceIdentifier" : "215f4062-67da-3023-f35c-74f99953e5a1",
                "name" : "Check index existence",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "2c8a3272-fb6e-3313-b611-1136f032576f",
                "instanceIdentifier" : "91fb1905-34d6-14e3-63dd-9e7eeaf7a666",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "f2fd816d-22ac-34ae-bdb5-36a6e1f5f521",
              "instanceIdentifier" : "91fb190e-34d6-14e3-c0d1-812da96a1786",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "cd999c25-7101-307f-88ed-862417be3b6e",
                "instanceIdentifier" : "91fb1906-34d6-14e3-6c6a-2e11b552aa84",
                "name" : "Get cluster.index.shard.size",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "056e2fc3-6b20-306d-b032-021567527e3c",
                "instanceIdentifier" : "7f50a8b6-35e2-3778-bc42-e1f454395ca7",
                "name" : "PUT Elasticsearch",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "f146a6d8-5d3d-3b05-b393-a8ba270321b3",
              "instanceIdentifier" : "0e05c3f2-1aed-3f9a-4764-45bf6ad7737f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "7bdb917f-caf9-3c55-87da-8bc43c047808",
                "instanceIdentifier" : "4f047231-d974-3ab6-9aeb-5953232a8559",
                "name" : "Create Price index",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9fc4f230-5a2d-31cd-a836-027a0dbde9f3",
                "instanceIdentifier" : "f04ecc3c-f425-3330-586c-87610ac27914",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "72cf4fb7-2b20-344d-9937-a52ecea09c34",
              "instanceIdentifier" : "91fb190d-34d6-14e3-4185-229a3f5ff44d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "2c8a3272-fb6e-3313-b611-1136f032576f",
                "instanceIdentifier" : "91fb1905-34d6-14e3-63dd-9e7eeaf7a666",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : -40.0,
                "y" : 656.0
              }, {
                "x" : 2006.125732421875,
                "y" : 654.5553588867188
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "8aff4949-1c37-3705-9fe7-20a49e3547db",
                "instanceIdentifier" : "845e0adc-daaa-34d6-33de-60b695feeb96",
                "name" : "Define Price index dynamic settings",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "b4805783-4056-3f1f-ad48-793790d5aae8",
              "instanceIdentifier" : "1c251d2a-6e94-3cd4-ba50-0d7aa5f7caf6",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "82994604-476a-3257-8327-9226ee1a41c9",
                "instanceIdentifier" : "215f4062-67da-3023-f35c-74f99953e5a1",
                "name" : "Check index existence",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "19f30d2a-23c1-3a0a-8436-6de3af82c2df",
                "instanceIdentifier" : "e819fe9c-789a-31f8-5d62-6f08c9ed0722",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "604b7a6e-0a2e-3ee8-93ff-26bfdd9991a6",
              "instanceIdentifier" : "62b2eaf0-1b97-349a-dbf2-faaaefce0e3f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
                "id" : "9fc4f230-5a2d-31cd-a836-027a0dbde9f3",
                "instanceIdentifier" : "f04ecc3c-f425-3330-586c-87610ac27914",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "9fc4f230-5a2d-31cd-a836-027a0dbde9f3",
              "instanceIdentifier" : "f04ecc3c-f425-3330-586c-87610ac27914",
              "position" : {
                "x" : -64.0,
                "y" : 1256.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "21802782-86e7-3e3d-ba40-8edcfa6cd29d",
              "instanceIdentifier" : "eadc02c7-a421-30af-b023-5d7cdbe62e2b",
              "position" : {
                "x" : 2656.0,
                "y" : 1256.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "19f30d2a-23c1-3a0a-8436-6de3af82c2df",
              "instanceIdentifier" : "e819fe9c-789a-31f8-5d62-6f08c9ed0722",
              "position" : {
                "x" : 1296.0,
                "y" : 1256.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "2c8a3272-fb6e-3313-b611-1136f032576f",
              "instanceIdentifier" : "91fb1905-34d6-14e3-63dd-9e7eeaf7a666",
              "position" : {
                "x" : -1464.0,
                "y" : 1256.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "60ae9b3d-1256-3b48-9256-ffe1d5e9e0c3",
              "instanceIdentifier" : "82aa7d39-65f4-3422-ed78-db90a3a3c08d",
              "position" : {
                "x" : 3992.0,
                "y" : 1256.0
              }
            } ],
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "47208ecf-ed34-31ee-beb1-8d34b9c97776",
              "instanceIdentifier" : "060057a0-46d8-345f-7bdd-987b8bf5f7b7",
              "name" : "INPUT",
              "position" : {
                "x" : -2896.0,
                "y" : 832.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "4556215b-f384-35db-f8db-4fe576b21385",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "height" : 1024.0,
              "identifier" : "df8bd9a7-d3ff-3089-8b32-09fb3659b225",
              "instanceIdentifier" : "91fb1909-34d6-14e3-18ff-19021464028d",
              "label" : "Setup Elasticsearch Index Schema",
              "position" : {
                "x" : -2776.0,
                "y" : 600.0
              },
              "style" : {
                "background-color" : "#d4ffe7",
                "font-size" : "24px"
              },
              "width" : 8120.0,
              "zIndex" : 0
            } ],
            "name" : "Setup Elasticsearch Index Schema",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "5daccdb2-e794-3838-9425-125e18a77703",
              "instanceIdentifier" : "e386599e-0a0f-36cf-b58f-baccf97768be",
              "name" : "ERROR",
              "position" : {
                "x" : 5216.0,
                "y" : 1256.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "b792016e-c9e0-3711-8503-2a5956ebbbd5",
              "instanceIdentifier" : "6e896f92-c98e-37bb-e221-290299f1f95e",
              "name" : "OUTPUT",
              "position" : {
                "x" : 5216.0,
                "y" : 832.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1152.0,
              "y" : -824.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "c02c0be8-6e5a-3cc7-8c0a-c87fcf5d1971",
              "instanceIdentifier" : "c7faea7f-8f6e-32e6-714d-6f2243aa8eb7",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Run once on startup",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -1616.0,
                "y" : 1376.0
              },
              "properties" : {
                "character-set" : "UTF-8",
                "File Size" : "0B",
                "Batch Size" : "1",
                "Unique FlowFiles" : "false",
                "Data Format" : "Text"
              },
              "propertyDescriptors" : {
                "character-set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "character-set",
                  "sensitive" : false
                },
                "File Size" : {
                  "displayName" : "File Size",
                  "identifiesControllerService" : false,
                  "name" : "File Size",
                  "sensitive" : false
                },
                "mime-type" : {
                  "displayName" : "Mime Type",
                  "identifiesControllerService" : false,
                  "name" : "mime-type",
                  "sensitive" : false
                },
                "generate-ff-custom-text" : {
                  "displayName" : "Custom Text",
                  "identifiesControllerService" : false,
                  "name" : "generate-ff-custom-text",
                  "sensitive" : false
                },
                "Batch Size" : {
                  "displayName" : "Batch Size",
                  "identifiesControllerService" : false,
                  "name" : "Batch Size",
                  "sensitive" : false
                },
                "Unique FlowFiles" : {
                  "displayName" : "Unique FlowFiles",
                  "identifiesControllerService" : false,
                  "name" : "Unique FlowFiles",
                  "sensitive" : false
                },
                "Data Format" : {
                  "displayName" : "Data Format",
                  "identifiesControllerService" : false,
                  "name" : "Data Format",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "36500 days",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#949494"
              },
              "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "25abb613-e711-3a02-9852-005364d90b87",
              "instanceIdentifier" : "db0fcda9-7494-3da4-a742-0eee5177eaaa",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Define Price index dynamic mappings",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 3168.0,
                "y" : 792.0
              },
              "properties" : {
                "Regular Expression" : "(?s)(^.*$)",
                "Replacement Value" : "{\n\t\"dynamic\": \"true\",\n\t\"date_detection\": \"false\",\n\t\"numeric_detection\": \"false\",\n\t\"properties\": {\n\t\t\"id\": {\n\t\t\t\"properties\": {\n\t\t\t\t\"store\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"catentry\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"language\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"catalog\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"member\": {\n\t\t\t\t\t\"type\": \"keyword\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"eager_global_ordinals\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"index_options\": \"docs\",\n\t\t\t\t\t\"norms\": \"false\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"__meta\": {\n\t\t\t\"properties\": {\n\t\t\t\t\"created\": {\n\t\t\t\t\t\"type\": \"date\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"modified\": {\n\t\t\t\t\t\"type\": \"date\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t},\n\t\t\t\t\"version\": {\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"min\": {\n\t\t\t\t\t\t\t\"type\": \"integer\",\n\t\t\t\t\t\t\t\"coerce\": \"true\",\n\t\t\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"max\": {\n\t\t\t\t\t\t\t\"type\": \"integer\",\n\t\t\t\t\t\t\t\"coerce\": \"true\",\n\t\t\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t},\n\t\"dynamic_templates\": [\n\t\t{\n\t\t\t\"prices\": {\n\t\t\t\t\"match_mapping_type\": \"*\",\n\t\t\t\t\"path_match\": \"prices.*.*\",\n\t\t\t\t\"mapping\": {\n\t\t\t\t\t\"type\": \"float\",\n\t\t\t\t\t\"coerce\": \"true\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"numeric\": {\n\t\t\t\t\"match_mapping_type\": \"*\",\n\t\t\t\t\"path_match\": \"*.numeric\",\n\t\t\t\t\"mapping\": {\n\t\t\t\t\t\"type\": \"float\",\n\t\t\t\t\t\"coerce\": \"true\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"date\": {\n\t\t\t\t\"match_mapping_type\": \"*\",\n\t\t\t\t\"path_match\": \"*.date\",\n\t\t\t\t\"mapping\": {\n\t\t\t\t\t\"type\": \"float\",\n\t\t\t\t\t\"coerce\": \"true\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"ignore_malformed\": \"false\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"boolean\": {\n\t\t\t\t\"match_mapping_type\": \"*\",\n\t\t\t\t\"path_match\": \"*.boolean\",\n\t\t\t\t\"mapping\": {\n\t\t\t\t\t\"type\": \"boolean\",\n\t\t\t\t\t\"doc_values\": \"true\",\n\t\t\t\t\t\"index\": \"true\",\n\t\t\t\t\t\"store\": \"true\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t]\n}\n",
                "Evaluation Mode" : "Entire text",
                "Line-by-Line Evaluation Mode" : "All",
                "Character Set" : "UTF-8",
                "Maximum Buffer Size" : "1 MB",
                "Replacement Strategy" : "Always Replace"
              },
              "propertyDescriptors" : {
                "Regular Expression" : {
                  "displayName" : "Search Value",
                  "identifiesControllerService" : false,
                  "name" : "Regular Expression",
                  "sensitive" : false
                },
                "Replacement Value" : {
                  "displayName" : "Replacement Value",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Value",
                  "sensitive" : false
                },
                "Evaluation Mode" : {
                  "displayName" : "Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Evaluation Mode",
                  "sensitive" : false
                },
                "Text to Prepend" : {
                  "displayName" : "Text to Prepend",
                  "identifiesControllerService" : false,
                  "name" : "Text to Prepend",
                  "sensitive" : false
                },
                "Line-by-Line Evaluation Mode" : {
                  "displayName" : "Line-by-Line Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Line-by-Line Evaluation Mode",
                  "sensitive" : false
                },
                "Character Set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "Character Set",
                  "sensitive" : false
                },
                "Maximum Buffer Size" : {
                  "displayName" : "Maximum Buffer Size",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Buffer Size",
                  "sensitive" : false
                },
                "Replacement Strategy" : {
                  "displayName" : "Replacement Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Strategy",
                  "sensitive" : false
                },
                "Text to Append" : {
                  "displayName" : "Text to Append",
                  "identifiesControllerService" : false,
                  "name" : "Text to Append",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffcc00"
              },
              "type" : "org.apache.nifi.processors.standard.ReplaceText",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "ba1f76e9-f50d-38a8-b040-564ab697e988",
              "instanceIdentifier" : "38a4b8fc-0657-3a39-eff5-77edc750149e",
              "maxBackoffPeriod" : "1 min",
              "name" : "PUT Elasticsearch",
              "penaltyDuration" : "2 sec",
              "position" : {
                "x" : 3840.0,
                "y" : 792.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "15 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/${index.name}/_mappings",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "45 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "PUT",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "true"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "c512ea99-02ef-3329-a6f3-b51dcf809186",
              "instanceIdentifier" : "30133a32-2e77-3ca7-d569-1af3b3ccd464",
              "maxBackoffPeriod" : "1 min",
              "name" : "PUT Elasticsearch",
              "penaltyDuration" : "2 sec",
              "position" : {
                "x" : 2504.0,
                "y" : 792.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "15 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/${index.name}/_settings",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "45 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "PUT",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "true"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "9307e35b-ebd1-3d99-8024-a1d3066cd380",
              "instanceIdentifier" : "aeda3e7c-60fc-3ad2-cebf-ea7fcdc9cf4e",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set auto.create",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -2320.0,
                "y" : 1088.0
              },
              "properties" : {
                "environment.name" : "${connector.name:substringBefore('.')}",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "auto.create.workspace" : "true"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "environment.name" : {
                  "displayName" : "environment.name",
                  "identifiesControllerService" : false,
                  "name" : "environment.name",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "auto.create.workspace" : {
                  "displayName" : "auto.create.workspace",
                  "identifiesControllerService" : false,
                  "name" : "auto.create.workspace",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "cd999c25-7101-307f-88ed-862417be3b6e",
              "instanceIdentifier" : "91fb1906-34d6-14e3-6c6a-2e11b552aa84",
              "maxBackoffPeriod" : "10 secs",
              "name" : "Get cluster.index.shard.size",
              "penaltyDuration" : "2 sec",
              "position" : {
                "x" : -1616.0,
                "y" : 792.0
              },
              "properties" : {
                "Flowfile Attribute Name" : "cluster.index.shard.size",
                "Cache Name" : "services/cache/nifi/Statistics",
                "Environment Type" : "auth",
                "Cache Entry Key" : "cluster.index.shard.size"
              },
              "propertyDescriptors" : {
                "Flowfile Attribute Name" : {
                  "displayName" : "Flowfile Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Flowfile Attribute Name",
                  "sensitive" : false
                },
                "Cache Name" : {
                  "displayName" : "Cache Name",
                  "identifiesControllerService" : false,
                  "name" : "Cache Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                },
                "Cache Entry Key" : {
                  "displayName" : "Cache Entry Key",
                  "identifiesControllerService" : false,
                  "name" : "Cache Entry Key",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "wait" ],
              "retryCount" : 100,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GetCacheEntry",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "da587e9c-13c0-36fb-b477-f8095531fcbe",
              "instanceIdentifier" : "749071f1-0400-3b9e-3c53-92735373a21d",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Penalize Document",
              "penaltyDuration" : "5 sec",
              "position" : {
                "x" : -2320.0,
                "y" : 1376.0
              },
              "properties" : { },
              "propertyDescriptors" : { },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.PenalizeDocument",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "13a1e31b-9f75-3b99-8e8f-31879d9fa793",
              "instanceIdentifier" : "91fb1907-34d6-14e3-08d8-eba577d3d8b6",
              "maxBackoffPeriod" : "10 secs",
              "name" : "Get cluster.index.shard.allocation",
              "penaltyDuration" : "2 sec",
              "position" : {
                "x" : -2320.0,
                "y" : 792.0
              },
              "properties" : {
                "Flowfile Attribute Name" : "cluster.index.shard.allocation",
                "Cache Name" : "services/cache/nifi/Statistics",
                "Environment Type" : "auth",
                "Cache Entry Key" : "cluster.index.shard.allocation"
              },
              "propertyDescriptors" : {
                "Flowfile Attribute Name" : {
                  "displayName" : "Flowfile Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Flowfile Attribute Name",
                  "sensitive" : false
                },
                "Cache Name" : {
                  "displayName" : "Cache Name",
                  "identifiesControllerService" : false,
                  "name" : "Cache Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                },
                "Cache Entry Key" : {
                  "displayName" : "Cache Entry Key",
                  "identifiesControllerService" : false,
                  "name" : "Cache Entry Key",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "wait" ],
              "retryCount" : 100,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GetCacheEntry",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "18088c9e-da21-3640-832c-e134223e5fb1",
              "instanceIdentifier" : "753d8aa0-54d5-345e-70d1-835c8eb46bf7",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log error message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 3840.0,
                "y" : 1024.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Elasticsearch in ${stage.name} cannot be completed with ${invokehttp.status.message} (${invokehttp.status.code}) status",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "7bdb917f-caf9-3c55-87da-8bc43c047808",
              "instanceIdentifier" : "4f047231-d974-3ab6-9aeb-5953232a8559",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Create Price index",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 472.0,
                "y" : 792.0
              },
              "properties" : {
                "Regular Expression" : "(?s)(^.*$)",
                "Replacement Value" : "{\n\t\"settings\": {\n\t\t\"number_of_shards\": \"${index.shard.size}\",\n\t\t\"index.routing.allocation.require.env\": \"${cluster.index.shard.allocation}\",\n\t\t\"index.store.type\": \"${index.store.type}\",\n\t\t\"analysis\": {\n\t\t\t\"normalizer\": {\n\t\t\t\t\"lowercase\": {\n\t\t\t\t\t\"type\": \"custom\",\n\t\t\t\t\t\"char_filter\": [],\n\t\t\t\t\t\"filter\": [\n\t\t\t\t\t\t\"lowercase\",\n\t\t\t\t\t\t\"asciifolding\"\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}",
                "Evaluation Mode" : "Entire text",
                "Line-by-Line Evaluation Mode" : "All",
                "Character Set" : "UTF-8",
                "Maximum Buffer Size" : "1 MB",
                "Replacement Strategy" : "Always Replace"
              },
              "propertyDescriptors" : {
                "Regular Expression" : {
                  "displayName" : "Search Value",
                  "identifiesControllerService" : false,
                  "name" : "Regular Expression",
                  "sensitive" : false
                },
                "Replacement Value" : {
                  "displayName" : "Replacement Value",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Value",
                  "sensitive" : false
                },
                "Evaluation Mode" : {
                  "displayName" : "Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Evaluation Mode",
                  "sensitive" : false
                },
                "Text to Prepend" : {
                  "displayName" : "Text to Prepend",
                  "identifiesControllerService" : false,
                  "name" : "Text to Prepend",
                  "sensitive" : false
                },
                "Line-by-Line Evaluation Mode" : {
                  "displayName" : "Line-by-Line Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Line-by-Line Evaluation Mode",
                  "sensitive" : false
                },
                "Character Set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "Character Set",
                  "sensitive" : false
                },
                "Maximum Buffer Size" : {
                  "displayName" : "Maximum Buffer Size",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Buffer Size",
                  "sensitive" : false
                },
                "Replacement Strategy" : {
                  "displayName" : "Replacement Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Strategy",
                  "sensitive" : false
                },
                "Text to Append" : {
                  "displayName" : "Text to Append",
                  "identifiesControllerService" : false,
                  "name" : "Text to Append",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffcc00"
              },
              "type" : "org.apache.nifi.processors.standard.ReplaceText",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "3855aaec-9804-3987-a956-6efc51c6cb23",
              "instanceIdentifier" : "bc5c94f0-99d3-30ef-f9fe-2e1f40852251",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log error message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2504.0,
                "y" : 1024.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Elasticsearch in ${stage.name} cannot be completed with ${invokehttp.status.message} (${invokehttp.status.code}) status",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "8aff4949-1c37-3705-9fe7-20a49e3547db",
              "instanceIdentifier" : "845e0adc-daaa-34d6-33de-60b695feeb96",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Define Price index dynamic settings",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 1832.0,
                "y" : 792.0
              },
              "properties" : {
                "Regular Expression" : "(?s)(^.*$)",
                "Replacement Value" : "{\n\t\"number_of_replicas\": 0,\n\t\"refresh_interval\": \"1s\",\n    \"index.mapping.total_fields.limit\": \"${index.field.limit}\",\n    \"max_result_window\": \"${index.result.window}\"\n}\n",
                "Evaluation Mode" : "Entire text",
                "Line-by-Line Evaluation Mode" : "All",
                "Character Set" : "UTF-8",
                "Maximum Buffer Size" : "1 MB",
                "Replacement Strategy" : "Always Replace"
              },
              "propertyDescriptors" : {
                "Regular Expression" : {
                  "displayName" : "Search Value",
                  "identifiesControllerService" : false,
                  "name" : "Regular Expression",
                  "sensitive" : false
                },
                "Replacement Value" : {
                  "displayName" : "Replacement Value",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Value",
                  "sensitive" : false
                },
                "Evaluation Mode" : {
                  "displayName" : "Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Evaluation Mode",
                  "sensitive" : false
                },
                "Text to Prepend" : {
                  "displayName" : "Text to Prepend",
                  "identifiesControllerService" : false,
                  "name" : "Text to Prepend",
                  "sensitive" : false
                },
                "Line-by-Line Evaluation Mode" : {
                  "displayName" : "Line-by-Line Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Line-by-Line Evaluation Mode",
                  "sensitive" : false
                },
                "Character Set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "Character Set",
                  "sensitive" : false
                },
                "Maximum Buffer Size" : {
                  "displayName" : "Maximum Buffer Size",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Buffer Size",
                  "sensitive" : false
                },
                "Replacement Strategy" : {
                  "displayName" : "Replacement Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Strategy",
                  "sensitive" : false
                },
                "Text to Append" : {
                  "displayName" : "Text to Append",
                  "identifiesControllerService" : false,
                  "name" : "Text to Append",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffcc00"
              },
              "type" : "org.apache.nifi.processors.standard.ReplaceText",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "0119de70-5650-3e79-b349-a1625063968d",
              "instanceIdentifier" : "00cb6d4f-21fa-336e-1760-194ddfae7850",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log error message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 1144.0,
                "y" : 1024.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Elasticsearch in ${stage.name} cannot be completed with ${invokehttp.status.message} (${invokehttp.status.code}) status",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "auto.create" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "d5710c59-d368-3e2c-a4cc-95df53d0f591",
              "instanceIdentifier" : "ba42df8e-ce5f-36ff-ce09-6491059038a6",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on auth.create",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 4528.0,
                "y" : 792.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "auto.create" : "${auto.create.workspace:equalsIgnoreCase('true')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "auto.create" : {
                  "displayName" : "auto.create",
                  "identifiesControllerService" : false,
                  "name" : "auto.create",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "056e2fc3-6b20-306d-b032-021567527e3c",
              "instanceIdentifier" : "7f50a8b6-35e2-3778-bc42-e1f454395ca7",
              "maxBackoffPeriod" : "1 min",
              "name" : "PUT Elasticsearch",
              "penaltyDuration" : "2 sec",
              "position" : {
                "x" : 1144.0,
                "y" : 792.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "15 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/${index.name}",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "45 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "PUT",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "true"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "Retry", "Failure" ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "82994604-476a-3257-8327-9226ee1a41c9",
              "instanceIdentifier" : "215f4062-67da-3023-f35c-74f99953e5a1",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Check index existence",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -216.0,
                "y" : 792.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/_cat/indices/${index.name}",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "GET",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f6728cc5-94eb-3e2c-b267-fb326b003a52",
              "identifier" : "9519a85e-ac18-35be-bc9e-f3c5279c07fb",
              "instanceIdentifier" : "66d6d95b-26e8-3dc4-bfa3-e778bf34600e",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set index name and shard size",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -912.0,
                "y" : 792.0
              },
              "properties" : {
                "stage.name" : "Price Schema",
                "index.name" : "${environment.name}.price",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "index.replicas" : "${index.replicas}",
                "index.shard.size" : "${cluster.index.shard.size}"
              },
              "propertyDescriptors" : {
                "stage.name" : {
                  "displayName" : "stage.name",
                  "identifiesControllerService" : false,
                  "name" : "stage.name",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "index.name" : {
                  "displayName" : "index.name",
                  "identifiesControllerService" : false,
                  "name" : "index.name",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "index.replicas" : {
                  "displayName" : "index.replicas",
                  "identifiesControllerService" : false,
                  "name" : "index.replicas",
                  "sensitive" : false
                },
                "index.shard.size" : {
                  "displayName" : "index.shard.size",
                  "identifiesControllerService" : false,
                  "name" : "index.shard.size",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : {
              "index.store.type" : "mmapfs",
              "index.replicas" : "0",
              "index.result.window" : "20000",
              "index.field.limit" : "300000"
            }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "db313d3a-99d2-3bf6-a6b7-4ae1baf1267a",
            "identifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "dc068bfe-3ad8-3a5c-8601-5d1ef5743568",
              "instanceIdentifier" : "00062a84-59cc-3804-50ad-8bd643899c7c",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2df8c-0190-1000-a232-3919d71409be",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "a047f940-60b2-3df1-a080-b325288cd095",
              "instanceIdentifier" : "b18c4208-7a41-3ef9-72b4-c3b3d18652e4",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2e02e-0190-1000-3c6a-1a73a2027cee",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "af1f36df-86a0-3bbe-8225-81110316dbc1",
              "instanceIdentifier" : "4732fd6a-a634-3fdd-3ceb-f78648368ae7",
              "name" : "Routing INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "57a65fe0-7ecb-35a0-8729-80ff18b13f61",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "7f494636-b7e8-388a-8b6b-d150c7022f40",
              "instanceIdentifier" : "b7060148-68c0-3ddc-56d7-57fcc59d30d5",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2de31-0190-1000-ae42-e0d60e9e5922",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "9fb2c3fe-d3e8-3868-9771-af36bc5fff77",
              "instanceIdentifier" : "655ed1de-b55f-37dd-7fda-09fd1446104d",
              "name" : "Run INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2dcf8-0190-1000-ed63-ee94bc2293c6",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "a21a683c-05ad-3520-97a9-67da24bec050",
              "instanceIdentifier" : "8ea2ede4-8130-360d-1032-4939afa9c7b9",
              "name" : "Logger INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2dc80-0190-1000-045c-78ff52d931e3",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "78a28020-88b6-306e-ad12-5651be32e7fe",
              "instanceIdentifier" : "c24f60cf-2278-3085-bf39-7498bc25f0b6",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2dfdd-0190-1000-5a98-f51df89dbbac",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "3d65e850-1004-307b-987a-aeba25208f66",
              "instanceIdentifier" : "7ec030c4-487b-35a8-80e4-885777162c6d",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2ded9-0190-1000-569a-bbd66bb88bb4",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "dd24e53c-2b1f-3817-9129-a01990dca088",
              "instanceIdentifier" : "cf6a962c-072f-3bef-47e1-ae465baf3c78",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2df3b-0190-1000-75b3-0c4347f7d9c1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "5d3d80ca-ae71-3376-a6cf-5acec430ed9a",
              "instanceIdentifier" : "cbb6fe85-3947-35bc-a23d-8f2ef59d39e0",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2dd5b-0190-1000-d8b4-b44d196981cd",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "17231e35-87f9-39d3-b5d9-e1845a5f8fd8",
              "instanceIdentifier" : "786d8e61-4586-33d6-7e0a-a4e86c24432b",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2de85-0190-1000-3c34-6e018026622f",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "36b98d84-0b97-3060-a614-74c0e92c51b0",
              "instanceIdentifier" : "7b752f28-5b4b-3521-088b-734401cf3fe4",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2e0d9-0190-1000-ed58-d150003c9104",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "0c04dba1-be8e-3c51-9eb4-6f71c2f8d5b3",
              "instanceIdentifier" : "54e67a78-adb7-3e23-0a4c-130051b7560e",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2dddc-0190-1000-a0b8-95812a1ad12b",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "identifier" : "1598158c-8d7a-331a-b854-deb352d3c808",
              "instanceIdentifier" : "52dc5e99-e275-3226-3c21-42151ea7fde7",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "2075381e-b4d3-3254-b870-6163dc8c69c0",
              "scheduledState" : "ENABLED",
              "targetId" : "b7b2e089-0190-1000-2edb-b52c6ca19e55",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "740d2af2-7ce9-3730-b43f-0779f3905ab1",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 440.0,
              "y" : -824.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "AUTH_JDBC_CONTEXT" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "AUTH_JDBC_CONTEXT",
          "parameters" : [ {
            "description" : "JDBC URL",
            "name" : "JDBC_URL",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_URL}"
          }, {
            "description" : "JDBC USER PASSWORD",
            "name" : "JDBC_USER_PASSWORD",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "JDBC DRIVER LOCATION",
            "name" : "JDBC_DRIVER_LOCATION",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_LOCATION}"
          }, {
            "description" : "JDBC DRIVER CLASSNAME",
            "name" : "JDBC_DRIVER_CLASSNAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_DRIVER_CLASSNAME}"
          }, {
            "description" : "JDBC USER NAME",
            "name" : "JDBC_USER_NAME",
            "provided" : false,
            "sensitive" : false,
            "value" : "${AUTH_JDBC_USER_NAME}"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}