flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/b4aa90d7-6e49-4e46-acf8-3be924e08053/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "id" : "d2636ff8-606d-39c8-95f7-6bcd41274845",
            "instanceIdentifier" : "309f6efb-4f79-3c21-3706-1d2d83be8e7d",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "54f80009-4eed-32e3-b550-2f1ede841a94",
          "instanceIdentifier" : "a396a1ad-fba9-36ca-73a9-6c517415cce9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "400e14d8-d99d-313f-98ef-fda03b196417",
            "id" : "13bfee9a-2a18-368b-8454-0ab260883019",
            "instanceIdentifier" : "75100741-70e0-3791-fb9b-66821aa60d20",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "id" : "be0b8043-4417-35b1-a44f-d2c2bcb0727d",
            "instanceIdentifier" : "5e554618-2385-374d-26e3-f42ec2a500f8",
            "name" : "Logger INPUT",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "2ba3f234-4ca5-3b7d-b04f-e0da5cdddbd1",
          "instanceIdentifier" : "29e7bcbd-6bba-3e59-d6c2-1f024f7da6df",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "id" : "35d2d9b2-d90d-394d-9491-3b51ba9817b9",
            "instanceIdentifier" : "3cc1b95c-de89-3f6e-6e21-f2d14dddfecb",
            "name" : "ERROR",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "a9fac142-716f-3f9a-a214-93ee58d06987",
          "instanceIdentifier" : "92b7a370-c0c0-3645-db85-f966d32881fc",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "13bfee9a-2a18-368b-8454-0ab260883019",
          "instanceIdentifier" : "75100741-70e0-3791-fb9b-66821aa60d20",
          "name" : "INPUT",
          "position" : {
            "x" : -960.0,
            "y" : 208.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "a807c299-018d-1000-5935-42003bea3d35",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "height" : 1272.0,
          "identifier" : "c89b881e-90f5-3a39-90ef-64ac05437a13",
          "instanceIdentifier" : "0fea2b02-9794-30a8-e52e-486e5c8681e5",
          "label" : "This Bulk Service component is a funnel that can be used to control the dataflow going in a particular\nsearch index in Elasticsearch.  Data sent through this service must be in an Elasticsearch bulk format\nas the _bulk endpoint will be used in Elasticsearch for the ingest operation. In addition, this service\nhas the ability to throttle and retry bulk ingest requests to ensure the backend Elasticsearch service\ndoes not get overloaded.  Note that it is not recommended to mix traffic for other indexes in this\nservice as doing this could skew statistics collected for the Ingest Performance Dashboard.\n \nTrackBulkRequest, RetryDocument, and AnalyzeBulkResponse, work in as one single group to track for\nBulk Service activities in the WaitLink framework.  There are three key trackers used within the\nBulk Service and here is a quick summary:\n \n- bulk activity tracker - a notion representing activity still exists in one or more Bulk Services\n- bulk identifier - used for tracking the total number of flowfiles of a given stage in Bulk Service\n- bulk.id - uuid of the flowfile inside of Bulk Service\n \nTrackBulkRequest\n \n- when a flowfile enters the Bulk Service process group, a bulk activity tracker (for WaitCache)\n  which is in the form of \"bulk-<connector>-<flow>-<run>\" will be assigned with the current timestamp\n  so that the flow can be registered to the current stage as a notion that Bulk operation is in\n  progress. Note that this bulk activity tracker is just a notion for tracking bulk activity in any\n  of the Bulk Services.\n- at the same time, another cache key known as a Bulk Identifier is generated and attached to the\n  flowfile.  A Bulk Identifier can be interpreted as a unique identifier for tracking a dataflow of\n  a given stage within the Bulk Service.  Format of a Bulk Identifier is as follows:\n  \"bulk-${bulk.index.type}-${connector.name}-${flow.name}-${param.storeId}-${param.langId}-${run.id}\"\n  This identifier remains the same within the entire Bulk Service and is used to represent the number\n  of flowfiles of any given stage that are currently being processed within that Bulk Service.\n- another uuid, known as bulk.id, is generated for each flowfile. A bulk.id can be interpreted as the\n  unique id of a flowfile within any given Bulk Service.  Note that bulk.id is different from the NiFi\n  flowfile's uuid.  This is because there are many situations within the Bulk Service where the same\n  flowfile is being cloned or re-created at a later time, causing the flowfile uuid to be different.\n  So in order to properly track all the flowfile activities within the Bulk Service, bulk.id should be\n  used instead.\n- because all incoming flowfiles should have a Bulk Id attached, it is possible to trace the dataflow\n  of each catalog entry inside of the Bulk Service.  This can be achieved by mapping the flowfile's\n  bulk.id to a catalog entry specified inside of the flowfile's content body.\n- an optional TTL configuration can be set to this cache key to avoid memory overflow in an event of a\n  runaway flow bug; but in normal situation this TTL should not be needed and can be set to 0 to disable.\n \nControlRate\n \n- another optional throttling setting can be use to slow down the dataflow throughput.  See ControlRate\n  processor documentation from NiFi for more information.\n \nRetryDocument\n \n- RetryDocument processor implements a retry wait queue that is used together with AnalyzeBulkResponse.\n  Due to the nature of how Elasticsearch handles bulk requests, a misleading HTTP status code of 200 is\n  returned even when there is a partial failure in one or more entries inside of the bulk request. The\n  AnalyzeBulkResponse processor is therefore built to analyze the payload of every bulk service response\n  returned from Elasticsearch, not just by simply looking at the HTTP status code.\n- given this reason mentioned above, a special technique is needed to preserve the original request body\n  of each bulk request, and in an event of partial or complete failure, the entire request can be resend\n  to Elasticsearch for re-processing.  This can be achieved by keeping a separate copy of each flowfile\n  and then track its progress in the Bulk Service using its Bulk Id.\n- this processor monitors several cache keys for event updates, in particular \"release-<bulk.id>\" and\n  \"retry-<bulk.id>\". \"release-<bulk.id>\" is an event notification of the flowfile with such bulk.id can\n  be removed from the retry queue.  While \"retry-<bulk.id>\" contains a list of document ids that are\n  required for retry when \"flow.retry.partial\" ingest configuration is enabled. \"flow.retry.partial\" is\n  defaulted to false, meaning all partial failure will retry the entire bulk request instead.\n- in a special case where no signal has been received after the flowfile has been queued / waiting in\n  RetryDocument for more than the configurable TTL amount of seconds, this processor will simply release\n  the flowfile and send it to Elasticsearch for re-processing instead.\n \n",
          "position" : {
            "x" : 184.0,
            "y" : 64.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "16px"
          },
          "width" : 792.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "height" : 664.0,
          "identifier" : "28fa6bc2-be93-3d34-be16-25ba01ecd68e",
          "instanceIdentifier" : "01689957-e184-38da-97b1-80d0aaf72483",
          "label" : "Bulk Service - Description",
          "position" : {
            "x" : -840.0,
            "y" : 64.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "24px"
          },
          "width" : 960.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "height" : 1008.0,
          "identifier" : "7d2bb14b-3f9c-3c93-8fa4-dc10860ef906",
          "instanceIdentifier" : "e13076cb-ac7f-34eb-271b-9d8e35d05fcb",
          "label" : " \nAnalyzeBulkResponse\n \n- AnalyzeBulkResponse processor is used immediately after calling Elasticsearch in the Bulk Service to\n  inspect and process the response returned from Elasticsearch. It not only reads the HTTP status code,\n  this process can also dig into the Elasticsearch bulk response to inspect the individual request status\n  of each bulk entry.  The purpose is to determine whether to retry the entire or partial request in an\n  event where a failure is found.\n- the following two cache counters are used to track the current number of active flowfiles inside of\n  the Bulk Service.  These counters can later be used for determining whether to send a signal to Redis\n  through HCL Cache to notify all subscribers that the current stage is completed.\n- BulkCache (\"services/cache/nifi/Bulk\") is for co-ordinating flowfiles parked inside of Retry process\n  group and this processor\n- WaitCache (\"services/cache/nifi/Wait\") is used for keeping track of the total number of flowfiles\n  remaining for processing in the current stage\n- to determine whether a bulk request has been processed completely or partially successful, each\n  Elasticsearch response can be interpreted using the following logic:\n \n  - No HTTP status code\n    This is normally caused by connection or socket read timeout.  This processor will submit a cache\n    entry in Bulk Cache to tell RetryDocument to retry this entire bulk service request.\n  - HTTP status codes above 400 (such as 429, 500, 503) except 504\n    This error is caused by server side unavailability.  This processor will simply submit a retry\n    signal to Bulk Cache.\n  - HTTP status code inclusively in between 200 and 205\n    When request level status codes is within this range, it does not mean the entire bulk request has\n    been successfully processed completely.  In order to determine a partially completed request and\n    identify the failed document entries within the bulk request, it is necessary to walk through the\n    entire response to check for each document's individual status code. If \"flow.retry.partial\" is\n    enabled, only those failed entries will be retried. Otherwise, the entire bulk request will be\n    submitted for retry instead.\n  - HTTP status code is 200 (OK) but with an empty response body\n    This can happen when a read socket timeout happens in Elasticsearch.  This processor will simply\n    submit a retry signal to Bulk Cache to retry the entire request.\n  - one last thing this processor does before terminating is to check whether all the bulk requests for\n    the current stage has been completed.  If wait.id is available in one of the flowfiles, it will then\n    check with the (WaitCache) tracking registry to determine if all flowfile of the current stage have\n    been processed. If so, an event will be issued to Redis immediately to inform other components that\n    the current stage loading has completed successfully.\n  - note that it is possible that the flowfile with wait.id is not the last flowfile - this is because\n    other earlier flowfiles are still in the retry queue waiting while this last flowfile of the stage\n    hits Elasticsearch ahead of them.  In this situation, a special flowfile will be added to the wait\n    queue of this AnalyzeBulkResponse processor so that it can circle back to re-check for the\n    completion status at a later time.\n",
          "position" : {
            "x" : 992.0,
            "y" : 328.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "16px"
          },
          "width" : 768.0,
          "zIndex" : 0
        } ],
        "name" : "Bulk Service - Description",
        "outputPorts" : [ ],
        "position" : {
          "x" : 4936.0,
          "y" : -288.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "11da6a15-aff1-3885-bd8c-2fc755032e1f",
              "instanceIdentifier" : "69931b2a-ce57-3ae3-9ed5-f5fdec0d2ff6",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "88b4e351-e9ec-3cc4-871b-817c0da01d3b",
            "instanceIdentifier" : "0254717d-cf91-3dbd-d667-7668c7bbd90e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "fd3b0bb2-029c-3e55-8ce7-6105f43a1362",
              "instanceIdentifier" : "4fcf5123-4d48-38e4-9bf6-3fb291e6ef46",
              "name" : "Track Bulk Request",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "2e72ce77-98a7-3441-8536-435af86a9b3f",
              "instanceIdentifier" : "4f74110a-ddb0-3b92-619d-bec64947b721",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "5e64f44e-08e5-37a1-9223-b32eb3502aab",
            "instanceIdentifier" : "13b1db4e-6800-3f14-b02b-d132b1df779b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "id" : "98577730-0842-32d5-af9d-11ea64d473a5",
              "instanceIdentifier" : "076780c5-359c-3087-c44a-56687a6a9b62",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "35d2d9b2-d90d-394d-9491-3b51ba9817b9",
              "instanceIdentifier" : "3cc1b95c-de89-3f6e-6e21-f2d14dddfecb",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "2e307155-1f21-3cea-884c-05449c0c147b",
            "instanceIdentifier" : "19854694-5499-38e2-1769-aa71e067d38f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "96845192-6b42-3f09-8de1-48954471642f",
              "instanceIdentifier" : "5f5e68d1-a4bb-3a07-2dd8-9d9e27b81eb1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "431103d5-4a91-3826-9bda-c6a2c245ac0a",
              "instanceIdentifier" : "facf3940-ffc9-315e-aaf6-48855e7b35e8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "71c6f2c0-5b14-38ed-8b1f-4c2a0bcc239e",
            "instanceIdentifier" : "02061132-cdb1-3992-0433-09a88a4f5660",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "db9568da-e33c-30f3-af26-3350ba2bdfb6",
              "instanceIdentifier" : "e498e95d-c307-3854-8537-76f30b818c0d",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "431103d5-4a91-3826-9bda-c6a2c245ac0a",
              "instanceIdentifier" : "facf3940-ffc9-315e-aaf6-48855e7b35e8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "564f7be8-4ac6-3ee1-87d2-99a88eaddb41",
            "instanceIdentifier" : "ceb83f4d-a237-375a-0123-429d9d30960e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
              "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
              "name" : "Analyze Bulk Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "78ca55c3-28b5-364e-9658-28dc4fac4d02",
              "instanceIdentifier" : "9928d598-4b6b-3a70-323a-193fe311bbc8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "6baf94b3-bf4d-3dc0-950f-a75529c758b1",
            "instanceIdentifier" : "27b63c5c-fa13-30d8-471e-59bcaa759f19",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "id" : "475aa7a0-35d7-3fe4-8ceb-6ad5cf6d5a23",
              "instanceIdentifier" : "39374188-7f08-3068-78c1-390efccb19ba",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "62efb563-0181-37ab-94c2-d878dfbd6ad3",
              "instanceIdentifier" : "a59ec990-3cdd-3e76-c1f1-90ae1adfea5b",
              "name" : "Set stage.end.time",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "fe2c2f9d-9a02-318e-9c44-135c58b32abe",
            "instanceIdentifier" : "3cdc8c48-166d-3baa-e6b8-ec29690a9b90",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "id" : "b46ec4f4-a7a0-3800-a903-c16243acb359",
              "instanceIdentifier" : "fcf42723-43d9-3f10-be6f-71d66914c1ba",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1696.0,
              "y" : 437.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "62efb563-0181-37ab-94c2-d878dfbd6ad3",
              "instanceIdentifier" : "a59ec990-3cdd-3e76-c1f1-90ae1adfea5b",
              "name" : "Set stage.end.time",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "dc6ee166-848c-3480-bbb8-613ce37f3be8",
            "instanceIdentifier" : "4a8f95fd-2159-3cc5-1324-541f9cd7c509",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "wait" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
              "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
              "name" : "Analyze Bulk Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "db9568da-e33c-30f3-af26-3350ba2bdfb6",
              "instanceIdentifier" : "e498e95d-c307-3854-8537-76f30b818c0d",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "604c4f12-8e20-394a-8a73-0f24da451267",
            "instanceIdentifier" : "239f6bd8-6b4d-3379-1ca7-f85f83d472f6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "11da6a15-aff1-3885-bd8c-2fc755032e1f",
              "instanceIdentifier" : "69931b2a-ce57-3ae3-9ed5-f5fdec0d2ff6",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "id" : "4eadca06-d586-35a1-ac6b-8d303ae943a7",
              "instanceIdentifier" : "87104c8b-3b21-3f92-9b3c-8e729c4cb95d",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "b7f8bdbf-90f2-3fe4-a0ed-12324b01caff",
            "instanceIdentifier" : "74a9e001-89af-3d22-b345-b717c12e8459",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "last" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
              "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
              "name" : "Analyze Bulk Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "96845192-6b42-3f09-8de1-48954471642f",
              "instanceIdentifier" : "5f5e68d1-a4bb-3a07-2dd8-9d9e27b81eb1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "a3df16f0-4c5a-342b-adda-a6ae62ab7105",
            "instanceIdentifier" : "40332214-66f8-32bf-1a4c-b3949a92a721",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "431103d5-4a91-3826-9bda-c6a2c245ac0a",
              "instanceIdentifier" : "facf3940-ffc9-315e-aaf6-48855e7b35e8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "fd3b0bb2-029c-3e55-8ce7-6105f43a1362",
              "instanceIdentifier" : "4fcf5123-4d48-38e4-9bf6-3fb291e6ef46",
              "name" : "Track Bulk Request",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "1b77dd3f-6fe1-3d93-937c-a237a8deac3d",
            "instanceIdentifier" : "34791338-49eb-36d1-72f0-3426dadff071",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ "org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer" ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "d2636ff8-606d-39c8-95f7-6bcd41274845",
              "instanceIdentifier" : "309f6efb-4f79-3c21-3706-1d2d83be8e7d",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "78ca55c3-28b5-364e-9658-28dc4fac4d02",
              "instanceIdentifier" : "9928d598-4b6b-3a70-323a-193fe311bbc8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "dd94d524-02d9-3b9f-b518-6195cf0a8960",
            "instanceIdentifier" : "add4dcb8-0900-39f5-67b4-5692ea844ec4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "2e72ce77-98a7-3441-8536-435af86a9b3f",
              "instanceIdentifier" : "4f74110a-ddb0-3b92-619d-bec64947b721",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "id" : "06d427b0-2431-35e7-8480-28aee239f13f",
              "instanceIdentifier" : "606d8a34-543d-3d4c-f90d-e0f1363f34d7",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "f9092d21-b199-39d3-af8e-78492d0c9478",
            "instanceIdentifier" : "2d1950a5-a075-3673-f717-797e2ee86aef",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "refresh" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
              "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
              "name" : "Analyze Bulk Response",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "96845192-6b42-3f09-8de1-48954471642f",
              "instanceIdentifier" : "5f5e68d1-a4bb-3a07-2dd8-9d9e27b81eb1",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "fc84a7bb-6f5c-397c-bc9f-d6b5e1478f17",
            "instanceIdentifier" : "47aa0c12-667d-385a-7c43-9a15650ab6ba",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "78ca55c3-28b5-364e-9658-28dc4fac4d02",
              "instanceIdentifier" : "9928d598-4b6b-3a70-323a-193fe311bbc8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "id" : "946a4399-7b9a-3c66-8747-38a9ed73f26e",
              "instanceIdentifier" : "201934de-9ed7-3d9a-69f9-a7bc3bd7e7fa",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "0dc394a7-dea3-3a4f-ad19-c7a52b195673",
            "instanceIdentifier" : "715c39d7-13e7-306a-7364-c5b708adf94c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "id" : "acc9fa9d-3e17-3473-ac1e-949553b81dfe",
              "instanceIdentifier" : "6523db24-917d-3cf8-071e-88c325353ea3",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
              "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
              "name" : "Analyze Bulk Response",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "a49f2ef2-04b8-3157-8e90-e838b5b859b2",
            "instanceIdentifier" : "0bd02037-3f80-3082-9a31-35fed93b14f4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "62efb563-0181-37ab-94c2-d878dfbd6ad3",
              "instanceIdentifier" : "a59ec990-3cdd-3e76-c1f1-90ae1adfea5b",
              "name" : "Set stage.end.time",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "db9568da-e33c-30f3-af26-3350ba2bdfb6",
              "instanceIdentifier" : "e498e95d-c307-3854-8537-76f30b818c0d",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "3c71be64-8b29-32ae-9df7-fffbc7f9c145",
            "instanceIdentifier" : "1228cc04-befb-3e4a-5581-5963f67ea228",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "id" : "d36b10c4-fffc-3e77-b8a8-f51fbf203426",
              "instanceIdentifier" : "6d19a2d5-f9ff-3786-2010-5f319591a3a7",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "id" : "139a74c2-6e24-3388-9064-c65d3d096db1",
              "instanceIdentifier" : "867c24af-d34c-3097-cd66-b25e79dc81ea",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "12a07a1c-d04f-3d9a-ab2c-d7b9b41173c9",
            "instanceIdentifier" : "777d0f80-7930-3ad7-0d81-b686de26d72e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
              "id" : "fd3b0bb2-029c-3e55-8ce7-6105f43a1362",
              "instanceIdentifier" : "4fcf5123-4d48-38e4-9bf6-3fb291e6ef46",
              "name" : "Track Bulk Request",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "11da6a15-aff1-3885-bd8c-2fc755032e1f",
            "instanceIdentifier" : "69931b2a-ce57-3ae3-9ed5-f5fdec0d2ff6",
            "position" : {
              "x" : -152.0,
              "y" : 704.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "db9568da-e33c-30f3-af26-3350ba2bdfb6",
            "instanceIdentifier" : "e498e95d-c307-3854-8537-76f30b818c0d",
            "position" : {
              "x" : 576.0,
              "y" : 704.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "96845192-6b42-3f09-8de1-48954471642f",
            "instanceIdentifier" : "5f5e68d1-a4bb-3a07-2dd8-9d9e27b81eb1",
            "position" : {
              "x" : 3352.0,
              "y" : 704.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "431103d5-4a91-3826-9bda-c6a2c245ac0a",
            "instanceIdentifier" : "facf3940-ffc9-315e-aaf6-48855e7b35e8",
            "position" : {
              "x" : 2032.0,
              "y" : 704.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "78ca55c3-28b5-364e-9658-28dc4fac4d02",
            "instanceIdentifier" : "9928d598-4b6b-3a70-323a-193fe311bbc8",
            "position" : {
              "x" : 3352.0,
              "y" : 488.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "2e72ce77-98a7-3441-8536-435af86a9b3f",
            "instanceIdentifier" : "4f74110a-ddb0-3b92-619d-bec64947b721",
            "position" : {
              "x" : 3352.0,
              "y" : 200.0
            }
          } ],
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "d2636ff8-606d-39c8-95f7-6bcd41274845",
            "instanceIdentifier" : "309f6efb-4f79-3c21-3706-1d2d83be8e7d",
            "name" : "INPUT",
            "position" : {
              "x" : -904.0,
              "y" : 200.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "a469a5df-8b09-3a43-cfd3-599cbfd6a11c",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "height" : 800.0,
            "identifier" : "90504e11-c20e-3766-b2ca-762e8b9914c8",
            "instanceIdentifier" : "d320638f-93ad-3f2f-9a40-cf57fa134713",
            "label" : "Bulk Elasticsearch - Description",
            "position" : {
              "x" : -784.0,
              "y" : 32.0
            },
            "style" : {
              "background-color" : "#ffffff",
              "font-size" : "20px"
            },
            "width" : 4640.0,
            "zIndex" : 0
          } ],
          "name" : "Bulk Elasticsearch - Description",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "35d2d9b2-d90d-394d-9491-3b51ba9817b9",
            "instanceIdentifier" : "3cc1b95c-de89-3f6e-6e21-f2d14dddfecb",
            "name" : "ERROR",
            "position" : {
              "x" : 3736.0,
              "y" : 704.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -352.0,
            "y" : 144.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "ab961048-1b7b-33c7-9a02-97701c2d9b47",
                "instanceIdentifier" : "903a97cf-1cb7-3f6c-0627-d70e62f33bc2",
                "name" : "POST Bulk Elasticsearch - Description",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "b27b15b8-4d1c-38b4-86ad-576d49d136d1",
              "instanceIdentifier" : "a5a9f75d-4056-3fa5-fb60-b59d86fada05",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "6efd38d2-c2ca-36ff-93ca-276f229ef31b",
                "instanceIdentifier" : "bf9e5fff-00fb-323f-6358-208bcc6ba170",
                "name" : "Route on Rate Control",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "48f98c85-7d7b-3312-8f49-cd9340fb2425",
                "instanceIdentifier" : "8e6954b3-9c74-324b-6dd8-572c6de90f8d",
                "name" : "Control Rate",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "b787b76c-1d26-38a4-a38e-b5f43014fd1a",
              "instanceIdentifier" : "a02ca295-085d-37f8-af63-99bf92e67b14",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Enabled" ],
              "source" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "6efd38d2-c2ca-36ff-93ca-276f229ef31b",
                "instanceIdentifier" : "bf9e5fff-00fb-323f-6358-208bcc6ba170",
                "name" : "Route on Rate Control",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "b46ec4f4-a7a0-3800-a903-c16243acb359",
                "instanceIdentifier" : "fcf42723-43d9-3f10-be6f-71d66914c1ba",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "fcd80348-a201-322d-bcba-3911a5dec291",
              "instanceIdentifier" : "d15acd4d-8501-30af-9101-d473c3f4f430",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response", "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "ab961048-1b7b-33c7-9a02-97701c2d9b47",
                "instanceIdentifier" : "903a97cf-1cb7-3f6c-0627-d70e62f33bc2",
                "name" : "POST Bulk Elasticsearch - Description",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "6efd38d2-c2ca-36ff-93ca-276f229ef31b",
                "instanceIdentifier" : "bf9e5fff-00fb-323f-6358-208bcc6ba170",
                "name" : "Route on Rate Control",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "0c329c6c-b38a-3e5e-ac8d-115930281efe",
              "instanceIdentifier" : "885878c3-a825-30f7-ccbe-414af1df666b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "946a4399-7b9a-3c66-8747-38a9ed73f26e",
                "instanceIdentifier" : "201934de-9ed7-3d9a-69f9-a7bc3bd7e7fa",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "ab961048-1b7b-33c7-9a02-97701c2d9b47",
                "instanceIdentifier" : "903a97cf-1cb7-3f6c-0627-d70e62f33bc2",
                "name" : "POST Bulk Elasticsearch - Description",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "3d6f0f0f-608b-3eae-9868-0c173418dd45",
              "instanceIdentifier" : "ca7a55a5-91ce-3faf-2dd6-145acefd3db9",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "ceff1c42-6756-3d26-a225-20298dca33a1",
                "id" : "48f98c85-7d7b-3312-8f49-cd9340fb2425",
                "instanceIdentifier" : "8e6954b3-9c74-324b-6dd8-572c6de90f8d",
                "name" : "Control Rate",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "946a4399-7b9a-3c66-8747-38a9ed73f26e",
              "instanceIdentifier" : "201934de-9ed7-3d9a-69f9-a7bc3bd7e7fa",
              "name" : "INPUT",
              "position" : {
                "x" : -1168.0,
                "y" : -176.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "52a035ca-e61a-3b42-2c6c-12cbbb5504bb",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "height" : 528.0,
              "identifier" : "d3dbcedb-b725-3399-9ee6-1f3f9661e259",
              "instanceIdentifier" : "cc026c8a-b4cb-3185-031e-f910e356bd05",
              "label" : "Bulk Dataflow Rate Control - Description",
              "position" : {
                "x" : -1048.0,
                "y" : -288.0
              },
              "style" : {
                "background-color" : "#ffffff",
                "font-size" : "20px"
              },
              "width" : 1904.0,
              "zIndex" : 0
            } ],
            "name" : "Bulk Dataflow Rate Control - Description",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "b46ec4f4-a7a0-3800-a903-c16243acb359",
              "instanceIdentifier" : "fcf42723-43d9-3f10-be6f-71d66914c1ba",
              "name" : "OUTPUT",
              "position" : {
                "x" : 736.0,
                "y" : -176.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1144.0,
              "y" : 136.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 8,
              "executionNode" : "ALL",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "6efd38d2-c2ca-36ff-93ca-276f229ef31b",
              "instanceIdentifier" : "bf9e5fff-00fb-323f-6358-208bcc6ba170",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on Rate Control",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -616.0,
                "y" : -216.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "Enabled" : "${bulk.rate.control:equalsIgnoreCase('enabled')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "Enabled" : {
                  "displayName" : "Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Enabled",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "48f98c85-7d7b-3312-8f49-cd9340fb2425",
              "instanceIdentifier" : "8e6954b3-9c74-324b-6dd8-572c6de90f8d",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Control Rate",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -616.0,
                "y" : 40.0
              },
              "properties" : {
                "Time Duration" : "1 min",
                "Maximum Rate" : "10 GB",
                "Rate Control Criteria" : "data rate"
              },
              "propertyDescriptors" : {
                "Maximum FlowFile Rate" : {
                  "displayName" : "Maximum FlowFile Rate",
                  "identifiesControllerService" : false,
                  "name" : "Maximum FlowFile Rate",
                  "sensitive" : false
                },
                "Time Duration" : {
                  "displayName" : "Time Duration",
                  "identifiesControllerService" : false,
                  "name" : "Time Duration",
                  "sensitive" : false
                },
                "Grouping Attribute" : {
                  "displayName" : "Grouping Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Grouping Attribute",
                  "sensitive" : false
                },
                "Maximum Rate" : {
                  "displayName" : "Maximum Rate",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Rate",
                  "sensitive" : false
                },
                "Rate Controlled Attribute" : {
                  "displayName" : "Rate Controlled Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Rate Controlled Attribute",
                  "sensitive" : false
                },
                "Rate Control Criteria" : {
                  "displayName" : "Rate Control Criteria",
                  "identifiesControllerService" : false,
                  "name" : "Rate Control Criteria",
                  "sensitive" : false
                },
                "Maximum Data Rate" : {
                  "displayName" : "Maximum Data Rate",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Data Rate",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.ControlRate",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 8,
              "executionNode" : "ALL",
              "groupIdentifier" : "ceff1c42-6756-3d26-a225-20298dca33a1",
              "identifier" : "ab961048-1b7b-33c7-9a02-97701c2d9b47",
              "instanceIdentifier" : "903a97cf-1cb7-3f6c-0627-d70e62f33bc2",
              "maxBackoffPeriod" : "10 mins",
              "name" : "POST Bulk Elasticsearch - Description",
              "penaltyDuration" : "5 sec",
              "position" : {
                "x" : 56.0,
                "y" : -216.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "10 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/_bulk?refresh=false&timeout=${ELASTICSEARCH_BULK_TIMEOUT}",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "45 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "efc28e09-82d7-338c-a671-37b0396a8482",
                "instanceIdentifier" : "b8964957-ed2a-3028-9318-62d5e7af2394",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "a0077b61-c02a-313b-b507-2fde9b2f7498",
              "instanceIdentifier" : "f21ab3e5-a461-37d3-b794-6b643cbe7155",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "ec2ae96e-05a3-370f-9888-7342bcae706b",
                "instanceIdentifier" : "efe51426-e113-3c2d-7db0-80cb5caaaa31",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "ec2ae96e-05a3-370f-9888-7342bcae706b",
                "instanceIdentifier" : "efe51426-e113-3c2d-7db0-80cb5caaaa31",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "9ed3049a-548f-3177-8b88-d287e140cf64",
              "instanceIdentifier" : "d2712aca-ea5a-36a8-cb35-5c5a4488d3ad",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "06376d3d-ec18-342f-bb52-f464af1a5e7e",
                "instanceIdentifier" : "25211695-5cc0-3bc5-ea06-92c06d8ea455",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "a60b5775-dc40-3831-8056-38b269d649d0",
                "instanceIdentifier" : "603e45bb-6026-34b3-5930-3cb4c409899e",
                "name" : "Publish Redis (Auth)",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "476b7527-a563-3a65-9890-c013198c5888",
              "instanceIdentifier" : "b8edd605-3332-3d5d-06f9-879e4a00f3de",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "e3e2a7a0-422e-3325-8939-c492b9e39e2d",
                "instanceIdentifier" : "4d43adfa-b2ce-3493-b790-c3ed3e15c447",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "fe71d451-249e-39de-a7e6-954805f8f260",
                "instanceIdentifier" : "bcbbc90b-eebd-3edc-bedc-94a69e86e495",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "3dd315fa-fe72-3826-bdc8-0a28bb7dfcb0",
              "instanceIdentifier" : "cf1fbbdf-cc95-3230-3a09-c0ef13f5fc26",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "fd67b033-45ca-3173-b64f-c4c7d0a81d91",
                "instanceIdentifier" : "409de4fb-56fb-3358-17d4-c425b5b8a21d",
                "name" : "Publish Redis (Live)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "98577730-0842-32d5-af9d-11ea64d473a5",
                "instanceIdentifier" : "076780c5-359c-3087-c44a-56687a6a9b62",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "5c16a2e9-ccd5-37c6-842d-d0d45f33e624",
              "instanceIdentifier" : "a93b639c-b5fc-3b0a-8493-ee47c521baa2",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "efc28e09-82d7-338c-a671-37b0396a8482",
                "instanceIdentifier" : "b8964957-ed2a-3028-9318-62d5e7af2394",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "06376d3d-ec18-342f-bb52-f464af1a5e7e",
                "instanceIdentifier" : "25211695-5cc0-3bc5-ea06-92c06d8ea455",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "482808f7-2503-3e40-b5c6-8da5104aacee",
              "instanceIdentifier" : "186887eb-2123-3e28-b11a-9742c88abefc",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "a60b5775-dc40-3831-8056-38b269d649d0",
                "instanceIdentifier" : "603e45bb-6026-34b3-5930-3cb4c409899e",
                "name" : "Publish Redis (Auth)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "efc28e09-82d7-338c-a671-37b0396a8482",
                "instanceIdentifier" : "b8964957-ed2a-3028-9318-62d5e7af2394",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "85671ecc-6e0f-3214-b0be-647bb79bb122",
              "instanceIdentifier" : "1063e8c5-4b08-3122-0ca3-879afe7e0c81",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "fe71d451-249e-39de-a7e6-954805f8f260",
                "instanceIdentifier" : "bcbbc90b-eebd-3edc-bedc-94a69e86e495",
                "name" : "Log message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "fd67b033-45ca-3173-b64f-c4c7d0a81d91",
                "instanceIdentifier" : "409de4fb-56fb-3358-17d4-c425b5b8a21d",
                "name" : "Publish Redis (Live)",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "7dfdaae0-d571-38c8-96d6-3a6999cea9ad",
              "instanceIdentifier" : "b5dec8fc-2c3c-334f-c752-cd7b311397da",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "live" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "e3e2a7a0-422e-3325-8939-c492b9e39e2d",
                "instanceIdentifier" : "4d43adfa-b2ce-3493-b790-c3ed3e15c447",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "e3e2a7a0-422e-3325-8939-c492b9e39e2d",
                "instanceIdentifier" : "4d43adfa-b2ce-3493-b790-c3ed3e15c447",
                "name" : "Route on Environment",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "5369a3a4-18cb-3b69-9e94-227921f37500",
              "instanceIdentifier" : "8c611b1e-9d89-3b59-cb6e-28a42dec723d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
                "id" : "4eadca06-d586-35a1-ac6b-8d303ae943a7",
                "instanceIdentifier" : "87104c8b-3b21-3f92-9b3c-8e729c4cb95d",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "efc28e09-82d7-338c-a671-37b0396a8482",
              "instanceIdentifier" : "b8964957-ed2a-3028-9318-62d5e7af2394",
              "position" : {
                "x" : 3632.0,
                "y" : 3384.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "ec2ae96e-05a3-370f-9888-7342bcae706b",
              "instanceIdentifier" : "efe51426-e113-3c2d-7db0-80cb5caaaa31",
              "position" : {
                "x" : 2984.0,
                "y" : 3384.0
              }
            } ],
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "4eadca06-d586-35a1-ac6b-8d303ae943a7",
              "instanceIdentifier" : "87104c8b-3b21-3f92-9b3c-8e729c4cb95d",
              "name" : "INPUT",
              "position" : {
                "x" : 2288.0,
                "y" : 2664.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "03e6495b-8854-3033-014d-3806c88ac0c9",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "height" : 968.0,
              "identifier" : "62fc0597-18b8-35fd-b0d1-70077dcfe211",
              "instanceIdentifier" : "5a2a59b6-246b-3031-4617-4c1255656ed4",
              "label" : "Release Flow In WaitLink",
              "position" : {
                "x" : 2408.0,
                "y" : 2544.0
              },
              "style" : {
                "background-color" : "#ffffff",
                "font-size" : "20px"
              },
              "width" : 1720.0,
              "zIndex" : 0
            } ],
            "name" : "Release Flow In Waitlink",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "98577730-0842-32d5-af9d-11ea64d473a5",
              "instanceIdentifier" : "076780c5-359c-3087-c44a-56687a6a9b62",
              "name" : "ERROR",
              "position" : {
                "x" : 4008.0,
                "y" : 3384.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 1864.0,
              "y" : 136.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "fd67b033-45ca-3173-b64f-c4c7d0a81d91",
              "instanceIdentifier" : "409de4fb-56fb-3358-17d4-c425b5b8a21d",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Publish Redis (Live)",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 3480.0,
                "y" : 2880.0
              },
              "properties" : {
                "Channel Name" : "services/cache/nifi/Wait",
                "Environment Type" : "live"
              },
              "propertyDescriptors" : {
                "Channel Name" : {
                  "displayName" : "Channel Name",
                  "identifiesControllerService" : false,
                  "name" : "Channel Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#000000"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.PublishEvent",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "a60b5775-dc40-3831-8056-38b269d649d0",
              "instanceIdentifier" : "603e45bb-6026-34b3-5930-3cb4c409899e",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Publish Redis (Auth)",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2832.0,
                "y" : 2880.0
              },
              "properties" : {
                "Channel Name" : "services/cache/nifi/Wait",
                "Environment Type" : "auth"
              },
              "propertyDescriptors" : {
                "Channel Name" : {
                  "displayName" : "Channel Name",
                  "identifiesControllerService" : false,
                  "name" : "Channel Name",
                  "sensitive" : false
                },
                "Environment Type" : {
                  "displayName" : "Environment Type",
                  "identifiesControllerService" : false,
                  "name" : "Environment Type",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#000000"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.PublishEvent",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "fe71d451-249e-39de-a7e6-954805f8f260",
              "instanceIdentifier" : "bcbbc90b-eebd-3edc-bedc-94a69e86e495",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 3480.0,
                "y" : 3128.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Live Redis in ${stage.name} cannot be completed.",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "e3e2a7a0-422e-3325-8939-c492b9e39e2d",
              "instanceIdentifier" : "4d43adfa-b2ce-3493-b790-c3ed3e15c447",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on Environment",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2832.0,
                "y" : 2624.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "live" : "${environment.name:equals('live')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "live" : {
                  "displayName" : "live",
                  "identifiesControllerService" : false,
                  "name" : "live",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "28d05029-58f4-3a2a-a6b3-417c2df262f3",
              "identifier" : "06376d3d-ec18-342f-bb52-f464af1a5e7e",
              "instanceIdentifier" : "25211695-5cc0-3bc5-ea06-92c06d8ea455",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2832.0,
                "y" : 3128.0
              },
              "properties" : {
                "logger.message.text" : "Update request sent to Auth Redis in ${stage.name} cannot be completed.",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.response" : "${invokehttp.response.body}",
                "logger.message.code" : "DI2003E",
                "logger.message.parameter" : "[ \"${stage.name}\", \"${invokehttp.status.message}\", \"${invokehttp.status.code}\" ]"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.response" : {
                  "displayName" : "logger.message.response",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.response",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "logger.message.parameter" : {
                  "displayName" : "logger.message.parameter",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.parameter",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "475aa7a0-35d7-3fe4-8ceb-6ad5cf6d5a23",
                "instanceIdentifier" : "39374188-7f08-3068-78c1-390efccb19ba",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "51620a82-da6f-3b67-914a-e9bad765db5d",
              "instanceIdentifier" : "968b8bd2-5960-3c7b-c2a4-bf88dae88c02",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "2850b8da-505c-37b4-a4eb-ef9081b9874d",
                "instanceIdentifier" : "62568787-e397-3d38-432e-f55dd05f46d5",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "a04048ac-affc-34d4-9eb0-1002f12d74c5",
                "instanceIdentifier" : "1d7820e0-c7a6-3698-afd5-874fccbdf733",
                "name" : "POST Refresh Elasticsearch",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "084812ce-dc35-32f6-b417-5c23eea706f0",
              "instanceIdentifier" : "429690b3-be34-3cf3-1e8f-5bc5d3472739",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "06d427b0-2431-35e7-8480-28aee239f13f",
                "instanceIdentifier" : "606d8a34-543d-3d4c-f90d-e0f1363f34d7",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "2850b8da-505c-37b4-a4eb-ef9081b9874d",
                "instanceIdentifier" : "62568787-e397-3d38-432e-f55dd05f46d5",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "90b530f6-4700-3e2e-985f-3008df1e4dae",
              "instanceIdentifier" : "adeb39d7-0c3a-3696-9564-cf94664ed308",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "671d3afe-4778-3389-b5fe-858b4201cd83",
                "id" : "a04048ac-affc-34d4-9eb0-1002f12d74c5",
                "instanceIdentifier" : "1d7820e0-c7a6-3698-afd5-874fccbdf733",
                "name" : "POST Refresh Elasticsearch",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "06d427b0-2431-35e7-8480-28aee239f13f",
              "instanceIdentifier" : "606d8a34-543d-3d4c-f90d-e0f1363f34d7",
              "name" : "INPUT",
              "position" : {
                "x" : -584.0,
                "y" : -240.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "a450cfc8-f068-3902-c93c-7a4c8b031dc0",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "height" : 544.0,
              "identifier" : "bc6a2c16-670e-31e2-b748-5a5828f0b8df",
              "instanceIdentifier" : "c0c42938-d436-35b9-bb0e-835fb61c6327",
              "label" : "Refresh Index",
              "position" : {
                "x" : -464.0,
                "y" : -368.0
              },
              "style" : {
                "background-color" : "#ffffff",
                "font-size" : "20px"
              },
              "width" : 1272.0,
              "zIndex" : 0
            } ],
            "name" : "Refresh Index",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "475aa7a0-35d7-3fe4-8ceb-6ad5cf6d5a23",
              "instanceIdentifier" : "39374188-7f08-3068-78c1-390efccb19ba",
              "name" : "ERROR",
              "position" : {
                "x" : 688.0,
                "y" : 8.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2600.0,
              "y" : 424.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "2850b8da-505c-37b4-a4eb-ef9081b9874d",
              "instanceIdentifier" : "62568787-e397-3d38-432e-f55dd05f46d5",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log error message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 0.0,
                "y" : -32.0
              },
              "properties" : {
                "logger.message.text" : "Exceeded maximum number of retries when refreshing index while scrolling data",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.code" : "DI2003E"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Response", "Original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "671d3afe-4778-3389-b5fe-858b4201cd83",
              "identifier" : "a04048ac-affc-34d4-9eb0-1002f12d74c5",
              "instanceIdentifier" : "1d7820e0-c7a6-3698-afd5-874fccbdf733",
              "maxBackoffPeriod" : "1 min",
              "name" : "POST Refresh Elasticsearch",
              "penaltyDuration" : "5 sec",
              "position" : {
                "x" : 0.0,
                "y" : -280.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "cookie-strategy" : "DISABLED",
                "Connection Timeout" : "15 secs",
                "send-message-body" : "false",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "Content-Encoding" : "DISABLED",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${SEARCH_URL}/${refresh.index.name}/_refresh",
                "Content-Type" : "application/json",
                "flow-file-naming-strategy" : "RANDOM",
                "max-idle-connections" : "5",
                "Read Timeout" : "60 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Request Header Attributes Pattern",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Response Cache Enabled",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Request Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "cookie-strategy" : {
                  "displayName" : "Response Cookie Strategy",
                  "identifiesControllerService" : false,
                  "name" : "cookie-strategy",
                  "sensitive" : false
                },
                "Connection Timeout" : {
                  "displayName" : "Socket Connect Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Request Body Enabled",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Request Multipart Form-Data Filename Enabled",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Response Generation Required",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Response Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "Content-Encoding" : {
                  "displayName" : "Request Content-Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Content-Encoding",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "HTTP/2 Disabled",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Socket Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Response Body Attribute Name",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Request Chunked Transfer-Encoding Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Response Redirects Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "HTTP URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Request Multipart Form-Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Request Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "flow-file-naming-strategy" : {
                  "displayName" : "Response FlowFile Naming Strategy",
                  "identifiesControllerService" : false,
                  "name" : "flow-file-naming-strategy",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Socket Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Socket Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Response Body Attribute Size",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Response Body Ignored",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Request Digest Authentication Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Response Header Request Attributes Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "oauth2-access-token-provider" : {
                  "displayName" : "Request OAuth2 Access Token Provider",
                  "identifiesControllerService" : true,
                  "name" : "oauth2-access-token-provider",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Request Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Request Date Header Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Request Failure Penalization Enabled",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Request User-Agent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "retryCount" : 10000,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#005555"
              },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "20 GB",
              "backPressureObjectThreshold" : 500000,
              "bends" : [ {
                "x" : -696.0,
                "y" : -272.0
              }, {
                "x" : -696.0,
                "y" : -216.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
                "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
                "name" : "Retry Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "be83245f-f22e-3216-b589-d6086c1482ca",
              "instanceIdentifier" : "18156bb3-e8d9-30b1-6fed-3467d6c5bf05",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "wait" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
                "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
                "name" : "Retry Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "d36b10c4-fffc-3e77-b8a8-f51fbf203426",
                "instanceIdentifier" : "6d19a2d5-f9ff-3786-2010-5f319591a3a7",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "aadd4e00-f418-3c14-a80c-23c610c73383",
              "instanceIdentifier" : "9342eb20-9991-35be-27c5-642e8fbf7ebd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "3427a353-f816-3d9f-81ae-a3b3d1ae2035",
                "instanceIdentifier" : "b4debd53-33af-3cf6-e173-12692ea1369b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "20 GB",
              "backPressureObjectThreshold" : 500000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "acc9fa9d-3e17-3473-ac1e-949553b81dfe",
                "instanceIdentifier" : "6523db24-917d-3cf8-071e-88c325353ea3",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "b354d44a-d627-3793-bbc3-2ab59cb87603",
              "instanceIdentifier" : "548b903c-9808-30bf-c105-981443772912",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "6bf8d54d-f3fe-31b1-9424-a767e06931eb",
                "instanceIdentifier" : "25ef976b-8951-329e-bdb4-d667345aceb8",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "4c52b776-a3b9-3db2-9433-98203a8cad3e",
                "instanceIdentifier" : "a1798509-f4c1-351e-da8c-23c793231206",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "b050c97f-7aba-3a36-8443-237ebee77229",
              "instanceIdentifier" : "7698a649-c3fe-37a1-3c2b-cf28d617127b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "retries_exceeded" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "f8ddb2de-9915-332f-ada5-0e91e6a7f812",
                "instanceIdentifier" : "5888a006-7b5a-3bfc-bf00-03cfbff43bdc",
                "name" : "Retry FlowFile",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "6e8b6f1d-00cd-3e81-9a6b-595738e56af6",
                "instanceIdentifier" : "b12ca22e-5fb6-3483-daa3-6e0b92e3d71b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "584649ea-46cb-337b-9d06-b20abb6b3d08",
              "instanceIdentifier" : "550a1ab5-0517-3d7d-1c99-4e1b3aae7863",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "807453d1-b7bd-3bd3-8389-ec2a5aa9faa4",
                "instanceIdentifier" : "52353ddd-287c-3bb5-fcd8-5f567569b56a",
                "name" : "Decrement wait.id Counter",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "1ceb38bd-a908-3a34-9083-b52179be57ad",
                "instanceIdentifier" : "66554e24-52dd-3c74-d163-387cb1fcc179",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "e3853c9c-aad4-3a23-b76d-64f4d788c923",
              "instanceIdentifier" : "37246cca-f0c9-3f22-cfd6-520f70e02cb6",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "f8ddb2de-9915-332f-ada5-0e91e6a7f812",
                "instanceIdentifier" : "5888a006-7b5a-3bfc-bf00-03cfbff43bdc",
                "name" : "Retry FlowFile",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "20 GB",
              "backPressureObjectThreshold" : 500000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "6bf8d54d-f3fe-31b1-9424-a767e06931eb",
                "instanceIdentifier" : "25ef976b-8951-329e-bdb4-d667345aceb8",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "2a29d743-9566-3bde-9273-a56c98beca6b",
              "instanceIdentifier" : "925b9a9e-3c6c-3f8a-20aa-130ce8b8db2a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "1ceb38bd-a908-3a34-9083-b52179be57ad",
                "instanceIdentifier" : "66554e24-52dd-3c74-d163-387cb1fcc179",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "f8ddb2de-9915-332f-ada5-0e91e6a7f812",
                "instanceIdentifier" : "5888a006-7b5a-3bfc-bf00-03cfbff43bdc",
                "name" : "Retry FlowFile",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "19c2651a-dd19-397d-97bd-86c950c5c5b0",
              "instanceIdentifier" : "83b902fa-8879-3100-e54c-3a542bc7a3a8",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
                "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
                "name" : "Retry Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "807453d1-b7bd-3bd3-8389-ec2a5aa9faa4",
                "instanceIdentifier" : "52353ddd-287c-3bb5-fcd8-5f567569b56a",
                "name" : "Decrement wait.id Counter",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "2b9f580d-fae4-3863-9afd-b919931a99ff",
              "instanceIdentifier" : "0216ee4c-503b-3815-6501-6c695abb8910",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
                "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
                "name" : "Retry Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "3427a353-f816-3d9f-81ae-a3b3d1ae2035",
                "instanceIdentifier" : "b4debd53-33af-3cf6-e173-12692ea1369b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "22d6a553-f455-3bac-8bcc-d30830179a40",
              "instanceIdentifier" : "4487f1d5-1183-3f93-ff40-727a6eed15b4",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "6e8b6f1d-00cd-3e81-9a6b-595738e56af6",
                "instanceIdentifier" : "b12ca22e-5fb6-3483-daa3-6e0b92e3d71b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "20 GB",
              "backPressureObjectThreshold" : 500000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "1ceb38bd-a908-3a34-9083-b52179be57ad",
                "instanceIdentifier" : "66554e24-52dd-3c74-d163-387cb1fcc179",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "a6bf38ec-f26e-3882-95c8-b815aa3458e5",
              "instanceIdentifier" : "03a796e7-bee6-3638-642d-b99036191462",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "139a74c2-6e24-3388-9064-c65d3d096db1",
                "instanceIdentifier" : "867c24af-d34c-3097-cd66-b25e79dc81ea",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "20 GB",
              "backPressureObjectThreshold" : 500000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
                "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
                "name" : "Retry Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "88d3511b-0082-30f9-951b-4d0e2441d2c2",
              "instanceIdentifier" : "a282ed35-c53e-39f9-ecdc-4356958fd6d9",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "6bf8d54d-f3fe-31b1-9424-a767e06931eb",
                "instanceIdentifier" : "25ef976b-8951-329e-bdb4-d667345aceb8",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "3427a353-f816-3d9f-81ae-a3b3d1ae2035",
                "instanceIdentifier" : "b4debd53-33af-3cf6-e173-12692ea1369b",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "8f6893e8-a0fa-3478-9d15-05f0d6d52cc7",
              "instanceIdentifier" : "bf05a7a3-2ddd-3807-fd08-49df44677ac3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "58bd7acf-a7d9-324a-8906-b462c0efb432",
                "instanceIdentifier" : "f0b19a65-7131-3e79-7fd6-933acb24c98f",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "807453d1-b7bd-3bd3-8389-ec2a5aa9faa4",
                "instanceIdentifier" : "52353ddd-287c-3bb5-fcd8-5f567569b56a",
                "name" : "Decrement wait.id Counter",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "52d0e6e3-d86d-3dc4-85d2-5f2a339a97d2",
              "instanceIdentifier" : "bcf49333-1dca-31ab-436e-bc294099bf38",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "4c52b776-a3b9-3db2-9433-98203a8cad3e",
                "instanceIdentifier" : "a1798509-f4c1-351e-da8c-23c793231206",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "58bd7acf-a7d9-324a-8906-b462c0efb432",
                "instanceIdentifier" : "f0b19a65-7131-3e79-7fd6-933acb24c98f",
                "name" : "Log error message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "dbaa3488-46b4-3e83-8a43-9b6006b2996e",
              "instanceIdentifier" : "f1330fad-c3e8-3672-7963-eb4ccdfea875",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
                "id" : "807453d1-b7bd-3bd3-8389-ec2a5aa9faa4",
                "instanceIdentifier" : "52353ddd-287c-3bb5-fcd8-5f567569b56a",
                "name" : "Decrement wait.id Counter",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "6bf8d54d-f3fe-31b1-9424-a767e06931eb",
              "instanceIdentifier" : "25ef976b-8951-329e-bdb4-d667345aceb8",
              "position" : {
                "x" : -1072.0,
                "y" : -416.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "3427a353-f816-3d9f-81ae-a3b3d1ae2035",
              "instanceIdentifier" : "b4debd53-33af-3cf6-e173-12692ea1369b",
              "position" : {
                "x" : -376.0,
                "y" : 200.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "4c52b776-a3b9-3db2-9433-98203a8cad3e",
              "instanceIdentifier" : "a1798509-f4c1-351e-da8c-23c793231206",
              "position" : {
                "x" : -1752.0,
                "y" : 8.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "1ceb38bd-a908-3a34-9083-b52179be57ad",
              "instanceIdentifier" : "66554e24-52dd-3c74-d163-387cb1fcc179",
              "position" : {
                "x" : -1752.0,
                "y" : -416.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "6e8b6f1d-00cd-3e81-9a6b-595738e56af6",
              "instanceIdentifier" : "b12ca22e-5fb6-3483-daa3-6e0b92e3d71b",
              "position" : {
                "x" : -1072.0,
                "y" : 200.0
              }
            } ],
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "139a74c2-6e24-3388-9064-c65d3d096db1",
              "instanceIdentifier" : "867c24af-d34c-3097-cd66-b25e79dc81ea",
              "name" : "INPUT",
              "position" : {
                "x" : -2320.0,
                "y" : -416.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "e5a671d3-47d9-32df-fd1a-8ab6202db325",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "height" : 808.0,
              "identifier" : "1be8600f-481a-3c30-858e-26a8072aa3d8",
              "instanceIdentifier" : "dec42fb5-217a-3a3a-34bf-3d87f105ebda",
              "label" : "Retry Flowfile",
              "position" : {
                "x" : -2200.0,
                "y" : -496.0
              },
              "style" : {
                "background-color" : "#ffffff",
                "font-size" : "20px"
              },
              "width" : 2312.0,
              "zIndex" : 0
            } ],
            "name" : "Retry Flowfile",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "d36b10c4-fffc-3e77-b8a8-f51fbf203426",
              "instanceIdentifier" : "6d19a2d5-f9ff-3786-2010-5f319591a3a7",
              "name" : "ERROR",
              "position" : {
                "x" : -8.0,
                "y" : 200.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "acc9fa9d-3e17-3473-ac1e-949553b81dfe",
              "instanceIdentifier" : "6523db24-917d-3cf8-071e-88c325353ea3",
              "name" : "OUTPUT",
              "position" : {
                "x" : -8.0,
                "y" : -416.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 408.0,
              "y" : 136.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "b07044e0-5266-3524-9bff-38a5cce8fbec",
              "instanceIdentifier" : "444b03cc-23b9-331f-d8b8-7eaa2da47286",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Retry Document",
              "penaltyDuration" : "5 sec",
              "position" : {
                "x" : -1224.0,
                "y" : -280.0
              },
              "properties" : {
                "Cache Entry Identifier" : "${counter.id}",
                "Cache TTL" : "${counter.timeout}"
              },
              "propertyDescriptors" : {
                "Cache Entry Identifier" : {
                  "displayName" : "Cache Entry Identifier",
                  "identifiesControllerService" : false,
                  "name" : "Cache Entry Identifier",
                  "sensitive" : false
                },
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.RetryDocument",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "f8ddb2de-9915-332f-ada5-0e91e6a7f812",
              "instanceIdentifier" : "5888a006-7b5a-3bfc-bf00-03cfbff43bdc",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Retry FlowFile",
              "penaltyDuration" : "5 sec",
              "position" : {
                "x" : -1904.0,
                "y" : -280.0
              },
              "properties" : {
                "penalize-retries" : "true",
                "maximum-retries" : "10000",
                "Fail on Non-numerical Overwrite" : "false",
                "reuse-mode" : "reset",
                "retry-attribute" : "flowfile.retries"
              },
              "propertyDescriptors" : {
                "penalize-retries" : {
                  "displayName" : "Penalize Retries",
                  "identifiesControllerService" : false,
                  "name" : "penalize-retries",
                  "sensitive" : false
                },
                "maximum-retries" : {
                  "displayName" : "Maximum Retries",
                  "identifiesControllerService" : false,
                  "name" : "maximum-retries",
                  "sensitive" : false
                },
                "Fail on Non-numerical Overwrite" : {
                  "displayName" : "Fail on Non-numerical Overwrite",
                  "identifiesControllerService" : false,
                  "name" : "Fail on Non-numerical Overwrite",
                  "sensitive" : false
                },
                "reuse-mode" : {
                  "displayName" : "Reuse Mode",
                  "identifiesControllerService" : false,
                  "name" : "reuse-mode",
                  "sensitive" : false
                },
                "retry-attribute" : {
                  "displayName" : "Retry Attribute",
                  "identifiesControllerService" : false,
                  "name" : "retry-attribute",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RetryFlowFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "807453d1-b7bd-3bd3-8389-ec2a5aa9faa4",
              "instanceIdentifier" : "52353ddd-287c-3bb5-fcd8-5f567569b56a",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Decrement wait.id Counter",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -1224.0,
                "y" : -32.0
              },
              "properties" : {
                "Cache TTL" : "${counter.timeout}",
                "Update Strategy" : "Increment or Decrement",
                "Delta Count" : "-1",
                "Entry Identifier" : "${counter.id}"
              },
              "propertyDescriptors" : {
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                },
                "Update Strategy" : {
                  "displayName" : "Update Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Update Strategy",
                  "sensitive" : false
                },
                "Delta Count" : {
                  "displayName" : "Delta Count",
                  "identifiesControllerService" : false,
                  "name" : "Delta Count",
                  "sensitive" : false
                },
                "Entry Identifier" : {
                  "displayName" : "Entry Identifier",
                  "identifiesControllerService" : false,
                  "name" : "Entry Identifier",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#000000"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.UpdateDocumentCounter",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0ebf3789-f644-3ac4-a725-6dc81bac099e",
              "identifier" : "58bd7acf-a7d9-324a-8906-b462c0efb432",
              "instanceIdentifier" : "f0b19a65-7131-3e79-7fd6-933acb24c98f",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log error message",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -528.0,
                "y" : -32.0
              },
              "properties" : {
                "logger.message.text" : "Exceeded maximum number of retries when sending ${bulk.index.type} data to Elasticsearch",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "logger.message.severity" : "E",
                "logger.message.code" : "DI2024E"
              },
              "propertyDescriptors" : {
                "logger.message.text" : {
                  "displayName" : "logger.message.text",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.text",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "logger.message.severity" : {
                  "displayName" : "logger.message.severity",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.severity",
                  "sensitive" : false
                },
                "logger.message.code" : {
                  "displayName" : "logger.message.code",
                  "identifiesControllerService" : false,
                  "name" : "logger.message.code",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ff0000"
              },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 3,
            "executionNode" : "ALL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "fd3b0bb2-029c-3e55-8ce7-6105f43a1362",
            "instanceIdentifier" : "4fcf5123-4d48-38e4-9bf6-3fb291e6ef46",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Track Bulk Request",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -304.0,
              "y" : 160.0
            },
            "properties" : {
              "Cache Entry Identifier" : "${connector.name}-${flow.name}-${param.storeId}-${param.langId}-${run.id}",
              "Ingest Profile" : "${ingest.profile.name}",
              "Cache TTL" : "${cache.TTL}",
              "Profile Service" : "a9fac142-716f-3f9a-a214-93ee58d06987",
              "Dataflow Rate Control" : "disabled",
              "Index Type" : "description"
            },
            "propertyDescriptors" : {
              "Cache Entry Identifier" : {
                "displayName" : "Cache Entry Identifier",
                "identifiesControllerService" : false,
                "name" : "Cache Entry Identifier",
                "sensitive" : false
              },
              "Ingest Profile" : {
                "displayName" : "Ingest Profile",
                "identifiesControllerService" : false,
                "name" : "Ingest Profile",
                "sensitive" : false
              },
              "Cache TTL" : {
                "displayName" : "Cache TTL",
                "identifiesControllerService" : false,
                "name" : "Cache TTL",
                "sensitive" : false
              },
              "Profile Service" : {
                "displayName" : "Profile Service",
                "identifiesControllerService" : true,
                "name" : "Profile Service",
                "sensitive" : false
              },
              "Dataflow Rate Control" : {
                "displayName" : "Dataflow Rate Control",
                "identifiesControllerService" : false,
                "name" : "Dataflow Rate Control",
                "sensitive" : false
              },
              "Index Type" : {
                "displayName" : "Index Type",
                "identifiesControllerService" : false,
                "name" : "Index Type",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.common.processors.TrackBulkRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 3,
            "executionNode" : "ALL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "62efb563-0181-37ab-94c2-d878dfbd6ad3",
            "instanceIdentifier" : "a59ec990-3cdd-3e76-c1f1-90ae1adfea5b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Set stage.end.time",
            "penaltyDuration" : "5 sec",
            "position" : {
              "x" : 1160.0,
              "y" : 448.0
            },
            "properties" : {
              "stage.end.time" : "${now():toNumber()}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "stage.end.time" : {
                "displayName" : "stage.end.time",
                "identifiesControllerService" : false,
                "name" : "stage.end.time",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 3,
            "executionNode" : "ALL",
            "groupIdentifier" : "3a84d2cf-a0cf-3603-80c2-479b939025e8",
            "identifier" : "4d1da13e-e64d-3155-bb18-bc3fd31cf222",
            "instanceIdentifier" : "26fca9f9-056a-3056-013d-955279e5fb8b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Analyze Bulk Response",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : 1880.0,
              "y" : 448.0
            },
            "properties" : {
              "Cache Entry Identifier" : "${counter.id}",
              "Cache TTL" : "${counter.timeout}"
            },
            "propertyDescriptors" : {
              "Cache Entry Identifier" : {
                "displayName" : "Cache Entry Identifier",
                "identifiesControllerService" : false,
                "name" : "Cache Entry Identifier",
                "sensitive" : false
              },
              "Cache TTL" : {
                "displayName" : "Cache TTL",
                "identifiesControllerService" : false,
                "name" : "Cache TTL",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeBulkResponse",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : {
            "cache.TTL" : "180"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ {
          "comments" : "",
          "communicationsTimeout" : "1800 sec",
          "componentType" : "REMOTE_PROCESS_GROUP",
          "groupIdentifier" : "400e14d8-d99d-313f-98ef-fda03b196417",
          "identifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
          "inputPorts" : [ {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "0f2dd685-6200-3292-87a2-85317a882511",
            "instanceIdentifier" : "a39e98c2-18fe-3db1-1ac0-4b3c0d445c32",
            "name" : "Bulk Description INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbe92-018d-1000-bc79-e7b849767955",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "f289298c-8ee9-326d-bb5e-954c72294203",
            "instanceIdentifier" : "a4b0210d-e036-388e-3975-5eabb92e479e",
            "name" : "Bulk Inventory INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbf36-018d-1000-b764-5c6292ecd107",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "comments" : "",
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "12456c54-4899-3b1d-a118-1b6c9c56dfea",
            "instanceIdentifier" : "78d1eedb-03d2-3c0b-9d2f-9fc1a7673663",
            "name" : "Routing INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "f4f2c827-ace1-3de6-9b20-5feb4460fb88",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "090e5b4d-5504-3774-a9b6-2c2fe88f3191",
            "instanceIdentifier" : "52159ccd-7501-37c3-2cc4-f12cab368c24",
            "name" : "Bulk Catalog INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbd2f-018d-1000-7c5a-75e654e3709a",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "43b04ebc-7cb2-3244-a7f3-fb9c9d412086",
            "instanceIdentifier" : "9feda2a5-7761-3bb9-5e7d-430827bfe1e1",
            "name" : "Run INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbc05-018d-1000-baa4-2b0c2b075211",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "be0b8043-4417-35b1-a44f-d2c2bcb0727d",
            "instanceIdentifier" : "5e554618-2385-374d-26e3-f42ec2a500f8",
            "name" : "Logger INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbb7a-018d-1000-b427-f8987ad2400b",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "d7f887b6-cda4-317f-b5cf-aa1bc93d7b19",
            "instanceIdentifier" : "6f9639b8-2a51-36b6-55c0-d08987a0a6f1",
            "name" : "Bulk Price INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbee3-018d-1000-9d69-9915704b0359",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "83018a48-4241-31f2-a614-b8e0a0a0dbe1",
            "instanceIdentifier" : "8c40a51c-830c-32bf-29b0-442d96281694",
            "name" : "Bulk Category INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbdd9-018d-1000-af3a-8759a8eed03a",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "e9d6bdd1-54cf-39a9-af77-75f40741e4dd",
            "instanceIdentifier" : "a17f1303-3327-3454-e790-108463bf1da4",
            "name" : "Bulk Product INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbe3e-018d-1000-af23-6cbc1a2c4ab6",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "6b1dc387-d67a-3b0d-a0eb-3cce17dffa65",
            "instanceIdentifier" : "44baf039-a22f-3b3b-9926-5a241f9f02ba",
            "name" : "Terminal INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbc62-018d-1000-9c0e-0739acb8eea4",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "928c038e-d14e-384d-8f46-128853849c3c",
            "instanceIdentifier" : "169b6125-24e0-3232-e58e-fc1aeed8080b",
            "name" : "Bulk Attribute INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbd8a-018d-1000-2836-512deddda29a",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "c68efbf2-5973-3547-b388-1d5a484354a9",
            "instanceIdentifier" : "f658b30f-f9e0-3f6a-f3d2-bf4406e5724c",
            "name" : "Bulk Dataload INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbfea-018d-1000-9840-aefd35174689",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "abbb8dc0-5f87-381d-8b7d-b0ccea1abaff",
            "instanceIdentifier" : "f50c57ed-4b87-3f5e-3267-424fa0ad7b0e",
            "name" : "Bulk Store INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbcd8-018d-1000-c86d-04909ac65a98",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "identifier" : "0cd2bfe7-4cc2-3dac-8694-2bcb171556b8",
            "instanceIdentifier" : "662d808a-5cab-36ad-10c4-ae4c3ab9ee1c",
            "name" : "Bulk URL INPUT",
            "remoteGroupId" : "2da4a84a-04d9-3d6a-b5ad-a755bbd5cbf4",
            "scheduledState" : "ENABLED",
            "targetId" : "a60cbf8d-018d-1000-ff1b-9e23592546dd",
            "useCompression" : false
          } ],
          "instanceIdentifier" : "b78d78bc-2c97-3b3c-1602-6a2b54dee5c4",
          "name" : "NiFi Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : -352.0,
            "y" : 472.0
          },
          "proxyHost" : "",
          "proxyUser" : "",
          "targetUri" : "http://localhost:30600/nifi",
          "targetUris" : "http://localhost:30600/nifi",
          "transportProtocol" : "RAW",
          "yieldDuration" : "10 sec"
        } ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}