flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/f419e2b1-fdf9-49b8-87e9-dbd289c88341/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "96c1bed2-10be-3f38-8fba-bb551c6df468",
            "instanceIdentifier" : "237a61d9-f5b7-33e3-7c77-17e50dcf5ff9",
            "name" : "Set Parameter",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "9ed7c2e5-3135-32d2-b2dd-deb40ad9b4f3",
          "instanceIdentifier" : "7b03197d-0f01-31b3-1dbf-9db83d6412a0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "76145069-091e-3e59-b3c9-b5f270b792b9",
            "instanceIdentifier" : "60c0a17b-a309-3708-6615-bf075e945ebf",
            "name" : "Set connector.name",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "9a1a3854-6794-379e-a0dc-1320fcc155fb",
            "instanceIdentifier" : "460a55bf-7b6b-3c18-07bc-dbc523262309",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "e6a68c08-2fc5-3b8d-a149-507407792982",
          "instanceIdentifier" : "c8b7bb1c-72c2-3b67-b9b2-416d779c1123",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "id" : "8f7c7595-503e-3944-a521-98884c86355b",
            "instanceIdentifier" : "1b2f80fc-f5f2-33dc-795f-4b081d7a470e",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "id" : "93a7d307-9e3a-3923-940b-d05f83b514b2",
            "instanceIdentifier" : "d12a463c-d7fe-372f-c63b-363e005c3846",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "f17b0426-ba6c-3546-944e-9e78b8a5845b",
          "instanceIdentifier" : "38d33cab-5cad-32cd-37ce-0fdcb5810863",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "96c1bed2-10be-3f38-8fba-bb551c6df468",
            "instanceIdentifier" : "237a61d9-f5b7-33e3-7c77-17e50dcf5ff9",
            "name" : "Set Parameter",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "76145069-091e-3e59-b3c9-b5f270b792b9",
            "instanceIdentifier" : "60c0a17b-a309-3708-6615-bf075e945ebf",
            "name" : "Set connector.name",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "c06d3985-edd0-32b9-afa8-4ba2055701f6",
          "instanceIdentifier" : "76e2215c-8013-3c06-801f-4debba6b3985",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
            "id" : "bc366dc8-c790-36a3-ac3a-e70aaa55aa5a",
            "instanceIdentifier" : "93db34f9-d524-32e1-a9d3-da374af59410",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "41f9ca00-8cd4-3927-8aeb-4d52ea48744e",
          "instanceIdentifier" : "d5907b0f-ff00-31d3-8cf5-06f7aedb968a",
          "name" : "Json Record Set Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "854f6ec9-f715-3eee-8096-4738c64014c9",
          "instanceIdentifier" : "c1db99ef-514f-327e-89c6-8e0a299eeefc",
          "name" : "Json Tree Reader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "bc366dc8-c790-36a3-ac3a-e70aaa55aa5a",
          "instanceIdentifier" : "93db34f9-d524-32e1-a9d3-da374af59410",
          "name" : "INPUT",
          "position" : {
            "x" : 13384.0,
            "y" : 368.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "2da866df-018a-1000-a39a-fff2a72428fb",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "height" : 920.0,
          "identifier" : "1b874665-6f2d-38c3-86c4-0d9ccd807fc7",
          "instanceIdentifier" : "050ad1c8-dce6-35ef-9a88-df703b667962",
          "label" : "WorkspaceLink",
          "position" : {
            "x" : 13208.0,
            "y" : 440.0
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 592.0,
          "zIndex" : 0
        } ],
        "name" : "WorkspaceLink",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "9a1a3854-6794-379e-a0dc-1320fcc155fb",
          "instanceIdentifier" : "460a55bf-7b6b-3c18-07bc-dbc523262309",
          "name" : "OUTPUT",
          "position" : {
            "x" : 13384.0,
            "y" : 1384.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 7319.8018447636705,
          "y" : -437.57440930113916
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
              "id" : "8f7c7595-503e-3944-a521-98884c86355b",
              "instanceIdentifier" : "1b2f80fc-f5f2-33dc-795f-4b081d7a470e",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "05bd323e-c003-36d2-ba2c-599972be5564",
            "instanceIdentifier" : "4df568a7-ad2c-392d-556b-121986f5dbd0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "id" : "2967b2e2-714d-331c-8f90-d548c189ba05",
              "instanceIdentifier" : "6f175a04-df51-376e-ff7a-5a013281e58e",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "id" : "1851b507-e2a7-3e01-a935-f0c0fe8da27f",
              "instanceIdentifier" : "bbb2896b-6e8c-325c-8a3a-bf721b49ed33",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "9fe134ef-3e23-355a-9812-7adbc069f3c2",
            "instanceIdentifier" : "47234a2f-fa2f-37ef-b60c-6bcb6b4a5297",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "id" : "a28edbd3-57ef-3df9-8943-bef62f799358",
              "instanceIdentifier" : "42d68ba3-f0ec-354e-162c-076d62128286",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "id" : "c86c2af7-f8a0-38d9-9591-97bccc5f9359",
              "instanceIdentifier" : "6b41336e-b6ff-3a19-ce8e-58d0364c9fe2",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "d2babfae-006e-3ad2-8ed4-8a1c1324106d",
            "instanceIdentifier" : "178cce95-55d9-3b59-3ca5-646a0a205384",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
              "id" : "93a7d307-9e3a-3923-940b-d05f83b514b2",
              "instanceIdentifier" : "d12a463c-d7fe-372f-c63b-363e005c3846",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "93a7d307-9e3a-3923-940b-d05f83b514b2",
            "instanceIdentifier" : "d12a463c-d7fe-372f-c63b-363e005c3846",
            "name" : "INPUT",
            "position" : {
              "x" : 4256.0,
              "y" : 640.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "b56149b6-0bdf-3e1f-9b1a-c34b025a3e64",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "height" : 376.0,
            "identifier" : "514b99ed-54bd-306b-902c-cd6c4c18729b",
            "instanceIdentifier" : "e71eb9b7-643f-3bcb-cf75-4b6229f408ec",
            "label" : "Find workspace name from ES",
            "position" : {
              "x" : 3392.0,
              "y" : 744.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "22px"
            },
            "width" : 1600.0,
            "zIndex" : 0
          } ],
          "name" : "Find workspace name from ES",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "8f7c7595-503e-3944-a521-98884c86355b",
            "instanceIdentifier" : "1b2f80fc-f5f2-33dc-795f-4b081d7a470e",
            "name" : "OUTPUT",
            "position" : {
              "x" : 4872.0,
              "y" : 912.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 13312.0,
            "y" : 1088.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "275e7a09-b0e3-3c24-a8ea-0d889bbfe506",
                "instanceIdentifier" : "5ecce360-330e-31cd-1542-16784c88d3e0",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "982d1308-0c26-35fc-ad99-7e81b5c9129d",
              "instanceIdentifier" : "bb01f789-f010-3930-3473-1ebb22488380",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "589b243e-e1b1-3a91-90b5-922b3068e866",
                "instanceIdentifier" : "9370a28d-0fbe-3527-6ace-fbfc16c3d8a0",
                "name" : "SplitRecord",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "76d680a8-4a89-36eb-99f9-62333c8f307e",
                "instanceIdentifier" : "d3de2b2e-d2b4-392c-0d7a-422d6706d0ce",
                "name" : "EvaluateJsonPath",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "7fdf97ed-08c6-3cef-8cd5-2049261b82e0",
              "instanceIdentifier" : "45a85e66-7e17-30e6-893f-2df1992760d6",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "splits" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "589b243e-e1b1-3a91-90b5-922b3068e866",
                "instanceIdentifier" : "9370a28d-0fbe-3527-6ace-fbfc16c3d8a0",
                "name" : "SplitRecord",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "589b243e-e1b1-3a91-90b5-922b3068e866",
                "instanceIdentifier" : "9370a28d-0fbe-3527-6ace-fbfc16c3d8a0",
                "name" : "SplitRecord",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "6b5ebc07-27bb-3acd-8604-a9f918f311ca",
              "instanceIdentifier" : "9d76c057-8384-3481-1b47-a213966b930d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "0d648d69-3929-3e85-b582-7e6bd6bc935d",
                "instanceIdentifier" : "f9342369-cf57-31ef-9337-ecfa185b2eff",
                "name" : "Route on empty auth.workspace",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "5c6ba4be-1d78-3c6c-9f2d-2da0902fd35c",
                "instanceIdentifier" : "4d032ba7-7779-39a6-4fa9-4094b4302f05",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "e36180ea-c385-3fab-acd5-a4273bb078ec",
              "instanceIdentifier" : "2bde7644-a4cb-32a3-5e29-a36d3d2e60a2",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "275e7a09-b0e3-3c24-a8ea-0d889bbfe506",
                "instanceIdentifier" : "5ecce360-330e-31cd-1542-16784c88d3e0",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "275e7a09-b0e3-3c24-a8ea-0d889bbfe506",
                "instanceIdentifier" : "5ecce360-330e-31cd-1542-16784c88d3e0",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "55d3c6e2-3c09-39de-9733-93f972fb2397",
              "instanceIdentifier" : "2daa0465-018a-1000-3199-81afc743b244",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "b9858d75-9f1f-3a42-90ad-52ad3cf47649",
                "instanceIdentifier" : "2da9d74f-018a-1000-04d8-11d224ab5283",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "2967b2e2-714d-331c-8f90-d548c189ba05",
                "instanceIdentifier" : "6f175a04-df51-376e-ff7a-5a013281e58e",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "b89bc823-d525-3bba-a814-0cc5c7786655",
              "instanceIdentifier" : "913ad55e-e309-3664-8cca-c3f097c3902e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "matched" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "76d680a8-4a89-36eb-99f9-62333c8f307e",
                "instanceIdentifier" : "d3de2b2e-d2b4-392c-0d7a-422d6706d0ce",
                "name" : "EvaluateJsonPath",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "5c6ba4be-1d78-3c6c-9f2d-2da0902fd35c",
                "instanceIdentifier" : "4d032ba7-7779-39a6-4fa9-4094b4302f05",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "90ffc0c3-b2bd-3e3f-9052-f0a7ccc25c23",
              "instanceIdentifier" : "2cad3d9e-3d33-3ea8-f335-25fa0842bfe8",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "76d680a8-4a89-36eb-99f9-62333c8f307e",
                "instanceIdentifier" : "d3de2b2e-d2b4-392c-0d7a-422d6706d0ce",
                "name" : "EvaluateJsonPath",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "b9858d75-9f1f-3a42-90ad-52ad3cf47649",
                "instanceIdentifier" : "2da9d74f-018a-1000-04d8-11d224ab5283",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "4f5938bd-1044-3fea-a444-0b6e79f785df",
              "instanceIdentifier" : "2abee8aa-fded-305e-b4c1-2b24a4ae43d4",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "id" : "fdf6c74d-d3db-33f4-9247-8324d87477d1",
                "instanceIdentifier" : "baffc126-9213-3333-501e-1f610b8011e1",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "a28edbd3-57ef-3df9-8943-bef62f799358",
                "instanceIdentifier" : "42d68ba3-f0ec-354e-162c-076d62128286",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "b34566cb-72c7-3972-a3d3-662ddd26c629",
              "instanceIdentifier" : "ffd5d434-271c-3751-0fdd-56e1bce8bf68",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "5c6ba4be-1d78-3c6c-9f2d-2da0902fd35c",
                "instanceIdentifier" : "4d032ba7-7779-39a6-4fa9-4094b4302f05",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "0d648d69-3929-3e85-b582-7e6bd6bc935d",
                "instanceIdentifier" : "f9342369-cf57-31ef-9337-ecfa185b2eff",
                "name" : "Route on empty auth.workspace",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "77d3485d-0cc9-374f-975b-a99b167f509c",
              "instanceIdentifier" : "77e1e0aa-80c2-3b1c-5f1a-bcec3ed8e28a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "id" : "701b3991-3e35-3c7b-9380-984d6be41125",
                "instanceIdentifier" : "e3ef4b96-fc0a-35af-5b7e-4da41fef3e9e",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "id" : "f6002cdd-645b-3878-8249-668555531287",
                "instanceIdentifier" : "faf20c04-9a0c-3734-94eb-3517cd82a2c7",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "e706fc83-0a7e-34ca-b6f5-9fe76958daeb",
              "instanceIdentifier" : "69b3b581-cbe0-3c31-2573-72e03a8cedb5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
                "id" : "c86c2af7-f8a0-38d9-9591-97bccc5f9359",
                "instanceIdentifier" : "6b41336e-b6ff-3a19-ce8e-58d0364c9fe2",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "5c6ba4be-1d78-3c6c-9f2d-2da0902fd35c",
              "instanceIdentifier" : "4d032ba7-7779-39a6-4fa9-4094b4302f05",
              "position" : {
                "x" : -3840.0,
                "y" : 536.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "b9858d75-9f1f-3a42-90ad-52ad3cf47649",
              "instanceIdentifier" : "2da9d74f-018a-1000-04d8-11d224ab5283",
              "position" : {
                "x" : -5896.0,
                "y" : 536.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "275e7a09-b0e3-3c24-a8ea-0d889bbfe506",
              "instanceIdentifier" : "5ecce360-330e-31cd-1542-16784c88d3e0",
              "position" : {
                "x" : -4496.0,
                "y" : 536.0
              }
            } ],
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "c86c2af7-f8a0-38d9-9591-97bccc5f9359",
              "instanceIdentifier" : "6b41336e-b6ff-3a19-ce8e-58d0364c9fe2",
              "name" : "INPUT",
              "position" : {
                "x" : -6600.0,
                "y" : 296.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "8c57732d-06e6-3f6d-28d3-fdd81b95f930",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "height" : 528.0,
              "identifier" : "2a19e84c-a9a4-394e-a50c-644fa9cde09e",
              "instanceIdentifier" : "26ea3486-3b88-3164-9951-98e87c6598ed",
              "label" : "Execute ES Query",
              "position" : {
                "x" : -6448.0,
                "y" : 144.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 3312.0,
              "zIndex" : 0
            } ],
            "name" : "Execute ES Query",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "2967b2e2-714d-331c-8f90-d548c189ba05",
              "instanceIdentifier" : "6f175a04-df51-376e-ff7a-5a013281e58e",
              "name" : "OUTPUT",
              "position" : {
                "x" : -3264.0,
                "y" : 296.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "a28edbd3-57ef-3df9-8943-bef62f799358",
              "instanceIdentifier" : "42d68ba3-f0ec-354e-162c-076d62128286",
              "name" : "ERROR",
              "position" : {
                "x" : -3264.0,
                "y" : 536.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 4184.0,
              "y" : 848.0
            },
            "processGroups" : [ {
              "comments" : "",
              "componentType" : "PROCESS_GROUP",
              "connections" : [ {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b5b25cc4-e3a6-3431-bc38-8ab58b4da96c",
                  "instanceIdentifier" : "856fc209-abeb-3c1b-090b-b2ddc8d059a0",
                  "name" : "GET Elasticsearch count",
                  "type" : "PROCESSOR"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "f8491fb5-8034-3d15-abb0-ca30e0233a96",
                "instanceIdentifier" : "086512c3-0af9-35ed-9c55-56d310d063ec",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "success" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "5bef13ef-a451-34d2-ab34-45b7fa5baa68",
                  "instanceIdentifier" : "ddedbf94-add3-307a-46aa-7f07c3ef3d1d",
                  "name" : "Generate query",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "fdf6c74d-d3db-33f4-9247-8324d87477d1",
                  "instanceIdentifier" : "baffc126-9213-3333-501e-1f610b8011e1",
                  "name" : "ERROR",
                  "type" : "OUTPUT_PORT"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "8140c9ca-4f47-3413-a6b2-f52332b1dfad",
                "instanceIdentifier" : "9a3f8945-694c-38dc-b5bb-f31f40f5ada0",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b34ec679-b07e-3760-a529-62d23647ac6c",
                  "instanceIdentifier" : "96bc4040-aeee-3c0e-e8e1-62efd2378eee",
                  "name" : "Funnel",
                  "type" : "FUNNEL"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "8956a03f-5ff1-356a-9121-82f07b7c1c31",
                  "instanceIdentifier" : "cb1e7c58-b8f0-3566-8336-e13265c24975",
                  "name" : "EvaluateJsonPath",
                  "type" : "PROCESSOR"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "b1db99de-6f3f-3d5e-92c4-2cc5ecd03835",
                "instanceIdentifier" : "376be41c-007c-38c2-f428-b7373d92d8da",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "Response" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b5b25cc4-e3a6-3431-bc38-8ab58b4da96c",
                  "instanceIdentifier" : "856fc209-abeb-3c1b-090b-b2ddc8d059a0",
                  "name" : "GET Elasticsearch count",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b34ec679-b07e-3760-a529-62d23647ac6c",
                  "instanceIdentifier" : "96bc4040-aeee-3c0e-e8e1-62efd2378eee",
                  "name" : "Funnel",
                  "type" : "FUNNEL"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "7736d2c2-862c-377e-a97d-7e84e025c642",
                "instanceIdentifier" : "dfa397ba-257a-3ebe-84aa-847cc9e23563",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "failure" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "8956a03f-5ff1-356a-9121-82f07b7c1c31",
                  "instanceIdentifier" : "cb1e7c58-b8f0-3566-8336-e13265c24975",
                  "name" : "EvaluateJsonPath",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b6f5d17b-1160-301f-9e9d-19d29a75713c",
                  "instanceIdentifier" : "1881733c-cde3-3208-fa89-cf5432dbb940",
                  "name" : "Set scroll uri and page size",
                  "type" : "PROCESSOR"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "1329aee6-b9b2-3166-96cb-694beb444f3c",
                "instanceIdentifier" : "dd1773c3-d478-3048-8149-7faec704f569",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "f6002cdd-645b-3878-8249-668555531287",
                  "instanceIdentifier" : "faf20c04-9a0c-3734-94eb-3517cd82a2c7",
                  "name" : "INPUT",
                  "type" : "INPUT_PORT"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "34cd832d-3099-3c34-9c06-cad230206553",
                  "instanceIdentifier" : "52944772-0f88-3d46-cb8f-d68c7da75b48",
                  "name" : "Log error message",
                  "type" : "PROCESSOR"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "7940a448-5b3f-372c-8d1b-159187d314ac",
                "instanceIdentifier" : "e4e23051-0635-3138-bc64-13ea7fc86076",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b5b25cc4-e3a6-3431-bc38-8ab58b4da96c",
                  "instanceIdentifier" : "856fc209-abeb-3c1b-090b-b2ddc8d059a0",
                  "name" : "GET Elasticsearch count",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b34ec679-b07e-3760-a529-62d23647ac6c",
                  "instanceIdentifier" : "96bc4040-aeee-3c0e-e8e1-62efd2378eee",
                  "name" : "Funnel",
                  "type" : "FUNNEL"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "539f6206-d29b-3d76-b1c2-5e16b0e6c549",
                "instanceIdentifier" : "ce9bc886-0038-3e81-1043-674f8b9a5729",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "604fa2ff-e0b0-31bf-8a40-c1f25e1742df",
                  "instanceIdentifier" : "2dd1eebc-5082-3ed4-7d45-7f62f619cc59",
                  "name" : "Funnel",
                  "type" : "FUNNEL"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "604fa2ff-e0b0-31bf-8a40-c1f25e1742df",
                  "instanceIdentifier" : "2dd1eebc-5082-3ed4-7d45-7f62f619cc59",
                  "name" : "Funnel",
                  "type" : "FUNNEL"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "18fbcffd-7a4f-3ea8-8ddc-30cc247769c8",
                "instanceIdentifier" : "fc27868a-37e2-314a-b856-747d1b4cb24e",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "success" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "34cd832d-3099-3c34-9c06-cad230206553",
                  "instanceIdentifier" : "52944772-0f88-3d46-cb8f-d68c7da75b48",
                  "name" : "Log error message",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "701b3991-3e35-3c7b-9380-984d6be41125",
                  "instanceIdentifier" : "e3ef4b96-fc0a-35af-5b7e-4da41fef3e9e",
                  "name" : "SUCCESS",
                  "type" : "OUTPUT_PORT"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "c24adf8c-eb4b-3733-a543-9ae298a2dc68",
                "instanceIdentifier" : "33f976a7-7295-3f9a-2183-350ce07c0442",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "matched" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "8956a03f-5ff1-356a-9121-82f07b7c1c31",
                  "instanceIdentifier" : "cb1e7c58-b8f0-3566-8336-e13265c24975",
                  "name" : "EvaluateJsonPath",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              }, {
                "backPressureDataSizeThreshold" : "1 GB",
                "backPressureObjectThreshold" : 10000,
                "bends" : [ ],
                "componentType" : "CONNECTION",
                "destination" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "5bef13ef-a451-34d2-ab34-45b7fa5baa68",
                  "instanceIdentifier" : "ddedbf94-add3-307a-46aa-7f07c3ef3d1d",
                  "name" : "Generate query",
                  "type" : "PROCESSOR"
                },
                "flowFileExpiration" : "0 sec",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "092da7ac-57e2-3586-8edc-a51aa3738f6b",
                "instanceIdentifier" : "5bee3c1a-98ab-3afe-14ff-63b6e9721a8b",
                "labelIndex" : 1,
                "loadBalanceCompression" : "DO_NOT_COMPRESS",
                "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
                "name" : "",
                "partitioningAttribute" : "",
                "prioritizers" : [ ],
                "selectedRelationships" : [ "success" ],
                "source" : {
                  "comments" : "",
                  "groupId" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                  "id" : "b6f5d17b-1160-301f-9e9d-19d29a75713c",
                  "instanceIdentifier" : "1881733c-cde3-3208-fa89-cf5432dbb940",
                  "name" : "Set scroll uri and page size",
                  "type" : "PROCESSOR"
                },
                "zIndex" : 0
              } ],
              "controllerServices" : [ ],
              "defaultBackPressureDataSizeThreshold" : "1 GB",
              "defaultBackPressureObjectThreshold" : 10000,
              "defaultFlowFileExpiration" : "0 sec",
              "flowFileConcurrency" : "UNBOUNDED",
              "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
              "funnels" : [ {
                "componentType" : "FUNNEL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "604fa2ff-e0b0-31bf-8a40-c1f25e1742df",
                "instanceIdentifier" : "2dd1eebc-5082-3ed4-7d45-7f62f619cc59",
                "position" : {
                  "x" : 1368.0,
                  "y" : 696.0
                }
              }, {
                "componentType" : "FUNNEL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "b34ec679-b07e-3760-a529-62d23647ac6c",
                "instanceIdentifier" : "96bc4040-aeee-3c0e-e8e1-62efd2378eee",
                "position" : {
                  "x" : 2016.0,
                  "y" : 696.0
                }
              } ],
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
              "inputPorts" : [ {
                "allowRemoteAccess" : false,
                "comments" : "",
                "componentType" : "INPUT_PORT",
                "concurrentlySchedulableTaskCount" : 1,
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "f6002cdd-645b-3878-8249-668555531287",
                "instanceIdentifier" : "faf20c04-9a0c-3734-94eb-3517cd82a2c7",
                "name" : "INPUT",
                "position" : {
                  "x" : -88.0,
                  "y" : -32.0
                },
                "scheduledState" : "ENABLED",
                "type" : "INPUT_PORT"
              } ],
              "instanceIdentifier" : "cd6b6a9d-f8fa-31f3-bf3b-d92c1c10b226",
              "labels" : [ {
                "componentType" : "LABEL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "height" : 976.0,
                "identifier" : "08ae60ed-c868-3950-abdd-c67d069a8088",
                "instanceIdentifier" : "8736caa2-2619-3eba-0287-faa23715dfae",
                "label" : "SCROLL Elasticsearch",
                "position" : {
                  "x" : 24.0,
                  "y" : -144.0
                },
                "style" : {
                  "background-color" : "#cceeff",
                  "font-size" : "20px"
                },
                "width" : 2696.0,
                "zIndex" : 0
              } ],
              "name" : "SCROLL Elasticsearch",
              "outputPorts" : [ {
                "allowRemoteAccess" : false,
                "comments" : "",
                "componentType" : "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount" : 1,
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "fdf6c74d-d3db-33f4-9247-8324d87477d1",
                "instanceIdentifier" : "baffc126-9213-3333-501e-1f610b8011e1",
                "name" : "ERROR",
                "position" : {
                  "x" : 2584.0,
                  "y" : 696.0
                },
                "scheduledState" : "ENABLED",
                "type" : "OUTPUT_PORT"
              }, {
                "allowRemoteAccess" : false,
                "comments" : "",
                "componentType" : "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount" : 1,
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "701b3991-3e35-3c7b-9380-984d6be41125",
                "instanceIdentifier" : "e3ef4b96-fc0a-35af-5b7e-4da41fef3e9e",
                "name" : "SUCCESS",
                "position" : {
                  "x" : 2584.0,
                  "y" : 216.0
                },
                "scheduledState" : "ENABLED",
                "type" : "OUTPUT_PORT"
              } ],
              "position" : {
                "x" : -6064.0,
                "y" : 232.0
              },
              "processGroups" : [ ],
              "processors" : [ {
                "autoTerminatedRelationships" : [ "unmatched" ],
                "backoffMechanism" : "PENALIZE_FLOWFILE",
                "bulletinLevel" : "WARN",
                "bundle" : {
                  "artifact" : "nifi-standard-nar",
                  "group" : "org.apache.nifi",
                  "version" : "1.22.0"
                },
                "comments" : "",
                "componentType" : "PROCESSOR",
                "concurrentlySchedulableTaskCount" : 1,
                "executionNode" : "ALL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "8956a03f-5ff1-356a-9121-82f07b7c1c31",
                "instanceIdentifier" : "cb1e7c58-b8f0-3566-8336-e13265c24975",
                "maxBackoffPeriod" : "10 mins",
                "name" : "EvaluateJsonPath",
                "penaltyDuration" : "0 sec",
                "position" : {
                  "x" : 1864.0,
                  "y" : 184.0
                },
                "properties" : {
                  "Destination" : "flowfile-content",
                  "Return Type" : "auto-detect",
                  "Null Value Representation" : "empty string",
                  "workspaceList" : "$.aggregations.workspaces.buckets",
                  "Path Not Found Behavior" : "ignore"
                },
                "propertyDescriptors" : {
                  "Destination" : {
                    "displayName" : "Destination",
                    "identifiesControllerService" : false,
                    "name" : "Destination",
                    "sensitive" : false
                  },
                  "Return Type" : {
                    "displayName" : "Return Type",
                    "identifiesControllerService" : false,
                    "name" : "Return Type",
                    "sensitive" : false
                  },
                  "Null Value Representation" : {
                    "displayName" : "Null Value Representation",
                    "identifiesControllerService" : false,
                    "name" : "Null Value Representation",
                    "sensitive" : false
                  },
                  "workspaceList" : {
                    "displayName" : "workspaceList",
                    "identifiesControllerService" : false,
                    "name" : "workspaceList",
                    "sensitive" : false
                  },
                  "Path Not Found Behavior" : {
                    "displayName" : "Path Not Found Behavior",
                    "identifiesControllerService" : false,
                    "name" : "Path Not Found Behavior",
                    "sensitive" : false
                  }
                },
                "retriedRelationships" : [ ],
                "retryCount" : 10,
                "runDurationMillis" : 0,
                "scheduledState" : "ENABLED",
                "schedulingPeriod" : "0 sec",
                "schedulingStrategy" : "TIMER_DRIVEN",
                "style" : { },
                "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration" : "1 sec"
              }, {
                "autoTerminatedRelationships" : [ "Original" ],
                "backoffMechanism" : "PENALIZE_FLOWFILE",
                "bulletinLevel" : "WARN",
                "bundle" : {
                  "artifact" : "nifi-standard-nar",
                  "group" : "org.apache.nifi",
                  "version" : "1.22.0"
                },
                "comments" : "",
                "componentType" : "PROCESSOR",
                "concurrentlySchedulableTaskCount" : 1,
                "executionNode" : "ALL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "b5b25cc4-e3a6-3431-bc38-8ab58b4da96c",
                "instanceIdentifier" : "856fc209-abeb-3c1b-090b-b2ddc8d059a0",
                "maxBackoffPeriod" : "1 min",
                "name" : "GET Elasticsearch count",
                "penaltyDuration" : "5 sec",
                "position" : {
                  "x" : 1216.0,
                  "y" : 184.0
                },
                "properties" : {
                  "use-etag" : "false",
                  "Proxy Type" : "http",
                  "cookie-strategy" : "DISABLED",
                  "Connection Timeout" : "10 secs",
                  "send-message-body" : "true",
                  "set-form-filename" : "true",
                  "Always Output Response" : "false",
                  "etag-max-cache-size" : "10MB",
                  "Content-Encoding" : "DISABLED",
                  "disable-http2" : "False",
                  "idle-timeout" : "5 mins",
                  "Use Chunked Encoding" : "false",
                  "Follow Redirects" : "True",
                  "Remote URL" : "${SEARCH_URL}/${index.scroll.uri}",
                  "Content-Type" : "application/json",
                  "flow-file-naming-strategy" : "RANDOM",
                  "max-idle-connections" : "5",
                  "Read Timeout" : "30 secs",
                  "Max Length To Put In Attribute" : "256",
                  "ignore-response-content" : "false",
                  "Digest Authentication" : "false",
                  "HTTP Method" : "POST",
                  "Add Response Headers to Request" : "false",
                  "Include Date Header" : "True",
                  "Penalize on \"No Retry\"" : "false"
                },
                "propertyDescriptors" : {
                  "Proxy Host" : {
                    "displayName" : "Proxy Host",
                    "identifiesControllerService" : false,
                    "name" : "Proxy Host",
                    "sensitive" : false
                  },
                  "Attributes to Send" : {
                    "displayName" : "Request Header Attributes Pattern",
                    "identifiesControllerService" : false,
                    "name" : "Attributes to Send",
                    "sensitive" : false
                  },
                  "use-etag" : {
                    "displayName" : "Response Cache Enabled",
                    "identifiesControllerService" : false,
                    "name" : "use-etag",
                    "sensitive" : false
                  },
                  "proxy-configuration-service" : {
                    "displayName" : "Proxy Configuration Service",
                    "identifiesControllerService" : true,
                    "name" : "proxy-configuration-service",
                    "sensitive" : false
                  },
                  "Proxy Type" : {
                    "displayName" : "Proxy Type",
                    "identifiesControllerService" : false,
                    "name" : "Proxy Type",
                    "sensitive" : false
                  },
                  "Basic Authentication Password" : {
                    "displayName" : "Request Password",
                    "identifiesControllerService" : false,
                    "name" : "Basic Authentication Password",
                    "sensitive" : true
                  },
                  "cookie-strategy" : {
                    "displayName" : "Response Cookie Strategy",
                    "identifiesControllerService" : false,
                    "name" : "cookie-strategy",
                    "sensitive" : false
                  },
                  "Connection Timeout" : {
                    "displayName" : "Socket Connect Timeout",
                    "identifiesControllerService" : false,
                    "name" : "Connection Timeout",
                    "sensitive" : false
                  },
                  "send-message-body" : {
                    "displayName" : "Request Body Enabled",
                    "identifiesControllerService" : false,
                    "name" : "send-message-body",
                    "sensitive" : false
                  },
                  "set-form-filename" : {
                    "displayName" : "Request Multipart Form-Data Filename Enabled",
                    "identifiesControllerService" : false,
                    "name" : "set-form-filename",
                    "sensitive" : false
                  },
                  "Always Output Response" : {
                    "displayName" : "Response Generation Required",
                    "identifiesControllerService" : false,
                    "name" : "Always Output Response",
                    "sensitive" : false
                  },
                  "etag-max-cache-size" : {
                    "displayName" : "Response Cache Size",
                    "identifiesControllerService" : false,
                    "name" : "etag-max-cache-size",
                    "sensitive" : false
                  },
                  "Content-Encoding" : {
                    "displayName" : "Request Content-Encoding",
                    "identifiesControllerService" : false,
                    "name" : "Content-Encoding",
                    "sensitive" : false
                  },
                  "disable-http2" : {
                    "displayName" : "HTTP/2 Disabled",
                    "identifiesControllerService" : false,
                    "name" : "disable-http2",
                    "sensitive" : false
                  },
                  "idle-timeout" : {
                    "displayName" : "Socket Idle Timeout",
                    "identifiesControllerService" : false,
                    "name" : "idle-timeout",
                    "sensitive" : false
                  },
                  "Put Response Body In Attribute" : {
                    "displayName" : "Response Body Attribute Name",
                    "identifiesControllerService" : false,
                    "name" : "Put Response Body In Attribute",
                    "sensitive" : false
                  },
                  "Use Chunked Encoding" : {
                    "displayName" : "Request Chunked Transfer-Encoding Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Use Chunked Encoding",
                    "sensitive" : false
                  },
                  "Follow Redirects" : {
                    "displayName" : "Response Redirects Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Follow Redirects",
                    "sensitive" : false
                  },
                  "Remote URL" : {
                    "displayName" : "HTTP URL",
                    "identifiesControllerService" : false,
                    "name" : "Remote URL",
                    "sensitive" : false
                  },
                  "form-body-form-name" : {
                    "displayName" : "Request Multipart Form-Data Name",
                    "identifiesControllerService" : false,
                    "name" : "form-body-form-name",
                    "sensitive" : false
                  },
                  "Content-Type" : {
                    "displayName" : "Request Content-Type",
                    "identifiesControllerService" : false,
                    "name" : "Content-Type",
                    "sensitive" : false
                  },
                  "flow-file-naming-strategy" : {
                    "displayName" : "Response FlowFile Naming Strategy",
                    "identifiesControllerService" : false,
                    "name" : "flow-file-naming-strategy",
                    "sensitive" : false
                  },
                  "max-idle-connections" : {
                    "displayName" : "Socket Idle Connections",
                    "identifiesControllerService" : false,
                    "name" : "max-idle-connections",
                    "sensitive" : false
                  },
                  "invokehttp-proxy-user" : {
                    "displayName" : "Proxy Username",
                    "identifiesControllerService" : false,
                    "name" : "invokehttp-proxy-user",
                    "sensitive" : false
                  },
                  "Read Timeout" : {
                    "displayName" : "Socket Read Timeout",
                    "identifiesControllerService" : false,
                    "name" : "Read Timeout",
                    "sensitive" : false
                  },
                  "Max Length To Put In Attribute" : {
                    "displayName" : "Response Body Attribute Size",
                    "identifiesControllerService" : false,
                    "name" : "Max Length To Put In Attribute",
                    "sensitive" : false
                  },
                  "invokehttp-proxy-password" : {
                    "displayName" : "Proxy Password",
                    "identifiesControllerService" : false,
                    "name" : "invokehttp-proxy-password",
                    "sensitive" : true
                  },
                  "ignore-response-content" : {
                    "displayName" : "Response Body Ignored",
                    "identifiesControllerService" : false,
                    "name" : "ignore-response-content",
                    "sensitive" : false
                  },
                  "Proxy Port" : {
                    "displayName" : "Proxy Port",
                    "identifiesControllerService" : false,
                    "name" : "Proxy Port",
                    "sensitive" : false
                  },
                  "SSL Context Service" : {
                    "displayName" : "SSL Context Service",
                    "identifiesControllerService" : true,
                    "name" : "SSL Context Service",
                    "sensitive" : false
                  },
                  "Digest Authentication" : {
                    "displayName" : "Request Digest Authentication Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Digest Authentication",
                    "sensitive" : false
                  },
                  "HTTP Method" : {
                    "displayName" : "HTTP Method",
                    "identifiesControllerService" : false,
                    "name" : "HTTP Method",
                    "sensitive" : false
                  },
                  "Add Response Headers to Request" : {
                    "displayName" : "Response Header Request Attributes Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Add Response Headers to Request",
                    "sensitive" : false
                  },
                  "oauth2-access-token-provider" : {
                    "displayName" : "Request OAuth2 Access Token Provider",
                    "identifiesControllerService" : true,
                    "name" : "oauth2-access-token-provider",
                    "sensitive" : false
                  },
                  "Basic Authentication Username" : {
                    "displayName" : "Request Username",
                    "identifiesControllerService" : false,
                    "name" : "Basic Authentication Username",
                    "sensitive" : false
                  },
                  "Include Date Header" : {
                    "displayName" : "Request Date Header Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Include Date Header",
                    "sensitive" : false
                  },
                  "Penalize on \"No Retry\"" : {
                    "displayName" : "Request Failure Penalization Enabled",
                    "identifiesControllerService" : false,
                    "name" : "Penalize on \"No Retry\"",
                    "sensitive" : false
                  },
                  "Useragent" : {
                    "displayName" : "Request User-Agent",
                    "identifiesControllerService" : false,
                    "name" : "Useragent",
                    "sensitive" : false
                  }
                },
                "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
                "retryCount" : 10,
                "runDurationMillis" : 0,
                "scheduledState" : "ENABLED",
                "schedulingPeriod" : "0 sec",
                "schedulingStrategy" : "TIMER_DRIVEN",
                "style" : {
                  "background-color" : "#005555"
                },
                "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
                "yieldDuration" : "1 sec"
              }, {
                "autoTerminatedRelationships" : [ ],
                "backoffMechanism" : "PENALIZE_FLOWFILE",
                "bulletinLevel" : "WARN",
                "bundle" : {
                  "artifact" : "nifi-update-attribute-nar",
                  "group" : "org.apache.nifi",
                  "version" : "1.22.0"
                },
                "comments" : "",
                "componentType" : "PROCESSOR",
                "concurrentlySchedulableTaskCount" : 1,
                "executionNode" : "ALL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "b6f5d17b-1160-301f-9e9d-19d29a75713c",
                "instanceIdentifier" : "1881733c-cde3-3208-fa89-cf5432dbb940",
                "maxBackoffPeriod" : "10 mins",
                "name" : "Set scroll uri and page size",
                "penaltyDuration" : "0 sec",
                "position" : {
                  "x" : 552.0,
                  "y" : -72.0
                },
                "properties" : {
                  "Store State" : "Do not store state",
                  "canonical-value-lookup-cache-size" : "100",
                  "es.bucketSize" : "${scroll.bucket.size}",
                  "index.scroll.uri" : "${environment.name}.workspace/_search",
                  "es.pageSize" : "${scroll.page.size}"
                },
                "propertyDescriptors" : {
                  "Delete Attributes Expression" : {
                    "displayName" : "Delete Attributes Expression",
                    "identifiesControllerService" : false,
                    "name" : "Delete Attributes Expression",
                    "sensitive" : false
                  },
                  "Store State" : {
                    "displayName" : "Store State",
                    "identifiesControllerService" : false,
                    "name" : "Store State",
                    "sensitive" : false
                  },
                  "canonical-value-lookup-cache-size" : {
                    "displayName" : "Cache Value Lookup Cache Size",
                    "identifiesControllerService" : false,
                    "name" : "canonical-value-lookup-cache-size",
                    "sensitive" : false
                  },
                  "es.bucketSize" : {
                    "displayName" : "es.bucketSize",
                    "identifiesControllerService" : false,
                    "name" : "es.bucketSize",
                    "sensitive" : false
                  },
                  "index.scroll.uri" : {
                    "displayName" : "index.scroll.uri",
                    "identifiesControllerService" : false,
                    "name" : "index.scroll.uri",
                    "sensitive" : false
                  },
                  "Stateful Variables Initial Value" : {
                    "displayName" : "Stateful Variables Initial Value",
                    "identifiesControllerService" : false,
                    "name" : "Stateful Variables Initial Value",
                    "sensitive" : false
                  },
                  "es.pageSize" : {
                    "displayName" : "es.pageSize",
                    "identifiesControllerService" : false,
                    "name" : "es.pageSize",
                    "sensitive" : false
                  }
                },
                "retriedRelationships" : [ ],
                "retryCount" : 10,
                "runDurationMillis" : 0,
                "scheduledState" : "ENABLED",
                "schedulingPeriod" : "0 sec",
                "schedulingStrategy" : "TIMER_DRIVEN",
                "style" : { },
                "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration" : "1 sec"
              }, {
                "autoTerminatedRelationships" : [ "failure" ],
                "backoffMechanism" : "PENALIZE_FLOWFILE",
                "bulletinLevel" : "WARN",
                "bundle" : {
                  "artifact" : "nifi-standard-nar",
                  "group" : "org.apache.nifi",
                  "version" : "1.22.0"
                },
                "comments" : "",
                "componentType" : "PROCESSOR",
                "concurrentlySchedulableTaskCount" : 1,
                "executionNode" : "ALL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "5bef13ef-a451-34d2-ab34-45b7fa5baa68",
                "instanceIdentifier" : "ddedbf94-add3-307a-46aa-7f07c3ef3d1d",
                "maxBackoffPeriod" : "10 mins",
                "name" : "Generate query",
                "penaltyDuration" : "0 sec",
                "position" : {
                  "x" : 1216.0,
                  "y" : -72.0
                },
                "properties" : {
                  "Regular Expression" : "(?s)(^.*$)",
                  "Replacement Value" : "{\n    \"size\": 0,\n    \"_source\": false,\n    \"query\": {\n        \"bool\": {\n            \"must\": [\n                {\n                    \"term\": {\n                        \"status\": \"incomplete\"\n                    }\n                }\n            ]\n        }\n    },\n    \"aggs\": {\n        \"workspaces\": {\n            \"terms\": {\n                \"field\": \"workspace\",\n                \"size\": 500\n            }\n        }\n    }\n}",
                  "Evaluation Mode" : "Entire text",
                  "Line-by-Line Evaluation Mode" : "All",
                  "Character Set" : "UTF-8",
                  "Maximum Buffer Size" : "1 MB",
                  "Replacement Strategy" : "Always Replace"
                },
                "propertyDescriptors" : {
                  "Regular Expression" : {
                    "displayName" : "Search Value",
                    "identifiesControllerService" : false,
                    "name" : "Regular Expression",
                    "sensitive" : false
                  },
                  "Replacement Value" : {
                    "displayName" : "Replacement Value",
                    "identifiesControllerService" : false,
                    "name" : "Replacement Value",
                    "sensitive" : false
                  },
                  "Evaluation Mode" : {
                    "displayName" : "Evaluation Mode",
                    "identifiesControllerService" : false,
                    "name" : "Evaluation Mode",
                    "sensitive" : false
                  },
                  "Text to Prepend" : {
                    "displayName" : "Text to Prepend",
                    "identifiesControllerService" : false,
                    "name" : "Text to Prepend",
                    "sensitive" : false
                  },
                  "Line-by-Line Evaluation Mode" : {
                    "displayName" : "Line-by-Line Evaluation Mode",
                    "identifiesControllerService" : false,
                    "name" : "Line-by-Line Evaluation Mode",
                    "sensitive" : false
                  },
                  "Character Set" : {
                    "displayName" : "Character Set",
                    "identifiesControllerService" : false,
                    "name" : "Character Set",
                    "sensitive" : false
                  },
                  "Maximum Buffer Size" : {
                    "displayName" : "Maximum Buffer Size",
                    "identifiesControllerService" : false,
                    "name" : "Maximum Buffer Size",
                    "sensitive" : false
                  },
                  "Replacement Strategy" : {
                    "displayName" : "Replacement Strategy",
                    "identifiesControllerService" : false,
                    "name" : "Replacement Strategy",
                    "sensitive" : false
                  },
                  "Text to Append" : {
                    "displayName" : "Text to Append",
                    "identifiesControllerService" : false,
                    "name" : "Text to Append",
                    "sensitive" : false
                  }
                },
                "retriedRelationships" : [ ],
                "retryCount" : 10,
                "runDurationMillis" : 0,
                "scheduledState" : "ENABLED",
                "schedulingPeriod" : "0 sec",
                "schedulingStrategy" : "TIMER_DRIVEN",
                "style" : {
                  "background-color" : "#ffcc00"
                },
                "type" : "org.apache.nifi.processors.standard.ReplaceText",
                "yieldDuration" : "1 sec"
              }, {
                "autoTerminatedRelationships" : [ ],
                "backoffMechanism" : "PENALIZE_FLOWFILE",
                "bulletinLevel" : "NONE",
                "bundle" : {
                  "artifact" : "nifi-update-attribute-nar",
                  "group" : "org.apache.nifi",
                  "version" : "1.22.0"
                },
                "comments" : "",
                "componentType" : "PROCESSOR",
                "concurrentlySchedulableTaskCount" : 1,
                "executionNode" : "ALL",
                "groupIdentifier" : "b98351e3-b85e-38a9-9206-95f2b0838571",
                "identifier" : "34cd832d-3099-3c34-9c06-cad230206553",
                "instanceIdentifier" : "52944772-0f88-3d46-cb8f-d68c7da75b48",
                "maxBackoffPeriod" : "10 mins",
                "name" : "Log error message",
                "penaltyDuration" : "0 sec",
                "position" : {
                  "x" : 1216.0,
                  "y" : 416.0
                },
                "properties" : {
                  "logger.message.text" : "Cannot retrieve data from Elasticsearch",
                  "Store State" : "Do not store state",
                  "canonical-value-lookup-cache-size" : "100",
                  "logger.message.severity" : "E",
                  "logger.message.code" : "DI2003E"
                },
                "propertyDescriptors" : {
                  "logger.message.text" : {
                    "displayName" : "logger.message.text",
                    "identifiesControllerService" : false,
                    "name" : "logger.message.text",
                    "sensitive" : false
                  },
                  "Delete Attributes Expression" : {
                    "displayName" : "Delete Attributes Expression",
                    "identifiesControllerService" : false,
                    "name" : "Delete Attributes Expression",
                    "sensitive" : false
                  },
                  "Store State" : {
                    "displayName" : "Store State",
                    "identifiesControllerService" : false,
                    "name" : "Store State",
                    "sensitive" : false
                  },
                  "canonical-value-lookup-cache-size" : {
                    "displayName" : "Cache Value Lookup Cache Size",
                    "identifiesControllerService" : false,
                    "name" : "canonical-value-lookup-cache-size",
                    "sensitive" : false
                  },
                  "logger.message.severity" : {
                    "displayName" : "logger.message.severity",
                    "identifiesControllerService" : false,
                    "name" : "logger.message.severity",
                    "sensitive" : false
                  },
                  "logger.message.code" : {
                    "displayName" : "logger.message.code",
                    "identifiesControllerService" : false,
                    "name" : "logger.message.code",
                    "sensitive" : false
                  },
                  "Stateful Variables Initial Value" : {
                    "displayName" : "Stateful Variables Initial Value",
                    "identifiesControllerService" : false,
                    "name" : "Stateful Variables Initial Value",
                    "sensitive" : false
                  }
                },
                "retriedRelationships" : [ ],
                "retryCount" : 10,
                "runDurationMillis" : 0,
                "scheduledState" : "ENABLED",
                "schedulingPeriod" : "0 sec",
                "schedulingStrategy" : "TIMER_DRIVEN",
                "style" : {
                  "background-color" : "#ff0000"
                },
                "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration" : "1 sec"
              } ],
              "remoteProcessGroups" : [ ],
              "variables" : { }
            } ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "workspace.empty" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "0d648d69-3929-3e85-b582-7e6bd6bc935d",
              "instanceIdentifier" : "f9342369-cf57-31ef-9337-ecfa185b2eff",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route on empty auth.workspace",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -5336.0,
                "y" : 256.0
              },
              "properties" : {
                "Content Buffer Size" : "1 MB",
                "Match Requirement" : "content must contain match",
                "workspace.empty" : "\\[\\]",
                "Character Set" : "UTF-8"
              },
              "propertyDescriptors" : {
                "Content Buffer Size" : {
                  "displayName" : "Content Buffer Size",
                  "identifiesControllerService" : false,
                  "name" : "Content Buffer Size",
                  "sensitive" : false
                },
                "Match Requirement" : {
                  "displayName" : "Match Requirement",
                  "identifiesControllerService" : false,
                  "name" : "Match Requirement",
                  "sensitive" : false
                },
                "workspace.empty" : {
                  "displayName" : "workspace.empty",
                  "identifiesControllerService" : false,
                  "name" : "workspace.empty",
                  "sensitive" : false
                },
                "Character Set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "Character Set",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnContent",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "unmatched" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "76d680a8-4a89-36eb-99f9-62333c8f307e",
              "instanceIdentifier" : "d3de2b2e-d2b4-392c-0d7a-422d6706d0ce",
              "maxBackoffPeriod" : "10 mins",
              "name" : "EvaluateJsonPath",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -3992.0,
                "y" : 256.0
              },
              "properties" : {
                "Destination" : "flowfile-attribute",
                "workspace" : "$.key",
                "Return Type" : "auto-detect",
                "Null Value Representation" : "empty string",
                "Path Not Found Behavior" : "ignore"
              },
              "propertyDescriptors" : {
                "Destination" : {
                  "displayName" : "Destination",
                  "identifiesControllerService" : false,
                  "name" : "Destination",
                  "sensitive" : false
                },
                "workspace" : {
                  "displayName" : "workspace",
                  "identifiesControllerService" : false,
                  "name" : "workspace",
                  "sensitive" : false
                },
                "Return Type" : {
                  "displayName" : "Return Type",
                  "identifiesControllerService" : false,
                  "name" : "Return Type",
                  "sensitive" : false
                },
                "Null Value Representation" : {
                  "displayName" : "Null Value Representation",
                  "identifiesControllerService" : false,
                  "name" : "Null Value Representation",
                  "sensitive" : false
                },
                "Path Not Found Behavior" : {
                  "displayName" : "Path Not Found Behavior",
                  "identifiesControllerService" : false,
                  "name" : "Path Not Found Behavior",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0f69910a-6fc2-3b54-9717-43ee47ca9f58",
              "identifier" : "589b243e-e1b1-3a91-90b5-922b3068e866",
              "instanceIdentifier" : "9370a28d-0fbe-3527-6ace-fbfc16c3d8a0",
              "maxBackoffPeriod" : "10 mins",
              "name" : "SplitRecord",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : -4648.0,
                "y" : 256.0
              },
              "properties" : {
                "Record Writer" : "41f9ca00-8cd4-3927-8aeb-4d52ea48744e",
                "Record Reader" : "854f6ec9-f715-3eee-8096-4738c64014c9",
                "Records Per Split" : "1"
              },
              "propertyDescriptors" : {
                "Record Writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "Record Writer",
                  "sensitive" : false
                },
                "Record Reader" : {
                  "displayName" : "Record Reader",
                  "identifiesControllerService" : true,
                  "name" : "Record Reader",
                  "sensitive" : false
                },
                "Records Per Split" : {
                  "displayName" : "Records Per Split",
                  "identifiesControllerService" : false,
                  "name" : "Records Per Split",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.SplitRecord",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "21527a34-53e9-352c-b892-dd42bc15ad7a",
            "identifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "361d39a2-7669-3e83-a00c-bbca612a97be",
              "instanceIdentifier" : "5c418a2c-b310-34c2-6a81-ff432cb1df44",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf75-018a-1000-b5ef-566bd710acd1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "36a80a73-0aff-3acb-8a0a-4f383704085f",
              "instanceIdentifier" : "c0bb75c2-b581-37a3-b1d4-3b9e6353fb39",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc041-018a-1000-33ce-a572c344f452",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "93b003c4-7072-3a5b-8275-afb5d205aeb2",
              "instanceIdentifier" : "6391e07e-20e8-342b-9efa-c04915475615",
              "name" : "Routing INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "4c7cb02d-eda4-3e9b-08ff-41ea8fcc5b71",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "77396807-a502-3a75-922d-d04d01a19078",
              "instanceIdentifier" : "e7341f43-37b5-3754-a80b-a5a250ab3f88",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbda3-018a-1000-7cf6-798a4d4aee39",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "ea4c0d36-4d58-3fc1-8589-af19b3fe29b9",
              "instanceIdentifier" : "63408ad6-9092-3b34-8208-9cc44a40ba19",
              "name" : "Run INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc34-018a-1000-fbc8-2109e133d089",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "3feb5681-2629-3ce5-9db0-177950b83591",
              "instanceIdentifier" : "31317cbd-656d-3e44-2c7b-0f9c6a1301b9",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbfdd-018a-1000-9462-b5d773752c48",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "1851b507-e2a7-3e01-a935-f0c0fe8da27f",
              "instanceIdentifier" : "bbb2896b-6e8c-325c-8a3a-bf721b49ed33",
              "name" : "Logger INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbba4-018a-1000-ba9c-29480e48b9d2",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "16ded052-7e94-3d12-921d-275bb784f3f7",
              "instanceIdentifier" : "1d8afa52-93ec-395d-a91a-ecfeddbbadb6",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe96-018a-1000-4747-90e97cca0403",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "c3c0e32c-bb47-3ff8-b1e1-daf97263c381",
              "instanceIdentifier" : "41254c6d-77ca-35e1-ff17-488a923a63e4",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf00-018a-1000-4ca4-ed2df3143ecc",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "791af29e-9901-3d35-9c59-d83b85cdc079",
              "instanceIdentifier" : "ad5e2c7b-a000-3743-512c-3263024db106",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc98-018a-1000-7a78-4739a7b490e5",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "756d861a-d2bb-3e60-ba17-df33ceafd975",
              "instanceIdentifier" : "53973dbb-6ea8-3938-743d-3ee78220026b",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe38-018a-1000-834e-90622738889e",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "c63a0f66-1e13-36e2-945d-c822497f3597",
              "instanceIdentifier" : "8415f302-adce-3e32-7379-6da6f8a78d0a",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc115-018a-1000-81d3-f3b3135fdaab",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "ba5bff29-bfbb-334c-a353-a4a846fa37d9",
              "instanceIdentifier" : "bb83ba0d-6f9a-3f40-1004-f9f901da5f37",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbd2e-018a-1000-85fc-303258699198",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "identifier" : "fb53216c-8d2e-381c-8cdf-c6f3a175e7b4",
              "instanceIdentifier" : "b6835607-f1bf-3143-cbd4-2064147bbdbb",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "2017a126-c0fb-37e1-866d-01128ed53a59",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc0a7-018a-1000-e6ed-c3917d9fb825",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "dfef187c-6b75-3cb3-a377-a4c4f474667d",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 3480.0,
              "y" : 848.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "96c1bed2-10be-3f38-8fba-bb551c6df468",
          "instanceIdentifier" : "237a61d9-f5b7-33e3-7c77-17e50dcf5ff9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Set Parameter",
          "penaltyDuration" : "0 sec",
          "position" : {
            "x" : 13328.0,
            "y" : 816.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "master.catalog" : "${workspaceEventMasterCatalogId}",
            "request.connector.name" : "${workspaceEventConnectorName}",
            "default.catalog" : "${workspaceEventDefaultCatalog}",
            "supported.catalog" : "${workspaceEventSupportedCatalog}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "master.catalog" : {
              "displayName" : "master.catalog",
              "identifiesControllerService" : false,
              "name" : "master.catalog",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "request.connector.name" : {
              "displayName" : "request.connector.name",
              "identifiesControllerService" : false,
              "name" : "request.connector.name",
              "sensitive" : false
            },
            "default.catalog" : {
              "displayName" : "default.catalog",
              "identifiesControllerService" : false,
              "name" : "default.catalog",
              "sensitive" : false
            },
            "supported.catalog" : {
              "displayName" : "supported.catalog",
              "identifiesControllerService" : false,
              "name" : "supported.catalog",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "NONE",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf943d7e-f8fd-37cb-86d4-45def149bdde",
          "identifier" : "76145069-091e-3e59-b3c9-b5f270b792b9",
          "instanceIdentifier" : "60c0a17b-a309-3708-6615-bf075e945ebf",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Set connector.name",
          "penaltyDuration" : "0 sec",
          "position" : {
            "x" : 13328.0,
            "y" : 552.0
          },
          "properties" : {
            "connector.name" : "${connector.name}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "connector.name" : {
              "displayName" : "connector.name",
              "identifiesControllerService" : false,
              "name" : "connector.name",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}