flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/69604b58-897b-4a2e-89b1-9b83e6882002/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "id" : "5f318927-6d57-3be9-89c6-726d72e9a425",
            "instanceIdentifier" : "ea0fee2c-0882-3396-5744-116ef0c8bb98",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "2b8195a1-d67f-34aa-a8fc-45172fb0466f",
          "instanceIdentifier" : "644a8564-40e5-30da-c852-256a6cb03577",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "42513850-b220-38e6-992e-eff371befb13",
            "id" : "31fb3a14-ae7e-3e6a-83db-74a452df6c56",
            "instanceIdentifier" : "2091912b-a7f8-3a2f-93e2-bab15bb084f8",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "id" : "94ddf477-32fd-3e2b-aa2f-4a0a5cc55d0d",
            "instanceIdentifier" : "8e211dfa-4240-3041-b6a7-873fe35acf16",
            "name" : "Logger INPUT",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "e1b3381e-6bd3-3557-9531-102e79a9a9e0",
          "instanceIdentifier" : "41dbc90c-abec-33cf-2128-818f38a348ea",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "id" : "50c40fdd-318b-397c-9299-ad53090d5485",
            "instanceIdentifier" : "e98d7c0b-b824-32e4-ed2d-5574d12290b3",
            "name" : "ERROR",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "42513850-b220-38e6-992e-eff371befb13",
            "id" : "6179db69-1081-33f6-a7e5-57d8f38e74d0",
            "instanceIdentifier" : "0ec07b0b-d8f6-3910-7db8-2d46fee6d77d",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "e6c68561-e963-3522-944f-9e6d01d02810",
          "instanceIdentifier" : "9f266cc2-e2f3-3e39-7ee0-3c2735130b1e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "id" : "cb9041e8-356e-35a3-a369-9a9d256c9673",
            "instanceIdentifier" : "fb1f4aa3-04f7-3fae-ebc3-f0d4898451e1",
            "name" : "SUCCESS",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "42513850-b220-38e6-992e-eff371befb13",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "31fb3a14-ae7e-3e6a-83db-74a452df6c56",
          "instanceIdentifier" : "2091912b-a7f8-3a2f-93e2-bab15bb084f8",
          "name" : "INPUT",
          "position" : {
            "x" : 2648.0,
            "y" : 528.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "6cdccc2f-018c-1000-0355-4d6e7b6e3dca",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "height" : 216.0,
          "identifier" : "955f3c87-a252-3a80-8e0b-b4d24367ef4d",
          "instanceIdentifier" : "1cd06b8d-1ece-3958-049e-9892876e8912",
          "label" : "Usage:\n \nTo allow Ingest service to manage and upgrade this template, it is recommended to customize this template\nthrough a Connector Descriptor via Ingest service.  See Help Center for details on Connector Descriptors. \n \nProvide the following properties when used with the Connector Descriptor:\n \n- Use \"environment.alias.name\" to define an environment name of the search index to be swapped with an alias\n- Use \"index.alias.name\" to define the search index name to be swapped with an alias\n ",
          "position" : {
            "x" : 824.0,
            "y" : 848.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "16px"
          },
          "width" : 856.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "height" : 336.0,
          "identifier" : "84242a6f-07bd-3fd6-9947-8360dc57ea7c",
          "instanceIdentifier" : "79cc2407-83e8-3093-73fe-9a8e6aff992b",
          "label" : "Alias Index Link",
          "position" : {
            "x" : 1744.0,
            "y" : 616.0
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 1304.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "height" : 216.0,
          "identifier" : "c01e7f06-0b57-3746-9914-beb21b01af9c",
          "instanceIdentifier" : "4748abe6-3e06-3555-0806-5b8c2924b4a5",
          "label" : "This Alias Link Pipe creates an alias for the given index:\n  \n- Retrieve a list of existing aliases from Elasticsearch\n- Scan for the internal index name of the given index specified through the \"index.ailas.name\" variable.\n- The format of the internal index name is:   . \"environment name\" . \"store id\" . \"index name\" . \"time id\"\n- Locate the alias name if available for this index\n- Recreate an alias for this index using the pattern - \"environment name\" . \"store id\" . \"index name\"\n- Delete the index with earlier timestamps if exists, and the number of copies to retain is controlled by\n  the \"alias.keep.backup\" property defined in the Ingest Configuration.  Retained indexes will then be\n  closed to free up consumed underlying resources\n",
          "position" : {
            "x" : 824.0,
            "y" : 616.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "16px"
          },
          "width" : 856.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "height" : 440.0,
          "identifier" : "d8589367-0c6b-3d8b-8222-fe54f43b136b",
          "instanceIdentifier" : "5684e002-f436-37c0-003d-11a396ae6c20",
          "label" : "The following is a reference sample of the Connector Descriptor that can be used with Ingest API to configure this AliasLink Pipe.\n \n{\n  \"// Activate Catalog index with an environment alias\": {\n    \"environment.alias.name\": \"environment name of the search index to be swapped with an alias\",\n    \"index.alias.name\": \"name of the search index to be swapped with an alias\"\n  },\n  \"name\": \"AliasLink\",\n  \"label\": \"AliasLink - Catalog\",\n  \"properties\": [\n    {\n      \"name\": \"environment.alias.name\",\n      \"value\": \"auth\",\n      \"scope\": {\n        \"name\": \"Alias Index\",\n        \"type\": \"PROCESS_GROUP\"\n      }\n    },\n    {\n      \"name\": \"index.alias.name\",\n      \"value\": \"catalog\",\n      \"scope\": {\n        \"name\": \"Alias Index\",\n        \"type\": \"PROCESS_GROUP\"\n      }\n    }\n  ]\n}",
          "position" : {
            "x" : 824.0,
            "y" : 1080.0
          },
          "style" : {
            "background-color" : "#ffffff",
            "font-size" : "12px"
          },
          "width" : 856.0,
          "zIndex" : 0
        } ],
        "name" : "Alias Link",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "6179db69-1081-33f6-a7e5-57d8f38e74d0",
          "instanceIdentifier" : "0ec07b0b-d8f6-3910-7db8-2d46fee6d77d",
          "name" : "OUTPUT",
          "position" : {
            "x" : 2648.0,
            "y" : 984.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 10006.54052734375,
          "y" : 22881.65576171875
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "51cac39e-4f16-382c-92a7-391bd2d4ff66",
              "instanceIdentifier" : "445f9de1-96e2-389b-1f60-ea7723d5858f",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "fe28e5aa-7628-3142-b971-298b103de5c2",
            "instanceIdentifier" : "f1fc8a5c-59af-3268-d586-032840504961",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "4e2b1cba-50fc-3722-ac67-76c134664937",
              "instanceIdentifier" : "49eea087-a2ec-36aa-29bf-8ec493e4a066",
              "name" : "ADD Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "b995a2b4-81f2-363b-8a21-4829e818caa8",
              "instanceIdentifier" : "96773326-f171-149b-0cac-53f19acd354c",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "2d5694fb-75a3-341f-8e8d-2e24abcf00c1",
            "instanceIdentifier" : "96773329-f171-149b-5d58-50b79fbb2b02",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "3d9975e9-febd-351c-a137-9eb9c21fd84e",
              "instanceIdentifier" : "96773325-f171-149b-e948-b51dd831b660",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "eb90d96d-28ed-3e89-8d27-0996c6b83730",
              "instanceIdentifier" : "ecbf65b7-d800-3f9b-0e48-6b2c9cd661b3",
              "name" : "DELETE Index Elasticsarch with Delay",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "e31a5bd5-c8a3-3768-b230-b22f61a5c1e2",
            "instanceIdentifier" : "9677331e-f171-149b-84f9-e9bafe9e06e1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "delete" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "47bb0914-fa60-3bd1-a318-6bcabc33fcf3",
              "instanceIdentifier" : "96773319-f171-149b-bbb1-0d73c06476a4",
              "name" : "Swap Alias - Delete or Stop",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "4e2b1cba-50fc-3722-ac67-76c134664937",
              "instanceIdentifier" : "49eea087-a2ec-36aa-29bf-8ec493e4a066",
              "name" : "ADD Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "8f74c5a0-2fbb-31ff-aeb9-a553670cffa5",
            "instanceIdentifier" : "96773311-f171-149b-05e1-408a48b10a22",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "insert" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "384eaa9b-4d35-3236-8aad-36535b86b0be",
              "instanceIdentifier" : "9677330f-f171-149b-2c84-f7a70ef19c12",
              "name" : "Swap Alias - Insert",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "384eaa9b-4d35-3236-8aad-36535b86b0be",
              "instanceIdentifier" : "9677330f-f171-149b-2c84-f7a70ef19c12",
              "name" : "Swap Alias - Insert",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "f5cece95-9491-3b44-b3e2-a4c0cff60e71",
            "instanceIdentifier" : "9677332e-f171-149b-7df9-a537548662c7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "fe590bec-2ec7-3bfd-8fa9-705023da5e53",
              "instanceIdentifier" : "96773307-f171-149b-c692-433830b38bb8",
              "name" : "REMOVE Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "61a26341-e161-3e74-b6b7-e71491abf7a7",
              "instanceIdentifier" : "0f692b65-4a34-38f2-0b0d-6cc6a9c17d9b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "359aec92-552b-3c93-9d14-bcabc26e3fb1",
            "instanceIdentifier" : "6f14b7eb-5c35-345c-7334-7caa785b2611",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ed93a0f1-792b-3614-bde8-f943075aaaa1",
              "instanceIdentifier" : "05844ebe-71e6-3333-1e23-3ee772a0c130",
              "name" : "Swap Alias - Update",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "538d9f29-c730-3703-a2fd-8f361e258a6c",
              "instanceIdentifier" : "9677331b-f171-149b-7a17-a7a26de10f79",
              "name" : "Skip Delete Or Stop Action",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "4ddd829c-c149-3d0d-804a-12657443a064",
            "instanceIdentifier" : "9677331c-f171-149b-672d-9ac70655ed59",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "4e2b1cba-50fc-3722-ac67-76c134664937",
              "instanceIdentifier" : "49eea087-a2ec-36aa-29bf-8ec493e4a066",
              "name" : "ADD Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "50c40fdd-318b-397c-9299-ad53090d5485",
              "instanceIdentifier" : "e98d7c0b-b824-32e4-ed2d-5574d12290b3",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "d086b1ac-6243-37e1-b708-c59a41519645",
            "instanceIdentifier" : "9677332d-f171-149b-bb90-b8c2363a253e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "9389fb34-9298-3b07-bcb8-e7db80799989",
              "instanceIdentifier" : "9677332a-f171-149b-dc29-8d243f6b5310",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "7b6b0c73-a78e-39eb-834a-c6e8ef2acb3e",
              "instanceIdentifier" : "f0b2c531-b4c8-32eb-f995-98e16a03cb3b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "ffc4501a-4675-3cc8-a748-1de4a2d85221",
            "instanceIdentifier" : "96773321-f171-149b-eb1b-924353ba8703",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "47bb0914-fa60-3bd1-a318-6bcabc33fcf3",
              "instanceIdentifier" : "96773319-f171-149b-bbb1-0d73c06476a4",
              "name" : "Swap Alias - Delete or Stop",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "883e5b74-0b08-3ce9-b3b0-2cf3492f5d3d",
              "instanceIdentifier" : "96773312-f171-149b-67f3-185e25aa267b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "0a5f0e5a-1c5b-3498-be81-93430a6c6bd8",
            "instanceIdentifier" : "96773316-f171-149b-cc26-59d4eb3fa383",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "a2cafae1-934f-34bb-be66-7e733a031487",
              "instanceIdentifier" : "96773315-f171-149b-890e-d1cccf809399",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "de42f83b-b061-3223-9187-e9243e3b1547",
              "instanceIdentifier" : "96773304-f171-149b-4f65-8086d6a00b86",
              "name" : "Skip Remove Action",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "9d1a1b50-65c6-3257-abd2-7b1d3ea67b4d",
            "instanceIdentifier" : "96773305-f171-149b-931c-6ba27bcf1937",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "update" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ed93a0f1-792b-3614-bde8-f943075aaaa1",
              "instanceIdentifier" : "05844ebe-71e6-3333-1e23-3ee772a0c130",
              "name" : "Swap Alias - Update",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "29f2e149-034e-3d26-b788-f54d12b4953d",
              "instanceIdentifier" : "19d37ffa-18c9-380f-246a-4edd63598b35",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "703c286e-a60e-3371-a1ea-d82f4b728a2f",
            "instanceIdentifier" : "eb25f41f-3ca5-3ca4-7ad2-76f9a4e7a8bf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ac435d1b-a853-3830-b615-8e3aaedefbb2",
              "instanceIdentifier" : "96d73bae-dedd-33a3-4a5f-c5b4e3602cc0",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "eabea109-507a-372d-9859-280047f59ed2",
              "instanceIdentifier" : "9677330b-f171-149b-c0e5-c7e3505db897",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "4bdf65f6-d203-3216-b6d5-a34c093e1f73",
            "instanceIdentifier" : "9677330c-f171-149b-fab1-c5c3191293fb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "fe590bec-2ec7-3bfd-8fa9-705023da5e53",
              "instanceIdentifier" : "96773307-f171-149b-c692-433830b38bb8",
              "name" : "REMOVE Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "883e5b74-0b08-3ce9-b3b0-2cf3492f5d3d",
              "instanceIdentifier" : "96773312-f171-149b-67f3-185e25aa267b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "e40ea55f-2a7f-3747-abc9-7c6e9d072268",
            "instanceIdentifier" : "96773313-f171-149b-18c7-24a3d214a433",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "51cac39e-4f16-382c-92a7-391bd2d4ff66",
              "instanceIdentifier" : "445f9de1-96e2-389b-1f60-ea7723d5858f",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ed93a0f1-792b-3614-bde8-f943075aaaa1",
              "instanceIdentifier" : "05844ebe-71e6-3333-1e23-3ee772a0c130",
              "name" : "Swap Alias - Update",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "a24a7d6b-3ecf-335a-87ed-7ce1e093d368",
            "instanceIdentifier" : "9ac9edb2-055d-31c2-0521-4fd9f207eddd",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "c3c55dc3-17ce-34fc-ac28-b15d903aea9f",
              "instanceIdentifier" : "1e934099-e759-3c78-2323-ac770027b22e",
              "name" : "Get Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "55865553-2b14-3c66-aba4-119a937121fe",
              "instanceIdentifier" : "967732ff-f171-149b-7cfa-81888cf1751d",
              "name" : "CLOSE Index Elasticsarch with Delay",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "07c8b4aa-27fc-3e08-bcc6-7aed2cccbb05",
            "instanceIdentifier" : "9677331f-f171-149b-be96-1e332ca3755e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "stop" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "47bb0914-fa60-3bd1-a318-6bcabc33fcf3",
              "instanceIdentifier" : "96773319-f171-149b-bbb1-0d73c06476a4",
              "name" : "Swap Alias - Delete or Stop",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "8187d52a-efa4-3139-af34-49cbc4206d55",
              "instanceIdentifier" : "3916cc07-8134-3aa1-661f-92cc2da6b1b8",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "ff6c108a-dd31-3e28-830b-239d2a55864e",
            "instanceIdentifier" : "f1265d11-0496-3277-9f6e-b2e563c164de",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "2cc61e8c-afee-3eb4-b1f2-2423430044da",
              "instanceIdentifier" : "14dc48f3-a414-35d3-ba0f-0d8c8a362a3f",
              "name" : "DELETE Index Elasticsarch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "384eaa9b-4d35-3236-8aad-36535b86b0be",
              "instanceIdentifier" : "9677330f-f171-149b-2c84-f7a70ef19c12",
              "name" : "Swap Alias - Insert",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "f1d553d5-3f7d-383d-8fc4-2f615c23fcbb",
            "instanceIdentifier" : "96773310-f171-149b-adbd-51350635f9ca",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "skipOtherActions" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "de42f83b-b061-3223-9187-e9243e3b1547",
              "instanceIdentifier" : "96773304-f171-149b-4f65-8086d6a00b86",
              "name" : "Skip Remove Action",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "61a26341-e161-3e74-b6b7-e71491abf7a7",
              "instanceIdentifier" : "0f692b65-4a34-38f2-0b0d-6cc6a9c17d9b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "f975abf0-707a-370b-bac2-6f20f6ea2696",
            "instanceIdentifier" : "fadcf4bb-6cef-3204-a150-b3ffeac639d6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "29f2e149-034e-3d26-b788-f54d12b4953d",
              "instanceIdentifier" : "19d37ffa-18c9-380f-246a-4edd63598b35",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "fdf171a1-1e28-3d54-a04f-34539a39501b",
              "instanceIdentifier" : "34244ef9-12af-3fe9-b1a0-be135034639b",
              "name" : "Clear obsolete attributes",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "c03c98da-0710-30bf-8e9f-60756c31c6a6",
            "instanceIdentifier" : "0718023a-d82d-3b9e-2789-8a748690af4a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "5f318927-6d57-3be9-89c6-726d72e9a425",
              "instanceIdentifier" : "ea0fee2c-0882-3396-5744-116ef0c8bb98",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "a2cafae1-934f-34bb-be66-7e733a031487",
              "instanceIdentifier" : "96773315-f171-149b-890e-d1cccf809399",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "682c8d56-68fd-3d35-9ad7-496dc48d8cea",
            "instanceIdentifier" : "96773317-f171-149b-018a-c2bd8964c43b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "384eaa9b-4d35-3236-8aad-36535b86b0be",
              "instanceIdentifier" : "9677330f-f171-149b-2c84-f7a70ef19c12",
              "name" : "Swap Alias - Insert",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "29f2e149-034e-3d26-b788-f54d12b4953d",
              "instanceIdentifier" : "19d37ffa-18c9-380f-246a-4edd63598b35",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "d71a06ad-a977-3dfc-824e-77823abbe9fb",
            "instanceIdentifier" : "b4426a73-d20e-33c9-b786-0f41d9fa820f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "3dd5dd99-67a8-39e1-b19b-6dd6c03af830",
              "instanceIdentifier" : "ac4dbcf1-641f-30ab-555e-2b1ca153b9d9",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "85ee2bb3-1a15-311b-9b9d-81fdc1ac6e49",
              "instanceIdentifier" : "96773309-f171-149b-00ea-abfed6e27909",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "58bdd98c-2729-3c90-a60b-1f540515f676",
            "instanceIdentifier" : "373fddbe-6533-3c20-f1d8-6277e1195141",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "61a26341-e161-3e74-b6b7-e71491abf7a7",
              "instanceIdentifier" : "0f692b65-4a34-38f2-0b0d-6cc6a9c17d9b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "b995a2b4-81f2-363b-8a21-4829e818caa8",
              "instanceIdentifier" : "96773326-f171-149b-0cac-53f19acd354c",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "d7af0181-a593-3ad5-8b9b-e294323a6891",
            "instanceIdentifier" : "96773328-f171-149b-799a-4673711080d5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "b5fefb79-2ae6-3fec-b068-0d6cee0f67b6",
              "instanceIdentifier" : "967732fe-f171-149b-3a7c-9aef83f9228e",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "a2cafae1-934f-34bb-be66-7e733a031487",
              "instanceIdentifier" : "96773315-f171-149b-890e-d1cccf809399",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "c6aceb88-edc3-367a-989d-df6bf8b38076",
            "instanceIdentifier" : "96773314-f171-149b-78ab-9a6c09b503c7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "85ee2bb3-1a15-311b-9b9d-81fdc1ac6e49",
              "instanceIdentifier" : "96773309-f171-149b-00ea-abfed6e27909",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "9389fb34-9298-3b07-bcb8-e7db80799989",
              "instanceIdentifier" : "9677332a-f171-149b-dc29-8d243f6b5310",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "2262cb0c-b67b-340f-8ea2-ac28c0ce9882",
            "instanceIdentifier" : "9677332c-f171-149b-89cc-488373eb166f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "b995a2b4-81f2-363b-8a21-4829e818caa8",
              "instanceIdentifier" : "96773326-f171-149b-0cac-53f19acd354c",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "b5fefb79-2ae6-3fec-b068-0d6cee0f67b6",
              "instanceIdentifier" : "967732fe-f171-149b-3a7c-9aef83f9228e",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "3eef1557-ff9b-3492-96cf-9ee1fff15a6f",
            "instanceIdentifier" : "96773300-f171-149b-38a2-1e915b311dcb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "55865553-2b14-3c66-aba4-119a937121fe",
              "instanceIdentifier" : "967732ff-f171-149b-7cfa-81888cf1751d",
              "name" : "CLOSE Index Elasticsarch with Delay",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "cb9041e8-356e-35a3-a369-9a9d256c9673",
              "instanceIdentifier" : "fb1f4aa3-04f7-3fae-ebc3-f0d4898451e1",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "9d694b11-db4f-3489-8f9a-ad6371b0d487",
            "instanceIdentifier" : "6ce0b570-8a3f-3e19-8f9a-ecf9eb759bf8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ed93a0f1-792b-3614-bde8-f943075aaaa1",
              "instanceIdentifier" : "05844ebe-71e6-3333-1e23-3ee772a0c130",
              "name" : "Swap Alias - Update",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "47bb0914-fa60-3bd1-a318-6bcabc33fcf3",
              "instanceIdentifier" : "96773319-f171-149b-bbb1-0d73c06476a4",
              "name" : "Swap Alias - Delete or Stop",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "4eabd029-7687-3db5-b8bc-0491c054a96e",
            "instanceIdentifier" : "9677331d-f171-149b-53a9-47da0342d976",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "538d9f29-c730-3703-a2fd-8f361e258a6c",
              "instanceIdentifier" : "9677331b-f171-149b-7a17-a7a26de10f79",
              "name" : "Skip Delete Or Stop Action",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "2cc61e8c-afee-3eb4-b1f2-2423430044da",
              "instanceIdentifier" : "14dc48f3-a414-35d3-ba0f-0d8c8a362a3f",
              "name" : "DELETE Index Elasticsarch",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "7176516e-80fb-3ea8-b022-fd1a53f9f239",
            "instanceIdentifier" : "81288240-9576-3bde-7c30-74c5fd125aa7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "fdf171a1-1e28-3d54-a04f-34539a39501b",
              "instanceIdentifier" : "34244ef9-12af-3fe9-b1a0-be135034639b",
              "name" : "Clear obsolete attributes",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "3dd5dd99-67a8-39e1-b19b-6dd6c03af830",
              "instanceIdentifier" : "ac4dbcf1-641f-30ab-555e-2b1ca153b9d9",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "f62ff37e-2e2a-3144-97af-59967d7bb8a5",
            "instanceIdentifier" : "ad6dd98d-4011-35cf-45b2-cbe1321cedc6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "c3c55dc3-17ce-34fc-ac28-b15d903aea9f",
              "instanceIdentifier" : "1e934099-e759-3c78-2323-ac770027b22e",
              "name" : "Get Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "9389fb34-9298-3b07-bcb8-e7db80799989",
              "instanceIdentifier" : "9677332a-f171-149b-dc29-8d243f6b5310",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "b02ef393-0237-39f8-b0aa-35ab213f3973",
            "instanceIdentifier" : "96773322-f171-149b-0bb0-f96d46a9527c",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "7b6b0c73-a78e-39eb-834a-c6e8ef2acb3e",
              "instanceIdentifier" : "f0b2c531-b4c8-32eb-f995-98e16a03cb3b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "fe590bec-2ec7-3bfd-8fa9-705023da5e53",
              "instanceIdentifier" : "96773307-f171-149b-c692-433830b38bb8",
              "name" : "REMOVE Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "07cc49b2-2f00-3b05-9bd8-8e61768ddc8a",
            "instanceIdentifier" : "96773308-f171-149b-21b2-0ff892935d46",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "de42f83b-b061-3223-9187-e9243e3b1547",
              "instanceIdentifier" : "96773304-f171-149b-4f65-8086d6a00b86",
              "name" : "Skip Remove Action",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "c3c55dc3-17ce-34fc-ac28-b15d903aea9f",
              "instanceIdentifier" : "1e934099-e759-3c78-2323-ac770027b22e",
              "name" : "Get Aliases Elasticsearch",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "60d83083-45a3-3a57-bb22-4c13987f738f",
            "instanceIdentifier" : "8d5547f9-6d58-3e9a-21fb-4b8abb478042",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "2cc61e8c-afee-3eb4-b1f2-2423430044da",
              "instanceIdentifier" : "14dc48f3-a414-35d3-ba0f-0d8c8a362a3f",
              "name" : "DELETE Index Elasticsarch",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "3d9975e9-febd-351c-a137-9eb9c21fd84e",
              "instanceIdentifier" : "96773325-f171-149b-e948-b51dd831b660",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "e2ecdb80-d403-3611-a68d-f03fd424bb63",
            "instanceIdentifier" : "96773327-f171-149b-3dd9-4429f1548118",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "6a0bb14c-4d86-36c1-aead-97a8640ace05",
              "instanceIdentifier" : "c6a24376-664a-386d-9779-42c78689774d",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "ac435d1b-a853-3830-b615-8e3aaedefbb2",
              "instanceIdentifier" : "96d73bae-dedd-33a3-4a5f-c5b4e3602cc0",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "f8f0975c-ccd9-3856-adb4-e1e1edfbc84c",
            "instanceIdentifier" : "1f1024c6-f835-3937-872a-08ea443f11ce",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "8187d52a-efa4-3139-af34-49cbc4206d55",
              "instanceIdentifier" : "3916cc07-8134-3aa1-661f-92cc2da6b1b8",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "85ee2bb3-1a15-311b-9b9d-81fdc1ac6e49",
              "instanceIdentifier" : "96773309-f171-149b-00ea-abfed6e27909",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "fdafab17-5c60-39b1-941e-e3261bd9fd07",
            "instanceIdentifier" : "9677330d-f171-149b-69f3-7abd4c8647ae",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "eabea109-507a-372d-9859-280047f59ed2",
              "instanceIdentifier" : "9677330b-f171-149b-c0e5-c7e3505db897",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "6a0bb14c-4d86-36c1-aead-97a8640ace05",
              "instanceIdentifier" : "c6a24376-664a-386d-9779-42c78689774d",
              "name" : "Log error message",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "b15674e2-0edd-31aa-b148-bcb532002d5b",
            "instanceIdentifier" : "0bff7d04-ba35-310e-d6ac-5b70abbf1dc7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "eb90d96d-28ed-3e89-8d27-0996c6b83730",
              "instanceIdentifier" : "ecbf65b7-d800-3f9b-0e48-6b2c9cd661b3",
              "name" : "DELETE Index Elasticsarch with Delay",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "7b6b0c73-a78e-39eb-834a-c6e8ef2acb3e",
              "instanceIdentifier" : "f0b2c531-b4c8-32eb-f995-98e16a03cb3b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "8ba9bcfa-f7a8-325b-99b9-7edaafb56667",
            "instanceIdentifier" : "96773320-f171-149b-f5f4-72476c6fdf61",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
              "id" : "883e5b74-0b08-3ce9-b3b0-2cf3492f5d3d",
              "instanceIdentifier" : "96773312-f171-149b-67f3-185e25aa267b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "61a26341-e161-3e74-b6b7-e71491abf7a7",
            "instanceIdentifier" : "0f692b65-4a34-38f2-0b0d-6cc6a9c17d9b",
            "position" : {
              "x" : 408.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "883e5b74-0b08-3ce9-b3b0-2cf3492f5d3d",
            "instanceIdentifier" : "96773312-f171-149b-67f3-185e25aa267b",
            "position" : {
              "x" : 2400.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "ac435d1b-a853-3830-b615-8e3aaedefbb2",
            "instanceIdentifier" : "96d73bae-dedd-33a3-4a5f-c5b4e3602cc0",
            "position" : {
              "x" : -904.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "29f2e149-034e-3d26-b788-f54d12b4953d",
            "instanceIdentifier" : "19d37ffa-18c9-380f-246a-4edd63598b35",
            "position" : {
              "x" : -232.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "85ee2bb3-1a15-311b-9b9d-81fdc1ac6e49",
            "instanceIdentifier" : "96773309-f171-149b-00ea-abfed6e27909",
            "position" : {
              "x" : 1112.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "3d9975e9-febd-351c-a137-9eb9c21fd84e",
            "instanceIdentifier" : "96773325-f171-149b-e948-b51dd831b660",
            "position" : {
              "x" : 5552.0,
              "y" : 328.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "a2cafae1-934f-34bb-be66-7e733a031487",
            "instanceIdentifier" : "96773315-f171-149b-890e-d1cccf809399",
            "position" : {
              "x" : 1744.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "9389fb34-9298-3b07-bcb8-e7db80799989",
            "instanceIdentifier" : "9677332a-f171-149b-dc29-8d243f6b5310",
            "position" : {
              "x" : 5552.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "7b6b0c73-a78e-39eb-834a-c6e8ef2acb3e",
            "instanceIdentifier" : "f0b2c531-b4c8-32eb-f995-98e16a03cb3b",
            "position" : {
              "x" : 3648.0,
              "y" : 1192.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "b995a2b4-81f2-363b-8a21-4829e818caa8",
            "instanceIdentifier" : "96773326-f171-149b-0cac-53f19acd354c",
            "position" : {
              "x" : 5552.0,
              "y" : 656.0
            }
          } ],
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "5f318927-6d57-3be9-89c6-726d72e9a425",
            "instanceIdentifier" : "ea0fee2c-0882-3396-5744-116ef0c8bb98",
            "name" : "INPUT",
            "position" : {
              "x" : -2320.0,
              "y" : 336.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "0c3af16f-96a4-3876-ce72-64668d9405e8",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "height" : 1416.0,
            "identifier" : "cfc41bd2-5eb8-32c5-8c43-ef493fde6964",
            "instanceIdentifier" : "f788b2a4-bd47-3f4b-a02a-0c13adddd7d2",
            "label" : "Alias Index",
            "position" : {
              "x" : -1856.0,
              "y" : 48.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "24px"
            },
            "width" : 7864.0,
            "zIndex" : 0
          } ],
          "name" : "Alias Index",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "cb9041e8-356e-35a3-a369-9a9d256c9673",
            "instanceIdentifier" : "fb1f4aa3-04f7-3fae-ebc3-f0d4898451e1",
            "name" : "SUCCESS",
            "position" : {
              "x" : 312.0,
              "y" : -392.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "50c40fdd-318b-397c-9299-ad53090d5485",
            "instanceIdentifier" : "e98d7c0b-b824-32e4-ed2d-5574d12290b3",
            "name" : "ERROR",
            "position" : {
              "x" : 6200.0,
              "y" : 1192.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2576.0,
            "y" : 696.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "de42f83b-b061-3223-9187-e9243e3b1547",
            "instanceIdentifier" : "96773304-f171-149b-4f65-8086d6a00b86",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Skip Remove Action",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 960.0,
              "y" : 296.0
            },
            "properties" : {
              "skipOtherActions" : "${swap.alias.skip.other.actions:equals('true')}",
              "Routing Strategy" : "Route to Property name"
            },
            "propertyDescriptors" : {
              "skipOtherActions" : {
                "displayName" : "skipOtherActions",
                "identifiesControllerService" : false,
                "name" : "skipOtherActions",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "stop", "success", "update", "delete" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "384eaa9b-4d35-3236-8aad-36535b86b0be",
            "instanceIdentifier" : "9677330f-f171-149b-2c84-f7a70ef19c12",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Swap Alias - Insert",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 1592.0,
              "y" : 288.0
            },
            "properties" : {
              "Action" : "insert",
              "Keep Backup" : "${alias.keep.backup}",
              "Index Name" : "${index.alias.name}",
              "Environment Name" : "${environment.alias.name}"
            },
            "propertyDescriptors" : {
              "Action" : {
                "displayName" : "Action",
                "identifiesControllerService" : false,
                "name" : "Action",
                "sensitive" : false
              },
              "Keep Backup" : {
                "displayName" : "Keep Backup",
                "identifiesControllerService" : false,
                "name" : "Keep Backup",
                "sensitive" : false
              },
              "Index Name" : {
                "displayName" : "Index Name",
                "identifiesControllerService" : false,
                "name" : "Index Name",
                "sensitive" : false
              },
              "Environment Name" : {
                "displayName" : "Environment Name",
                "identifiesControllerService" : false,
                "name" : "Environment Name",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.link.processors.SwapAlias",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "stop", "insert", "delete" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "ed93a0f1-792b-3614-bde8-f943075aaaa1",
            "instanceIdentifier" : "05844ebe-71e6-3333-1e23-3ee772a0c130",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Swap Alias - Update",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 256.0,
              "y" : 296.0
            },
            "properties" : {
              "Action" : "update",
              "Keep Backup" : "${alias.keep.backup}",
              "Index Name" : "${index.alias.name}",
              "Environment Name" : "${environment.alias.name}"
            },
            "propertyDescriptors" : {
              "Action" : {
                "displayName" : "Action",
                "identifiesControllerService" : false,
                "name" : "Action",
                "sensitive" : false
              },
              "Keep Backup" : {
                "displayName" : "Keep Backup",
                "identifiesControllerService" : false,
                "name" : "Keep Backup",
                "sensitive" : false
              },
              "Index Name" : {
                "displayName" : "Index Name",
                "identifiesControllerService" : false,
                "name" : "Index Name",
                "sensitive" : false
              },
              "Environment Name" : {
                "displayName" : "Environment Name",
                "identifiesControllerService" : false,
                "name" : "Environment Name",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.link.processors.SwapAlias",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "2cc61e8c-afee-3eb4-b1f2-2423430044da",
            "instanceIdentifier" : "14dc48f3-a414-35d3-ba0f-0d8c8a362a3f",
            "maxBackoffPeriod" : "5 secs",
            "name" : "DELETE Index Elasticsarch",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : -1056.0,
              "y" : 296.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/${environment.alias.name}.${param.storeId}.${index.alias.name}*",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "DELETE",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "true"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Response", "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "55865553-2b14-3c66-aba4-119a937121fe",
            "instanceIdentifier" : "967732ff-f171-149b-7cfa-81888cf1751d",
            "maxBackoffPeriod" : "30 secs",
            "name" : "CLOSE Index Elasticsarch with Delay",
            "penaltyDuration" : "10 sec",
            "position" : {
              "x" : 4136.0,
              "y" : 616.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/${index.name}/_close",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "3dd5dd99-67a8-39e1-b19b-6dd6c03af830",
            "instanceIdentifier" : "ac4dbcf1-641f-30ab-555e-2b1ca153b9d9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -384.0,
              "y" : 544.0
            },
            "properties" : {
              "logger.message.text" : "Cannot retrieve data from Elasticsearch",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "E",
              "logger.message.code" : "DI2003E"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "fe590bec-2ec7-3bfd-8fa9-705023da5e53",
            "instanceIdentifier" : "96773307-f171-149b-c692-433830b38bb8",
            "maxBackoffPeriod" : "5 secs",
            "name" : "REMOVE Aliases Elasticsearch",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : 960.0,
              "y" : 528.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/_aliases",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "4e2b1cba-50fc-3722-ac67-76c134664937",
            "instanceIdentifier" : "49eea087-a2ec-36aa-29bf-8ec493e4a066",
            "maxBackoffPeriod" : "5 secs",
            "name" : "ADD Aliases Elasticsearch",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : 2248.0,
              "y" : 288.5108337402344
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/_aliases",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "true"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "insert", "update" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "47bb0914-fa60-3bd1-a318-6bcabc33fcf3",
            "instanceIdentifier" : "96773319-f171-149b-bbb1-0d73c06476a4",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Swap Alias - Delete or Stop",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 3504.0,
              "y" : 288.0
            },
            "properties" : {
              "Action" : "delete",
              "Keep Backup" : "${alias.keep.backup}",
              "Index Name" : "${index.alias.name}",
              "Environment Name" : "${environment.alias.name}"
            },
            "propertyDescriptors" : {
              "Action" : {
                "displayName" : "Action",
                "identifiesControllerService" : false,
                "name" : "Action",
                "sensitive" : false
              },
              "Keep Backup" : {
                "displayName" : "Keep Backup",
                "identifiesControllerService" : false,
                "name" : "Keep Backup",
                "sensitive" : false
              },
              "Index Name" : {
                "displayName" : "Index Name",
                "identifiesControllerService" : false,
                "name" : "Index Name",
                "sensitive" : false
              },
              "Environment Name" : {
                "displayName" : "Environment Name",
                "identifiesControllerService" : false,
                "name" : "Environment Name",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#0000ff"
            },
            "type" : "com.hcl.software.data.ingest.link.processors.SwapAlias",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Response", "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "eb90d96d-28ed-3e89-8d27-0996c6b83730",
            "instanceIdentifier" : "ecbf65b7-d800-3f9b-0e48-6b2c9cd661b3",
            "maxBackoffPeriod" : "30 secs",
            "name" : "DELETE Index Elasticsarch with Delay",
            "penaltyDuration" : "10 sec",
            "position" : {
              "x" : 4136.0,
              "y" : 288.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/${index.name}",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "DELETE",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "b5fefb79-2ae6-3fec-b068-0d6cee0f67b6",
            "instanceIdentifier" : "967732fe-f171-149b-3a7c-9aef83f9228e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 4760.0,
              "y" : 616.0
            },
            "properties" : {
              "logger.message.text" : "Error encountered while closing index ${index.alias.name}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "E",
              "logger.message.code" : "DI2051E",
              "logger.message.parameter" : "[ \"${index.alias.name}\" ]"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "logger.message.parameter" : {
                "displayName" : "logger.message.parameter",
                "identifiesControllerService" : false,
                "name" : "logger.message.parameter",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "fdf171a1-1e28-3d54-a04f-34539a39501b",
            "instanceIdentifier" : "34244ef9-12af-3fe9-b1a0-be135034639b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Clear obsolete attributes",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -1744.0,
              "y" : 296.0
            },
            "properties" : {
              "Delete Attributes Expression" : "executesql.*|index.*|fragment.*|ingest.database.sql|ingest.profile.*|invokehttp.*|logger.*|result.*|stage.*|wait.*|sql.*|Warning|swap.alias.*",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "8187d52a-efa4-3139-af34-49cbc4206d55",
            "instanceIdentifier" : "3916cc07-8134-3aa1-661f-92cc2da6b1b8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : -1056.0,
              "y" : 544.0
            },
            "properties" : {
              "logger.message.text" : "Error encountered while deleting index ${index.alias.name}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "E",
              "logger.message.code" : "DI2019E",
              "logger.message.parameter" : "[ \"${index.alias.name}\" ]"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "logger.message.parameter" : {
                "displayName" : "logger.message.parameter",
                "identifiesControllerService" : false,
                "name" : "logger.message.parameter",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "c3c55dc3-17ce-34fc-ac28-b15d903aea9f",
            "instanceIdentifier" : "1e934099-e759-3c78-2323-ac770027b22e",
            "maxBackoffPeriod" : "5 secs",
            "name" : "Get Aliases Elasticsearch",
            "penaltyDuration" : "1 sec",
            "position" : {
              "x" : -384.0,
              "y" : 296.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "10 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "${SEARCH_URL}/_aliases",
              "Content-Type" : "application/json",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "30 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "true"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#005555"
            },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "51cac39e-4f16-382c-92a7-391bd2d4ff66",
            "instanceIdentifier" : "445f9de1-96e2-389b-1f60-ea7723d5858f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 2248.0,
              "y" : 552.0
            },
            "properties" : {
              "logger.message.text" : "Error encountered while creating alias for index ${index.alias.name}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "E",
              "logger.message.code" : "DI2050E",
              "logger.message.parameter" : "[ \"${index.alias.name}\" ]"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "logger.message.parameter" : {
                "displayName" : "logger.message.parameter",
                "identifiesControllerService" : false,
                "name" : "logger.message.parameter",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "eabea109-507a-372d-9859-280047f59ed2",
            "instanceIdentifier" : "9677330b-f171-149b-c0e5-c7e3505db897",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 960.0,
              "y" : 808.0
            },
            "properties" : {
              "logger.message.text" : "Error encountered while removing alias for index ${index.alias.name}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "W",
              "logger.message.code" : "DI1050W",
              "logger.message.parameter" : "[ \"${index.alias.name}\" ]"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "logger.message.parameter" : {
                "displayName" : "logger.message.parameter",
                "identifiesControllerService" : false,
                "name" : "logger.message.parameter",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "NONE",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "6a0bb14c-4d86-36c1-aead-97a8640ace05",
            "instanceIdentifier" : "c6a24376-664a-386d-9779-42c78689774d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Log error message",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 4744.0,
              "y" : 288.0
            },
            "properties" : {
              "logger.message.text" : "Error encountered while deleting index ${index.alias.name}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "logger.message.severity" : "E",
              "logger.message.code" : "DI2019E",
              "logger.message.parameter" : "[ \"${index.alias.name}\" ]"
            },
            "propertyDescriptors" : {
              "logger.message.text" : {
                "displayName" : "logger.message.text",
                "identifiesControllerService" : false,
                "name" : "logger.message.text",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "logger.message.severity" : {
                "displayName" : "logger.message.severity",
                "identifiesControllerService" : false,
                "name" : "logger.message.severity",
                "sensitive" : false
              },
              "logger.message.code" : {
                "displayName" : "logger.message.code",
                "identifiesControllerService" : false,
                "name" : "logger.message.code",
                "sensitive" : false
              },
              "logger.message.parameter" : {
                "displayName" : "logger.message.parameter",
                "identifiesControllerService" : false,
                "name" : "logger.message.parameter",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : {
              "background-color" : "#ff0000"
            },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "skipOtherActions" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c0625271-bb56-330f-afe3-f88d1f9b818c",
            "identifier" : "538d9f29-c730-3703-a2fd-8f361e258a6c",
            "instanceIdentifier" : "9677331b-f171-149b-7a17-a7a26de10f79",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Skip Delete Or Stop Action",
            "penaltyDuration" : "0 sec",
            "position" : {
              "x" : 2888.0,
              "y" : 288.0
            },
            "properties" : {
              "skipOtherActions" : "${swap.alias.skip.other.actions:equals('true')}",
              "Routing Strategy" : "Route to Property name"
            },
            "propertyDescriptors" : {
              "skipOtherActions" : {
                "displayName" : "skipOtherActions",
                "identifiesControllerService" : false,
                "name" : "skipOtherActions",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : {
            "environment.alias.name" : "",
            "index.alias.name" : ""
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ {
          "comments" : "",
          "communicationsTimeout" : "1800 sec",
          "componentType" : "REMOTE_PROCESS_GROUP",
          "groupIdentifier" : "42513850-b220-38e6-992e-eff371befb13",
          "identifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
          "inputPorts" : [ {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "2c63627e-0786-345f-bc1b-84904bb22acd",
            "instanceIdentifier" : "e321f4c3-a344-341f-68b7-1b5269d2a277",
            "name" : "Bulk Description INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733ba3-018c-1000-6a65-c279e0963f54",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "6384f4ff-7d10-3c17-be16-5b92577b558d",
            "instanceIdentifier" : "97b3bd50-ac8f-3164-c6fa-297256a799ac",
            "name" : "Bulk Inventory INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733c6d-018c-1000-8eeb-519455dab405",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "comments" : "",
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "67ea4edb-69b9-3a3d-aa23-d36952cddff1",
            "instanceIdentifier" : "c0e6aa51-f93e-3a37-9682-77c9808b206b",
            "name" : "Routing INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "e1c24806-9f25-386d-6022-64a1a9f56e27",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "af9b6f53-395c-3685-849a-bc6c04d5617c",
            "instanceIdentifier" : "fd48646a-aac7-330c-9a71-f052d2fe4629",
            "name" : "Bulk Catalog INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c7339a1-018c-1000-c76f-28ced9f45646",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "f31b3af4-37b1-32b6-92b1-93963a2553ec",
            "instanceIdentifier" : "6bab1020-2c09-341f-e7e8-ebbdab2a8876",
            "name" : "Run INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733814-018c-1000-284c-172e0e1e497e",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "94ddf477-32fd-3e2b-aa2f-4a0a5cc55d0d",
            "instanceIdentifier" : "8e211dfa-4240-3041-b6a7-873fe35acf16",
            "name" : "Logger INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733746-018c-1000-7354-093a6ae66e37",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "60c6711a-f7a2-3598-adca-d37aeff23a36",
            "instanceIdentifier" : "4d52c077-7ac1-3fdf-96bf-c54a4bcb64fd",
            "name" : "Bulk Price INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733c0a-018c-1000-5d0c-c1017eeb8ab4",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "cb2d714e-b187-3fc1-b788-c5eb610aa9ef",
            "instanceIdentifier" : "5c720c98-5f20-352b-438e-fd03d719f37c",
            "name" : "Bulk Category INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733a88-018c-1000-3c16-140abe09d50c",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "547f624b-b6a1-31a3-9fb7-4ac2ff07d90c",
            "instanceIdentifier" : "aaf113b6-4c34-3754-0557-4e7c7b0b41ac",
            "name" : "Bulk Product INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733b18-018c-1000-3e1b-d2d27f46b915",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "751d58ac-acce-3aa6-af4c-2301b80b53ba",
            "instanceIdentifier" : "5fb72d54-b018-3467-15ce-7cc336de2fe1",
            "name" : "Terminal INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c7338a2-018c-1000-5d15-69a28a130b16",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "8e400e7e-eb0a-3bf4-b0c7-0344378d360d",
            "instanceIdentifier" : "732024e4-db73-3c29-cb39-6246cbc049f0",
            "name" : "Bulk Attribute INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733a02-018c-1000-471a-9fdce2451037",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "ff45143f-c07c-3ed1-b903-76ccb8fac40c",
            "instanceIdentifier" : "484989bd-191f-3e92-e240-87f86daef8d2",
            "name" : "Bulk Dataload INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733d50-018c-1000-bf99-84e772722c2f",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "bbafc580-9d41-31ea-b673-1885bc7eb881",
            "instanceIdentifier" : "adb9846d-8732-3561-38a3-8a712fdff7c8",
            "name" : "Bulk Store INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733937-018c-1000-bdfa-045d482c0368",
            "useCompression" : false
          }, {
            "batchSize" : { },
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "identifier" : "5ea93e70-f5cd-3f97-b0e2-70f5fc987ff4",
            "instanceIdentifier" : "7d48b2b5-9efc-37da-0abe-c74059005a5f",
            "name" : "Bulk URL INPUT",
            "remoteGroupId" : "7ddfd260-4f06-3a27-81bd-ac888d0a3a78",
            "scheduledState" : "ENABLED",
            "targetId" : "5c733ce3-018c-1000-84a6-e5174bc211c2",
            "useCompression" : false
          } ],
          "instanceIdentifier" : "21cc6f18-e59f-3564-702c-ef25768260f0",
          "name" : "NiFi Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1824.0,
            "y" : 696.0
          },
          "proxyHost" : "",
          "proxyUser" : "",
          "targetUri" : "http://localhost:30600/nifi",
          "targetUris" : "http://localhost:30600/nifi",
          "transportProtocol" : "RAW",
          "yieldDuration" : "10 sec"
        } ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}