flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/39a068ad-dfbc-4b67-a53f-8acfc5719b7d/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
            "id" : "cbc404a7-305e-3780-8480-b67edc0a387d",
            "instanceIdentifier" : "7da0029f-47a9-33ab-b190-6abfbaa90224",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "91806f98-d6a6-3c14-a181-87406f45cdb5",
          "instanceIdentifier" : "4f9c2d00-0aaa-38b1-decc-7b58736a9dd5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "id" : "0ce0473f-1aa5-3e1b-a66d-fb216a992670",
            "instanceIdentifier" : "cd0847c3-a3dd-3499-b2f6-d87a2e44244f",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "id" : "89d0c552-9e1d-3f5a-963d-f7c7c908cb42",
            "instanceIdentifier" : "42724b75-8a1b-30fe-2de1-13bb41aabd66",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "0806074d-1a98-3bd8-8c58-caa9209521de",
          "instanceIdentifier" : "4d2752e1-3979-31e0-7d7c-41270ade839e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
            "id" : "d835f866-9fd9-3161-b4fa-b61cbd4d5fed",
            "instanceIdentifier" : "f45b7a9c-d38e-3f78-a59c-963d2ee73000",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "3b60e971-f064-31c2-a4f8-c539030da015",
          "instanceIdentifier" : "e818badb-8d5c-3139-e227-018ef86f40c4",
          "name" : "Database Connection Pool",
          "properties" : {
            "CURSOR_HOLDABILITY" : "1",
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "#{JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "allowNextOnExhaustedResultSet" : "1",
            "AUTO_CASE_SCHEMA" : "true",
            "Max Total Connections" : "8",
            "IFX_ISOLATION_LEVEL" : "5U",
            "METADATA_UPPERCASE_VALUES" : "true",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8",
            "FET_BUF_SIZE" : "256000",
            "Password" : "#{JDBC_USER_PASSWORD}",
            "IFX_LOCK_MODE_WAIT" : "15"
          },
          "propertyDescriptors" : {
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "allowNextOnExhaustedResultSet" : {
              "displayName" : "allowNextOnExhaustedResultSet",
              "identifiesControllerService" : false,
              "name" : "allowNextOnExhaustedResultSet",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "AUTO_CASE_SCHEMA" : {
              "displayName" : "AUTO_CASE_SCHEMA",
              "identifiesControllerService" : false,
              "name" : "AUTO_CASE_SCHEMA",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "IFX_ISOLATION_LEVEL" : {
              "displayName" : "IFX_ISOLATION_LEVEL",
              "identifiesControllerService" : false,
              "name" : "IFX_ISOLATION_LEVEL",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "IFX_LOCK_MODE_WAIT" : {
              "displayName" : "IFX_LOCK_MODE_WAIT",
              "identifiesControllerService" : false,
              "name" : "IFX_LOCK_MODE_WAIT",
              "sensitive" : false
            },
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "CURSOR_HOLDABILITY" : {
              "displayName" : "CURSOR_HOLDABILITY",
              "identifiesControllerService" : false,
              "name" : "CURSOR_HOLDABILITY",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "METADATA_UPPERCASE_VALUES" : {
              "displayName" : "METADATA_UPPERCASE_VALUES",
              "identifiesControllerService" : false,
              "name" : "METADATA_UPPERCASE_VALUES",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "FET_BUF_SIZE" : {
              "displayName" : "FET_BUF_SIZE",
              "identifiesControllerService" : false,
              "name" : "FET_BUF_SIZE",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "d7767270-78c7-3e8a-8e4e-01dc3194fa3d",
          "instanceIdentifier" : "cf4d02b6-7c1b-37d5-5a1d-2644e4d27799",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "326631db-8715-30c8-abf6-f08e1bae83e3",
          "instanceIdentifier" : "9c6a3ead-8e9a-3321-3f1a-13bfd662c5bc",
          "name" : "Json Record Set Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "d835f866-9fd9-3161-b4fa-b61cbd4d5fed",
          "instanceIdentifier" : "f45b7a9c-d38e-3f78-a59c-963d2ee73000",
          "name" : "INPUT",
          "position" : {
            "x" : 536.0,
            "y" : -1760.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "3d9c42fc-018b-1000-20f3-2f2a13440d69",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "height" : 328.0,
          "identifier" : "96197e16-2db9-34d9-9497-2e77ba646660",
          "instanceIdentifier" : "24e7d18b-bd11-312f-3f38-d2dd2d726b42",
          "label" : "Product - Stage 1g (Database)",
          "position" : {
            "x" : 384.0,
            "y" : -1544.0
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 544.0,
          "zIndex" : 0
        } ],
        "name" : "Product - Stage 1g (Long Descriptions)",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "cbc404a7-305e-3780-8480-b67edc0a387d",
          "instanceIdentifier" : "7da0029f-47a9-33ab-b190-6abfbaa90224",
          "name" : "OUTPUT",
          "position" : {
            "x" : 536.0,
            "y" : -1056.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 7256.0,
          "y" : 3800.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "id" : "aaa7332d-3223-3750-b94a-958c0e104cdc",
              "instanceIdentifier" : "cc459d11-52ac-34d5-e2dc-3286243efc1d",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "75ff89c8-28b2-3074-8eeb-76476c11c6ce",
            "instanceIdentifier" : "9638fa09-7035-3d41-68f7-d8f3ebcd2fc8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "id" : "e604bd33-50d3-3446-9d52-152c6892aadd",
              "instanceIdentifier" : "d648fe58-5e62-3028-b966-9de06c9ded2d",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "id" : "b75dbdf8-0d44-3a42-a761-8c6d134c2c87",
              "instanceIdentifier" : "1f5b52a0-d1e1-329c-2de8-3153c0eedaef",
              "name" : "Bulk Description INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "b18ffff9-37aa-37b8-83c9-ca8616fafd4e",
            "instanceIdentifier" : "439e6c43-6120-38d2-f31d-aaf0a86ee57c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "id" : "58fa4a05-df9d-3e7e-b13d-46351205bc4b",
              "instanceIdentifier" : "c348ec05-b6ee-3695-adac-67c63e6da8a4",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
              "id" : "0ce0473f-1aa5-3e1b-a66d-fb216a992670",
              "instanceIdentifier" : "cd0847c3-a3dd-3499-b2f6-d87a2e44244f",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "f4895340-a56a-3c23-88d0-5ad6993fbdb9",
            "instanceIdentifier" : "04b79f94-6766-3f97-1406-682e3f3791af",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "id" : "f540b0ff-e16e-3e29-b47a-9664ac333495",
              "instanceIdentifier" : "bca07b56-4fde-3c00-bed7-753471351427",
              "name" : "NEXT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "id" : "29ae7f6b-55b7-3136-803c-657d28b28ff9",
              "instanceIdentifier" : "d61ef093-ffd5-3728-5e7f-70c19d471a6f",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "727688ff-894b-3e74-ba1c-7fdc81b3bbda",
            "instanceIdentifier" : "0965c676-4348-35c4-8596-bb8df8b96aa0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
              "id" : "89d0c552-9e1d-3f5a-963d-f7c7c908cb42",
              "instanceIdentifier" : "42724b75-8a1b-30fe-2de1-13bb41aabd66",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2376.0,
              "y" : 360.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "id" : "ff90e0d2-120f-3c4d-849f-6e15857e4b79",
              "instanceIdentifier" : "19541af6-939e-3440-cac6-9af0b7827f2e",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "812481d6-620a-31bb-b9a0-e226f3ea297c",
            "instanceIdentifier" : "254a8a42-7c2a-385e-c79c-402583ecf3a7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "id" : "a86ba1d5-0992-36e9-8179-51b530ca51b3",
              "instanceIdentifier" : "4ab03c54-af49-3640-03b1-8bbe913660f4",
              "name" : "SKIP",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "id" : "ae4a252b-d5ce-3caf-8423-bdb0cdd0f11e",
              "instanceIdentifier" : "1d743708-9594-3a39-2f8e-fad4b849f1f6",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "52c8ec0c-c6a1-3921-8cfd-4c1cfb959e45",
            "instanceIdentifier" : "10c69520-b345-301b-ef56-568b27c0bff0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "id" : "c0642a71-94b6-390a-bf85-26d310fbef9e",
              "instanceIdentifier" : "90ffb334-2974-3f85-ff5a-cf05ff295258",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2376.0,
              "y" : 136.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "id" : "ae4a252b-d5ce-3caf-8423-bdb0cdd0f11e",
              "instanceIdentifier" : "1d743708-9594-3a39-2f8e-fad4b849f1f6",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "e8d4a78b-0637-3ad3-949e-d7a6adc7f952",
            "instanceIdentifier" : "5665c605-2af9-38b7-d1d6-f3374b0b59a4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "id" : "0e832332-a30e-3c6a-af57-78cef601af14",
              "instanceIdentifier" : "e87d2b01-fb96-3814-bd87-81e721eb494d",
              "name" : "EMPTY",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "id" : "a92f3b5a-2499-3e9e-85d4-71e870f790dd",
              "instanceIdentifier" : "8c514fbb-0453-383c-92db-cb820333dc61",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "b92dbae8-f6fc-3eb6-873b-4afa3ed79707",
            "instanceIdentifier" : "3d009169-60e1-365b-5691-1cef30ce2f6b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "id" : "9e0e58d4-3b10-37f1-ae29-752737b14b55",
              "instanceIdentifier" : "f50f2cce-b372-383e-9f35-bbdefb8155b7",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "id" : "88ead27f-6fae-3ccf-8820-3c96d319d55f",
              "instanceIdentifier" : "c09bd5cf-3e5f-3d39-cc80-b40d4abb9a1f",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "36962cce-a82b-384d-8e06-e1de1ec4769a",
            "instanceIdentifier" : "273192c8-f55f-36d2-6e34-41883c946c72",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "id" : "37da5afe-cc97-305a-b92f-34560eb1d9da",
              "instanceIdentifier" : "4d80d321-265c-36d8-8a19-2d9a29388eb3",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "fad96567-d08d-37a8-ac21-6b60b02a3c94",
          "identifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "89d0c552-9e1d-3f5a-963d-f7c7c908cb42",
            "instanceIdentifier" : "42724b75-8a1b-30fe-2de1-13bb41aabd66",
            "name" : "INPUT",
            "position" : {
              "x" : 3336.0,
              "y" : -192.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "fccd13f8-209a-3824-c9fd-4b7a298d68d2",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "height" : 696.0,
            "identifier" : "bcab5b19-b1e4-3e96-9bc5-9d760f22ab58",
            "instanceIdentifier" : "b0102f2b-6749-3797-da1f-9795e8aeeeae",
            "label" : "Find Descriptions",
            "position" : {
              "x" : 1736.0,
              "y" : -104.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "24px"
            },
            "width" : 2008.0,
            "zIndex" : 0
          } ],
          "name" : "Find Descriptions",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "0ce0473f-1aa5-3e1b-a66d-fb216a992670",
            "instanceIdentifier" : "cd0847c3-a3dd-3499-b2f6-d87a2e44244f",
            "name" : "OUTPUT",
            "position" : {
              "x" : 3336.0,
              "y" : 632.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 464.0,
            "y" : -1464.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "7ce1713c-d4ba-31d7-a19f-930dab00aec2",
                "instanceIdentifier" : "806f0cb1-ef0d-3214-84ad-b6eb13b7c6d8",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "128d4cba-dd51-306c-afbd-57cf06136dd9",
              "instanceIdentifier" : "d90459a1-e14e-3928-c350-ecf979400f5d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "29ae7f6b-55b7-3136-803c-657d28b28ff9",
                "instanceIdentifier" : "d61ef093-ffd5-3728-5e7f-70c19d471a6f",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "2d74468c-3dd2-3128-a73d-f5600a0d2bf1",
                "instanceIdentifier" : "03bd3b82-b7c9-3110-3558-9761625052cc",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "1c8072c5-72b6-3119-84bb-a45c92f55795",
              "instanceIdentifier" : "e17c25bd-5f41-386c-6668-17c4c58a735d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "372bd8ea-81f1-32b8-b61f-e535349838f6",
                "instanceIdentifier" : "0d0aad80-a717-32e3-07e8-18c8472e7986",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "e604bd33-50d3-3446-9d52-152c6892aadd",
                "instanceIdentifier" : "d648fe58-5e62-3028-b966-9de06c9ded2d",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "c5638f82-82c4-3a97-a191-c27da5cb17c7",
              "instanceIdentifier" : "f42aa044-afa8-3df0-81c6-f4efd0cb68ed",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "2d74468c-3dd2-3128-a73d-f5600a0d2bf1",
                "instanceIdentifier" : "03bd3b82-b7c9-3110-3558-9761625052cc",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "372bd8ea-81f1-32b8-b61f-e535349838f6",
                "instanceIdentifier" : "0d0aad80-a717-32e3-07e8-18c8472e7986",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "8cec55ce-e8e0-377c-bf52-0a4d65d5467f",
              "instanceIdentifier" : "f5b38290-d937-372c-b1ce-ee878190c653",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "7ce1713c-d4ba-31d7-a19f-930dab00aec2",
                "instanceIdentifier" : "806f0cb1-ef0d-3214-84ad-b6eb13b7c6d8",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "f540b0ff-e16e-3e29-b47a-9664ac333495",
                "instanceIdentifier" : "bca07b56-4fde-3c00-bed7-753471351427",
                "name" : "NEXT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "bc7db13b-c8b6-376d-b592-83e1ad3738d4",
              "instanceIdentifier" : "388926d1-8a17-3513-6bf1-687e6ca3041c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "next" ],
              "source" : {
                "comments" : "",
                "groupId" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
                "id" : "372bd8ea-81f1-32b8-b61f-e535349838f6",
                "instanceIdentifier" : "0d0aad80-a717-32e3-07e8-18c8472e7986",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "29ae7f6b-55b7-3136-803c-657d28b28ff9",
              "instanceIdentifier" : "d61ef093-ffd5-3728-5e7f-70c19d471a6f",
              "name" : "INPUT",
              "position" : {
                "x" : -376.0,
                "y" : -40.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "7f6137c6-e3b3-3848-c440-0ff68db17bf8",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "height" : 776.0,
              "identifier" : "366111f9-c448-3e41-b418-bdf56c6d09b4",
              "instanceIdentifier" : "511242a4-084b-3479-e6b1-7304bde31b2f",
              "label" : "Route on Master Catalog",
              "position" : {
                "x" : -264.0,
                "y" : -168.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "24px"
              },
              "width" : 1312.0,
              "zIndex" : 0
            } ],
            "name" : "Route on Master Catalog",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "f540b0ff-e16e-3e29-b47a-9664ac333495",
              "instanceIdentifier" : "bca07b56-4fde-3c00-bed7-753471351427",
              "name" : "NEXT",
              "position" : {
                "x" : 936.0,
                "y" : 208.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "e604bd33-50d3-3446-9d52-152c6892aadd",
              "instanceIdentifier" : "d648fe58-5e62-3028-b966-9de06c9ded2d",
              "name" : "OUTPUT",
              "position" : {
                "x" : -376.0,
                "y" : 448.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 3264.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "372bd8ea-81f1-32b8-b61f-e535349838f6",
              "instanceIdentifier" : "0d0aad80-a717-32e3-07e8-18c8472e7986",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route On Master Catalog",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 168.0
              },
              "properties" : {
                "Route on other Sales Catalogs" : "block",
                "Route on Master Catalog" : "allow",
                "Route on Default Catalog" : "block"
              },
              "propertyDescriptors" : {
                "Route on other Sales Catalogs" : {
                  "displayName" : "Route on other Sales Catalogs",
                  "identifiesControllerService" : false,
                  "name" : "Route on other Sales Catalogs",
                  "sensitive" : false
                },
                "Route on Master Catalog" : {
                  "displayName" : "Route on Master Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Master Catalog",
                  "sensitive" : false
                },
                "Route on Default Catalog" : {
                  "displayName" : "Route on Default Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Default Catalog",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.RouteOnCatalog",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "2d74468c-3dd2-3128-a73d-f5600a0d2bf1",
              "instanceIdentifier" : "03bd3b82-b7c9-3110-3558-9761625052cc",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Track Document",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 408.0
              },
              "properties" : {
                "Cache TTL" : "3600"
              },
              "propertyDescriptors" : {
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.TrackDocument",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "0e5f7223-7647-3e77-b745-1edb8d88c9fa",
              "identifier" : "7ce1713c-d4ba-31d7-a19f-930dab00aec2",
              "instanceIdentifier" : "806f0cb1-ef0d-3214-84ad-b6eb13b7c6d8",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set stage.name and stage.start.time",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : -80.0
              },
              "properties" : {
                "stage.start.time" : "${now():toNumber()}",
                "stage.name" : "Product Stage 1g (Database), Find Descriptions",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "flow.name" : "${pipe.name}"
              },
              "propertyDescriptors" : {
                "stage.start.time" : {
                  "displayName" : "stage.start.time",
                  "identifiesControllerService" : false,
                  "name" : "stage.start.time",
                  "sensitive" : false
                },
                "stage.name" : {
                  "displayName" : "stage.name",
                  "identifiesControllerService" : false,
                  "name" : "stage.name",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "flow.name" : {
                  "displayName" : "flow.name",
                  "identifiesControllerService" : false,
                  "name" : "flow.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "58fa4a05-df9d-3e7e-b13d-46351205bc4b",
                "instanceIdentifier" : "c348ec05-b6ee-3695-adac-67c63e6da8a4",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "eaa6f082-52ee-3118-a14a-a9ee62bc76d4",
              "instanceIdentifier" : "c99c0b35-ccbd-32f4-213a-2df21d790d5b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "517f94dc-781e-3b96-aa89-8db34f64351d",
                "instanceIdentifier" : "de286e66-f3ee-324c-a54d-d888eb17be1a",
                "name" : "Transform Document - Find Descriptions From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "517f94dc-781e-3b96-aa89-8db34f64351d",
                "instanceIdentifier" : "de286e66-f3ee-324c-a54d-d888eb17be1a",
                "name" : "Transform Document - Find Descriptions From Database",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "2a23f740-1429-3393-b45d-cf0d3d2f2da6",
              "instanceIdentifier" : "45eadcb9-46c3-39c4-65df-440dc30ec662",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "a92f3b5a-2499-3e9e-85d4-71e870f790dd",
                "instanceIdentifier" : "8c514fbb-0453-383c-92db-cb820333dc61",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "37da5afe-cc97-305a-b92f-34560eb1d9da",
                "instanceIdentifier" : "4d80d321-265c-36d8-8a19-2d9a29388eb3",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "265eedc7-f3b2-31c1-9744-b5a9f4e50f90",
              "instanceIdentifier" : "2e3f600e-2504-31bd-f577-192e63c93bfa",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "517f94dc-781e-3b96-aa89-8db34f64351d",
                "instanceIdentifier" : "de286e66-f3ee-324c-a54d-d888eb17be1a",
                "name" : "Transform Document - Find Descriptions From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "a86ba1d5-0992-36e9-8179-51b530ca51b3",
                "instanceIdentifier" : "4ab03c54-af49-3640-03b1-8bbe913660f4",
                "name" : "SKIP",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "571ca219-da85-3946-829b-894b33e9cc29",
              "instanceIdentifier" : "4812f9fd-eb69-3b18-2f6d-63b11e72b123",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "skip" ],
              "source" : {
                "comments" : "",
                "groupId" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
                "id" : "517f94dc-781e-3b96-aa89-8db34f64351d",
                "instanceIdentifier" : "de286e66-f3ee-324c-a54d-d888eb17be1a",
                "name" : "Transform Document - Find Descriptions From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "a92f3b5a-2499-3e9e-85d4-71e870f790dd",
              "instanceIdentifier" : "8c514fbb-0453-383c-92db-cb820333dc61",
              "name" : "INPUT",
              "position" : {
                "x" : -1320.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "46cba084-089d-327d-6013-2c6eace79efa",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "height" : 368.0,
              "identifier" : "ae399da6-78d7-3ac8-97db-5f7326f5ef0c",
              "instanceIdentifier" : "3f0ddedf-b80e-30e3-2978-582a57cdacce",
              "label" : "Find Descriptions from Database",
              "position" : {
                "x" : -1232.0,
                "y" : 192.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 1432.0,
              "zIndex" : 0
            } ],
            "name" : "Find Descriptions from Database",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "58fa4a05-df9d-3e7e-b13d-46351205bc4b",
              "instanceIdentifier" : "c348ec05-b6ee-3695-adac-67c63e6da8a4",
              "name" : "SUCCESS",
              "position" : {
                "x" : 88.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "37da5afe-cc97-305a-b92f-34560eb1d9da",
              "instanceIdentifier" : "4d80d321-265c-36d8-8a19-2d9a29388eb3",
              "name" : "ERROR",
              "position" : {
                "x" : -624.0,
                "y" : 536.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "a86ba1d5-0992-36e9-8179-51b530ca51b3",
              "instanceIdentifier" : "4ab03c54-af49-3640-03b1-8bbe913660f4",
              "name" : "SKIP",
              "position" : {
                "x" : 88.0,
                "y" : 456.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : 336.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 4,
              "executionNode" : "ALL",
              "groupIdentifier" : "b462d83c-c304-3fba-94bd-c3b2691d634c",
              "identifier" : "517f94dc-781e-3b96-aa89-8db34f64351d",
              "instanceIdentifier" : "de286e66-f3ee-324c-a54d-d888eb17be1a",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Transform Document - Find Descriptions From Database",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -680.0,
                "y" : 280.0
              },
              "properties" : { },
              "propertyDescriptors" : { },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.product.processors.FindDescriptionsFromDatabase",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "89b15d20-5e0a-3c4e-bb5b-0845b61788b3",
                "instanceIdentifier" : "3da94c36-018b-1000-e957-11081428502b",
                "name" : "Find Descriptions SQL",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "16a0af53-ad8e-3a9c-8992-392e136cbb42",
              "instanceIdentifier" : "add17a10-a84d-3a9a-da79-aea5e508ca89",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "abc1149e-1dde-3f4e-8640-bbf744802e7e",
                "instanceIdentifier" : "412f7613-006a-33bb-9e74-8d44b843a4d8",
                "name" : "Is Language Fallback",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "abc1149e-1dde-3f4e-8640-bbf744802e7e",
                "instanceIdentifier" : "412f7613-006a-33bb-9e74-8d44b843a4d8",
                "name" : "Is Language Fallback",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "29e3186d-aafa-3d16-af0e-e84fa30d8ddf",
              "instanceIdentifier" : "459627dd-151b-3877-2104-45438471ba4c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "c5163ef7-b72f-380f-bdec-5f51c77ecd4b",
                "instanceIdentifier" : "4acdcbb0-03d5-3cc8-f86b-fa1bba4c2cc0",
                "name" : "Update offset for next iteration",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "19f1d378-df9d-3d7c-9b14-77153093caea",
                "instanceIdentifier" : "f6d4c13f-0917-376a-48b0-983ea00e47e4",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "cba45b2a-5dae-34c4-86f1-a3ce9668b916",
              "instanceIdentifier" : "b973ba45-d8a4-35d7-9121-a56441e29314",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "5684fab6-4cc0-3097-bf49-8668b659102c",
                "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "bee7ca93-0803-3270-a84a-9aa6d2786aaf",
                "instanceIdentifier" : "15de99bf-95c9-32fd-e9da-82eb97234bc7",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "48594316-94da-3d4b-992c-4e351fdf8a65",
              "instanceIdentifier" : "3da8be7a-018b-1000-4f1b-cdbe806ee12b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "afc4711d-2541-3bdd-9afe-644257803c7f",
                "instanceIdentifier" : "3da70ad6-018b-1000-ae5a-ff9052871cd9",
                "name" : "Find Descriptions SQL (Fallback)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "bee7ca93-0803-3270-a84a-9aa6d2786aaf",
                "instanceIdentifier" : "15de99bf-95c9-32fd-e9da-82eb97234bc7",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "beedc947-8050-348e-bf0f-ca6d566a849a",
              "instanceIdentifier" : "8e0cf7cd-bd34-3751-3c3a-85a9f710a2cd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "9a9fdbd6-3f68-3bc4-819d-ba42387d34bf",
                "instanceIdentifier" : "0a54308e-2193-3d89-f0d9-f63b575e5c39",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "9a9fdbd6-3f68-3bc4-819d-ba42387d34bf",
                "instanceIdentifier" : "0a54308e-2193-3d89-f0d9-f63b575e5c39",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "c0a7c4ae-7733-3f81-b6f4-5054661b9afc",
              "instanceIdentifier" : "3daa9286-018b-1000-f663-ba55d138431d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "89b15d20-5e0a-3c4e-bb5b-0845b61788b3",
                "instanceIdentifier" : "3da94c36-018b-1000-e957-11081428502b",
                "name" : "Find Descriptions SQL",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "9fd2e3db-7f3b-34dc-ade3-c8bde5c479bb",
                "instanceIdentifier" : "954cc0b6-965e-391c-7446-7aa1f4604201",
                "name" : "Clear payload",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "5d8f70f4-70ad-3a43-80c1-77451f15c625",
              "instanceIdentifier" : "4a4bb7bf-9f7e-3d05-e120-c4faa84ab4f5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "next" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "5684fab6-4cc0-3097-bf49-8668b659102c",
                "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "19f1d378-df9d-3d7c-9b14-77153093caea",
                "instanceIdentifier" : "f6d4c13f-0917-376a-48b0-983ea00e47e4",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "084389ad-3ff6-38b5-890c-2cc40d197418",
              "instanceIdentifier" : "cd81bc47-4ac9-36f1-616f-fb50de5e060c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "bee7ca93-0803-3270-a84a-9aa6d2786aaf",
                "instanceIdentifier" : "15de99bf-95c9-32fd-e9da-82eb97234bc7",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "5684fab6-4cc0-3097-bf49-8668b659102c",
                "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "e1326e34-a14a-35ab-8a0c-b6bfbcb117b6",
              "instanceIdentifier" : "abf6ebf7-9cd7-39d0-934e-7fa26ef8f122",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success", "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "785dbc7f-1b89-3a20-9b06-96aeb9a3faf7",
                "instanceIdentifier" : "ca5617ac-21d1-3260-aafd-22f4bd2b3cc2",
                "name" : "Execute SQL - Find Descriptions",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "0e832332-a30e-3c6a-af57-78cef601af14",
                "instanceIdentifier" : "e87d2b01-fb96-3814-bd87-81e721eb494d",
                "name" : "EMPTY",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "fa95781d-7f6a-32a6-92fb-0c7706fcabe1",
              "instanceIdentifier" : "94f411ba-288a-3ae5-37d8-68699852dbbf",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "empty" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "5684fab6-4cc0-3097-bf49-8668b659102c",
                "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "785dbc7f-1b89-3a20-9b06-96aeb9a3faf7",
                "instanceIdentifier" : "ca5617ac-21d1-3260-aafd-22f4bd2b3cc2",
                "name" : "Execute SQL - Find Descriptions",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "181712e2-da12-3c5b-8747-2d0770c035cd",
              "instanceIdentifier" : "3daab793-018b-1000-f03b-442e793d81b8",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "89b15d20-5e0a-3c4e-bb5b-0845b61788b3",
                "instanceIdentifier" : "3da94c36-018b-1000-e957-11081428502b",
                "name" : "Find Descriptions SQL",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "c0642a71-94b6-390a-bf85-26d310fbef9e",
                "instanceIdentifier" : "90ffb334-2974-3f85-ff5a-cf05ff295258",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "dab1cd3d-cb22-3ea0-9716-aec954fa7814",
              "instanceIdentifier" : "1e34004a-4a36-3a36-6891-a6a48086147a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "19f1d378-df9d-3d7c-9b14-77153093caea",
                "instanceIdentifier" : "f6d4c13f-0917-376a-48b0-983ea00e47e4",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "abc1149e-1dde-3f4e-8640-bbf744802e7e",
                "instanceIdentifier" : "412f7613-006a-33bb-9e74-8d44b843a4d8",
                "name" : "Is Language Fallback",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "59317515-408b-3591-8322-9db6e1bcb612",
              "instanceIdentifier" : "6618f33f-8f86-3295-42dd-f83f13b7cbd6",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "995b042a-65c2-3f09-92ea-1fe5c43fe31c",
                "instanceIdentifier" : "f0f50343-ea2c-377e-5f91-fd2ed57a8c67",
                "name" : "Define scroll offset and page size",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "c5163ef7-b72f-380f-bdec-5f51c77ecd4b",
                "instanceIdentifier" : "4acdcbb0-03d5-3cc8-f86b-fa1bba4c2cc0",
                "name" : "Update offset for next iteration",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "18609aff-1e92-3ac5-b0f1-ad35ea001f7d",
              "instanceIdentifier" : "db856684-fcc2-3aab-07ef-db0b438c8760",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "9fd2e3db-7f3b-34dc-ade3-c8bde5c479bb",
                "instanceIdentifier" : "954cc0b6-965e-391c-7446-7aa1f4604201",
                "name" : "Clear payload",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "afc4711d-2541-3bdd-9afe-644257803c7f",
                "instanceIdentifier" : "3da70ad6-018b-1000-ae5a-ff9052871cd9",
                "name" : "Find Descriptions SQL (Fallback)",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "5bb3b1c8-8c3e-3175-bf0c-334236a858c9",
              "instanceIdentifier" : "5395ebcb-b7c7-3f80-e8ef-18d7111420ba",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "fallback" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "abc1149e-1dde-3f4e-8640-bbf744802e7e",
                "instanceIdentifier" : "412f7613-006a-33bb-9e74-8d44b843a4d8",
                "name" : "Is Language Fallback",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "785dbc7f-1b89-3a20-9b06-96aeb9a3faf7",
                "instanceIdentifier" : "ca5617ac-21d1-3260-aafd-22f4bd2b3cc2",
                "name" : "Execute SQL - Find Descriptions",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "c4883aaa-253d-3db0-af9d-31a055c64fdd",
              "instanceIdentifier" : "3da87fa4-018b-1000-1a94-e92bc1d73cbe",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "afc4711d-2541-3bdd-9afe-644257803c7f",
                "instanceIdentifier" : "3da70ad6-018b-1000-ae5a-ff9052871cd9",
                "name" : "Find Descriptions SQL (Fallback)",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "995b042a-65c2-3f09-92ea-1fe5c43fe31c",
                "instanceIdentifier" : "f0f50343-ea2c-377e-5f91-fd2ed57a8c67",
                "name" : "Define scroll offset and page size",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "39193cd6-005d-36bb-aa28-782541a1989f",
              "instanceIdentifier" : "edcedcea-7047-35e6-0844-367ad4750b07",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "aaa7332d-3223-3750-b94a-958c0e104cdc",
                "instanceIdentifier" : "cc459d11-52ac-34d5-e2dc-3286243efc1d",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "9e0e58d4-3b10-37f1-ae29-752737b14b55",
                "instanceIdentifier" : "f50f2cce-b372-383e-9f35-bbdefb8155b7",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "2e62e1c2-fa21-39cd-924c-284e1ce0253b",
              "instanceIdentifier" : "4a3fbedd-753b-35e5-124d-2a7539a8d51d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
                "id" : "5684fab6-4cc0-3097-bf49-8668b659102c",
                "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "19f1d378-df9d-3d7c-9b14-77153093caea",
              "instanceIdentifier" : "f6d4c13f-0917-376a-48b0-983ea00e47e4",
              "position" : {
                "x" : 3024.0,
                "y" : 112.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "9a9fdbd6-3f68-3bc4-819d-ba42387d34bf",
              "instanceIdentifier" : "0a54308e-2193-3d89-f0d9-f63b575e5c39",
              "position" : {
                "x" : 1632.0,
                "y" : 112.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "bee7ca93-0803-3270-a84a-9aa6d2786aaf",
              "instanceIdentifier" : "15de99bf-95c9-32fd-e9da-82eb97234bc7",
              "position" : {
                "x" : 2288.0,
                "y" : 112.0
              }
            } ],
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "aaa7332d-3223-3750-b94a-958c0e104cdc",
              "instanceIdentifier" : "cc459d11-52ac-34d5-e2dc-3286243efc1d",
              "name" : "INPUT",
              "position" : {
                "x" : -568.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "dd2815eb-fd5a-34a9-8f48-81b87ca1f9e3",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "height" : 1032.0,
              "identifier" : "dc454000-1b12-330d-8bf1-ce48a13c4d35",
              "instanceIdentifier" : "e7153e3c-a51c-35ef-2e1e-d3d911277fee",
              "label" : "SCROLL SQL",
              "position" : {
                "x" : -456.0,
                "y" : -792.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 4168.0,
              "zIndex" : 0
            } ],
            "name" : "SCROLL SQL",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "9e0e58d4-3b10-37f1-ae29-752737b14b55",
              "instanceIdentifier" : "f50f2cce-b372-383e-9f35-bbdefb8155b7",
              "name" : "SUCCESS",
              "position" : {
                "x" : 3592.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "0e832332-a30e-3c6a-af57-78cef601af14",
              "instanceIdentifier" : "e87d2b01-fb96-3814-bd87-81e721eb494d",
              "name" : "EMPTY",
              "position" : {
                "x" : 3592.0,
                "y" : -240.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "c0642a71-94b6-390a-bf85-26d310fbef9e",
              "instanceIdentifier" : "90ffb334-2974-3f85-ff5a-cf05ff295258",
              "name" : "ERROR",
              "position" : {
                "x" : 3592.0,
                "y" : 112.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "995b042a-65c2-3f09-92ea-1fe5c43fe31c",
              "instanceIdentifier" : "f0f50343-ea2c-377e-5f91-fd2ed57a8c67",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Define scroll offset and page size",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 16.0,
                "y" : -408.0
              },
              "properties" : {
                "param.bucketSize" : "${scroll.bucket.size}",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "param.pageSize" : "${scroll.page.size}",
                "param.offset" : "0"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "param.bucketSize" : {
                  "displayName" : "param.bucketSize",
                  "identifiesControllerService" : false,
                  "name" : "param.bucketSize",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "param.pageSize" : {
                  "displayName" : "param.pageSize",
                  "identifiesControllerService" : false,
                  "name" : "param.pageSize",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "param.offset" : {
                  "displayName" : "param.offset",
                  "identifiesControllerService" : false,
                  "name" : "param.offset",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "abc1149e-1dde-3f4e-8640-bbf744802e7e",
              "instanceIdentifier" : "412f7613-006a-33bb-9e74-8d44b843a4d8",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Is Language Fallback",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 736.0,
                "y" : -408.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "fallback" : "${flow.LF:equalsIgnoreCase('true')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "fallback" : {
                  "displayName" : "fallback",
                  "identifiesControllerService" : false,
                  "name" : "fallback",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "c5163ef7-b72f-380f-bdec-5f51c77ecd4b",
              "instanceIdentifier" : "4acdcbb0-03d5-3cc8-f86b-fa1bba4c2cc0",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Update offset for next iteration",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 736.0,
                "y" : -696.0
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "param.offset" : "${param.offset:plus(${param.pageSize})}"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "param.offset" : {
                  "displayName" : "param.offset",
                  "identifiesControllerService" : false,
                  "name" : "param.offset",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "5684fab6-4cc0-3097-bf49-8668b659102c",
              "instanceIdentifier" : "71d6c0a7-0c78-3dd4-d69d-83093d5cc448",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Analyze SQL Response",
              "penaltyDuration" : "1 sec",
              "position" : {
                "x" : 2872.0,
                "y" : -408.0
              },
              "properties" : {
                "Relationship Type" : "success",
                "Auto Refresh Index" : "${scroll.refresh.index}"
              },
              "propertyDescriptors" : {
                "Relationship Type" : {
                  "displayName" : "Relationship Type",
                  "identifiesControllerService" : false,
                  "name" : "Relationship Type",
                  "sensitive" : false
                },
                "Auto Refresh Index" : {
                  "displayName" : "Auto Refresh Index",
                  "identifiesControllerService" : false,
                  "name" : "Auto Refresh Index",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "9fd2e3db-7f3b-34dc-ade3-c8bde5c479bb",
              "instanceIdentifier" : "954cc0b6-965e-391c-7446-7aa1f4604201",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Clear payload",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2872.0,
                "y" : -696.0
              },
              "properties" : {
                "Regular Expression" : "(?s)(^.*$)",
                "Replacement Value" : "{}",
                "Evaluation Mode" : "Entire text",
                "Line-by-Line Evaluation Mode" : "All",
                "Character Set" : "UTF-8",
                "Maximum Buffer Size" : "1 MB",
                "Replacement Strategy" : "Always Replace"
              },
              "propertyDescriptors" : {
                "Regular Expression" : {
                  "displayName" : "Search Value",
                  "identifiesControllerService" : false,
                  "name" : "Regular Expression",
                  "sensitive" : false
                },
                "Replacement Value" : {
                  "displayName" : "Replacement Value",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Value",
                  "sensitive" : false
                },
                "Evaluation Mode" : {
                  "displayName" : "Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Evaluation Mode",
                  "sensitive" : false
                },
                "Text to Prepend" : {
                  "displayName" : "Text to Prepend",
                  "identifiesControllerService" : false,
                  "name" : "Text to Prepend",
                  "sensitive" : false
                },
                "Line-by-Line Evaluation Mode" : {
                  "displayName" : "Line-by-Line Evaluation Mode",
                  "identifiesControllerService" : false,
                  "name" : "Line-by-Line Evaluation Mode",
                  "sensitive" : false
                },
                "Character Set" : {
                  "displayName" : "Character Set",
                  "identifiesControllerService" : false,
                  "name" : "Character Set",
                  "sensitive" : false
                },
                "Maximum Buffer Size" : {
                  "displayName" : "Maximum Buffer Size",
                  "identifiesControllerService" : false,
                  "name" : "Maximum Buffer Size",
                  "sensitive" : false
                },
                "Replacement Strategy" : {
                  "displayName" : "Replacement Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Replacement Strategy",
                  "sensitive" : false
                },
                "Text to Append" : {
                  "displayName" : "Text to Append",
                  "identifiesControllerService" : false,
                  "name" : "Text to Append",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.ReplaceText",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "89b15d20-5e0a-3c4e-bb5b-0845b61788b3",
              "instanceIdentifier" : "3da94c36-018b-1000-e957-11081428502b",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Descriptions SQL",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1480.0,
                "y" : -152.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "d7767270-78c7-3e8a-8e4e-01dc3194fa3d",
                "SQL Location" : "sql/DatabaseProductStage1g.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "785dbc7f-1b89-3a20-9b06-96aeb9a3faf7",
              "instanceIdentifier" : "ca5617ac-21d1-3260-aafd-22f4bd2b3cc2",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Execute SQL - Find Descriptions",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2200.0,
                "y" : -408.0
              },
              "properties" : {
                "esql-max-rows" : "${scroll.bucket.size}",
                "esqlrecord-record-writer" : "326631db-8715-30c8-abf6-f08e1bae83e3",
                "dbf-default-precision" : "10",
                "Max Wait Time" : "0 seconds",
                "Database Connection Pooling Service" : "3b60e971-f064-31c2-a4f8-c539030da015",
                "esql-auto-commit" : "true",
                "dbf-user-logical-types" : "false",
                "dbf-default-scale" : "0",
                "sql-pre-query" : "${ingest.database.schema.sql}",
                "esql-output-batch-size" : "0",
                "esql-fetch-size" : "0",
                "SQL select query" : "${ingest.database.sql}",
                "esqlrecord-normalize" : "false"
              },
              "propertyDescriptors" : {
                "esql-max-rows" : {
                  "displayName" : "Max Rows Per Flow File",
                  "identifiesControllerService" : false,
                  "name" : "esql-max-rows",
                  "sensitive" : false
                },
                "esqlrecord-record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "esqlrecord-record-writer",
                  "sensitive" : false
                },
                "dbf-default-precision" : {
                  "displayName" : "Default Decimal Precision",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-precision",
                  "sensitive" : false
                },
                "Max Wait Time" : {
                  "displayName" : "Max Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "Max Wait Time",
                  "sensitive" : false
                },
                "Database Connection Pooling Service" : {
                  "displayName" : "Database Connection Pooling Service",
                  "identifiesControllerService" : true,
                  "name" : "Database Connection Pooling Service",
                  "sensitive" : false
                },
                "sql-post-query" : {
                  "displayName" : "SQL Post-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-post-query",
                  "sensitive" : false
                },
                "esql-auto-commit" : {
                  "displayName" : "Set Auto Commit",
                  "identifiesControllerService" : false,
                  "name" : "esql-auto-commit",
                  "sensitive" : false
                },
                "dbf-user-logical-types" : {
                  "displayName" : "Use Avro Logical Types",
                  "identifiesControllerService" : false,
                  "name" : "dbf-user-logical-types",
                  "sensitive" : false
                },
                "dbf-default-scale" : {
                  "displayName" : "Default Decimal Scale",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-scale",
                  "sensitive" : false
                },
                "sql-pre-query" : {
                  "displayName" : "SQL Pre-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-pre-query",
                  "sensitive" : false
                },
                "esql-output-batch-size" : {
                  "displayName" : "Output Batch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-output-batch-size",
                  "sensitive" : false
                },
                "esql-fetch-size" : {
                  "displayName" : "Fetch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-fetch-size",
                  "sensitive" : false
                },
                "SQL select query" : {
                  "displayName" : "SQL select query",
                  "identifiesControllerService" : false,
                  "name" : "SQL select query",
                  "sensitive" : false
                },
                "esqlrecord-normalize" : {
                  "displayName" : "Normalize Table/Column Names",
                  "identifiesControllerService" : false,
                  "name" : "esqlrecord-normalize",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffff00"
              },
              "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "f49d802b-f360-344c-8d93-c98d80ca10b1",
              "identifier" : "afc4711d-2541-3bdd-9afe-644257803c7f",
              "instanceIdentifier" : "3da70ad6-018b-1000-ae5a-ff9052871cd9",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Descriptions SQL (Fallback)",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1480.0,
                "y" : -408.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "d7767270-78c7-3e8a-8e4e-01dc3194fa3d",
                "SQL Location" : "sql/DatabaseProductStage1g-fallback.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "b5558e50-4bcc-396d-9982-07f433227723",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "b75dbdf8-0d44-3a42-a761-8c6d134c2c87",
              "instanceIdentifier" : "1f5b52a0-d1e1-329c-2de8-3153c0eedaef",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8a38-018b-1000-d6af-6a964a921404",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "025effb8-5e39-38cf-9201-bfe115d39407",
              "instanceIdentifier" : "4bd3dfda-6991-3d53-5d79-ed439dccc1e2",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8b13-018b-1000-8842-afaf507644dd",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "8993d56a-f473-3772-a898-16e9b4cb36c6",
              "instanceIdentifier" : "1dddf1be-790f-39e0-c0f3-de6cc4636fac",
              "name" : "Routing INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "2b95ade8-2646-3033-c716-51302bcbf29d",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "b36cda7c-b264-3537-87d6-9b7cfabba29c",
              "instanceIdentifier" : "ad7af817-6b31-3159-a81a-4bcc4983fe6d",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8864-018b-1000-c6e8-7a7bcb4a9cd1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "3dd74fe0-5bec-36f7-87b2-e67cacfe33e1",
              "instanceIdentifier" : "a2c5efe1-8e50-310a-2638-9a642ba5545b",
              "name" : "Run INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe86c9-018b-1000-d408-51466825adb3",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "538eac84-3a9a-36b7-bd8c-0f6338b1abd9",
              "instanceIdentifier" : "274411ab-ff92-39a5-cdb6-e48834ab1595",
              "name" : "Logger INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8627-018b-1000-9391-22d899b41dbb",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "d0416422-7e5c-3346-aed6-3951685e9322",
              "instanceIdentifier" : "69765b1e-8fe8-35be-baf5-10467dbe47c4",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8aa2-018b-1000-9dcc-12548c2c1f97",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "2ab933ed-0530-33bf-a7af-dba8c796f713",
              "instanceIdentifier" : "61ce936b-b723-3238-e23e-c626b2e3b47f",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8966-018b-1000-0221-c4b41bfae06c",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "3a042ff9-d809-391d-b0b7-7815f820ffae",
              "instanceIdentifier" : "f794952d-47cb-376a-6b93-21952989c245",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe89d0-018b-1000-6bad-60acf7bc9522",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "ff90e0d2-120f-3c4d-849f-6e15857e4b79",
              "instanceIdentifier" : "19541af6-939e-3440-cac6-9af0b7827f2e",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe874c-018b-1000-15df-6b9ccc05b092",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "a9d758c4-eadc-3050-b721-e0ec6d875651",
              "instanceIdentifier" : "b375ba21-f124-3c9f-33f5-1308b095a34e",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe88e7-018b-1000-48dc-8ca8741d8634",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "76d65d92-14f0-35e6-8895-d35d58dd81e6",
              "instanceIdentifier" : "24f274df-7ac9-388e-a109-a4062ef5f8a5",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8c38-018b-1000-d296-b7f1862d2278",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "652d8514-3c45-3a9a-a6d5-c7adbb0e6703",
              "instanceIdentifier" : "a6667866-d45e-3fe9-1479-623717746a92",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe87f4-018b-1000-d476-99efa11605a7",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b5558e50-4bcc-396d-9982-07f433227723",
              "identifier" : "de779718-e767-3f20-9f5a-a3cd0ca9df9d",
              "instanceIdentifier" : "e7e8fd73-b4cc-346d-ca79-6ec2fd496bf4",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "b5558e50-4bcc-396d-9982-07f433227723",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8b9c-018b-1000-736f-c286c2f9b777",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "1487b0d0-308d-315c-5322-ad2cdfca39cf",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : 336.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          }, {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "ff752e6d-f0c6-31a3-9a1f-f9c5c9d2fcdd",
            "identifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "4b0f290d-7b60-3dc3-9330-8291b5194ff9",
              "instanceIdentifier" : "db2a65e1-228f-36af-fb9c-1e6762ad8463",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8a38-018b-1000-d6af-6a964a921404",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "6a8fdc09-4a06-3733-ba0e-4ab1454ecf1f",
              "instanceIdentifier" : "266ce7c4-c712-343e-cd27-c50f15bacee2",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8b13-018b-1000-8842-afaf507644dd",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "d33b9f59-f7c7-32bd-8b4b-563c9b069107",
              "instanceIdentifier" : "149b6554-4057-3086-2498-034d823cf4e1",
              "name" : "Routing INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "2b95ade8-2646-3033-c716-51302bcbf29d",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "1d55c356-6b2d-3fd9-a3ae-52588ff23c0d",
              "instanceIdentifier" : "20b700b2-297a-3be9-5d2d-21cc51095613",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8864-018b-1000-c6e8-7a7bcb4a9cd1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "d852922c-3c3f-3f05-9c0a-9b4a944842c4",
              "instanceIdentifier" : "713e0445-1b4c-3d73-0bdd-4f58b4e51827",
              "name" : "Run INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe86c9-018b-1000-d408-51466825adb3",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "88ead27f-6fae-3ccf-8820-3c96d319d55f",
              "instanceIdentifier" : "c09bd5cf-3e5f-3d39-cc80-b40d4abb9a1f",
              "name" : "Logger INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8627-018b-1000-9391-22d899b41dbb",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "690cc76a-a59c-3608-8235-803d1a7b46e9",
              "instanceIdentifier" : "cf2a9996-2ccc-3138-53d7-1ecf7ce23ead",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8aa2-018b-1000-9dcc-12548c2c1f97",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "965f69a7-4825-38d3-b58d-e8d620a9245d",
              "instanceIdentifier" : "3add5624-2d21-3d2a-b880-148362d33dcf",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8966-018b-1000-0221-c4b41bfae06c",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "acd1cc42-6510-3007-91e9-a69998277e3f",
              "instanceIdentifier" : "140181c3-9041-3d85-ae5a-a248d6ccc22a",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe89d0-018b-1000-6bad-60acf7bc9522",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "ae4a252b-d5ce-3caf-8423-bdb0cdd0f11e",
              "instanceIdentifier" : "1d743708-9594-3a39-2f8e-fad4b849f1f6",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe874c-018b-1000-15df-6b9ccc05b092",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "545df5ad-d7c8-339a-a8e3-794c3871ec99",
              "instanceIdentifier" : "a6aea82d-445b-3ee3-9a61-9dbcca221771",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe88e7-018b-1000-48dc-8ca8741d8634",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "ee3cd8e0-be70-3455-8cdc-4eda3336d45d",
              "instanceIdentifier" : "42ad04d6-b25f-3297-c0ea-676c69d0c4b1",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8c38-018b-1000-d296-b7f1862d2278",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "59c0dcc1-def0-3ec6-b53e-4f6c107b3491",
              "instanceIdentifier" : "c38cbd97-cb68-3d5f-78c0-5320fb4e265b",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe87f4-018b-1000-d476-99efa11605a7",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "identifier" : "a72ba0ee-3d4b-3d74-a53f-12a9a3b433fd",
              "instanceIdentifier" : "6fcbd85e-2cfe-3154-6c88-171d113b976c",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "b15f9914-a12a-3efb-acba-fa06d50ecc2c",
              "scheduledState" : "ENABLED",
              "targetId" : "3bbe8b9c-018b-1000-736f-c286c2f9b777",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "a43b6fed-30db-3c31-9d92-1e555ef1be9a",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : -16.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : {
            "scroll.page.size" : "1000000",
            "scroll.bucket.size" : "2000",
            "scroll.refresh.index" : "false"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}