flow_storage/0277bfc7-7428-437b-9e81-a82a2ff2c673/da1c7c53-409b-432c-bed2-46fec13ec52d/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "{ \"version\": \"9.1.16.0\",  \"level\": \"9.1.16.0/search-registry-app=v9-20240823-1555\" }",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
            "id" : "7d7ca0d8-3cb5-3175-8dbe-5b2efafb6052",
            "instanceIdentifier" : "b52bc7b1-ac0d-3f38-82c5-798b484321bc",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "160c0e5d-0c98-3326-baa5-8094e1311362",
          "instanceIdentifier" : "4e9bfdbe-a8e5-3b01-5f0e-c59b17080b45",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "id" : "8f3be365-4dbb-34fa-b29e-a7f4a10690bf",
            "instanceIdentifier" : "da280e55-db86-3a37-b923-7afbfdf91a03",
            "name" : "OUTPUT",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "id" : "7ba9617e-0b27-3187-9604-1c75eb9ac3df",
            "instanceIdentifier" : "1752f1d0-1ad4-3000-478e-0c7fdb4e4c50",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "41c7da38-59ae-3136-bd46-635928d8578a",
          "instanceIdentifier" : "4af5847e-3ab0-32aa-80b8-54c969face16",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
            "id" : "8814795e-652e-39fe-b77c-e6782f7eba61",
            "instanceIdentifier" : "a5fe9b65-54b3-3526-7996-507da66f063f",
            "name" : "INPUT",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "5c0552c9-7d16-3c33-a7b6-4d47af8d1f44",
          "instanceIdentifier" : "3587393a-0e51-3f8b-efe4-58cb07bfe537",
          "name" : "Json Record Set Writer",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "commerce-search-processors-nar",
            "group" : "com.hcl.commerce",
            "version" : "9.1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "commerce-search-processors-nar",
              "group" : "com.hcl.commerce",
              "version" : "9.1.16.0"
            },
            "type" : "com.hcl.software.data.ingest.controller.service.ProfileService"
          } ],
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "482c0403-55b0-3556-98b6-ccd2fb9b970c",
          "instanceIdentifier" : "044e35f3-1121-3969-9112-20c99af17c4f",
          "name" : "Profile Controller Service",
          "properties" : {
            "Retry Limit" : "500"
          },
          "propertyDescriptors" : {
            "Retry Limit" : {
              "displayName" : "Retry Limit",
              "identifiesControllerService" : false,
              "name" : "Retry Limit",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "com.hcl.software.data.ingest.controller.service.ProfileControllerService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "b8dada4e-71fb-353f-abbf-e9c92fed87ef",
          "instanceIdentifier" : "8a3fba54-46ad-3826-edf2-24cfb2325e68",
          "name" : "Database Connection Pool",
          "properties" : {
            "CURSOR_HOLDABILITY" : "1",
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "#{JDBC_DRIVER_CLASSNAME}",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "AUTO_CASE_SCHEMA" : "true",
            "Max Total Connections" : "8",
            "IFX_ISOLATION_LEVEL" : "5U",
            "METADATA_UPPERCASE_VALUES" : "true",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{JDBC_URL}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{JDBC_USER_NAME}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{JDBC_DRIVER_LOCATION}",
            "dbcp-max-idle-conns" : "8",
            "FET_BUF_SIZE" : "256000",
            "Password" : "#{JDBC_USER_PASSWORD}",
            "IFX_LOCK_MODE_WAIT" : "15"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "CURSOR_HOLDABILITY" : {
              "displayName" : "CURSOR_HOLDABILITY",
              "identifiesControllerService" : false,
              "name" : "CURSOR_HOLDABILITY",
              "sensitive" : false
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "AUTO_CASE_SCHEMA" : {
              "displayName" : "AUTO_CASE_SCHEMA",
              "identifiesControllerService" : false,
              "name" : "AUTO_CASE_SCHEMA",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "IFX_ISOLATION_LEVEL" : {
              "displayName" : "IFX_ISOLATION_LEVEL",
              "identifiesControllerService" : false,
              "name" : "IFX_ISOLATION_LEVEL",
              "sensitive" : false
            },
            "METADATA_UPPERCASE_VALUES" : {
              "displayName" : "METADATA_UPPERCASE_VALUES",
              "identifiesControllerService" : false,
              "name" : "METADATA_UPPERCASE_VALUES",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "FET_BUF_SIZE" : {
              "displayName" : "FET_BUF_SIZE",
              "identifiesControllerService" : false,
              "name" : "FET_BUF_SIZE",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "IFX_LOCK_MODE_WAIT" : {
              "displayName" : "IFX_LOCK_MODE_WAIT",
              "identifiesControllerService" : false,
              "name" : "IFX_LOCK_MODE_WAIT",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "8814795e-652e-39fe-b77c-e6782f7eba61",
          "instanceIdentifier" : "a5fe9b65-54b3-3526-7996-507da66f063f",
          "name" : "INPUT",
          "position" : {
            "x" : 2504.0,
            "y" : -352.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "2e8b3249-018a-1000-aa1c-dd40200b095e",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "height" : 320.0,
          "identifier" : "b7e331e6-17ab-305c-b353-0892d9c2fceb",
          "instanceIdentifier" : "5c3919f2-8d43-3a16-a76c-15a13e3138bf",
          "label" : "Price - Stage 1b (Database)",
          "position" : {
            "x" : 2360.0,
            "y" : -136.0
          },
          "style" : {
            "background-color" : "#cceeff",
            "font-size" : "24px"
          },
          "width" : 528.0,
          "zIndex" : 0
        } ],
        "name" : "Price - Stage 1b (Find Bundle Prices)",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "7d7ca0d8-3cb5-3175-8dbe-5b2efafb6052",
          "instanceIdentifier" : "b52bc7b1-ac0d-3f38-82c5-798b484321bc",
          "name" : "OUTPUT",
          "position" : {
            "x" : 2504.0,
            "y" : 336.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 7384.0,
          "y" : -768.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "id" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
              "instanceIdentifier" : "df12697c-cd49-3551-7a60-ead499e50c99",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "47eccdce-a417-3276-aa10-b0c825de1635",
            "instanceIdentifier" : "e86f9e9c-a285-36fa-afb1-84ed8a41f00a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "id" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
              "instanceIdentifier" : "6d41ffbc-3cb8-3381-1342-18e9ea911066",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "id" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
              "instanceIdentifier" : "01689b2c-db45-39b8-26b6-6e8fd82501d2",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "1c27a4b9-902b-38d3-85e1-edc171a174a1",
            "instanceIdentifier" : "8bff866c-4b13-30df-b214-5eff477bc108",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
              "id" : "7ba9617e-0b27-3187-9604-1c75eb9ac3df",
              "instanceIdentifier" : "1752f1d0-1ad4-3000-478e-0c7fdb4e4c50",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "id" : "54ee944d-aeb0-3be3-97a2-7dc9b7d54ac6",
              "instanceIdentifier" : "46260d40-2d0d-3e5b-431e-0050b4b540ec",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "675be318-7938-3f9b-9935-6515b8b5282a",
            "instanceIdentifier" : "a81fc5d6-58cf-359f-f452-f32664ff7574",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "id" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
              "instanceIdentifier" : "a8ae820a-a7e5-3fd1-50a1-ef4794215565",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "id" : "1d7a1c87-1b6a-32ae-b9b4-afc9efe68f10",
              "instanceIdentifier" : "82843fc0-47ea-31a2-a7a5-5448e4983ab0",
              "name" : "Logger INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "1ecc83cd-3221-3c68-be5f-d807c48a64d7",
            "instanceIdentifier" : "7a5e695c-55e3-34fd-3c3c-79a147ebfed7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "id" : "e4322749-f421-30b9-b89c-d144b076a31a",
              "instanceIdentifier" : "4e537815-85a0-3482-2cd2-bf96d754da1e",
              "name" : "ERROR",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "id" : "b89fbaa0-2ee1-3fcf-919c-a5a656c40852",
              "instanceIdentifier" : "1affb319-90a8-3420-921e-830f7b54c486",
              "name" : "Bulk Product INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "fe59319f-e012-336a-af2c-d9e40511d798",
            "instanceIdentifier" : "f2e02230-49c5-32ae-3f3d-0aef53282354",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "id" : "df2d8b72-2c88-399e-9160-a1d0d0aaa0ff",
              "instanceIdentifier" : "521a29e1-d3c4-3dfc-46ab-9ba7972ff956",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2376.0,
              "y" : 136.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "id" : "54ee944d-aeb0-3be3-97a2-7dc9b7d54ac6",
              "instanceIdentifier" : "46260d40-2d0d-3e5b-431e-0050b4b540ec",
              "name" : "Terminal INPUT",
              "type" : "REMOTE_INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "a2714b94-dfdf-37d0-bac0-b498678118db",
            "instanceIdentifier" : "5802f392-69e6-3684-0e3a-e377ca6e3b43",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "id" : "404769a8-98bf-3e96-9eec-e8dcb7c41e38",
              "instanceIdentifier" : "edcba4ff-7786-35a5-7987-d6c6ed832222",
              "name" : "EMPTY",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "id" : "9cf7fff0-390b-3316-875d-d3636c6c0dd5",
              "instanceIdentifier" : "19842c60-a5f2-3040-8b24-25a3f37c204f",
              "name" : "INPUT",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "e0c86686-72f3-3bc6-abd9-53a609e0992c",
            "instanceIdentifier" : "be62cbf5-c922-32b5-ad8f-cd1d58f8ccdf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "id" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
              "instanceIdentifier" : "73bdb4b4-9c6c-3032-b802-9b61b740cd47",
              "name" : "SUCCESS",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
              "id" : "8f3be365-4dbb-34fa-b29e-a7f4a10690bf",
              "instanceIdentifier" : "da280e55-db86-3a37-b923-7afbfdf91a03",
              "name" : "OUTPUT",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "0a06ad97-a0b7-3e3c-80aa-3973bf02c0aa",
            "instanceIdentifier" : "f9925445-9f35-399e-9086-dccbc30e30cf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "id" : "15343f0b-4820-3001-a4da-ff81418f4359",
              "instanceIdentifier" : "1b1adb85-a46c-3b87-5c1c-3b1ff1f3d6e7",
              "name" : "NEXT",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1d551c3f-3739-3ca6-a224-e1bfe996a46c",
          "identifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "7ba9617e-0b27-3187-9604-1c75eb9ac3df",
            "instanceIdentifier" : "1752f1d0-1ad4-3000-478e-0c7fdb4e4c50",
            "name" : "INPUT",
            "position" : {
              "x" : 3344.0,
              "y" : -224.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "c6e2a222-889b-3b81-bceb-c75b0cd77d12",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "height" : 736.0,
            "identifier" : "574d4c48-f58d-3f8f-8c12-05bfb7733196",
            "instanceIdentifier" : "c12f1a24-8421-30c4-1138-1bade57f0fe4",
            "label" : "Find Bundle Prices",
            "position" : {
              "x" : 1704.0,
              "y" : -120.0
            },
            "style" : {
              "background-color" : "#cceeff",
              "font-size" : "24px"
            },
            "width" : 2080.0,
            "zIndex" : 0
          } ],
          "name" : "Find Bundle Prices",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "8f3be365-4dbb-34fa-b29e-a7f4a10690bf",
            "instanceIdentifier" : "da280e55-db86-3a37-b923-7afbfdf91a03",
            "name" : "OUTPUT",
            "position" : {
              "x" : 3344.0,
              "y" : 672.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2432.0,
            "y" : -56.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "188a8d24-ed2e-3831-30c9-55f68648e95f",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "c565ceb1-c4b0-3e0a-ae2b-4ddb3fff13cc",
              "instanceIdentifier" : "142347af-c2e1-3fce-9615-80de43c379af",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
                "instanceIdentifier" : "bd40eed2-751d-32d4-5bd0-786c31c4b887",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "004f9927-9c54-3f5b-bfef-59f2758d5342",
                "instanceIdentifier" : "164e95c4-c3a9-3b26-1491-e43f16639ac0",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "9a5fdea5-df44-3e22-aad2-04d59665a2ba",
              "instanceIdentifier" : "365d7831-c3d0-31ee-5fcc-84b1b285d24e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "188a8d24-ed2e-3831-30c9-55f68648e95f",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "15343f0b-4820-3001-a4da-ff81418f4359",
                "instanceIdentifier" : "1b1adb85-a46c-3b87-5c1c-3b1ff1f3d6e7",
                "name" : "NEXT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "deb13664-4a41-3d05-aeb1-06070d6d191e",
              "instanceIdentifier" : "286d0d57-6778-3aea-64ff-e03a6eefb738",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "next" ],
              "source" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
                "instanceIdentifier" : "188a8d24-ed2e-3831-30c9-55f68648e95f",
                "name" : "Route On Master Catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
                "instanceIdentifier" : "bd40eed2-751d-32d4-5bd0-786c31c4b887",
                "name" : "Set stage.name and stage.start.time",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "b12879b6-71c7-35de-96d2-93b99cf9a45a",
              "instanceIdentifier" : "fdb5e22d-ff6d-3a01-8c3a-87ace87ce1f0",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
                "instanceIdentifier" : "01689b2c-db45-39b8-26b6-6e8fd82501d2",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
                "instanceIdentifier" : "6d41ffbc-3cb8-3381-1342-18e9ea911066",
                "name" : "OUTPUT",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "04dfdb65-9ed6-3595-baf0-7fe68b173680",
              "instanceIdentifier" : "3bcd607e-667c-3352-5074-e26d92bd4c1c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e86b0baa-7364-36f2-8912-c884f888ed74",
                "id" : "004f9927-9c54-3f5b-bfef-59f2758d5342",
                "instanceIdentifier" : "164e95c4-c3a9-3b26-1491-e43f16639ac0",
                "name" : "Track Document",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "8fafa0c1-6c8f-369a-883b-9899ded3ea64",
              "instanceIdentifier" : "01689b2c-db45-39b8-26b6-6e8fd82501d2",
              "name" : "INPUT",
              "position" : {
                "x" : -376.0,
                "y" : -40.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "cf194db5-4020-3f27-926c-3aef57ce46e8",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "height" : 776.0,
              "identifier" : "962e3cc9-a0ee-371b-bad9-05d9f6ec7d36",
              "instanceIdentifier" : "40c9826f-8438-375e-287f-48ea19015a72",
              "label" : "Route on Master Catalog",
              "position" : {
                "x" : -264.0,
                "y" : -160.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "24px"
              },
              "width" : 1312.0,
              "zIndex" : 0
            } ],
            "name" : "Route on Master Catalog",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "1b1e05b6-ac3a-31c0-b14d-393013bd5573",
              "instanceIdentifier" : "6d41ffbc-3cb8-3381-1342-18e9ea911066",
              "name" : "OUTPUT",
              "position" : {
                "x" : -376.0,
                "y" : 456.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "15343f0b-4820-3001-a4da-ff81418f4359",
              "instanceIdentifier" : "1b1adb85-a46c-3b87-5c1c-3b1ff1f3d6e7",
              "name" : "NEXT",
              "position" : {
                "x" : 928.0,
                "y" : 208.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 3272.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "f636530f-e1d3-3fd7-863d-e7185dd68488",
              "instanceIdentifier" : "bd40eed2-751d-32d4-5bd0-786c31c4b887",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Set stage.name and stage.start.time",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : -80.0
              },
              "properties" : {
                "stage.start.time" : "${now():toNumber()}",
                "stage.name" : "Price Stage 1b (Database), Find Bundle Prices",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "flow.name" : "${pipe.name}"
              },
              "propertyDescriptors" : {
                "stage.start.time" : {
                  "displayName" : "stage.start.time",
                  "identifiesControllerService" : false,
                  "name" : "stage.start.time",
                  "sensitive" : false
                },
                "stage.name" : {
                  "displayName" : "stage.name",
                  "identifiesControllerService" : false,
                  "name" : "stage.name",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "flow.name" : {
                  "displayName" : "flow.name",
                  "identifiesControllerService" : false,
                  "name" : "flow.name",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "2b03a77b-2a7d-32a9-bdc2-92653f24eb76",
              "instanceIdentifier" : "188a8d24-ed2e-3831-30c9-55f68648e95f",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Route On Master Catalog",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 168.0
              },
              "properties" : {
                "Route on other Sales Catalogs" : "block",
                "Route on Master Catalog" : "allow",
                "Route on Default Catalog" : "block"
              },
              "propertyDescriptors" : {
                "Route on other Sales Catalogs" : {
                  "displayName" : "Route on other Sales Catalogs",
                  "identifiesControllerService" : false,
                  "name" : "Route on other Sales Catalogs",
                  "sensitive" : false
                },
                "Route on Master Catalog" : {
                  "displayName" : "Route on Master Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Master Catalog",
                  "sensitive" : false
                },
                "Route on Default Catalog" : {
                  "displayName" : "Route on Default Catalog",
                  "identifiesControllerService" : false,
                  "name" : "Route on Default Catalog",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.RouteOnCatalog",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e86b0baa-7364-36f2-8912-c884f888ed74",
              "identifier" : "004f9927-9c54-3f5b-bfef-59f2758d5342",
              "instanceIdentifier" : "164e95c4-c3a9-3b26-1491-e43f16639ac0",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Track Document",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 216.0,
                "y" : 416.0
              },
              "properties" : {
                "Cache TTL" : "3600"
              },
              "propertyDescriptors" : {
                "Cache TTL" : {
                  "displayName" : "Cache TTL",
                  "identifiesControllerService" : false,
                  "name" : "Cache TTL",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.event.processors.TrackDocument",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "e4322749-f421-30b9-b89c-d144b076a31a",
                "instanceIdentifier" : "4e537815-85a0-3482-2cd2-bf96d754da1e",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "e5f4c8ce-1ae8-3647-bfc3-110a280abfb6",
              "instanceIdentifier" : "3ace762f-b670-3738-a057-5e403cacdb5b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "bac65dcf-6ee6-3fb6-a10a-aeb0049051a6",
                "instanceIdentifier" : "28746324-5e75-3694-1193-9def16859edf",
                "name" : "Transform Document - Find Bundle Prices From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "df2d8b72-2c88-399e-9160-a1d0d0aaa0ff",
                "instanceIdentifier" : "521a29e1-d3c4-3dfc-46ab-9ba7972ff956",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "abae62d5-beb4-39e5-9497-e781dc0ff3a8",
              "instanceIdentifier" : "c37477f0-8780-3ad0-6a05-371a59377946",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "bac65dcf-6ee6-3fb6-a10a-aeb0049051a6",
                "instanceIdentifier" : "28746324-5e75-3694-1193-9def16859edf",
                "name" : "Transform Document - Find Bundle Prices From Database",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "bac65dcf-6ee6-3fb6-a10a-aeb0049051a6",
                "instanceIdentifier" : "28746324-5e75-3694-1193-9def16859edf",
                "name" : "Transform Document - Find Bundle Prices From Database",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "88fe026c-3e00-37be-83ff-3c7441aa154f",
              "instanceIdentifier" : "da9f7ac2-42de-3612-89af-a6fa25354849",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
                "id" : "9cf7fff0-390b-3316-875d-d3636c6c0dd5",
                "instanceIdentifier" : "19842c60-a5f2-3040-8b24-25a3f37c204f",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "9cf7fff0-390b-3316-875d-d3636c6c0dd5",
              "instanceIdentifier" : "19842c60-a5f2-3040-8b24-25a3f37c204f",
              "name" : "INPUT",
              "position" : {
                "x" : -1320.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "314eb602-b773-3565-618c-f49c1d0252c1",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "height" : 360.0,
              "identifier" : "ac2ede75-243b-3cee-b827-45fbaef1829c",
              "instanceIdentifier" : "8bc2a1e8-db43-38a6-a435-89c7fc7b162c",
              "label" : "Find Prices from Database",
              "position" : {
                "x" : -1232.0,
                "y" : 192.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 1440.0,
              "zIndex" : 0
            } ],
            "name" : "Find Prices from Database",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "e4322749-f421-30b9-b89c-d144b076a31a",
              "instanceIdentifier" : "4e537815-85a0-3482-2cd2-bf96d754da1e",
              "name" : "ERROR",
              "position" : {
                "x" : -624.0,
                "y" : 528.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "df2d8b72-2c88-399e-9160-a1d0d0aaa0ff",
              "instanceIdentifier" : "521a29e1-d3c4-3dfc-46ab-9ba7972ff956",
              "name" : "SUCCESS",
              "position" : {
                "x" : 88.0,
                "y" : 320.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : 336.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 2,
              "executionNode" : "ALL",
              "groupIdentifier" : "33817799-ecde-3cda-9aca-f914f0aedbcc",
              "identifier" : "bac65dcf-6ee6-3fb6-a10a-aeb0049051a6",
              "instanceIdentifier" : "28746324-5e75-3694-1193-9def16859edf",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Transform Document - Find Bundle Prices From Database",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : -680.0,
                "y" : 280.0
              },
              "properties" : { },
              "propertyDescriptors" : { },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.price.processors.FindPricesFromDatabase",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "304e4a5b-b153-36df-bb0a-f86bd7bd5928",
                "instanceIdentifier" : "f5b424f2-507f-398a-1209-efb2aa2f5c7e",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "3d1bdb69-fe33-3e75-bcc4-0ff89d6777ca",
              "instanceIdentifier" : "f55f5ac7-0a1f-34c2-6a8c-751f4407e163",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success", "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
                "instanceIdentifier" : "29a91427-00e7-3d2e-4d52-9ab1e46c1e45",
                "name" : "Execute SQL - Find Bundle Prices",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
                "instanceIdentifier" : "a8ae820a-a7e5-3fd1-50a1-ef4794215565",
                "name" : "ERROR",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "6953185f-d2e6-3cd7-8972-0f11a9e8bc1f",
              "instanceIdentifier" : "97e436f4-ac9a-321e-3be7-b871b155f701",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "b09d3db4-b94f-3edf-96bb-56a3ce458fba",
                "instanceIdentifier" : "39e53e06-7e45-3fbf-85dc-2be468ac3f5e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "404769a8-98bf-3e96-9eec-e8dcb7c41e38",
                "instanceIdentifier" : "edcba4ff-7786-35a5-7987-d6c6ed832222",
                "name" : "EMPTY",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "e0dcdf58-7695-3fe9-8e7a-ce72cbb0d0c5",
              "instanceIdentifier" : "feb77c2b-fe61-306f-dc50-48a07c5c9a27",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "empty" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "304e4a5b-b153-36df-bb0a-f86bd7bd5928",
                "instanceIdentifier" : "f5b424f2-507f-398a-1209-efb2aa2f5c7e",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
                "instanceIdentifier" : "29a91427-00e7-3d2e-4d52-9ab1e46c1e45",
                "name" : "Execute SQL - Find Bundle Prices",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "f2f704af-1144-3589-b69c-18b259d37a39",
              "instanceIdentifier" : "7a719f91-5c6a-3304-0d00-4f2a5ce300a2",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "SELECT BUNDLE.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(BUNDLE.PRICE), '###') ${function.within.group.1} PRICE, \n       ${function.listagg}(BUNDLE.CURRENCY, '###') ${function.within.group.1} CURRENCY,\n       ${function.listagg}(BUNDLE.USAGE, '###') ${function.within.group.1} USAGE,\n       ${function.listagg}(BUNDLE.STORETYPE, '###') ${function.within.group.1} STORETYPE\n  FROM ( SELECT CREL.CATENTRY_ID_PARENT CATENTRY_ID,\n                SUM(P.PRICE * cast(CREL.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID CATENTRY_ID\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                CATENTREL CREL,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN\n                         ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n                     AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now}) AND O.PUBLISHED = 1  AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND CREL.CATENTRY_ID_CHILD = CER.CATENTRY_ID \n            AND CREL.CATRELTYPE_ID IN ('BUNDLE_COMPONENT', 'PDK_COMPONENT')\n            AND (O.CATENTRY_ID = CER.CATENTRY_ID OR (\n            \t\t\t\tO.CATENTRY_ID = (SELECT PV.CATENTRY_ID_PARENT FROM CATENTREL PV WHERE PV.CATENTRY_ID_CHILD =  CER.CATENTRY_ID AND PV.CATRELTYPE_ID IN ('PRODUCT_VARIANT'))\n\t            \t\tAND \n\t            \t\t\t( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n\t\t                    \t WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID\n        \t               \t\tAND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID\n            \t           \t\tAND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0\n                    )\n                )\n          GROUP BY CREL.CATENTRY_ID_PARENT,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE ) BUNDLE\n         ${TI_DELTA_JOIN_QUERY_BUNDLE}\n         ${X_CUSTOM_JOIN_QUERY_BUNDLE} ${extCatentryWhereSQL}\nGROUP BY BUNDLE.CATENTRY_ID\nUNION\nSELECT DYNAMICKIT.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(DYNAMICKIT.PRICE), ', ') ${function.within.group.2} PRICE, \n       ${function.listagg}(DYNAMICKIT.CURRENCY, '###') ${function.within.group.2} CURRENCY,\n       ${function.listagg}(DYNAMICKIT.USAGE, ', ') ${function.within.group.2} USAGE,\n       ${function.listagg}(DYNAMICKIT.STORETYPE, ', ') ${function.within.group.2} STORETYPE\n  FROM ( SELECT DKLIST.CATENTRY_ID,\n                SUM(P.PRICE * cast(DKLIST.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID_PARENT CATENTRY_ID_PARENT, A.CATENTRY_ID_CHILD CATENTRY_ID_CHILD\n                    FROM CATENTREL A,\n                         ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN \n                                           ( SELECT RELATEDSTORE_ID FROM STOREREL\n                                              WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) B,\n                         CATENTRY C\n                   WHERE A.CATENTRY_ID_PARENT = B.CATENTRY_ID AND C.CATENTRY_ID = A.CATENTRY_ID_CHILD AND C.MARKFORDELETE = 0 AND A.CATRELTYPE_ID IN ('PRODUCT_VARIANT')\n                   UNION\n                  SELECT A.CATENTRY_ID CATENTRY_ID_PARENT, A.CATENTRY_ID CATENTRY_ID_CHILD\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN ( SELECT CATALOG_ID FROM STORECAT\n                                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                DKPDCCOMPLIST DKLIST,\n                CATENTRY C,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID\n                     AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE) AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n                     AND O.PUBLISHED = 1 AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND DKLIST.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND C.CATENTRY_ID=CER.CATENTRY_ID_PARENT\n            AND C.CATENTTYPE_ID = 'DynamicKitBean'\n            AND O.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND ( ( CER.CATENTRY_ID_PARENT = CER.CATENTRY_ID_CHILD ) OR\n                  ( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n                     WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID_CHILD AND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID\n                       AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID AND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID\n                       AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0 )\n          GROUP BY DKLIST.CATENTRY_ID ,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE) DYNAMICKIT\n          ${TI_DELTA_JOIN_QUERY_DYNKIT}\n          ${X_CUSTOM_JOIN_QUERY_DYNKIT} ${extCatentryWhereSQL}\nGROUP BY DYNAMICKIT.CATENTRY_ID",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "c7afb9e6-2de2-3acc-8ae6-398abfe15e13",
                "instanceIdentifier" : "8342bc97-3d61-3699-468a-3fdf6af46a67",
                "name" : "Find Bundle Prices SQL",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "9444c6b5-249a-3279-9971-09d1dbbf156a",
                "instanceIdentifier" : "1286c161-409b-339d-a326-354c76a25ef2",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "ecbcc0a8-5543-311f-982a-ff4be1d0a717",
              "instanceIdentifier" : "bddf3f31-9d4e-3aae-2dfd-f8c2dc8e22bb",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "SELECT BUNDLE.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(BUNDLE.PRICE), '###') ${function.within.group.1} PRICE, \n       ${function.listagg}(BUNDLE.CURRENCY, '###') ${function.within.group.1} CURRENCY,\n       ${function.listagg}(BUNDLE.USAGE, '###') ${function.within.group.1} USAGE,\n       ${function.listagg}(BUNDLE.STORETYPE, '###') ${function.within.group.1} STORETYPE\n  FROM ( SELECT CREL.CATENTRY_ID_PARENT CATENTRY_ID,\n                SUM(P.PRICE * cast(CREL.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID CATENTRY_ID\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                CATENTREL CREL,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN\n                         ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n                     AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now}) AND O.PUBLISHED = 1  AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND CREL.CATENTRY_ID_CHILD = CER.CATENTRY_ID \n            AND CREL.CATRELTYPE_ID IN ('BUNDLE_COMPONENT', 'PDK_COMPONENT')\n            AND (O.CATENTRY_ID = CER.CATENTRY_ID OR (\n            \t\t\t\tO.CATENTRY_ID = (SELECT PV.CATENTRY_ID_PARENT FROM CATENTREL PV WHERE PV.CATENTRY_ID_CHILD =  CER.CATENTRY_ID AND PV.CATRELTYPE_ID IN ('PRODUCT_VARIANT'))\n\t            \t\tAND \n\t            \t\t\t( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n\t\t                    \t WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID\n        \t               \t\tAND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID\n            \t           \t\tAND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0\n                    )\n                )\n          GROUP BY CREL.CATENTRY_ID_PARENT,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE ) BUNDLE\n         ${TI_DELTA_JOIN_QUERY_BUNDLE}\n         ${X_CUSTOM_JOIN_QUERY_BUNDLE} ${extCatentryWhereSQL}\nGROUP BY BUNDLE.CATENTRY_ID\nUNION\nSELECT DYNAMICKIT.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(DYNAMICKIT.PRICE), ', ') ${function.within.group.2} PRICE, \n       ${function.listagg}(DYNAMICKIT.CURRENCY, '###') ${function.within.group.2} CURRENCY,\n       ${function.listagg}(DYNAMICKIT.USAGE, ', ') ${function.within.group.2} USAGE,\n       ${function.listagg}(DYNAMICKIT.STORETYPE, ', ') ${function.within.group.2} STORETYPE\n  FROM ( SELECT DKLIST.CATENTRY_ID,\n                SUM(P.PRICE * cast(DKLIST.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID_PARENT CATENTRY_ID_PARENT, A.CATENTRY_ID_CHILD CATENTRY_ID_CHILD\n                    FROM CATENTREL A,\n                         ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN \n                                           ( SELECT RELATEDSTORE_ID FROM STOREREL\n                                              WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) B,\n                         CATENTRY C\n                   WHERE A.CATENTRY_ID_PARENT = B.CATENTRY_ID AND C.CATENTRY_ID = A.CATENTRY_ID_CHILD AND C.MARKFORDELETE = 0 AND A.CATRELTYPE_ID IN ('PRODUCT_VARIANT')\n                   UNION\n                  SELECT A.CATENTRY_ID CATENTRY_ID_PARENT, A.CATENTRY_ID CATENTRY_ID_CHILD\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN ( SELECT CATALOG_ID FROM STORECAT\n                                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                DKPDCCOMPLIST DKLIST,\n                CATENTRY C,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID\n                     AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE) AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n                     AND O.PUBLISHED = 1 AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND DKLIST.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND C.CATENTRY_ID=CER.CATENTRY_ID_PARENT\n            AND C.CATENTTYPE_ID = 'DynamicKitBean'\n            AND O.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND ( ( CER.CATENTRY_ID_PARENT = CER.CATENTRY_ID_CHILD ) OR\n                  ( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n                     WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID_CHILD AND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID\n                       AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID AND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID\n                       AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0 )\n          GROUP BY DKLIST.CATENTRY_ID ,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE) DYNAMICKIT\n          ${TI_DELTA_JOIN_QUERY_DYNKIT}\n          ${X_CUSTOM_JOIN_QUERY_DYNKIT} ${extCatentryWhereSQL}\nGROUP BY DYNAMICKIT.CATENTRY_ID",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "c7afb9e6-2de2-3acc-8ae6-398abfe15e13",
                "instanceIdentifier" : "8342bc97-3d61-3699-468a-3fdf6af46a67",
                "name" : "Find Bundle Prices SQL",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "128dd6d5-8642-309c-9979-532bac0350e9",
                "instanceIdentifier" : "59d46fae-0eed-35ff-eced-347b6e6a9e4a",
                "name" : "Define scroll offset and page size",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "ee05ba9b-326f-37ef-8573-6fd0328fe76e",
              "instanceIdentifier" : "7855ea37-07ea-31c7-8e61-d59c15f58785",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
                "instanceIdentifier" : "df12697c-cd49-3551-7a60-ead499e50c99",
                "name" : "INPUT",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "b09d3db4-b94f-3edf-96bb-56a3ce458fba",
                "instanceIdentifier" : "39e53e06-7e45-3fbf-85dc-2be468ac3f5e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "ada07f1c-dd05-3672-aaee-f535f6aa32d6",
              "instanceIdentifier" : "82b8341a-3b68-374b-e54f-5bd03ed96286",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "9444c6b5-249a-3279-9971-09d1dbbf156a",
                "instanceIdentifier" : "1286c161-409b-339d-a326-354c76a25ef2",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "SELECT BUNDLE.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(BUNDLE.PRICE), '###') ${function.within.group.1} PRICE, \n       ${function.listagg}(BUNDLE.CURRENCY, '###') ${function.within.group.1} CURRENCY,\n       ${function.listagg}(BUNDLE.USAGE, '###') ${function.within.group.1} USAGE,\n       ${function.listagg}(BUNDLE.STORETYPE, '###') ${function.within.group.1} STORETYPE\n  FROM ( SELECT CREL.CATENTRY_ID_PARENT CATENTRY_ID,\n                SUM(P.PRICE * cast(CREL.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID CATENTRY_ID\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                CATENTREL CREL,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN\n                         ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n                     AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now}) AND O.PUBLISHED = 1  AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND CREL.CATENTRY_ID_CHILD = CER.CATENTRY_ID \n            AND CREL.CATRELTYPE_ID IN ('BUNDLE_COMPONENT', 'PDK_COMPONENT')\n            AND (O.CATENTRY_ID = CER.CATENTRY_ID OR (\n            \t\t\t\tO.CATENTRY_ID = (SELECT PV.CATENTRY_ID_PARENT FROM CATENTREL PV WHERE PV.CATENTRY_ID_CHILD =  CER.CATENTRY_ID AND PV.CATRELTYPE_ID IN ('PRODUCT_VARIANT'))\n\t            \t\tAND \n\t            \t\t\t( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n\t\t                    \t WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID\n        \t               \t\tAND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID\n            \t           \t\tAND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0\n                    )\n                )\n          GROUP BY CREL.CATENTRY_ID_PARENT,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE ) BUNDLE\n         ${TI_DELTA_JOIN_QUERY_BUNDLE}\n         ${X_CUSTOM_JOIN_QUERY_BUNDLE} ${extCatentryWhereSQL}\nGROUP BY BUNDLE.CATENTRY_ID\nUNION\nSELECT DYNAMICKIT.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(DYNAMICKIT.PRICE), ', ') ${function.within.group.2} PRICE, \n       ${function.listagg}(DYNAMICKIT.CURRENCY, '###') ${function.within.group.2} CURRENCY,\n       ${function.listagg}(DYNAMICKIT.USAGE, ', ') ${function.within.group.2} USAGE,\n       ${function.listagg}(DYNAMICKIT.STORETYPE, ', ') ${function.within.group.2} STORETYPE\n  FROM ( SELECT DKLIST.CATENTRY_ID,\n                SUM(P.PRICE * cast(DKLIST.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID_PARENT CATENTRY_ID_PARENT, A.CATENTRY_ID_CHILD CATENTRY_ID_CHILD\n                    FROM CATENTREL A,\n                         ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN \n                                           ( SELECT RELATEDSTORE_ID FROM STOREREL\n                                              WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) B,\n                         CATENTRY C\n                   WHERE A.CATENTRY_ID_PARENT = B.CATENTRY_ID AND C.CATENTRY_ID = A.CATENTRY_ID_CHILD AND C.MARKFORDELETE = 0 AND A.CATRELTYPE_ID IN ('PRODUCT_VARIANT')\n                   UNION\n                  SELECT A.CATENTRY_ID CATENTRY_ID_PARENT, A.CATENTRY_ID CATENTRY_ID_CHILD\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN ( SELECT CATALOG_ID FROM STORECAT\n                                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                DKPDCCOMPLIST DKLIST,\n                CATENTRY C,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID\n                     AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE) AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n                     AND O.PUBLISHED = 1 AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND DKLIST.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND C.CATENTRY_ID=CER.CATENTRY_ID_PARENT\n            AND C.CATENTTYPE_ID = 'DynamicKitBean'\n            AND O.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND ( ( CER.CATENTRY_ID_PARENT = CER.CATENTRY_ID_CHILD ) OR\n                  ( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n                     WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID_CHILD AND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID\n                       AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID AND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID\n                       AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0 )\n          GROUP BY DKLIST.CATENTRY_ID ,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE) DYNAMICKIT\n          ${TI_DELTA_JOIN_QUERY_DYNKIT}\n          ${X_CUSTOM_JOIN_QUERY_DYNKIT} ${extCatentryWhereSQL}\nGROUP BY DYNAMICKIT.CATENTRY_ID",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "c7afb9e6-2de2-3acc-8ae6-398abfe15e13",
                "instanceIdentifier" : "8342bc97-3d61-3699-468a-3fdf6af46a67",
                "name" : "Find Bundle Prices SQL",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "8677a645-a885-339a-b5c5-402b48881cdb",
              "instanceIdentifier" : "99833ebe-6120-3a95-2a81-51313e164132",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "128dd6d5-8642-309c-9979-532bac0350e9",
                "instanceIdentifier" : "59d46fae-0eed-35ff-eced-347b6e6a9e4a",
                "name" : "Define scroll offset and page size",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "b09d3db4-b94f-3edf-96bb-56a3ce458fba",
                "instanceIdentifier" : "39e53e06-7e45-3fbf-85dc-2be468ac3f5e",
                "name" : "Funnel",
                "type" : "FUNNEL"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "df448dad-a190-3e36-8014-01c110eac462",
              "instanceIdentifier" : "bc982f76-0e29-34b4-3620-c99da5ed4458",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "304e4a5b-b153-36df-bb0a-f86bd7bd5928",
                "instanceIdentifier" : "f5b424f2-507f-398a-1209-efb2aa2f5c7e",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
                "instanceIdentifier" : "73bdb4b4-9c6c-3032-b802-9b61b740cd47",
                "name" : "SUCCESS",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "919f6d68-2c6d-323e-b9ed-5790ba451624",
              "instanceIdentifier" : "4a7729e8-61bb-3cd3-96e4-1346e14554fa",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
                "id" : "304e4a5b-b153-36df-bb0a-f86bd7bd5928",
                "instanceIdentifier" : "f5b424f2-507f-398a-1209-efb2aa2f5c7e",
                "name" : "Analyze SQL Response",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "9444c6b5-249a-3279-9971-09d1dbbf156a",
              "instanceIdentifier" : "1286c161-409b-339d-a326-354c76a25ef2",
              "position" : {
                "x" : 1656.0,
                "y" : -112.0
              }
            }, {
              "componentType" : "FUNNEL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "b09d3db4-b94f-3edf-96bb-56a3ce458fba",
              "instanceIdentifier" : "39e53e06-7e45-3fbf-85dc-2be468ac3f5e",
              "position" : {
                "x" : 3104.0,
                "y" : -112.0
              }
            } ],
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "c3932ceb-cfbc-3f97-99e5-8db0e35d83d5",
              "instanceIdentifier" : "df12697c-cd49-3551-7a60-ead499e50c99",
              "name" : "INPUT",
              "position" : {
                "x" : 176.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "INPUT_PORT"
            } ],
            "instanceIdentifier" : "f40a6689-fc67-31f1-9bcb-f46a1365a365",
            "labels" : [ {
              "componentType" : "LABEL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "height" : 512.0,
              "identifier" : "86513754-0206-364f-a73c-7f2c5f54b395",
              "instanceIdentifier" : "9f758a83-f889-3dbb-ee57-5d47325925d8",
              "label" : "Execute SQL",
              "position" : {
                "x" : 288.0,
                "y" : -504.0
              },
              "style" : {
                "background-color" : "#cceeff",
                "font-size" : "20px"
              },
              "width" : 3480.0,
              "zIndex" : 0
            } ],
            "name" : "Execute SQL",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "e01969fa-8c14-37ab-b221-cad02f1054f4",
              "instanceIdentifier" : "a8ae820a-a7e5-3fd1-50a1-ef4794215565",
              "name" : "ERROR",
              "position" : {
                "x" : 3640.0,
                "y" : -112.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "404769a8-98bf-3e96-9eec-e8dcb7c41e38",
              "instanceIdentifier" : "edcba4ff-7786-35a5-7987-d6c6ed832222",
              "name" : "EMPTY",
              "position" : {
                "x" : 3640.0,
                "y" : -240.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "e8604131-9dd8-3b5b-bd93-049fef6b8eb3",
              "instanceIdentifier" : "73bdb4b4-9c6c-3032-b802-9b61b740cd47",
              "name" : "SUCCESS",
              "position" : {
                "x" : 3640.0,
                "y" : -368.0
              },
              "scheduledState" : "ENABLED",
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2544.0,
              "y" : -16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "128dd6d5-8642-309c-9979-532bac0350e9",
              "instanceIdentifier" : "59d46fae-0eed-35ff-eced-347b6e6a9e4a",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Define scroll offset and page size",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 792.0,
                "y" : -408.0
              },
              "properties" : {
                "function.within.group.1" : "${DBTYPE:equalsIgnoreCase('onedb'):ifElse('',' WITHIN GROUP (ORDER BY BUNDLE.USAGE, BUNDLE.CURRENCY) ')}",
                "function.within.group.2" : "${DBTYPE:equalsIgnoreCase('onedb'):ifElse('',' WITHIN GROUP (ORDER BY DYNAMICKIT.USAGE, DYNAMICKIT.CURRENCY) ')}",
                "param.bucketSize" : "${scroll.bucket.size}",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "param.offset" : "0"
              },
              "propertyDescriptors" : {
                "function.within.group.1" : {
                  "displayName" : "function.within.group.1",
                  "identifiesControllerService" : false,
                  "name" : "function.within.group.1",
                  "sensitive" : false
                },
                "function.within.group.2" : {
                  "displayName" : "function.within.group.2",
                  "identifiesControllerService" : false,
                  "name" : "function.within.group.2",
                  "sensitive" : false
                },
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "param.bucketSize" : {
                  "displayName" : "param.bucketSize",
                  "identifiesControllerService" : false,
                  "name" : "param.bucketSize",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "param.offset" : {
                  "displayName" : "param.offset",
                  "identifiesControllerService" : false,
                  "name" : "param.offset",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "SELECT BUNDLE.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(BUNDLE.PRICE), '###') ${function.within.group.1} PRICE, \n       ${function.listagg}(BUNDLE.CURRENCY, '###') ${function.within.group.1} CURRENCY,\n       ${function.listagg}(BUNDLE.USAGE, '###') ${function.within.group.1} USAGE,\n       ${function.listagg}(BUNDLE.STORETYPE, '###') ${function.within.group.1} STORETYPE\n  FROM ( SELECT CREL.CATENTRY_ID_PARENT CATENTRY_ID,\n                SUM(P.PRICE * cast(CREL.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID CATENTRY_ID\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                CATENTREL CREL,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN\n                         ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n                     AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now}) AND O.PUBLISHED = 1  AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND CREL.CATENTRY_ID_CHILD = CER.CATENTRY_ID \n            AND CREL.CATRELTYPE_ID IN ('BUNDLE_COMPONENT', 'PDK_COMPONENT')\n            AND (O.CATENTRY_ID = CER.CATENTRY_ID OR (\n            \t\t\t\tO.CATENTRY_ID = (SELECT PV.CATENTRY_ID_PARENT FROM CATENTREL PV WHERE PV.CATENTRY_ID_CHILD =  CER.CATENTRY_ID AND PV.CATRELTYPE_ID IN ('PRODUCT_VARIANT'))\n\t            \t\tAND \n\t            \t\t\t( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n\t\t                    \t WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID\n        \t               \t\tAND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID\n            \t           \t\tAND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0\n                    )\n                )\n          GROUP BY CREL.CATENTRY_ID_PARENT,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE ) BUNDLE\n         ${TI_DELTA_JOIN_QUERY_BUNDLE}\n         ${X_CUSTOM_JOIN_QUERY_BUNDLE} ${extCatentryWhereSQL}\nGROUP BY BUNDLE.CATENTRY_ID\nUNION\nSELECT DYNAMICKIT.CATENTRY_ID,\n       ${function.listagg}(TO_CHAR(DYNAMICKIT.PRICE), ', ') ${function.within.group.2} PRICE, \n       ${function.listagg}(DYNAMICKIT.CURRENCY, '###') ${function.within.group.2} CURRENCY,\n       ${function.listagg}(DYNAMICKIT.USAGE, ', ') ${function.within.group.2} USAGE,\n       ${function.listagg}(DYNAMICKIT.STORETYPE, ', ') ${function.within.group.2} STORETYPE\n  FROM ( SELECT DKLIST.CATENTRY_ID,\n                SUM(P.PRICE * cast(DKLIST.QUANTITY as decimal)) PRICE,\n                P.CURRENCY CURRENCY,\n                FILTER.USAGE USAGE,\n                FILTER.STORETYPE STORETYPE\n           FROM OFFER O,\n                OFFERPRICE P,\n                ( SELECT A.CATENTRY_ID_PARENT CATENTRY_ID_PARENT, A.CATENTRY_ID_CHILD CATENTRY_ID_CHILD\n                    FROM CATENTREL A,\n                         ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN\n                                  ( SELECT CATALOG_ID FROM STORECAT\n                                     WHERE STOREENT_ID IN \n                                           ( SELECT RELATEDSTORE_ID FROM STOREREL\n                                              WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) B,\n                         CATENTRY C\n                   WHERE A.CATENTRY_ID_PARENT = B.CATENTRY_ID AND C.CATENTRY_ID = A.CATENTRY_ID_CHILD AND C.MARKFORDELETE = 0 AND A.CATRELTYPE_ID IN ('PRODUCT_VARIANT')\n                   UNION\n                  SELECT A.CATENTRY_ID CATENTRY_ID_PARENT, A.CATENTRY_ID CATENTRY_ID_CHILD\n                    FROM ( SELECT G.CATENTRY_ID FROM CATGPENREL G,CATENTRY E\n                            WHERE G.CATENTRY_ID = E.CATENTRY_ID AND G.CATALOG_ID = ${param.catalogId} AND E.MARKFORDELETE = 0\n                              AND G.CATALOG_ID IN ( SELECT CATALOG_ID FROM STORECAT\n                                                     WHERE STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} ) ) ) A ) CER,\n                DKPDCCOMPLIST DKLIST,\n                CATENTRY C,\n                ( SELECT MAX(O.PRECEDENCE) MAX_PRECEDENCE, O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID USAGE, ST.STORETYPE \n                    FROM OFFER O, TRADEPOSCN T, STORECENT S, STORETPC TS, STORE ST\n                   WHERE T.TRADEPOSCN_ID = TS.TRADEPOSCN_ID AND S.STOREENT_ID = TS.STOREENT_ID\n                     AND S.STOREENT_ID IN ( SELECT RELATEDSTORE_ID FROM STOREREL WHERE STATE = 1 AND STRELTYP_ID = -4 AND STORE_ID = ${param.storeId} )\n                     AND O.TRADEPOSCN_ID = T.TRADEPOSCN_ID AND O.CATENTRY_ID = S.CATENTRY_ID\n                     AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE) AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n                     AND O.PUBLISHED = 1 AND (O.MINIMUMQUANTITY IN (1,0) OR O.MINIMUMQUANTITY IS NULL) \n                     AND ST.STORE_ID = TS.STOREENT_ID \n                   GROUP BY O.TRADEPOSCN_ID, O.CATENTRY_ID, TS.STTPCUSG_ID, ST.STORETYPE) FILTER\n          WHERE O.TRADEPOSCN_ID = FILTER.TRADEPOSCN_ID\n            AND O.CATENTRY_ID = FILTER.CATENTRY_ID\n            AND O.PRECEDENCE = FILTER.MAX_PRECEDENCE\n            AND (O.STARTDATE IS NULL OR ${function.now} > O.STARTDATE)\n            AND (O.ENDDATE IS NULL OR O.ENDDATE > ${function.now})\n            AND O.PUBLISHED = 1\n            AND O.OFFER_ID = P.OFFER_ID\n            AND DKLIST.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND C.CATENTRY_ID=CER.CATENTRY_ID_PARENT\n            AND C.CATENTTYPE_ID = 'DynamicKitBean'\n            AND O.CATENTRY_ID = CER.CATENTRY_ID_PARENT\n            AND ( ( CER.CATENTRY_ID_PARENT = CER.CATENTRY_ID_CHILD ) OR\n                  ( SELECT COUNT(*) FROM OFFER, TRADEPOSCN, STORECENT, CATGRPTPC\n                     WHERE OFFER.CATENTRY_ID = CER.CATENTRY_ID_CHILD AND OFFER.PUBLISHED = 1 AND OFFER.TRADEPOSCN_ID = TRADEPOSCN.TRADEPOSCN_ID\n                       AND OFFER.CATENTRY_ID = STORECENT.CATENTRY_ID AND CATGRPTPC.STORE_ID = STORECENT.STOREENT_ID\n                       AND TRADEPOSCN.TRADEPOSCN_ID = CATGRPTPC.TRADEPOSCN_ID ) = 0 )\n          GROUP BY DKLIST.CATENTRY_ID ,P.CURRENCY, FILTER.USAGE, FILTER.STORETYPE) DYNAMICKIT\n          ${TI_DELTA_JOIN_QUERY_DYNKIT}\n          ${X_CUSTOM_JOIN_QUERY_DYNKIT} ${extCatentryWhereSQL}\nGROUP BY DYNAMICKIT.CATENTRY_ID",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "c7afb9e6-2de2-3acc-8ae6-398abfe15e13",
              "instanceIdentifier" : "8342bc97-3d61-3699-468a-3fdf6af46a67",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Find Bundle Prices SQL",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1504.0,
                "y" : -408.0
              },
              "properties" : {
                "Ingest Profile" : "${ingest.profile.name}",
                "Use Custom SQL" : "use_default_sql",
                "Profile Service" : "482c0403-55b0-3556-98b6-ccd2fb9b970c",
                "SQL Location" : "sql/DatabasePriceStage1b.sql"
              },
              "propertyDescriptors" : {
                "Ingest Profile" : {
                  "displayName" : "Ingest Profile",
                  "identifiesControllerService" : false,
                  "name" : "Ingest Profile",
                  "sensitive" : false
                },
                "Use Custom SQL" : {
                  "displayName" : "Use Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Use Custom SQL",
                  "sensitive" : false
                },
                "Profile Service" : {
                  "displayName" : "Profile Service",
                  "identifiesControllerService" : true,
                  "name" : "Profile Service",
                  "sensitive" : false
                },
                "Custom SQL" : {
                  "displayName" : "Custom SQL",
                  "identifiesControllerService" : false,
                  "name" : "Custom SQL",
                  "sensitive" : false
                },
                "SQL Location" : {
                  "displayName" : "SQL Location",
                  "identifiesControllerService" : false,
                  "name" : "SQL Location",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#5500ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.GenerateSQL",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "NONE",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.22.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "a13dcd7d-e8e3-3dd2-8ab5-fa6d91e698b1",
              "instanceIdentifier" : "29a91427-00e7-3d2e-4d52-9ab1e46c1e45",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Execute SQL - Find Bundle Prices",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2200.0,
                "y" : -408.0
              },
              "properties" : {
                "esql-max-rows" : "${scroll.bucket.size}",
                "esqlrecord-record-writer" : "5c0552c9-7d16-3c33-a7b6-4d47af8d1f44",
                "dbf-default-precision" : "10",
                "Max Wait Time" : "0 seconds",
                "Database Connection Pooling Service" : "b8dada4e-71fb-353f-abbf-e9c92fed87ef",
                "esql-auto-commit" : "true",
                "dbf-user-logical-types" : "false",
                "dbf-default-scale" : "0",
                "sql-pre-query" : "${ingest.database.schema.sql}",
                "esql-output-batch-size" : "0",
                "esql-fetch-size" : "0",
                "SQL select query" : "${ingest.database.sql}",
                "esqlrecord-normalize" : "false"
              },
              "propertyDescriptors" : {
                "esql-max-rows" : {
                  "displayName" : "Max Rows Per Flow File",
                  "identifiesControllerService" : false,
                  "name" : "esql-max-rows",
                  "sensitive" : false
                },
                "esqlrecord-record-writer" : {
                  "displayName" : "Record Writer",
                  "identifiesControllerService" : true,
                  "name" : "esqlrecord-record-writer",
                  "sensitive" : false
                },
                "dbf-default-precision" : {
                  "displayName" : "Default Decimal Precision",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-precision",
                  "sensitive" : false
                },
                "Max Wait Time" : {
                  "displayName" : "Max Wait Time",
                  "identifiesControllerService" : false,
                  "name" : "Max Wait Time",
                  "sensitive" : false
                },
                "Database Connection Pooling Service" : {
                  "displayName" : "Database Connection Pooling Service",
                  "identifiesControllerService" : true,
                  "name" : "Database Connection Pooling Service",
                  "sensitive" : false
                },
                "sql-post-query" : {
                  "displayName" : "SQL Post-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-post-query",
                  "sensitive" : false
                },
                "esql-auto-commit" : {
                  "displayName" : "Set Auto Commit",
                  "identifiesControllerService" : false,
                  "name" : "esql-auto-commit",
                  "sensitive" : false
                },
                "dbf-user-logical-types" : {
                  "displayName" : "Use Avro Logical Types",
                  "identifiesControllerService" : false,
                  "name" : "dbf-user-logical-types",
                  "sensitive" : false
                },
                "dbf-default-scale" : {
                  "displayName" : "Default Decimal Scale",
                  "identifiesControllerService" : false,
                  "name" : "dbf-default-scale",
                  "sensitive" : false
                },
                "sql-pre-query" : {
                  "displayName" : "SQL Pre-Query",
                  "identifiesControllerService" : false,
                  "name" : "sql-pre-query",
                  "sensitive" : false
                },
                "esql-output-batch-size" : {
                  "displayName" : "Output Batch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-output-batch-size",
                  "sensitive" : false
                },
                "esql-fetch-size" : {
                  "displayName" : "Fetch Size",
                  "identifiesControllerService" : false,
                  "name" : "esql-fetch-size",
                  "sensitive" : false
                },
                "SQL select query" : {
                  "displayName" : "SQL select query",
                  "identifiesControllerService" : false,
                  "name" : "SQL select query",
                  "sensitive" : false
                },
                "esqlrecord-normalize" : {
                  "displayName" : "Normalize Table/Column Names",
                  "identifiesControllerService" : false,
                  "name" : "esqlrecord-normalize",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#ffff00"
              },
              "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "next", "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "commerce-search-processors-nar",
                "group" : "com.hcl.commerce",
                "version" : "9.1.16.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1d341fbc-f28b-32dc-af0d-9ec04190ee39",
              "identifier" : "304e4a5b-b153-36df-bb0a-f86bd7bd5928",
              "instanceIdentifier" : "f5b424f2-507f-398a-1209-efb2aa2f5c7e",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Analyze SQL Response",
              "penaltyDuration" : "0 sec",
              "position" : {
                "x" : 2952.0,
                "y" : -408.0
              },
              "properties" : {
                "Relationship Type" : "success",
                "Auto Refresh Index" : "${scroll.refresh.index}"
              },
              "propertyDescriptors" : {
                "Relationship Type" : {
                  "displayName" : "Relationship Type",
                  "identifiesControllerService" : false,
                  "name" : "Relationship Type",
                  "sensitive" : false
                },
                "Auto Refresh Index" : {
                  "displayName" : "Auto Refresh Index",
                  "identifiesControllerService" : false,
                  "name" : "Auto Refresh Index",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : {
                "background-color" : "#0000ff"
              },
              "type" : "com.hcl.software.data.ingest.common.processors.AnalyzeExecuteSQLRecordResponse",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "0cce0cbe-e070-3cd2-9719-f0e96e2f9088",
              "instanceIdentifier" : "501dc0c3-d300-30b3-e4bd-1ff313a5e6cd",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf75-018a-1000-b5ef-566bd710acd1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "8972d59f-6f52-3fa0-8f90-dee9b6522de0",
              "instanceIdentifier" : "4ab70320-202c-3a87-cdcb-7357f8ce543b",
              "name" : "Routing INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "4c7cb02d-eda4-3e9b-08ff-41ea8fcc5b71",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "8837f60c-4a65-33b3-a03e-eb4ebe7f2dc8",
              "instanceIdentifier" : "cf42e83a-c531-394c-4777-72cebc3ccec2",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc041-018a-1000-33ce-a572c344f452",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "fb07cb7b-40dc-3079-b5b3-1cb2b79c9aa7",
              "instanceIdentifier" : "0c113f06-774d-3f48-50b0-6b9ebc03749d",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbda3-018a-1000-7cf6-798a4d4aee39",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "585ca8a3-be9d-3812-b3a5-842fa24902da",
              "instanceIdentifier" : "ab73cec7-7fcb-3e78-60e4-0d026488f229",
              "name" : "Run INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc34-018a-1000-fbc8-2109e133d089",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "18fd4a17-a972-31e9-9f49-7fc1e979b429",
              "instanceIdentifier" : "4f7338c4-a078-339b-bc27-1e11d8df6abc",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbfdd-018a-1000-9462-b5d773752c48",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "2c72e9bf-0bde-33ef-928b-8fa7161815e1",
              "instanceIdentifier" : "ac4e9908-424d-3d1c-ac28-4288f611bcfe",
              "name" : "Logger INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbba4-018a-1000-ba9c-29480e48b9d2",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "5ab2a4d1-3514-3486-aa4b-062c3f8427c5",
              "instanceIdentifier" : "ab396391-c059-35dd-3780-a6c845094940",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe96-018a-1000-4747-90e97cca0403",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "b89fbaa0-2ee1-3fcf-919c-a5a656c40852",
              "instanceIdentifier" : "1affb319-90a8-3420-921e-830f7b54c486",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf00-018a-1000-4ca4-ed2df3143ecc",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "eb6e413b-322d-3935-91b9-7a8e3fa91fc5",
              "instanceIdentifier" : "6c7cfda8-c28e-3a46-7f72-ae26e5ca1f1e",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc98-018a-1000-7a78-4739a7b490e5",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "be3b766a-0cd4-34f6-912d-4815c7dbb336",
              "instanceIdentifier" : "44ad75c1-fc92-39cd-92ee-50b925d61ef3",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe38-018a-1000-834e-90622738889e",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "bae6ce35-840b-325a-b5f2-28d023005f21",
              "instanceIdentifier" : "a275ed6e-9273-3ad5-4810-bac644829b5d",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc115-018a-1000-81d3-f3b3135fdaab",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "63b4b599-8c8d-3e45-b6a3-f3d33d07252d",
              "instanceIdentifier" : "575541b1-0bf9-31f6-fc15-e31be764e483",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbd2e-018a-1000-85fc-303258699198",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "identifier" : "1adca1c9-2228-31a0-934c-493a274ae0d6",
              "instanceIdentifier" : "3d89ded2-b651-35fe-5948-baf7205da6db",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "a073bfdc-19f5-3d23-ad21-15aa809e0650",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc0a7-018a-1000-e6ed-c3917d9fb825",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "08d5e02d-af13-3ae6-6249-6bfacbde1908",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : 336.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          }, {
            "comments" : "",
            "communicationsTimeout" : "1800 sec",
            "componentType" : "REMOTE_PROCESS_GROUP",
            "groupIdentifier" : "cc20d0f2-beef-3ef2-a384-99103c9cdddc",
            "identifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
            "inputPorts" : [ {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "98096826-0bd9-3a9e-b02b-2164f122584f",
              "instanceIdentifier" : "3eb63188-0b29-31b1-c08f-b8ff32d11c70",
              "name" : "Bulk Description INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf75-018a-1000-b5ef-566bd710acd1",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "ff3be4f1-2328-31a1-bfe6-59378b35e26c",
              "instanceIdentifier" : "4fccd2ea-6397-32bc-98af-7b23279f7674",
              "name" : "Bulk Inventory INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc041-018a-1000-33ce-a572c344f452",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "comments" : "",
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "86636a95-55fe-3e7b-ae13-9c99e50c20e0",
              "instanceIdentifier" : "2776716f-5f13-3f66-6bac-014438987d73",
              "name" : "Routing INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "4c7cb02d-eda4-3e9b-08ff-41ea8fcc5b71",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "880ada0d-683e-3c4e-be07-3f3d1586daa7",
              "instanceIdentifier" : "eaa49969-209d-30cd-9350-04a9b9120861",
              "name" : "Bulk Catalog INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbda3-018a-1000-7cf6-798a4d4aee39",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "3cc279c5-15cb-3a2c-bf89-e221ee5a2d14",
              "instanceIdentifier" : "12168998-ddda-36b7-046b-a9e3ca0c8455",
              "name" : "Run INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc34-018a-1000-fbc8-2109e133d089",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "1d7a1c87-1b6a-32ae-b9b4-afc9efe68f10",
              "instanceIdentifier" : "82843fc0-47ea-31a2-a7a5-5448e4983ab0",
              "name" : "Logger INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbba4-018a-1000-ba9c-29480e48b9d2",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "c1f6f96d-1402-3900-9ef9-50a30553304a",
              "instanceIdentifier" : "3b350d0d-f1de-3962-6c63-14236eb249cf",
              "name" : "Bulk Price INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbfdd-018a-1000-9462-b5d773752c48",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "c9a78a1a-4531-3306-9c12-0d0ea7ee3559",
              "instanceIdentifier" : "7666af30-232a-3d00-ac5d-6cc7ba907cf2",
              "name" : "Bulk Category INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe96-018a-1000-4747-90e97cca0403",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "735442e0-2f59-3131-8a07-d90ff0603de7",
              "instanceIdentifier" : "5c89f957-20f5-3882-9ff0-f9fe9eedc45b",
              "name" : "Bulk Product INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbf00-018a-1000-4ca4-ed2df3143ecc",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "54ee944d-aeb0-3be3-97a2-7dc9b7d54ac6",
              "instanceIdentifier" : "46260d40-2d0d-3e5b-431e-0050b4b540ec",
              "name" : "Terminal INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbc98-018a-1000-7a78-4739a7b490e5",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "6644dd94-f099-3106-a415-21aa8c085e32",
              "instanceIdentifier" : "086e8d24-c21f-35b5-10c3-d5c03bfc6822",
              "name" : "Bulk Attribute INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbe38-018a-1000-834e-90622738889e",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "7485edd2-5444-3695-b698-d8a171df1413",
              "instanceIdentifier" : "49a76661-4554-304f-40d7-c70226f487b8",
              "name" : "Bulk Dataload INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc115-018a-1000-81d3-f3b3135fdaab",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "f2ff6ae6-88e5-3970-9fb3-25e706022ccc",
              "instanceIdentifier" : "bb42a710-0be0-3963-e958-4f68c31ee5e2",
              "name" : "Bulk Store INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cbd2e-018a-1000-85fc-303258699198",
              "useCompression" : false
            }, {
              "batchSize" : { },
              "componentType" : "REMOTE_INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "identifier" : "7136885a-45d6-3100-85d7-6292c8ab13a0",
              "instanceIdentifier" : "b292a867-c1ff-3dd3-4070-11b606f93909",
              "name" : "Bulk URL INPUT",
              "remoteGroupId" : "94374426-a6ff-3b6f-bacb-a62ba244cec5",
              "scheduledState" : "ENABLED",
              "targetId" : "2b4cc0a7-018a-1000-e6ed-c3917d9fb825",
              "useCompression" : false
            } ],
            "instanceIdentifier" : "4e4aec11-eed7-3359-9491-86435920a139",
            "name" : "NiFi Flow",
            "outputPorts" : [ ],
            "position" : {
              "x" : 1824.0,
              "y" : -16.0
            },
            "proxyHost" : "",
            "proxyUser" : "",
            "targetUri" : "http://localhost:30600/nifi",
            "targetUris" : "http://localhost:30600/nifi",
            "transportProtocol" : "RAW",
            "yieldDuration" : "10 sec"
          } ],
          "variables" : {
            "scroll.bucket.size" : "1500",
            "scroll.refresh.index" : "false"
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "pipe.name" : "",
          "connector.name" : ""
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}